<div class="row">
 <input type="hidden" id="mpage" value="<%= params[:page] %>">
    <input type="hidden" id="mpage_size" value="<%= params[:page_size] %>">
    <input type="hidden" id="mcat_id" value="<%= @catalog.id %>">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/new?catalog_id=<%= @catalog.id%>'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media
                </button>
                <% if !current_bg.data_upload.blank? %>
                  <% current_bg.data_upload.each do |up| %>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_upload'">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Upload
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_update'">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Update
                    </button>
                  <% end %>   
                  <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='<%=@catalog.id%>'>
                  <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                  </button>
                <% end%> 
                <div class="row">
                         <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="pull-right perpage_filter" style="width:8%;margin-right: 15px;">
                                    <!-- <label>Per Page</label> -->
                                     <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                        <% [25, 50, 75, 100]. each do |ps| %>
                                            <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                        <% end -%>
                                    </select>
                                </div>
                                 <input type="hidden" name="hidden_catalog" id= "catalogidhidden" catalog_id ="<%= @catalog.id%>">
                            </div>
                        </div>
                    </div>
                
                  <div>
                    <table class = "table table-condensed table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Asset ID </th>
                          <th>Transcoding Priority</th>
                          <th>Transcoding Status</th>
                          <th>OTT Status</th>
                          <th>Actions</th>
                        </tr>
                        
                        <tr class="table_filter">
                            <td>
                                <input type="text" placeholder="Enter Title" catalog_id="<%= @catalog.id %>" id="titlesearch" class="form-control input-sm search_input_textbox">

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                      </thead> 
                      <tbody id="table_body">
                       <% if @items.present? %>
                            <%= render :partial => 'catalogs/media_items_body' %>
                        <% end %>
                      </tbody>
                    </table>              
                  </div>   
                  <div>
                  <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id => 'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id => 'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                  </div>
            </div>
        </div>
    </div>
</div>
<div id="player" style="background-color:black;"></div>
<div id="view_media"></div>
<div id="view_item"></div>
<div id="view_lists"></div>
<div id="view_media_status"></div>





                        <script type="text/javascript">
                           $('.edit-media').click(function(){
                                var titleid =  $(this).attr('title-id');  
                                window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
                            });

                           $('.transcode-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=transcode',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                           $('.delete-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=delete',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        alert("item deleted successfuly");
                                        location.reload();
                                    }
                                });
                            });

                           $('.play-media').click(function(){
                                $.ajax({
                                    url: '/media/play/'+$(this).attr('media-id'),
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#player").html(d);
                                        $('#viewModal').modal('show');
                                    }
                                });
                            });

                           $('.info-media').click(function(){
                                window.location.href = '/media/view_media/'+$(this).attr('media-id');
                                // $.ajax({
                                //     url: '/media/view_media/'+$(this).attr('media-id'),
                                //     type: 'GET',
                                //     timeout: 120000,
                                //     error: function(e,t){
                                //         if (t == "timeout"){
                                //             alert("Timed Out Wait for Response")
                                //         }
                                //         else{
                                //             alert(JSON.parse(e.responseText)["error"]);
                                //         }
                                //     },
                                //     success: function(d){
                                //         $("#view_media").html(d);
                                //         $('#viewModal2').modal('show');
                                //     }
                                // });
                            });

                            $('.update-priority').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $('.push-ott').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $('.remove-ott').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });
                            $('span').tooltip();

                            $('.info-content').click(function(){
                                
                                $.ajax({
                                    url: '/catalogs/<%=@catalog.id%>/items/'+$(this).attr('content-id'),
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_item").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });


                            $('.add-content').click(function(){
                                
                                var theme = "<%= @catalog.theme %>";
                                var catalog_id = "<%= @catalog.ott_id %>";
                                if ( theme == "show") {
                                    
                                    window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');
                          
                                }
                                else if (theme == "person") {
                                    //window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+"";
                                    window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&person_id='+$(this).attr('content-id');
                                }
                                else if (theme == "livetv") {
                                    window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&channel_id='+$(this).attr('content-id');
                                }
                                else {
                                    window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   
                                }

                                // var titleid =  $(this).attr('title-id');  
                                // window.location.href = '/media/edit?media_id='+$(this).attr('media-id');

                                // $.ajax({
                                //     url: url,
                                //     type: 'GET',
                                //     timeout: 120000,
                                //     error: function(e,t){
                                //         if (t == "timeout"){
                                //             alert("Timed Out Wait for Response")
                                //         }
                                //         else{
                                //             alert(JSON.parse(e.responseText)["error"]);
                                //         }
                                //     },
                                //     success: function(d){
                                //         // $("#view_lists").html(d);
                                //         // $('#viewModal2').modal('show');
                                //     }
                                // });
                            });

                            $('.export-data').click(function(){
                                var url = '/catalogs/view_media_status?catalog_id='+$(this).attr('catalog-id');
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_media_status").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });

                            $('.republish-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=republish_media',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                        //     $(function(){
                        //   //alert("Search is loaded!");
                        //   $('.search-title').click(function(){
                        //     var catalogid = $("#search_catalog_id").attr('catalog-id');
                        //     var q = $('#searchtitle').val();
                        //     q = q.trim();
                        //     var url = '/search?q='+q+'&catalog_id='+catalogid;
                        //     if (q.length == 0) {
                        //       alert("Please enter the title for searching...");
                        //       return false;
                        //     } else {
                        //       $.ajax({
                        //             url: url,
                        //             type: 'GET',
                        //             timeout: 120000,
                        //             error: function(e,t){
                        //                 if (t == "timeout"){
                        //                     alert("Timed Out Wait for Response")
                        //                 }
                        //                 else{
                        //                     alert(JSON.parse(e.responseText)["error"]);
                        //                 }
                        //             },
                        //             success: function(d){
                        //                 //alert("Item has got deleted successfuly!!");
                        //                 location.reload();
                        //             }
                        //         });
                        //     }
                        //   });
                        // });
                         $(document).on('change','#item_sdd',function(){

                                var itemsdata = $(this).val();
                                 // alert(itemsdata);
                                var content_id = itemsdata.split("-")[0]
                                var catalog_id = itemsdata.split("-")[1]
                                var status_val = itemsdata.split("-")[2]
                                 var title_val = itemsdata.split("-")[3]
                                 var ottstatus = itemsdata.split("-")[4]

                                         console.log(itemsdata); 
                                        $.ajax({
                                          url: '/user_theme/'+content_id+'?method=update',
                                          type: 'POST',
                                          data: {id: content_id, catalog_id: catalog_id, item_status: status_val,title: title_val,status: ottstatus},
                                          timeout: 120000,
                                            error: function(e,t){
                                            if (t == "timeout"){
                                                alert("Timed Out Wait for Response")
                                            }
                                            else{
                                                alert(JSON.parse(e.responseText)["error"]);
                                            }
                                        },
                                        success: function(d){
                                            window.location.href = "/catalogs/view_catalog/"+catalog_id;
                                        }
                                        });
                            });
                        </script>
                        <script>

    $('#titlesearch').on("keyup", function(e){
      pbar = false;
      var pageno = "<%=params[:page]%>"
      var psize = $('#page_size').val();
      var title = $('#titlesearch').val();
      var catalog_id = $(this).attr('catalog_id');
      if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                var org_title = $.trim(title);
     
      $.ajax({
        url: '/catalogs/view_catalog/'+catalog_id+'?&title='+org_title+'&page_size='+psize+'&page='+pageno,
        type: 'GET',
        timeout: 120000,
        dataType: 'script',
        success: function(d)
        {
          window.history.pushState("object or string", "Title", "/catalogs/view_catalog/"+catalog_id+"?page_size="+psize+'&page='+pageno);
          if ($('#table_body').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }

        },
        error: function(e,t){
          if (t == "timeout")
          {
            alert("Timed Out Wait for Response");
          } else {
            alert(JSON.parse(e.responseText)["error"]);
          }
        }
      }).always(function(){
        try {
          pbar=true;
        } catch(e) { }
      });
  }
    });

        $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    $(document).ready(function(){
        var items = "<%= @items.blank? ? 0 : @items.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
                        </script>
                 
