<div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">
 <input type="hidden" id="mpage" value="<%= params[:page] %>">
    <input type="hidden" id="mpage_size" value="<%= params[:page_size] %>">
                <% if @catalog.theme == "article" %>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/articles/new?catalog_id=<%=@catalog.id%>'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Article
                    </button>    
                <% end %>

         				<% if @catalog.theme == "livetv"%>
         					<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/livechannels/new?catalog_id=<%=@catalog.id%>&tenant_id=<%=@catalog["tenant_id"][0]%>'">
         						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Channel
         					</button>
         				<% end -%>

                <% if @catalog.theme == "user"%>
                  <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/user_theme/add_feedback?catalog_id=<%=@catalog.id%>&tenant_id=<%=@catalog["tenant_id"][0]%>'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add feedback
                  </button>
                <% end -%>

                <!-- beginning of data upload code for nonuser theme -->
                <% if @catalog.theme == "show"%>
                    <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href ='/shows/new?catalog_id=<%=@catalog.id%>'">
                       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Show
                    </button>
          
                  <% if !current_bg.data_upload.blank? %>
                      <% current_bg.data_upload.each do |up| %>

                           <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_upload'">
                              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Upload
                           </button>

                           <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/<%= up %>_update'">
                              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> <%= up.capitalize %> Update
                           </button>

                      <% end -%>                
                         <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='+<%=@catalog.id%>+'>
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                         </button>
                  <% end -%>
               <% end %>
               <!-- end of data upload code for nonuser theme -->

               <!-- beginning of data upload code for user theme --> 
                <% if @catalog.theme == "person" %>   
                      
                            <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/new?catalog_id=<%=@catalog.id%>'">
                              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Person
                            </button>

                        <% if !current_bg.data_upload.blank? %>

                           <% if (current_bg.data_upload.include? "bulk") %>

                             <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/new_bulk_upload'">
                                 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Bulk Upload
                             </button>

                             <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/people/bulk_update'">
                                 <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Bulk Update
                             </button> 

                             <button type="button" class="btn btn-primary btn-sm export-data" catalog-id='+<%=@catalog.id%>+'>
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Data
                             </button>

                           <% end %>

                        <% end %>

                <% end %>   
                <!-- end of data upload code for user theme -->  
                 <div class="row filter_section">
          <div class="pull-right perpage_filter" style="width:8%;margin-right: 15px;">
            <!-- <label>Per Page</label> -->
            <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
              <% [25, 50, 75, 100]. each do |ps| %>
                <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
              <% end %>
            </select>
          </div>
       
        </div>
                                                       
                  <div>

                        <% theme_name = "CMS ID"%>
                        <% if @catalog.theme == "show" %>
                          <% theme_name = "Show Id"%>
                        <% end  %>
                        <% if @catalog.theme == "article" %>
                          <% theme_name = "Article Id"%>
                        <% end  %>  
                        <% if @catalog.theme == "person" || @catalog.theme == "user" %>
                          <% theme_name = "OTT ID" %>
                        <% end %>              

                        <table class = "table table-condensed table-striped">
                          <thead>
                              <tr>
                                 <th>Title</th>
                                 
                                 <% if @catalog.theme != "livetv" %>
                                   <th><%= theme_name %></th>
                                 <% end %>   
                                 
                                 <% if @catalog.theme == "person" || @catalog.theme == "livetv" || @catalog.theme == "user" %>
                                   <th>Status</th>
                                 <% end %>

                                 <% if @catalog.theme == "user" %>
                                  <th> Item Status</th>
                                 <% end %> 
                                 
                                 <th>Description</th>
                                 <th>Actions</th>
                              </tr>
                               <tr class="table_filter">
                            <td>
                                <input type="text" placeholder="Enter Title" catalog_id="<%= @catalog.id %>" id="titlesearch" class="form-control input-sm search_input_textbox">

                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                          </thead> 
                          <tbody  id="table_body">
                          <% if @items.present? %>
                            <%= render :partial => 'catalogs/non_media_items_table' %>
                         <% end %>
                          
                           </tbody>     
                        </table>
                  </div>
  <div>
                  <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id => 'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id => 'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                  </div>
            </div>   
          </div> 
        </div> 
      </div> 
    <script type="text/javascript" >
         $(document).on("click", ".delete-item-dup", function(){

          var theme = $(this).attr('content-id').split("-")[1];
          var item_id = $(this).attr('content-id').split("-")[0];
          var catalog_id = $(this).attr('content-id').split("-")[2];
          console.log("theme is "+ theme)
          if (theme == "livetv")
          {
            var url =  '/livechannels/update?method=delete&item_id='+item_id+'&catalog_id='+catalog_id;
        }
          if (theme == "show")
          {
              var url = '/shows/'+ item_id +'?method=delete';
          }
          if (theme == "person")
          {
              var url = '/people/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }
          if (theme == "article")
          {
              var url = '/articles/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }
          if (theme == "user") 
          {
             var url = '/user_theme/'+ item_id +'?method=delete&catalog_id='+ catalog_id;
          }

          $.ajax({
            url: url,
            type: 'POST',
            timeout: 120000,
            error: function(e,t)
            {
              if (t == "timeout")
              {
                  alert("Timed Out Wait for Response")
              }
              else
              {
                  alert(JSON.parse(e.responseText)["error"]);
              }
            },
            success: function(d)
            {
              alert("Item has got deleted successfuly!!");
              location.reload();
            }
            });
         });

        $(document).on("click",'.add-content-dup',function()
        {
            var theme = "<%= @catalog.theme %>";
            var catalog_cms_id = '<%= @catalog["_id"] %>'
            var catalog_id = "<%= @catalog.ott_id %>";
            if ( theme == "show") {
               
                  window.location.href = '/catalog_lists/get_lists?show_id='+$(this).attr('content-id');
            }
            else if (theme == "person") {
               window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&person_id='+$(this).attr('content-id');
            }
            else if (theme == "livetv") {
               window.location.href = "/catalog_lists/get_lists?theme="+theme+"&catalog_id="+catalog_id+'&channel_id='+$(this).attr('content-id');
            }
            else if (theme == "user")
            {
               window.location.href = '/catalog_lists/get_lists?user_theme_id='+$(this).attr('content-id')+"&catalog_id="+catalog_cms_id;   
            }
            else {
               window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   
            }

        });

      $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

      
 $('#titlesearch').on("keyup", function(e){
      pbar = false;
      var pageno = "<%=params[:page]%>"
      var psize = $('#page_size').val();
      var title = $('#titlesearch').val();
      var catalog_id = $(this).attr('catalog_id');
      if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                var org_title = $.trim(title);
      $.ajax({
        url: '/catalogs/view_catalog/'+catalog_id+'?&title='+org_title+'&page_size='+psize+'&page='+pageno,
        type: 'GET',
        timeout: 120000,
        dataType: 'script',
        success: function(d)
        {
          window.history.pushState("object or string", "Title", "/catalogs/view_catalog/"+catalog_id+"?page_size="+psize+'&page='+pageno);
          if ($('#table_body').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }

        },
        error: function(e,t){
          if (t == "timeout")
          {
            alert("Timed Out Wait for Response");
          } else {
            alert(JSON.parse(e.responseText)["error"]);
          }
        }
      }).always(function(){
        try {
          pbar=true;
        } catch(e) { }
      });
    }

    });  
       $(document).ready(function(){
        var items = "<%= @items.blank? ? 0 : @items.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })               
    </script>
