
    <% @items.each do |item| %>
                                 <tr>
                                 <td class="cl_next_val" style="display:none;" ><%= @next_items.empty?%></td>
                        <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                    <% if @catalog.theme == "show" %>
                                       <td ><%= link_to item["title"],"/shows/view_subcategories?show_id="+item["content_id"] %></td>
                                    <% elsif @catalog.theme == "user" %>
                                      <td><%= link_to item["title"], "/user_theme/edit?catalog_id="+item["catalog_id"]+"&usertheme_id="+item["content_id"]%></td>
                                    <% else %> 
                                       <td><%= item["title"] %></td>
                                    <% end %>


                                    <% if @catalog.theme != "livetv" %>
                                      <% if @catalog.theme == "person" || @catalog.theme == "user" %>
                                        <td><%= item["content_id"] %></td>
                                      <% else %>
                                       <td><%= item["cms_id"] %></td>
                                      <% end %>
                                    <% end %>

                                    <% if @catalog.theme == "person" || @catalog.theme == "livetv" || @catalog.theme == "user" %>
                                       <td><%= item["status"] %></td>
                                    <% end %>

                                    <% if @catalog.theme == "user" %>
                                      <td> <%= item["item_status"] %> </td>
                                    <% end %> 

                                    <% description = item["description"] %>

                                    <% if (description) && ( description.length > 20) %>
                                       <% description = truncate(description, :length => 20) %>
                                    <% end %>

                                       <td><%= description %></td>
                                       <td>

                                    <% case @catalog.theme %>
                                    <% when "person" %>
                                      <% link = "/people/edit?person_id="+item['content_id']+"&catalog_id="+item["catalog_id"]   %>
                                    <% when "show" %>
                                      <% link = "/shows/edit?show_id="+item['content_id'] %>
                                    <% when "user" %>
                                      <% if @catalog["name"] == "qa" || @catalog["name"]== "QA" %>
                                      <% link = "/user_theme/edit?catalog_id="+item['catalog_id']+"&usertheme_id="+item['content_id'] %>
                                      <% end %>
                                      <% if @catalog["name"] == "feedback" || @catalog["name"]== "Feedback" %>
                                      <% link = "/user_theme/edit_feedback?catalog_id="+item['catalog_id']+"&usertheme_id="+item['content_id'] %>
                                      <% end %>
                                    <% when "livetv" %>
                                      <% link = "/livechannels/edit?catalog_id="+item['catalog_id']+"&livetv_id="+item['content_id'] %>
                                    <% else %>
                                      <% link = "/articles/edit?article_id="+item["content_id"] %>
                                    <% end %> 

                                     <span class="inline-block" data-toggle="tooltip" title="Edit">
                                      <%= link_to link, class: "btn btn-default btn-xs" do %>
                                      <i class= "glyphicon glyphicon-pencil"></i>
                                      <% end %>

                                   <span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class=" btn btn-xs btn-info add-content-dup" content-id='<%= item["content_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                   <span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item-dup" content-id = '<%= item["content_id"]+"-"+ @catalog.theme+ "-"+ item["catalog_id"]  %>'> <span class="glyphicon glyphicon-s glyphicon-trash"></button></span>


                                 </tr>
                              <% end %>
