  
  <% @catalogs .each do |catalog| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_catalogs.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td>
                                            <%= link_to catalog["name"], "/catalogs/view_catalog/"+catalog["_id"] %>
                                         </td>
                                         <td><%= catalog["theme"] %></td>
                                         <td><%= catalog["app_id"].length %></td>
                                         <td><%= catalog["_id"] %></td>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-catalog" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                                             <span class="inline-block" data-toggle="tooltip" title="Add catalog to List"><button type="button" class="btn btn-xs btn-info add-catalog-to-list" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                             <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class=" btn btn-xs btn-danger delete-catalog" catalog-id='<%= catalog["_id"] %>'><span class="glyphicon glyphicon-trash"></button>

                                        </td>  
                                        </tr>
                                <% end %>
