<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
				                    <div class="row">
				                        <h1>Catalog Details</h1>

				                        <div class="col-xs-6" id="primary-info">
				                        <p><strong>Title</strong><br><%=@data["name"]%></p>
				                        <p><strong>ID</strong><br><%=@data["_id"]%></p>
				                        <p><strong>Theme</strong><br><%=@data["theme"]%></p>
				                        <p><strong>Tenant Names</strong><br></p>
				                        <% i = 1 %>
				                        <% @data["tenants"].each do |tenant| %>
				                          <p><strong><%= i %>.</strong><%= tenant["tenant_name"]%></p>
				                          <p><strong>Application Names : </strong><%= tenant["app_names"]%> </p>
				                          </br>
				                        <% end %>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->