<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: scroll; height: 550px;">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
				                    <div class="row">
				                        <div class="col-xs-6" id="primary-info"><p><strong>Title</strong><br><%=@item["title"]%></p><p><strong>OTT ID</strong><br><%=@item["content_id"]%></p></div>
				                        <%if @item["thumbnail"]%>
				                        <div class="col-xs-6" id="thumbnail-holder"><img style="float: right;" src="<%=@item["thumbnail"]%>" alt="dummy" height="120" width="275"></div>
				                        <%else%>
				                        <div class="col-xs-6" id="thumbnail-holder"><img style="float: right;" src="/assets/saranyu_logo.png" alt="dummy" height="120" width="275"></div>
				                        <%end%>
				                        <br>
				                    </div>
				                    <div class="row">
				                    	<div class="col-xs-12" id="metadata-info"><p><strong>Description</strong> <%=@item["description"]%></p><!-- <br><p><strong>Language</strong> <%#=@item["language"]%></p><br><p><strong>Genres</strong> <%#=@item["genres"]%></p> --></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

