<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Catalogs</li>
						<li class="active">Edit Catalog</li>
				</ol>
		</div><!--/.row-->
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">Edit Catalog</h1>
				</div>
		</div> --><!--/.row-->
		<div class="row">
				<div class="col-xs-12">
						<div class="panel panel-default">
								<div class="panel-body">
										<form class="form-horizontal" id="catalogForm" role="form">
												<div class="container-fluid">

                        <%= render :partial => "catalogs/catalog_form" %>
														
														
																		<!-- <input type="text" class="form-control input-sm" id="meta_description" name="meta_description" placeholder="" value="<#%= @catalog_info["meta_description"]%>"> -->

						          
                                 <!--  <div class="col-xs-6 upload-section small-image">
                                  <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "cpimgsrc" alt="image" style="width:251px;height:141px; background-color: dimgrey;">
                                  </div> -->

                                  

								

								

								  

						        <form enctype="multipart/form-data">
								
                                  <!-- <div class="col-xs-6 upload-section small-image">
                                  <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                                   <% if @catalog_info["catalog_images"]["p_small"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "cpimgsrc" alt="image" style="width:251px;height:141px; background-color: dimgrey;">
                                  <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image">
                                  <%else%>
                                 <img src="<%=@catalog_info["catalog_images"]["p_small"]["url"]%>" id= "cpimgsrc" alt="image" style="width:251px;height:141px; background-color: dimgrey;">
                                  <input type="hidden" id= "catalog_p_listing_image" name="catalog_p_listing_image" value="<%=@catalog_info["catalog_images"]["p_small"]["url"]%>">
                                  <%end%>
                                  </div> -->

                                      
                                

								
                                  <!-- <div class="col-xs-6 upload-section">
                                  <input type="file" id="ifimg" class="choose-file"  name="ifimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="ifimgb" name="ifimgb" value="Upload Image">

                                  <% if @catalog_info["item_images"]["l_large"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "ifimgsrc" alt="image" style="width:794px;height:447px;">
                                  <input type="hidden" id= "item_featured_image" name="item_featured_image" >
                                  <%else%>
                                 <img src="<%=@catalog_info["item_images"]["l_large"]["url"]%>" id= "ifimgsrc" alt="image" style="width:794px;height:447px;">
                                  <input type="hidden" id= "item_featured_image" name="item_featured_image" value="<%=@catalog_info["item_images"]["l_large"]["url"]%>">
                                  <%end%>
                                  </div> -->

                                   
                                

								
                                  <!-- <div class="col-xs-6 upload-section small-image">
                                  <input type="file" id="ilimg" class="choose-file"  name="ilimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="ilimgb" name="ilimgb" value="Upload Image">

                                  <% if @catalog_info["item_images"]["l_medium"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                                  <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image" >
                                  <%else%>
                                 <img src="<%=@catalog_info["item_images"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                                   <input type="hidden" id= "item_l_listing_image" name="item_l_listing_image" value="<%=@catalog_info["item_images"]["l_medium"]["url"]%>">
                                  <%end%>
                                  </div> -->


                                  
                                  <!-- <div class="col-xs-6 upload-section small-image">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  <% if @catalog_info["item_images"]["p_small"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image" >
                                  <%else%>
                                 <img src="<%=@catalog_info["item_images"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "item_p_listing_image" name="item_p_listing_image" value="<%=@catalog_info["item_images"]["p_small"]["url"]%>">
                                  <%end%>
                                  
                                  </div> -->

                                      
                                
                                </form>
                                


								

                          

									            <!-- <%# if !@catalog_info["custom_tags"].blank? %>
															<input type="checkbox" checked class="form-control input-sm"  id="custom_tag" name="custom_tag" data-toggle="toggle" data-size="mini">
															<%#else%>
															<input type="checkbox" class="form-control input-sm"  id="custom_tag" name="custom_tag" data-toggle="toggle" data-size="mini">
															<%#end%> -->
															           
													<!-- <div class="row">
														<div class="col-xs-2">
														<label>Video List</label>
														</div>
															<div class="col-xs-1">
															<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
															</div>
															<div class="col-xs-6">
															<% #if !@catalog_info["videolist_tags"].blank? %>
															<input type="checkbox" checked class="form-control input-sm" id="videolist_tag" name="videolist_tag" data-toggle="toggle" data-size="mini">
															<%#else%>
															<input type="checkbox" class="form-control input-sm" id="videolist_tag" name="videolist_tag" data-toggle="toggle" data-size="mini">
															<%#end%>
															  <div class="form-group" id="videolist-group">
																<div class="col-xs-10">
																	<div class="videoconstructor">
																	<button class="btn btn-xs btn-info video_add_field_button">Add More Videolist</button>
																<div class="row">
																	<div class="col-xs-12">
																	<p class="mb0">Video List Name</p>
																	</div>
																</div>
																<%# if !@catalog_info["videolist_tags"].blank? %>
																<%# @catalog_info["videolist_tags"].each do |v_hash| %>
																<p> <input type="text" class="form-control input-sm" name="videolist_names[]" value="<%#= v_hash%>"> </p>
																<%# end %>
																<%#else%>
																<label>please Add Video List</label>
																<%# end %>
																	</div>
																</div>
															   </div>            
															</div>
													</div> -->

								<!-- End of Add Video list -->

									     
										    
																
														<!-- </div> -->
												<br><button type="button" class="btn btn-primary" id="submitCatalogForm" >Update Catalog</button>
                        </div>
										</form>
								</div>
						</div>
				</div>

		</div>
</div>

<%= render :partial => "catalogs/catalog_validations" %>