	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
				<li>Catalogs</li>
				<li class="active">Add Catalog</li>
			</ol>
		</div><!--/.row-->
		<!-- <div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Add Catalog</h1>
			</div>
		</div> --><!--/.row-->
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" id="catalogForm" role="form">
							<div class="container-fluid">
								
								<%= render :partial => "catalogs/catalog_form" %>
								

								

								<!-- <div class="row">
									<div class="col-xs-2">
									<label for="p_listing_image">Catalog Portrait Image</label>
									</div>
									<div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the default portrait image for the catalog. This image shall be displayed by the apps when referring to the catalog" src="/assets/info_55x55.png" alt="dummy">
                                	</div>
                                	<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="catalog_p_listing_image" name="catalog_p_listing_image" placeholder="" value="">
									</div>
								</div> -->
								<form enctype="multipart/form-data">
								<!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="p_listing_image">Catalog Portrait Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="<%#=t('c_portrait_image')%>" src="/assets/info_55x55.png" alt="dummy">
                                	</div>
                                  <div class="col-xs-6 upload-section small-image">
                                  <input type="file" id="cpimg" class="choose-file"  name="cpimg" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="cpimgb" name="cpimgb" value="Upload Image">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "cpimgsrc" alt="image" style="width:251px;height:141px;">
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="error_media"  id="ecpimg"> </div>
                                </div>    --> 

								<!-- <div class="row">
									<div class="col-xs-2">
									<label for="featured_image">Item Featured Image</label>
									</div>
									<div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the default featured image for the catalog item. This image shall be used in case image is not provided for the item at the time of creation" src="/assets/info_55x55.png" alt="dummy">
                                	</div>
                                	<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="item_featured_image" name="item_featured_image" placeholder="" value="">
									</div>
								</div> -->


								<!-- <div class="row">
									<div class="col-xs-2">
									<label for="l_listing_image">Item Landscape(Big) Image</label>
									</div>
									<div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the default landscape image for the item. This image shall be used in case image is not provided for the item at the time of creation" src="/assets/info_55x55.png" alt="dummy">
                                	</div>
                                	<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="item_l_listing_image" name="item_l_listing_image" placeholder="" value="">
									</div>
								</div> -->

								

								<!-- <div class="row">
									<div class="col-xs-2">
									<label for="p_listing_image">Item Landscape(Small) Image</label>
									</div>
									<div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the default landscape image (small) for the item. This image shall be used in case image is not provided for the item at the time of creation" src="/assets/info_55x55.png" alt="dummy">
                                	</div>
                                	<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="item_p_listing_image" name="item_p_listing_image" placeholder="" value="">
									</div>
								</div> -->

								
                                </form>

								
								<!-- <div class="row">
										<div class="col-xs-2">
											<label>Video List</label>
										</div>
										<div class="col-xs-1">
                        				<img class="info_img" data-toggle="tooltip" title="You can add video lists to the catalog. Video lists help manage item lists like trailers, best_scenes. You can associate an item as a video list" src="/assets/info_55x55.png" alt="dummy">
                						</div>
                						<div class="col-xs-6">
											<input type="checkbox" class="form-control input-sm" id="videolist_tag" name="videolist_tag" data-toggle="toggle" data-size="mini">
										<div class="form-group" id="videolist-group">
												<div class="col-xs-12">
													<div class="videoconstructor">
													<button class="btn btn-xs btn-info video_add_field_button">Add More Videolist</button>
													<div class="row">
													<div class="col-xs-12">
														<p class="mb0">Video List Name</p>
													</div>
													</div>
												</div>
											</div>
											
										</div>  
										</div>          
								</div> -->

										
                                	

										
	
	<!-- </div> -->
	<br><button type="button" class="btn btn-primary" id="submitCatalogForm" >Add Catalog</button>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>

<%= render :partial => "catalogs/catalog_validations" %>
