 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">   
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Catalogs</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                   <div class="row">
                        <div class="col-xs-2">
                            <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer") %>
                            <% else %>
                                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalogs/new'">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Catalog
                                </button>
                            <% end %>
                        </div>
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4" style="width:8%;float: right;">
                             <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                <% [25, 50, 75, 100]. each do |ps| %>
                                    <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                <% end -%>
                            </select>
                        </div>
                    </div>
                    <div>
                        <table class = "table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Theme</th>
                                    <th>Apps</th>
                                    <th>Catalog ID</th>
                                    <th>Actions</th>
                                </tr>
                                 <tr>
                                    <td>
                                        <input type="text" placeholder="Enter Name" catalog_id='' id="titlesearch" class="form-control input-sm search_input_textbox">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                            <%= render :partial => "catalogs/view_all_body" %>
                            </tbody>
                        </table>
                    </div>
                     <div>
                    <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id => 'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_catalogs.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id => 'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                  </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('[data-toggle="tooltip"]').tooltip();   
    });

    $('.delete-catalog').click(function()
    {
            $.ajax({
                url: '/catalogs/'+$(this).attr('catalog-id')+'?method=delete',
                type: 'POST',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response");
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                    location.reload();
                }
            });
        });

    $('.edit-catalog').click(function()
    {
            window.location.href = '/catalogs/edit?catalog_id='+$(this).attr('catalog-id');
    });

    $('.add-catalog-to-list').click(function(){
        //alert("redirecting to -> catalog_lists/get_lists?catalog_id="+$(this).attr('catalog-id'));
        window.location.href = '/catalog_lists/get_lists?catalog_id='+$(this).attr('catalog-id');
    });
    $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    $('#titlesearch').on("keyup", function(e)
        {
            pbar = false;
            var pageno = "<%=params[:page]%>"
            var psize = $('#page_size').val();
            var title = $('#titlesearch').val();
            if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                 var org_title = $.trim(title);
            updateURL(psize,pageno)
            $.ajax({
                url: '/catalogs/view_all?title='+org_title+'&page='+pageno+'&page_size='+psize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                     success: function(e)
                    {
                        if ($('#table_body').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                    },
                error: function(e,t)
                {
                  if (t == "timeout")
                  {
                    alert("Timed Out Wait for Response")
                  }
                  else
                  {
                    alert(JSON.parse(e.responseText)["error"]);
                  }
                }
            }).always(
                        function()
                        {
                            try
                            {
                                pbar=true;
                            }
                            catch(e)
                            {

                            }
                        });
        }
        });
    function updateURL(psize,pageno) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
    $(document).ready(function(){
        var items = "<%= @catalogs.blank? ? 0 : @catalogs.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>
