<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Catalogs</li>
						<li class="active">View Catalog</li>
				</ol>
		</div><!--/.row-->
		<!-- <div class="row">
				<div class="col-lg-12">
						<h1 class="page-header">View Catalog</h1>
				</div>
		</div> --><!--/.row-->

		<div class="row">
				<div class="col-xs-12">
						<div class="panel panel-default">
								<div class="panel-body">
									<div class="container-fluid">
										<div class="row">
												<div class="col-xs-2">
														<label for="name">Catalog Name</label>
														</div>
														<div class="col-xs-1"></div>
					                                      <div class="col-xs-6">
					                                      <p><%= @catalog_info["name"]%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-2">
														<label for="theme">Catalog Theme</label>
														</div>
														<div class="col-xs-1"></div>
					                                      <div class="col-xs-6">
														<p><%= @catalog_info["theme"]%></p>
												</div>
										</div>

										<div class="row">
												<div class="col-xs-2">
														<label for="name">Meta Description</label>
														</div>
														<div class="col-xs-1"></div>
					                                      <div class="col-xs-6">
					                                      <% if @catalog_info["meta_description"].blank? %>
					                                      <p> NA </p>
					                                      <%else%>
					                                      <p><%= @catalog_info["meta_description"]%></p>
					                                      <%end%>
												</div>
										</div>

										<%Tenant.where(:bg_id=>@bg.id).each do |tenant|%>
										<div class="row">
												<div class="col-xs-2">
												<label>Tenant </label>
												</div>
												<div class="col-xs-1"></div>
										        <div class="col-xs-6">	
											    <p><%=tenant.name.capitalize%></p>
											    </div>
											</div>
											<div class="row">
													<div class="col-xs-2">
													<label for="apps[]">Applications</label>
													</div>
													<div class="col-xs-1"></div>
				                                    <div class="col-xs-6">
														<!-- Tenant Apps -->
														<% apps = App.where(:tenant_id=>tenant.id) %>
														<% present = 0 %>
														<% present_apps = [] %>
														<% apps.each do |t_app|%>
														    <% tenant_app = t_app.as_json%>
														    <% catalog_app = @catalog["app_id"] %>
																<% if catalog_app.include?("#{tenant_app['_id']}") %>
																		<% present_apps << t_app["name"]%>
																	<% present = 1%>	
																<% end %> 
														<%end%>
														<% if present == 0 %>
														    <p> NA </p>
														<% else %>
														    <p style="float: left; padding-right: 10px;">
														    	<%= present_apps %>
														    </p>
														<% end %>
													</div>
											</div>
											<div class="row">
													<div class="col-xs-2">
													<label >Genres</label>
													</div>
													<div class="col-xs-1"></div>
				                                    <div class="col-xs-6">
														<%default_genres = (@default_data["default_genres"].flatten.map{|v| v["name"]}).sort%>
															<% if @catalog_info["genres"][tenant.ott_id] %>
															<% genres = (@catalog_info["genres"][tenant.ott_id].map{|h| h["name"]}).sort %>
															    <% genre_array = [] %>
																<% default_genres.each do |d_genre| %>
																	<% if genres.include? d_genre %>
																		<% genre_array << d_genre %>
																	<%end%>
																<%end%>
															<p style="float: left; padding-right: 10px;">
																<%= genre_array %>
															</p>	
															<% else %>	
															    <p> NA </p>
															<%end%>
													</div>
												</div>

												<div class="row">
													<div class="col-xs-2">
													<label >Languages</label>
													</div>
													<div class="col-xs-1"></div>
				                                    <div class="col-xs-6">
														<%default_languages = (@default_data["default_languages"].map{|v| v["name"]}).sort%>
																<% if @catalog_info["languages"][tenant.ott_id] %>
																	<% languages = (@catalog_info["languages"][tenant.ott_id].map{|h| h["name"]}).sort %>
																	<% lang_array = [] %>
																	<% default_languages.each do |d_language| %>
																		<% if languages.include? d_language %>
																			
																			<% lang_array << d_language %>
																		<%end%>
																	<%end%>
																	<p style="float: left; padding-right: 10px;">
																		<%= lang_array %>
																	</p>
																<% else %>
																    <p> NA </p>	
																<%end%>
													</div>
												</div>




										<%end%>
										 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                						 <% else %>
										<button type="button" class="btn btn-primary" onclick="window.location.href='/catalogs/edit?catalog_id=<%=@catalog["_id"]%>&tid=<%=@tenant_id%>'" >Edit Catalog</button>
										<% end %>
									</div>
						        </div>
						</div>

				</div>		
        </div>
</div>

