<%if @catalog.theme == "person" || (@catalog.theme == "show" ) || @catalog.theme == "article" || @catalog.theme == "livetv" || @catalog.theme == "user"%>
    $("#table_body").html("<%= j render 'catalogs/non_media_items_table' %>");
  <%else%>
    $("#table_body").html("<%= j render 'catalogs/media_items_body' %>");
  <% end %>

