<% @tenant_list.each do |list| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate list["name"], length: 20%></td>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Add App"><button type="button" class="btn btn-xs btn-info disabled" tenant-id='<%= list["_id"]%>'><span class="glyphicon glyphicon-s glyphicon-plus"></span></button></span>
                                            <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="disabled btn btn-xs btn-danger delete-tenant" tenant-id='<%= list["_id"]%>'><span class="glyphicon glyphicon-remove"></span></button></span>
                                        </td>
                                        </tr>
                                <% end %>

                                 