<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Tenants</li>
            <li class="active">Add Tenant</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New Tenant</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="tenantForm" role="form" onkeypress="return tenantvalid(event)">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="error_media"  id="ecpimg"> </div>
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_nt_Add_New_Tenant')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" data-toggle="tooltip" class="form-control input-sm" id="name" name="name" value="">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <br><input type="submit" class="btn btn-primary" id="submitTenantForm" value="Add Tenant">
                            <!-- <button type="button" class="btn btn-primary" id="submitTenantForm">Add Tenant</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial=>"tenants/tenant_validations" %>
