
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
  <title>Insta OTT </title>

   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css' />

 <script src="/assets/jquery-1.11.1.min.js"></script>

  <!-- Bootstrap -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/style-ott.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->      
</head>

<style type="text/css">
.mcst{
  /*height: 250px;*/
  text-align: center;
  margin-left: 12%;
  width: 70%;
}
  
</style>

<body data-spy="scroll" data-target=".navbar" data-offset="100">
    <section id="home" style="background:#FFF;padding:0">
 <div >
          <div class="container">
          <div class="row">
            <div class="col-md-12">
               <div class="span9">
            <h2 class="sub-heading1"><span>About <span class="de-em">Us</span></span> </h2>
            
            <p class="sub-text">Saranyu Technologies is an Indian Multi-Screen Video technology company headquartered in Bangalore, Karnataka, India. It was founded in September 2011 by six key people with a wide knowledge in the domains of video technologies, 2G/3G/Wi-Fi Wireless Networks, Embedded Systems, Software Architectures, Web 2.0, and Mobile Computing. With this cumulative experience, we develop highly Integrable, Deployment Flexible, Usable, Scalable, Extensible, and Reusable solutions and COMMITTED to deliver the same!</p>

            <br>

            <p class="sub-text">Insta OTT is a product of Saranyu Technologies. Insta OTT is a Distributed Service Oriented Architecture (SoA) that is specifically architected for Cloud (IaaS) deployments. The architecture facilitates incremental adoption, greater deployment flexibility, adaptability, and maintainability. It also exploits many advantages of cloud computing like distributed processing, resource sharing, distributed storage, and ubiquitous presence.</p>
            
            <br/>
            <br/>
            <h2 class="sub-heading1">Our Vision</h2>
            <p class="sub-text">To build a world-class product technology company from India</p>
            <p class="sub-text">To be recognized as a leader in the domain of Multi-screen video</p>
            <br/>
            <br/>

            <h2 class="sub-heading1">Our Mission </h2>
            <p class="sub-text">In the recent years, emergence of connected devices like Smartphones, Tablets, Smart TVs, IP set-top boxes &amp; fast wireless networks (3G/Wi-Fi/4G) have created a surging demand for media rich services that are personalized, social, and interactive. Cisco predicts that consumer mobile video services will be reaching 1.6 billion users by 2016 and ABI Research says that Over-the-top (OTT) video market reached cumulative revenue of $8 billion in 2012.
            It is a huge opportunity for content providers, aggregators, OEMs, and service providers to monetize video content by offering innovative media services to consumers on multiple screens.
            Saranyu's mission is to be a backbone of this new media opportunity by building innovative media technologies, applications and services. We are focused on building next generation Multi-screen video products &amp; solutions for content providers, aggregators, service providers (Telco/OTT) &amp; enterprises.</p>
            <br/>
            <br/>

          </div>
            </div>
          </div>
          </div>
</div>

</section>
    <div id="login_modal"></div>
    <div id="signup_modal"></div>




<%= render :partial => "home/index_footer" %>

