
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
  <title>Insta OTT </title>

   <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css' />

 <script src="/assets/jquery-1.11.1.min.js"></script>

  <!-- Bootstrap -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet"/>
  <link href="/assets/style-ott.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->      
</head>

<style type="text/css">
.mcst{
  /*height: 250px;*/
  text-align: center;
  margin-left: 12%;
  width: 70%;
}
  
</style>

<body data-spy="scroll" data-target=".navbar" data-offset="100">
    <section id="home" style="background:#FFF;padding:0">
 <div >
          <div class="container">
          <div class="row">
          <div class="contact-title">
		  <div class="contact-line">&nbsp;</div>
		  <h1 class="contact-head">Contact us</h1>
			</div>
		  </div>
          <div class="row">
            <div class="col-md-4" style="background-color: #4c5867;">
                <h3 class="sub-heading1">     </h3>
                <p class="contactus-text"> Bangalore Office (Headquarters) </p>
                <p class="contactus-text"><abbr title="Address"><i class="icon-home"></i></abbr> AJ Tower, 2nd Floor, No. 40/509,</p>
                <p class="contactus-text"><abbr title="Address"></abbr> 8th Cross, 7th Block, Jayanagar, West of Kanakapura Main Road,</p>
                <p class="contactus-text"><abbr title="Address"></abbr> Bangalore - 560082, Karnataka, INDIA</p> 
                <p class="contactus-text"><abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> +91 80 4123 4020</p>
                <p class="contactus-text"><abbr title="Email"><i class="glyphicon glyphicon-envelope"></i></abbr> mkt@saranyu.in</p>

                <br>
                <hr>
            <p class="contactus-text"> For <b>Demos</b> contact Mohan Kumar, +91 98457 55356, mohan@saranyu.in </p>
             <br>
              <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <p style="height:355px;"><a href="https://maps.google.com/maps?q=Saranyu+Technologies+Pvt+Ltd,+Bangalore,+Karnataka,+India&hl=en&ll=12.963074,77.591178&spn=0.012588,0.01929&sll=37.0625,-95.677068&sspn=41.767874,79.013672&oq=saranyu+t&hq=Saranyu+Technologies+Pvt+Ltd,&hnear=Bangalore,+Bangalore+Urban,+Karnataka,+India&t=m&z=16&iwloc=A">
                  <iframe style="height: 100%;width: 100%;"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Saranyu+Technologies+Pvt+Ltd,+Bangalore,+Karnataka,+India&amp;aq=0&amp;oq=saranyu+t&amp;sll=37.0625,-95.677068&amp;sspn=41.767874,79.013672&amp;ie=UTF8&amp;hq=Saranyu+Technologies+Pvt+Ltd,&amp;hnear=Bangalore,+Bangalore+Urban,+Karnataka,+India&amp;ll=12.963063,77.591173&amp;spn=0.018779,0.007457&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Saranyu+Technologies+Pvt+Ltd,+Bangalore,+Karnataka,+India&amp;aq=0&amp;oq=saranyu+t&amp;sll=37.0625,-95.677068&amp;sspn=41.767874,79.013672&amp;ie=UTF8&amp;hq=Saranyu+Technologies+Pvt+Ltd,&amp;hnear=Bangalore,+Bangalore+Urban,+Karnataka,+India&amp;ll=12.963063,77.591173&amp;spn=0.018779,0.007457&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </a></p> 
            </div>
          </div>
          <div class="row" style="margin-top:50px;"></div>
          </div>
</div>

</section>

<%= render :partial => "home/index_footer" %>

