<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<style>
/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/
.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #fff;
    padding: 2rem;
}

.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}

input {
    width: 100%;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
}
h2 {
    /*margin-bottom: 2rem;*/
    font-weight: bold;
    color: #ababab;
    margin-top: 3%;
}
.btn {
    border-radius: 0.2rem;
}
.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}
.full-width {
    background-color: #30A5FF;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.error{
    /*position: absolute;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 3rem;*/
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    /*font-size: 15px;
    margin-top: -10px;
    text-align: justify;
    padding: 1px 30px;*/
}
.modal-header{
 border-bottom:0;
}

.full-width {
    background-color: #30A5FF;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
    color: #fff;
    background-color: #30A5FF;
    border-color: #30A5FF;
}

.btn-default{
    color: #fff;
}

.mandatory{
    font-weight: bold;
}

.modal-content{
    width: 400px;
    text-align: center;
    margin-left: 25%;
}

#closeid{
    margin-top: -3%;
    margin-right: -1%;
}

.success{
    /*position: absolute;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 3rem;*/
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    /*font-size: 15px;
    margin-top: -10px;
    text-align: justify;
    padding: 1px 30px;*/
}
</style>

<div class="modal fade" id="viewModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style="padding-bottom:0px;">
          <button type="button" id="closeid" class="close" data-dismiss="modal">&times;</button>
            <img src="/assets/logo-s.png" style="height:30px; width:160px"></img>
            <h2 style="font-size: 25px; margin-top: 20px;">Reset your password</h2>
        </div>
        
        <div class="modal-body">
        <h6 class="error"></h6>
         <form class="form-horizontal" id="ForgotForm" role="form">
                <input type="email" name="email" id="emailid" placeholder="Email" onkeypress="return loginEnter(event);"/>

                <a href="#" type="button" id="submitForgotForm" class="btn btn-lg btn-default full-width">Submit</a> 
                <br>               
                <!-- <a href="/" class=" btn">Cancel</a>     -->        
        </form>
        <h6 class="success"></h6>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="modal fade" id="viewModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="jumbotron" style="height:340px; width:320px;">
      <div class="container">
<div class="modal-header">
          <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
</div>
        <img src="/assets/logo-s.png" style="height:30px; width:160px"></img>
        <h2 style="font-size: 25px; margin-top: 20px;">Reset your password</h2>
        <h6 class="error" > </h6>
        <div class="clearfix"></div>
        <div class="box">
            <form class="form-horizontal" id="ForgotForm" role="form">
                <input type="email" name="email" id="emailid" placeholder="Email" onkeypress="return loginEnter(event);"/>

                <a href="#" type="button" id="submitForgotForm" class="btn btn-lg btn-default full-width">Submit</a> 
                <br>               
      </form>
        </div>
      </div>
    </div>
</div> -->

<%= render :partial=>"sessions/forgot_validations" %>