<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src="/assets/jquery.validate.js" type="text/javascript">
</script>
<link rel="stylesheet" type="text/css" href="/assets/jquery.validate.css" />
<link rel="stylesheet" type="text/css" href="/assets/passwordscheck.css" />
<script src="/assets/passwordscheck.js"></script>
<style>
/*
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
*/
.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #fff;
    padding: 2rem;
}

.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}

input {
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 1rem;
    background-color: #ecf2f4;
    border-radius: 0.2rem;
    border: none;
}
h2 {
    /*margin-bottom: 3rem;*/
    margin: -12px;
    font-weight: bold;
    color: #ababab;
}
.btn {
    border-radius: 0.2rem;
}
.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}
.full-width {
    background-color: #30A5FF;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.error{
    display: inline;
    text-align: left;
    font-size: 16px;
    color: red;
    padding-left: 0;
    font-style: italic;
    font-weight: bold;
    float: left;
}

.hide{
    display: none;
}

.full-width {
    background-color: #30A5FF;
    width: 100%;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
    color: #fff;
    background-color: #30A5FF;
    border-color: #30A5FF;
}

.btn-default{
    color: #fff;
}

.mandatory{
    font-weight: bold;
}

.modal-content{
    width: 500px;
    text-align: center;
    margin-left: 25%;
}

#closeid{
    margin-top: -3%;
    margin-right: -1%;
}

</style>



<div class="modal fade" id="viewModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="closeid" class="close" data-dismiss="modal">&times;</button>
            <img src="/assets/logo-s.png" style="height:30px; width:160px"></img>
            <h2 style="font-size: 25px; margin-top: 20px;">Sign Up with Insta OTT</h2>
        </div>
        
        <div class="modal-body">
         <form class="form-horizontal" id="RegisterForm" role="form">
                <input type="text" name="name" id="name" placeholder="Brand Name"/>
                <span id="errmsg_name" class="hide"></span>
                <span id="duplicate_b_name"></span>
                <input type="email" name="email" id="s_email"  placeholder="Email" onkeypress="return loginEnter(event);"/>
                <span id="errmsg_email" class="hide"></span>
                <span id="duplicate_email"></span>
                <input type="text" name="first_name" id="first_name" placeholder="First Name" onkeypress="return loginEnter(event);"/>
                <span id="errmsg_first_name" class="hide"></span>
                <input type="text" name="last_name" id="last_name" placeholder="Last Name" onkeypress="return loginEnter(event);"/>
                <span id="errmsg_last_name" class="hide"></span>
                <input type="password" name="bgpass" id="bgpass" placeholder="Password" onkeypress="return loginEnter(event);"/>
                <span id="errmsg_bgpass" class="hide"></span>
                <span id="result"></span>
                <input type="text" name="organization" id="organization" placeholder="Organization"/>
                <span id="errmsg_organization" class="hide"></span>
                <a href="#" type="button" id="submitRegisterForm" class="btn btn-lg btn-default full-width">Sign Up</a>
            </form>
        </div>
      </div>
    </div>
  </div>



<!-- <div class="modal fade" id="viewModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="jumbotron" style="height:590px; width:550px;">
      <div class="container">
<div class="modal-header">
          <button type="button" class="close" id="close1" data-dismiss="modal">&times;</button>
</div>
        <img src="/assets/logo-s.png" style="height:30px; width:160px; margin-top:-6%"></img>
        <h2 style="font-size: 25px; margin-top: 20px;">Sign Up with Insta OTT</h2>
        <div class="clearfix"></div>
        <h6 class="error" > </h6>
        <div class="box">
            <form class="form-horizontal" id="RegisterForm" role="form">
                <input type="text" name="name" id="name" placeholder="Brand Name" onkeypress="return loginEnter(event);"/>
                <input type="email" name="email" id="s_email"  placeholder="Email" onkeypress="return loginEnter(event);"/>
                <input type="text" name="first_name" id="first_name" placeholder="First Name" onkeypress="return loginEnter(event);"/>
                <input type="text" name="last_name" id="last_name" placeholder="Last Name" />
                <input type="password" name="bgpass" id="bgpass" placeholder="Password" onkeypress="return loginEnter(event);"/>
                <input type="text" name="organization" id="organization" placeholder="Organization" onkeypress="return loginEnter(event);"/>
                <a href="#" type="button" id="submitRegisterForm" class="btn btn-lg btn-default full-width">Sign Up</a>
            </form>
        </div>
      </div>
    </div>
</div> -->

<%= render :partial=>"sessions/signup_validations" %>