
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>Videolist</li>
			<li class="active">Edit Videolist</li>
		</ol>
	</div><!--/.row-->
	<!-- <div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Edit Videolist</h1>
		</div>
	</div> --><!--/.row-->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">

					<div id="morefields" class="row morefields" style="display:none">
						<div class="col-xs-12">
                    	<div class="row">
                        <div class="col-xs-2">
							<label>Role</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                            <div class="col-xs-6">
							<input type="text" class="form-control input-sm" name="roles[]" value="">
						</div>
						</div>

                    	<div class="row">
                        <div class="col-xs-2">
							<label>Description</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""></textarea>
							<!-- <input type="text" class="form-control input-sm" name="descriptions[]" value=""> -->
						</div>
						</div>
						
						<!-- <div class="row">
                        	<div class="col-xs-2">
							<label>Display Image</label>
							</div>
						    <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            <div class="col-xs-6">
						 		<input type="text" class="form-control input-sm" name="images[]" value="">
					        </div>
						</div> -->
						
						</div>
						
						</div>

					<form class="form-horizontal" id="mediaForm" role="form">
						 <ul class="nav nav-pills">
                            <li class="active"><a href="#basic-info-tab" data-toggle="tab">Mandatory Metadata</a></li>
                            <%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
                            <li><a href="#metadata-tab" data-toggle="tab">Optional Metadata</a></li>
                            <li><a href="#people-tab" data-toggle="tab">Cast and Crew</a></li>
                            <%end%>
                        </ul>
						<div class="tab-content">
						  <div class="tab-pane fade in active" id="basic-info-tab">

						    <div class="row">
									<div class="col-xs-2">
										<label for="title">Title</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<!-- <input type="text" class="form-control input-sm" id="mtitle" name="title" placeholder="<%= @mtitle%>" value="<%= @mtitle%>"> -->
										<input type="text" class="form-control input-sm" id="mtitle" name="title" placeholder="<%= @vtitle%>" value="<%= @vtitle%>">
									</div>
									</div>
								<!--End of Title  -->
								

								<div class="row">
									<div class="col-xs-2">
										<label>Catalog Name</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@catalog_name%>" value="<%=@catalog_name%>" readonly>
									</div>
								</div>
								<!-- End of Catalog Name -->

								<div class="row">
									<div class="col-xs-2">
										<label>Video List</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<!-- <input type="text" class="form-control input-sm" id="title" name="title" placeholder="<%=@vtitle%>" value="<%=@vtitle%>" readonly> -->
										<select name='videotags' id='videotagsid' class='form-control  input-sm'>
		                                <option value='<%=@category%>'><%=@category%></option>
		                                <%@catalog["videolist_tags"].each do |videotag|%>
		                                <option id="videotags" value='<%=videotag%>'><%=videotag%></option>
		                                <%end%>
		                                </select> 
									</div>
									</div>

									<!-- <input type="hidden" name="videotags" id="videotags" value="<%#=@category%>"/> -->


								

								<div class="row">
									
									<div class="col-xs-2">
										<label>Play URL</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                      	<div class="form-group mb0" id="custom-group">
											
												<div class="col-xs-12 constructor">
													<button class="btn btn-xs btn-info con_add_field_button">Add More URLs</button>
													<div class="row">
														<div class="col-xs-3">
															<p class="mb0">Source URL</p>
														</div>
														<div class="col-xs-3">
															<p class="mb0">URL</p>
														</div>
													</div>

													<%if !@play_url.empty? %>
													<% @play_url.each do |data| %>
													<div class="row">
														<div class="col-xs-3">
															<input type="text" name="url_types[]" class="form-control" value="<%= data[0]%>" placeholder="<%= data[0]%>" readonly>
														</div>
														<div class="col-xs-8">
															<input type="text" name="url_names[]" class="form-control" value="<%= data[1]['url']%>" placeholder="<%= data[1]['url']%>" readonly>
														</div>
														<a href="#" class="remove_field">Remove</a>
														
													</div>
													<%end%>
													<% elsif @status == "Published" && !@smart_url.empty? && @play_url.empty? %>
													<div class="row">
														<div class="col-xs-3">
															<input type="text" name="url_types[]" class="form-control" value="saranyu" placeholder="Cinestaan" readonly>
														</div>
														<div class="col-xs-8">
															<input type="text" name="url_names[]" class="form-control" value="<%= @smart_url %>" placeholder="<%= @smart_url %>" readonly>
														</div>
														<a href="#" class="remove_field">Remove</a>
														
													</div>	
													<% end %>
												</div>
												<!-- End of col-xs-12 constructor -->
											</div>
										</div> 
									
								</div>
								<!-- End of Play URL -->

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="asset_id">Asset ID</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="asset_id" name="asset_id" value="<%= @video_asset_id%>" requried>
                                  </div>
                                </div> 
                            </div>

                            <div class="tab-pane fade" id="metadata-tab">

                            	<div class="row">
									<div class="col-xs-2">
										<label>Description</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
										<textarea class="form-control input-sm ckeditor" rows="5" id="description" name="description" ><%=@desc%></textarea>
									</div> 
								</div>


								<div class="row">
									<div class="col-xs-2">
										<label for="duration">Duration</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="duration_string" name="duration_string" placeholder="" value="<%=@video_duration%>">
                                	</div>
                                </div>                                


								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="featured_image">Featured Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to featured image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <form enctype="multipart/form-data">
                                  <div class="col-xs-6">
                                  <% if @l_large.blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "featured_image" name="featured_image">
                                  <%else%>
                                 <img src="<%=@l_large%>" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "featured_image" name="featured_image" value="<%=@l_large%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                                  (1920px X 1080px)-(png,jpeg,gif)
                                  </div>
                                  <%#end%>
                                  </div>
                                </div>
								<!-- End of Featured Image -->

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="l_listing_image">Landscape Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to Landscape Image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>

                                  <div class="col-xs-6">
                                  <% if @l_medium.blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "l_listing_image" name="l_listing_image">
                                  <%else%>
                                 <img src="<%=@l_medium%>" id= "limgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "l_listing_image" name="l_listing_image" value="<%=@l_medium%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="limg" class="choose-file"  name="limg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
                                  (360px X 203px)-(png,jpeg,gif)
                                  </div>
                                  <%#end%>
                                  </div>
                                </div>
                                
								<!-- End of Landscape Image -->

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="p_listing_image">Small Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to small image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                  <% if @p_small.blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "p_listing_image" name="p_listing_image">
                                  <%else%>
                                  <img src="<%=@p_small%>" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "p_listing_image" name="p_listing_image" value="<%=@p_small%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  (251px X 141px)-(png,jpeg,gif)
                                  </div>
                                  <%#end%>
                                  </div>
                                </div>    
                                </form>
								<!-- End of Portrait Image -->

								<div class="row">
									<div class="col-xs-2">
										<label>Default Play URL</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<select name="default_url_type" class="form-control input-sm">
											<option value="saranyu">Cinestaan</option>
											<option value="youtube">YouTube</option>
											<option value="daily_motion">Daily Motion</option>
										</select>
									</div>
								</div>
								<!-- End of Play url type -->

								<div class="row">
									<div class="col-xs-2">
										<label>Change status</label>
										</div>
										<% if @status=="edit"%>
										<% statuses = ["edit","published"]%>
										<% end %>
										<% if @status=="published"%>
										<% statuses = ["published","unpublished"]%>
										<% end %>
										<% if @status=="unpublished"%>
										<% statuses = ["unpublished","published"]%>
										<% end %>

										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<select id="status" name="status" class="form-control input-sm">
											<% statuses.each do |status| %>
											<option value="<%= status%>">
												<%= status%>
											</option>    
											<% end %>
										</select>    
									</div>
								</div>	
								
								<!-- End of status -->	
						  </div>
						  <!-- End of Metadata Tab  -->

						  <div class="tab-pane fade" id="people-tab">
								<div class="col-xs-12">
								    <% if !@people.blank? %>
								    <div style="float:left;">
										<label>Select People</label>
										</div>
										<br>
										<div class="col-xs-12"></div>
										<% @people.each do |person| %>
										<div > 
											<% data = @video_people.select { |h| h["person_id"] == person["person_id"] } %>
											<% if data.blank? %>
												<input class="givemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>"><%= person["title"] %>
											<% else %>
												<!-- <input onclick="return false" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>" checked > <%= person["title"] %> -->
												<input class="removemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>" checked > <%= person["title"] %>
												<div class="row">
										            <div class="col-xs-2">
														<label>Role</label>
													</div>
													
													<div class="col-xs-1">
	                                        			<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                    			</div>
	                                      			<div class="col-xs-6">
														<input type="text" class="form-control input-sm" name="roles[]" value="<%= data[0]["roles"].join(',') %>">
													</div>
											  	</div>
											  
											 	<div class="row">
													<div class="col-xs-2">
														<label>Description</label>
													</div>
													<div class="col-xs-1">
	                                        			<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                   	 			</div>
	                                      			<div class="col-xs-6">
														<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""><%= data[0]["description"] %></textarea>
													</div>
											    </div>
											<% end %>
										</div>

										<br>
										<% end %>
									<% else %>
									    <label>Please Add People to Catalog</label>  
									<% end %>	
								</div>
								<!-- End of People -->
							</div>
							<!-- End of People Tab -->

							<br><button type="button" class="btn btn-primary" id="submitUpdateMediaForm">Update Videolist</button>
						</div>
						</div>
						<!--End of content Tab  -->
					</form>
					<!-- End of Form -->

				</div>
				<!-- End of panel tab -->
			</div>
			<!--/.panel-->
		</div>
	</div>
</div>

<script type="text/javascript">

		function validateForm(){
			var field = $('#mtitle').val();
			var asset_id_field = $('#asset_id').val();

			if ((field.trim()).length == 0) {
        		alert("Please Provide Title!");
        		$('#mtitle').focus();
        		return false;

            }

            if ((asset_id_field.trim()).length == 0) {
				alert("Please Provide Asset ID!");
				$('#asset_id').focus();
				return false;
			}
      		
      		return true;
		}


			




		// $(".con_add_field_button").click(function(e){
  //       e.preventDefault();
  //       var dd = document.createElement("div");
  //       $(dd).append('<div class="row"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-3"><input type="text" class="form-control" name="url_names[]"></div><div class="col-xs-3"><input type="number" class="form-control" name="widths[]"></div><div class="col-xs-3"><input type="number" class="form-control" name="heights[]"></div><a href="#" class="remove_field">Remove</a></div>');
  //       $(".constructor").append($(dd));     
  //       eventFormControl($(dd));           
  //   });

$(".con_add_field_button").click(function(e){
				e.preventDefault();
				var dd = document.createElement("div");
				$(dd).append('<div class="row"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
				$(".constructor").append($(dd));     
				eventFormControl($(dd));           
		});

    $(".constructor").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    });

		$(".givemorefields").click(function(){
        if ($(this).prop('checked').toString()=="true"){
          $("#morefields").clone().appendTo($(this).parent()).show();
        }
        else {
          $(this).parent().find("#morefields").remove();
        }
    });


// Image Upload to S3 server Starts here

$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});


$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

    
    var key = "<%=@signature[:key]%>"
    var awsAccessKeyId = "<%=@signature[:access_key]%>"
    var acl = "<%=@signature[:acl]%>"
    var policy = "<%=@signature[:policy]%>"
    var signature = "<%=@signature[:signature]%>"
   
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {
	 // var media_title = "<%#=@edit_media.title.gsub(' ','-')%>";
      var media_title = "<%=@mtitle%>";
      var bucket = "<%=@signature[:bucket]%>";

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var domain_name = "<%=@signature[:domain_name]%>"

      url = 'http://'+bucket+'.s3.amazonaws.com/'
      
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+media_title+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}

		$('#submitUpdateMediaForm').click(function(){
			    var status = validateForm();
			    console.log("/videolist/<%=@videolist_id%>?catalog_id=<%=@catalog_id%>&video_id=<%=params[:video_id]%>&method=update");

			    if (status == true) {
					var data = $('#mediaForm').serialize();
					$.ajax({
							url: '/videolist/<%=@videolist_id%>?catalog_id=<%=@catalog_id%>&video_id=<%=params[:video_id]%>&method=update',
							data: data,
							type: 'put',
							dataType: 'json',
							timeout: 120000,
							error: function(e,t){
									if (t == "timeout"){
											alert("Timed Out Wait for Response")
									}
									else{
											alert(JSON.parse(e.responseText)["error"]);
									}
							},
							success: function(d){
									window.location = "/media/edit?media_id=<%=@video_list.parent_media_id%>&vl=yes"
							}
					});
				}	
		});

  $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
</script>
