    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/messages/get_all?tenant_id=<%=@tid%>" auto_refresh="" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){ 
                            var roles = <%= raw current_user.roles.to_json%>
                                                // var found = roles.includes('media_viewer');
                                                 var found = (roles.indexOf("media_viewer") > -1);
                                                var with_action = '<tr><th><left>Title</left></th><th><left>Message Type</left></th><th><left>Actions</left></th></tr>'
                                                var with_out_actions = '<tr><th><left>Title</left></th><th><left>Message Type</left></th></tr>'      
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    if ((found == true) & roles.length == 1) 
                                                                {
                                                                    $(_this.selector).find("thead").append(with_out_actions
                                                                    );
                                                                }
                                                                else
                                                                {
                                                                    $(_this.selector).find("thead").append(with_action
                                                                    );
                                                                }
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                        for ( var i = 0; i < data.items.length; i++) {
                                            title = data.items[i].title                     
                                            //theme
                                            platform_note = data.items[i].platform_note
                                            //apps
                                            platform_code = data.items[i].type
                                            if(platform_code == "static_page"){
                                                platform_code = "Static Page"
                                            }
                                            if(platform_code == "template"){
                                                platform_code = "Template"
                                            }
                                            if(platform_code == "app_message"){
                                                platform_code = "App Message"
                                            }

                                            //actions
                                            actions = ""
                                            // delete_disabled = ""
                                            delete_disabled = "disabled"

                                            edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default message-edit" msid='+data.items[i].content_id+'><span class="glyphicon glyphicon-pencil"></button></span>'

                                            actions = edit_button
                                            //append   
                                            if ((found == true) & roles.length == 1) 
                                                                    {
                                                                        actions = ""
                                                                    }                
                                            tbody.append("<tr><td>" + title
                                                + "</td><td>" + platform_code
                                                + "</td><td>" + actions
                                                +"</td></tr>");
                                        }
                                        load_actions();
                                    };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
function load_actions() {
    $('.message-edit').click(function(){
            window.location.href = '/message/edit?msid='+$(this).attr('msid')+"&tid=<%=@tid%>";
        });
};
</script>