<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Message</li>
						<li class="active">Edit Customization</li>
				</ol>
		</div>
    <div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body">
						<div class="container-fluid">
							

              <% if @tenants.count == 1 %>
                <input type="hidden" id="tenant_id" name="tenant_id" value="<%=@tenants.last.id%>">
                <% if @catalog %>
                  <%=render partial: "/message/config_details"%>
                <% else %>
                   <div><h5>Customization is not available at this moment.Please contact admin!</h5></div>  
                <% end %>  
              <%else%>
                
                <% if @catalog %>
                  <div><h5>Features is not available for multi tenant, only default tenant Customization is editable!!</h5></div>
                  <input type="hidden" id="tenant_id" name="tenant_id" value="<%=@tenants.first.id%>">
                <%=render partial: "/message/config_details"%>
                <% else %>
                  <div><h5>Customization is not available for you yet.Please contact admin!</h5></div>
                <% end %>
                <!-- <div class="row">
  								<div class="col-xs-2">
  									<label for="tenant">Select Tenant</label>
  								</div>

  								<div class="col-xs-1">
                    <img class="info_img" data-toggle="tooltip" title="" src="/assets/info_55x55.png" alt="dummy">
                  </div>
                  <div class="col-xs-6">
  					        <select type="text" class="form-control input-sm" id="tenant" name="tenant"  >
                       <option id="tenant" value="">Select one from below</option>
                      <% @tenants.each do |tenant| %>
                          <option id="<%=tenant.name%>" value="<%= tenant.id%>"><%=tenant.name%></option>
                      <% end %>
                    </select>
  							  </div>
  							</div>       -->            
              <% end %>  
              <% if @catalog %>
                <div id="config_details"></div>
              <% end %>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">

// $("select").change(function() {
//   $( "select option:selected" ).each(function() {
//     alert($(this).val());
//     var tenant_id = $(this).val();

//     $.ajax({
//         url: '/messages/get_tenant_config/'+ tenant_id,
//         type: 'get',
//         dataType: 'json',
//         timeout: 120000,
//         error: function(e,t){
//                 if (t == "timeout"){
//                         alert("Timed Out Wait for Response");
//                 }
//                 else{
//                         alert(JSON.parse(e.responseText)["error"]);
//                 }
//         },
//         success: function(d){
//                 // window.location = "/";

//         }
//     });

//   });
// });


$(document).ready(function(){
    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
});

</script>