<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Apps</li>
        </ol>
    </div>

    <%if @all_tenants.count == 1%>
        <input type="hidden" id="tenantid" name="tenant_id[]" value="<%=@tid%>">
        <%#=render partial: "/message/view_all"%>
            <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                         <div class="row">
                        <div class="col-xs-2">
                         <%page_size = @page_size.nil? ? 25 : @page_size%>
                               <%@page_size = page_size%>
                         <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                <% [25, 50, 75, 100]. each do |ps| %>
                                    <option value=<%= ps %> <%= "selected" if @page_size == "#{ps}" %>><%= ps %></option>
                                <% end %>
                            </select> 
                        </div>
                        <div class="col-xs-6">
                        </div>
                        <div class="col-xs-4">
                        <input type="text" placeholder="Enter Name"  id="titlesearch" class="form-control input-sm ">
                            
                        </div>
                         
                    </div>
                 <div id="table_body">

                                 <%= render 'message/view_messages_list' %>
                        </div>
                   <div>
                    <%=link_to "Previous","",:id => "prev_button", :class => "btn btn-primary btn-sm mr5 previous_button disabled"%>
                            <%=link_to "Next","",:class => "btn btn-primary btn-sm next_button", :id=>"next_button"%>
                         
                    </div>    
                </div>
            </div>
        </div>
    </div>
        <%else%>
                 <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label for="tenant_id">Select Tenant</label>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_tenant')%>" src="/assets/info_55x55.png" alt="dummy">
                                                    </div>
                                                      <div class="col-xs-6">
                                                    <select name="tenant_id[]" id="tenant_id" class="form-control input-sm">
                                                        <option value="">Select one from below</option>
                                                        <%@all_tenants.each do |tenant|%>
                                                        <option value="<%=tenant.id%>"><%=tenant.name%></option>
                                                        <%end%>
                                                    </select>
                                                </div>
                                            </div>
                                      </div>
                                </div>
          <input type="hidden" id="tenantid" name="tenant_id[]">
   <%end%>

   <div id="appsmessages"></div>

     </div>    
    </div>
  </div>
</div>

<script type="text/javascript">
$("#tenant_id").change(function(){
        var tenant_id = $(this).val();
        //console.log("tenant_id ::::"+tenant_id);
        $("#tenantid").val(tenant_id);
        //$("#showuser").show();
                $.ajax({
                        url: '/tenantplans/?appsmessages=appsmessages',
                        data:{tenant_id: tenant_id},
                        type: 'Get',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            var tenant_id = $("#tenantid").val();
                            $("#appsmessages").html(d);
                        }
                });
             });

</script>
<script type="text/javascript">
function load_actions() {
    $('.message-edit').click(function(){
            window.location.href = '/message/edit?msid='+$(this).attr('msid')+"&tid=<%=@tid%>";
        });
};

        $('#prev_button').click(function(e){
        e.preventDefault();
         var tenant_id = "<%=@tid%>";
        var page = $('.cl_page')[0].innerHTML;
        var pageSize = $("#page_size").val();
        var page_num = parseInt(page) - 1;
        if (page_num == 1){
            $('#prev_button').addClass('disabled');
        }else{
            $('.previous_button').removeClass('disabled');
        }
        $.ajax({
                url: '/messages/view_all?page_size='+pageSize+'&page='+page_num+'&tenant_id='+tenant_id,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                    success: function(e)
                    {
                        
                    },
            });
    })

        $('#next_button').click(function(e){
        e.preventDefault();
        var tenant_id = "<%=@tid%>";
        var page = $('.cl_page')[0].innerHTML;
        var pageSize = $("#page_size").val();
        var page_num = parseInt(page) + 1;
        if (page_num == 1){
            $('#prev_button').addClass('disabled');
        }else{
            $('#prev_button').removeClass('disabled');
        }
        $.ajax({
                url: '/messages/view_all?page_size='+pageSize+'&page='+page_num+'&tenant_id='+tenant_id,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                    success: function(e)
                    {
                       
                    },
            });
    })

</script>
<style>
    .search_input_textbox
    {
        display:none;
    }
    .pagesizecount
    {
        display:none;
    }
    .pgsz
    {
       display:none; 
    }
</style>
