<div class="tab-pane fade in active" id="pilltab2">
    <div class="panel panel-primary">
        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/media/new?show_id=<%= @show_id%>'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media
        </button>
        <div class="panel-body">
         <div class="row">
                         <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="pull-right perpage_filter" style="width:8%;margin-right: 15px;">
                                    <!-- <label>Per Page</label> -->
                                     <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                        <% [25, 50, 75, 100]. each do |ps| %>
                                            <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                        <% end -%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
            <div style="overflow-x:auto;">
              <table class = "table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Asset ID</th>
                    <th>Episode Type </th>
                    <th>Transcoding Priority</th>
                    <th>Transcoding Status</th>
                    <th>OTT Status</th>
                    <th>Actions</th>
                  </tr>
                      <tr class="table_filter">
                            <td>
                                <input type="text" placeholder="Enter Title" show_id="<%= @show_id %>" id="titlesearch" class="form-control input-sm search_input_textbox">

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </thead> 
                <tbody id="table_body">
                  <% if @items.present? %>
                            <%= render :partial => 'subcategories/episodes_items_body' %>
                        <% end %>
                </tbody>
            </table>
        </div>
        <div>
            <% if params[:page].to_i != 1 %> 
              <% url = request.original_url %>
              <% if url.count("?") > 0 %>
                <%=link_to "Previous","#{url.split("&page")[0]}&page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm previous_button prev_btn", :id=>"prev"%>
              <% else %>
                <%=link_to "Previous","#{url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm previous_button prev_btn", :id=>"prev"%>
              <% end %>
            <%else %>
              <%=link_to "Previous","",:class => "btn btn-primary btn-sm previous_button disabled prev_btn", :id=>"prev_button"%>  
            <% end %>
            
            <% if @next_items.empty? %>
              <%=link_to "Next","",:class => "btn btn-primary btn-sm next_button disabled next_btn", :id=>"next_button"%>   
            <% else %>
              <% url = request.original_url %>
              <% if url.count("?") > 0 %>
                <%=link_to "Next","#{url.split("&page")[0]}&page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm next_button next_btn", :id=>"next"%>
              <% else %>
                <%=link_to "Next","#{url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm next_button next_btn", :id=>"next"%>
              <% end %>
            <% end %>
        </div> 
        <div id="player" style="background-color:black;"></div>
        <div id="view_media"></div>
        <div id="view_item"></div>
        <div id="view_lists"></div>
        <div id="view_media_status"></div>


            <script type="text/javascript">

                $('.edit-media').click(function()
                {
                  var titleid =  $(this).attr('title-id');  
                  window.location.href = '/media/edit?media_id='+$(this).attr('media-id');
                });

                $('.transcode-media').click(function()
                {
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=transcode',
                    type: 'POST',
                    timeout: 120000,
                      error: function(e,t)
                      {
                        if (t == "timeout")
                        {
                          alert("Timed Out Wait for Response")
                        }
                        else
                        {
                          alert(JSON.parse(e.responseText)["error"]);
                        }
                      },
                      success: function(d)
                      {
                        location.reload();
                      }
                  });
                });

                $('.delete-media').click(function()
                {
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=delete',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      alert("item deleted successfuly");
                      location.reload();
                    }
                  });
                });

                $('.play-media').click(function()
                {
                  $.ajax({
                    url: '/media/play/'+$(this).attr('media-id'),
                    type: 'GET',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      $("#player").html(d);
                      $('#viewModal').modal('show');
                    }
                  });
                });


                $('.update-priority').click(function()
                {
                $.ajax({
                  url: '/media/'+$(this).attr('media-id')+'?method=update_priority&priority='+$(this).attr('priority'),
                  type: 'POST',
                  timeout: 120000,
                  error: function(e,t)
                  {
                    if (t == "timeout")
                    {
                      alert("Timed Out Wait for Response")
                    }
                    else
                    {
                      alert(JSON.parse(e.responseText)["error"]);
                    }
                  },
                  success: function(d)
                  {
                    location.reload();
                  }
                });
                });

                $('.push_ott').click(function(){
                  $.ajax({
                    url: '/media/'+$(this).attr('media-id')+'?method=publish_at_ott',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    },
                    success: function(d)
                    {
                      location.reload();
                    }
                  });
                });

                $('.remove_ott').click(function(){
                    $.ajax({
                        url: '/media/'+$(this).attr('media-id')+'?method=unpublish_at_ott',
                        type: 'POST',
                        timeout: 120000,
                        error: function(e,t){
                            if (t == "timeout"){
                                alert("Timed Out Wait for Response")
                            }
                            else{
                                alert(JSON.parse(e.responseText)["error"]);
                            }
                        },
                        success: function(d){
                            location.reload();
                        }
                    });
                });

                $('span').tooltip();

                $('.add-content-episode').click(function(){
   
                  window.location.href = '/catalog_lists/get_lists?content_id='+$(this).attr('content-id');   

                  // $.ajax({
                  //     url: url,
                  //     type: 'GET',
                  //     timeout: 120000,
                  //     error: function(e,t){
                  //         if (t == "timeout"){
                  //             alert("Timed Out Wait for Response")
                  //         }
                  //         else{
                  //             alert(JSON.parse(e.responseText)["error"]);
                  //         }
                  //     },
                  //     success: function(d){
                  //         $("#view_lists").html(d);
                  //         $('#viewModal2').modal('show');
                  //     }
                  // });
              });

                            

                            
                            $('.export-data').click(function(){
                                var url = '/catalogs/view_media_status?catalog_id='+$(this).attr('catalog-id');
                                $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        $("#view_media_status").html(d);
                                        $('#viewModal2').modal('show');
                                    }
                                });
                            });

                            $('.republish-media').click(function(){
                                $.ajax({
                                    url: '/media/'+$(this).attr('media-id')+'?method=republish_media',
                                    type: 'POST',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        location.reload();
                                    }
                                });
                            });

                            $(function(){
                          //alert("Search is loaded!");
                          $('.search-title').click(function(){
                            var catalogid = $("#search_catalog_id").attr('catalog-id');
                            var q = $('#searchtitle').val();
                            q = q.trim();
                            var url = '/search?q='+q+'&catalog_id='+catalogid;
                            if (q.length == 0) {
                              alert("Please enter the title for searching...");
                              return false;
                            } else {
                              $.ajax({
                                    url: url,
                                    type: 'GET',
                                    timeout: 120000,
                                    error: function(e,t){
                                        if (t == "timeout"){
                                            alert("Timed Out Wait for Response")
                                        }
                                        else{
                                            alert(JSON.parse(e.responseText)["error"]);
                                        }
                                    },
                                    success: function(d){
                                        //alert("Item has got deleted successfuly!!");
                                        location.reload();
                                    }
                                });
                            }
                          });
                        });
                        $('document')
                         $(document).on('change','#item_sdd',function(){

                                var itemsdata = $(this).val();
                                 // alert(itemsdata);
                                var content_id = itemsdata.split("-")[0]
                                var catalog_id = itemsdata.split("-")[1]
                                var status_val = itemsdata.split("-")[2]
                                 var title_val = itemsdata.split("-")[3]
                                 var ottstatus = itemsdata.split("-")[4]

                                         console.log(itemsdata); 
                                        $.ajax({
                                          url: '/user_theme/'+content_id+'?method=update',
                                          type: 'POST',
                                          data: {id: content_id, catalog_id: catalog_id, item_status: status_val,title: title_val,status: ottstatus},
                                          timeout: 120000,
                                            error: function(e,t){
                                            if (t == "timeout"){
                                                alert("Timed Out Wait for Response")
                                            }
                                            else{
                                                alert(JSON.parse(e.responseText)["error"]);
                                            }
                                        },
                                        success: function(d){
                                            window.location.href = "/catalogs/view_catalog/"+catalog_id;
                                        }
                                        });
                            });
                          $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
        $('#titlesearch').on("keyup", function(e){
      pbar = false;
      var pageno = "<%=params[:page]%>"
      var psize = $('#page_size').val();
      var show_id = $(this).attr('show_id');
      var title = $('#titlesearch').val();
      if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                var org_title = $.trim(title);
                 updateURL(psize,pageno)
      $.ajax({
        url: '/shows/view_subcategories?show_id='+show_id+'&title='+org_title+'&page_size='+psize+'&page='+pageno,
        type: 'GET',
        timeout: 120000,
        dataType: 'script',
        success: function(d)
        {
          window.history.pushState("object or string", "Title", "/shows/view_subcategories?show_id="+show_id+"?page_size="+psize+'&page='+pageno);
          if ($('#table_body').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }

        },
        error: function(e,t){
          if (t == "timeout")
          {
            alert("Timed Out Wait for Response");
          } else {
            alert(JSON.parse(e.responseText)["error"]);
          }
        }
      }).always(function(){
        try {
          pbar=true;
        } catch(e) { }
      });
}
    });
        function updateURL(psize,pageno) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
        $(document).ready(function(){
        var items = "<%= @items.blank? ? 0 : @items.count%>"
         if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })      
                        </script>   
                 
