  <%  @items.each do |media| %>
                      <tr>
                      <td class="cl_next_val" style="display:none;" ><%= @next_items.empty?%></td>
                        <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                        <td><%= link_to media["title"], "/media/edit?media_id="+media['cms_id'] %></td>
                        <td><%= media["asset_id"] %></td>
                        <% ep_type = media["episode_type"] %>
                        <% if ep_type.nil? %>
                          <% episode_type = "N/A" %>
                        <% else %>
                          <% episode_type = ep_type %>
                        <% end %>
                        <td><%= episode_type %></td>
                        <td>
                        <div class="btn-group">
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'low' %>" priority="low" media-id='<%= media["cms_id"] %>'>Low</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'medium' %>" priority="medium" media-id='<%= media["cms_id"] %>'>Med</button>
                        <button type="button" class="btn btn-xs update-priority <%= 'btn-success' if media['priority'] == 'high' %>" priority="high" media-id='<% media["cms_id"] %>'>High</button>
                        </div>
                        </td>
                        <td>
                        <%  case media["cms_status"] %>
                        <% when "Created" %>
                        <% percentage_complete = 0  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =  0    %>

                        <% when "Processing Request" %>
                        <% percentage_complete = 10
                        css_class = "progress-bar progress-bar-success progress-striped active"
                        css_style_width =   10   %>

                        <% when "Request Error" %>
                        <% percentage_complete = 10  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =     10 %>

                        <% when "Ingesting" %>
                        <% percentage_complete = 20 
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =    20  %>

                        <% when "Ingested" %>
                        <% percentage_complete = 30  
                        css_class = "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     30 %>

                        <% when "Transcoding" %>
                        <% percentage_complete = 60  
                        css_class =  "progress-bar progress-bar-success progress-striped active" 
                        css_style_width =     60 %>

                        <% when "Published" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-success" 
                        css_style_width =   100   %>

                        <% when "Ingestion Error" %>
                        <% percentage_complete = 100  
                        css_class = "progress-bar progress-bar-danger" 
                        css_style_width =    20  %>

                        <% when "Transcoding Error" %>
                        <% percentage_complete = 100  
                        css_class =  "progress-bar progress-bar-danger" 
                        css_style_width =    60  %>

                        <% when "Created Externally" %>
                        <% percentage_complete = 0 
                        css_class =  "progress-bar progress-bar-success progress-striped active"
                        css_style_width =    0  %>

                        <% else %>  
                        <% end  %>

                        <div class="progress"><div class='<%=  css_class %>' role="progressbar" aria-valuenow='<%= percentage_complete %>' aria-valuemin="0" aria-valuemax="100" style="width: '<%= css_style_width %>'%;"><span><%= media["cms_status"] %></span></div>
                        </div>
                        </td>
                        <td><%= media["status"] %></td>
                        <td>
                        <span class="inline-block" data-toggle="tooltip" title="Republish"><button type="button" class="btn btn-xs btn-primary republish-media <%#= 'disabled' if !@privileges.include? 'republish'%>" media-id = '<%= media["cms_id"] %>'><span class="glyphicon glyphicon glyphicon-repeat"></button>
                        </span>

                        <span class = "inline-block" data-toggle="tooltip" title="Transcode"><button type="button" class= " btn btn-xs btn-primary transcode-media <%#= 'disabled' if !@privileges.include? 'transcode'%>" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-indent-left"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Play"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'play_media'%> btn btn-xs btn-success play-media" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-play"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'edit_media'%> btn btn-xs btn-default edit-media" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                        <% if media["status"] == "published" %>
                        <span class="inline-block" data-toggle="tooltip" title="Remove from OTT"><button type="button" class="remove_ott btn btn-xs btn-danger <%#= 'disabled' if !@privileges.include? 'publish'%> " media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-import"></button></span>

                        <% else %>
                        <span class="inline-block" data-toggle="tooltip" title="Push to OTT"><button type="button" class="push_ott <%#= 'disabled' if !@privileges.include? 'publish'%> btn btn-xs btn-warning " media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-export"></button></span>

                        <% end %>


                        <span class="inline-block" data-toggle="tooltip" title="Add Item to List"><button type="button" class="<%#= 'disabled' if !@privileges.include? 'add_to_list'%> btn btn-xs btn-info add-content-episode" content-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                        <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="btn btn-xs btn-danger delete-media <%#= 'disabled' if !@privileges.include? 'delete_media'%>" media-id='<%= media["cms_id"] %>'><span class="glyphicon glyphicon-trash"></button></span>



                        </td>
                         </tr>
                      <% end %>
