<% @subcategories.each do |subcategory| %>
										<tr>
										<td class="cl_next_val" style="display:none;" ><%= @next_items.empty?%></td>
                        <td class="cl_page" style="display:none;"><%= params[:page]%></td>
											<td><%=link_to subcategory["title"] ,"/subcategories/view_nested_subcategories?subcategory_id="+subcategory["_id"] %></td>
											<td><%= subcategory["catalog_name"] %></td>
											<td><%= subcategory["show_name"] %></td>
											<td><%= subcategory["_id"] %></td>
											<td>

													<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-subcategory" sub-show-id='<%= subcategory["_id"] %>'+'-'+'<%= subcategory["show_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>	


													<span class="inline-block" data-toggle="tooltip" title="Delete Item"><button type="button" class="btn btn-xs btn-danger delete-subcategory" subcategory-id='<%= subcategory["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></button></span>


											</td>
											</tr>
									<% end %>
