<div class="tab-pane fade in active" id="pilltab1">
	<div class="panel panel-primary">  
		<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/subcategories/new?show_id=<%= @show_id%>'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Subcategory
        </button>
<div class="panel-body">
 <div class="row">
                         <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="pull-right perpage_filter" style="width:8%;margin-right: 15px;">
                                    <!-- <label>Per Page</label> -->
                                     <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                        <% [25, 50, 75, 100]. each do |ps| %>
                                            <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                        <% end %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
		<div>
				<table class = "table table-condensed table-striped">
						<thead>
							<tr>
								<th>Title</th>
								<th>Catalog Name</th>
								<th>Show Name</th>
								<th>Subcategory Id</th>
								<th>Actions</th>
							</tr>
							 <tr class="table_filter">
                            <td>
                                <input type="text" placeholder="Enter Title" subcategory_id="<%= @subcategory_id %>" id="titlesearch" class="form-control input-sm search_input_textbox">

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
						</thead> 
						<tbody id="table_body">
                       <% if @subcategories.present? %>
                            <%= render :partial => 'subcategories/nested_subcategory_items_body' %>
                        <% end %>
                      </tbody>
				</table>
		</div>
</div>

<div>
		   <% if params[:page].to_i != 1 %> 
              <% url = request.original_url %>

              <% if url.count("?") > 0 %>
                <%=link_to "Previous","#{url.split("&page")[0]}&page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm previous_button prev_btn", :id=>"prev_button"%>
              <% else %>
                <%=link_to "Previous","#{url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm previous_button prev_btn", :id=>"prev_button"%>
              <% end %>
            <%else %>
              <%=link_to "Previous","",:class => "btn btn-primary btn-sm previous_button disabled prev_btn", :id=>"prev_button"%>  
            <% end %>
            
            <% if @next_items.empty? %>
              <%=link_to "Next","",:class => "btn btn-primary btn-sm next_button disabled next_btn", :id=>"next_button"%>   
            <% else %>
              <% url = request.original_url %>
              <% if url.count("?") > 0 %>
                <%=link_to "Next","#{url.split("&page")[0]}&page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm next_button next_btn", :id=>"next_button"%>
              <% else %>
                <%=link_to "Next","#{url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm next_button next_btn", :id=>"next_button"%>
              <% end %>
            <% end %>
</div>

		<script type="text/javascript">

			$('.edit-subcategory').click(function()
			{
				var subcategory_id = $(this).attr('sub-show-id').split("-")[0];
				var show_id = $(this).attr('sub-show-id').split("-")[1];
				window.location.href = '/subcategories/edit?id='+ subcategory_id +'&show_id=' + show_id;
			});

			$('span').tooltip();

			$('.delete-subcategory').click(function()
			{
				$.ajax({
					url: '/subcategories/'+$(this).attr('subcategory-id')+'?method=delete',
					type: 'POST',
					timeout: 120000,
					error: function(e,t)
					{
						if (t == "timeout")
						{
							alert("Timed Out Wait for Response")
						}
						else
						{
							alert(JSON.parse(e.responseText)["error"]);
						}
					},
					success: function(d)
					{
						alert("Item got deleted successfully!!");
						location.reload();
					}
				});
			});
 $('#titlesearch').on("keyup", function(e){
      pbar = false;
       var pageno = "<%=params[:page]%>"
            var psize = $('#page_size').val();
      var subcategory_id = $(this).attr('subcategory_id');
      var title = $('#titlesearch').val();
      if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                var org_title = $.trim(title);
      
       updateURL(psize,pageno)
      $.ajax({
        url: '/subcategories/view_nested_subcategories?subcategory_id='+subcategory_id+'&title='+org_title+'&page_size='+psize+'&page='+pageno,
        type: 'GET',
        timeout: 120000,
        dataType: 'script',
        success: function(d)
        {
          window.history.pushState("object or string", "Title", "/subcategories/view_nested_subcategories?subcategory_id="+subcategory_id+"?page_size="+psize+'&page='+pageno);
          if ($('#table_body').find('tr').length > 0)
                         {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }

        },
        error: function(e,t){
          if (t == "timeout")
          {
            alert("Timed Out Wait for Response");
          } else {
            alert(JSON.parse(e.responseText)["error"]);
          }
        }
      }).always(function(){
        try {
          pbar=true;
        } catch(e) { }
      });
}
    });
function updateURL(psize,pageno) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
        $(document).on('change','#page_size',function() {
        	alert(1);
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
     $(document).ready(function(){
        var items = "<%= @subcategories.blank? ? 0 : @subcategories.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>
