


<div class="row">
    <div class="col-xs-2">
        <label for="name">Name</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
          <input type="text" class="form-control input-sm" id="name" name="name" placeholder="" value="<%= @sub_resp["title"]%>">
          <%else%>
          <input type="text" class="form-control input-sm" id="name" name="name" placeholder="" value="">
          <%end%>
    </div>
</div>


<div class="row">
    <div class="col-xs-2">
        <label for="description">Description</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
          <% if params[:action] == "edit" %>
          <textarea class="form-control input-sm" id="description" name="description" placeholder="<%= @sub_resp["description"]%>" value="<%= @sub_resp["description"]%>"></textarea>
          <%else%>
          <textarea class="form-control input-sm" rows="5" id="description" name="description" value=""></textarea>
          <%end%>
    </div>
</div>


<div class="row">
    <div class="col-xs-2">
        <label for="sequence_no">Enter Subcategory Order</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
        <% if params[:action] == "edit" %>
        <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="<%= @sub_resp["sequence_no"]%>" min="1">
        <%else%>
        <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="1" min="1">
        <%end%>
    </div>
</div>

<% if params[:action] == "edit" %>
<%else%>
<div class="row">
    <div class="col-xs-2">
    <label >What do you want to add?</label>
    </div>
    <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
    <select name="child_flag" id="child_flag" class="form-control input-sm">
        <option value="episodes">Episodes</option>
        <option value="subcategories">Subcategories</option>
    </select>
    </div>
</div> 
<%end%>

<div class="row">
    <div class="col-xs-2">
    <label >Select Status</label>
    </div>
    <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
    <% if params[:action] == "edit" %>
    <select name="status" id="status" class="form-control input-sm">
        <option value="published">Publish</option>
        <!-- <option value="edit">Edit</option> -->
    </select>
    <%else%>
    <select name="status" id="status" class="form-control input-sm">
        <option value="published">Publish</option>
        <!-- <option value="edit">Edit</option> -->
    </select>
    <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="meta-title">Meta-Title</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
        <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" value="<%= @sub_resp["meta_title"]%>">
        <%else%>
        <input type="text" class="form-control input-sm" id="meta_title" name="meta_title" placeholder="" value="">
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="meta-description">Meta-Description</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
        <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="meta_description" name="meta_description" value="<%= @sub_resp["meta_description"]%>">
        <%else%>
        <input type="text" class="form-control input-sm" id="meta_description" name="meta_description" placeholder="" value="">
        <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="meta-keywords">Meta-Keywords</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
        <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" value="<%= @sub_resp["meta_keywords"]%>">
        <%else%>
        <input type="text" class="form-control input-sm" id="meta_keywords" name="meta_keywords" placeholder="" value="">
        <%end%>
    </div>
</div>


<form enctype="multipart/form-data">
<div class="row">
      <div class="col-xs-2">
        <label for="featured_image">Featured Image</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="You can provide the default featured image for the catalog item" src="/assets/info_55x55.png" alt="dummy">
        </div>
<% if params[:action] == "edit" %>
        <div class="col-xs-6">
	    <% if @sub_resp["thumbnails"]["l_large"]["url"].blank? %>
	    <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" class="s3_image">
	    <input type="hidden" id= "featured_image" name="featured_image"> 
	    <%else%>
	    <img src="<%= @sub_resp["thumbnails"]["l_large"]["url"]%>" id= "fimgsrc" alt="image" class="s3_image">
	    <input type="hidden" id= "featured_image" name="featured_image" value="<%= @sub_resp["thumbnails"]["l_large"]["url"]%>"> 
	    <%end%>
	    <div class="upload-section">
	    <input type="file" id="fimg" class="choose-file"  name="fimg" style="display:inline;">
	    <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
	    (1920px X 1080px)-(png,jpeg,gif)
	    </div>
	    </div>
<%else%>
      <div class="col-xs-6">
      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" alt="image" class="s3_image">
      <div class="upload-section">
      <input type="file" id="fimg" class="choose-file"  name="fimg" style="display:inline;">
      <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
      (1920px X 1080px)-(png,jpeg,gif)
      </div>
      </div>
      <input type="hidden" id= "featured_image" name="featured_image">
<%end%>
 </div>    
    

<div class="row">
	  <div class="col-xs-2">
	    <label for="l_listing_image">Landscape Image</label>
	  </div>
	  <div class="col-xs-1">
	    <img class="info_img" data-toggle="tooltip" title="You can provide the default landscape image for the item" src="/assets/info_55x55.png" alt="dummy">
	    </div>

<% if params[:action] == "edit" %>
	  <div class="col-xs-6">
      <% if @sub_resp["thumbnails"]["l_medium"]["url"].blank? %>
      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
      <input type="hidden" id= "l_listing_image" name="l_listing_image">
      <%else%>
      <img src="<%= @sub_resp["thumbnails"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" class="s3_image">
       <input type="hidden" id= "l_listing_image" name="l_listing_image" value="<%= @sub_resp["thumbnails"]["l_medium"]["url"]%>">
      <%end%>
      <div class="upload-section">
      <input type="file" id="limg" class="choose-file"  name="limg" style="display:inline;">
      <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
      (360px X 203px)-(png,jpeg,gif)
      </div>
      </div>

<%else%>	  
	  <div class="col-xs-6">
      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" class="s3_image">
      <div class="upload-section">
      <input type="file" id="limg" class="choose-file"  name="limg" style="display:inline;">
	  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
      (360px X 203px)-(png,jpeg,gif)
      </div>
      </div>
      <input type="hidden" id= "l_listing_image" name="l_listing_image">
<%end%>
</div>    


<div class="row">
	  <div class="col-xs-2">
	    <label for="p_listing_image">Portrait Image</label>
	  </div>
	  <div class="col-xs-1">
	    <img class="info_img" data-toggle="tooltip" title="You can provide the default Portrait image for the item" src="/assets/info_55x55.png" alt="dummy">
	    </div>
<% if params[:action] == "edit" %>
		<div class="col-xs-6">
	      <% if @sub_resp["thumbnails"]["p_small"]["url"].blank? %>
	      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
	      <input type="hidden" id= "p_listing_image" name="p_listing_image" >
	      <%else%>
	      <img src="<%= @sub_resp["thumbnails"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" class="s3_image">
	      <input type="hidden" id= "p_listing_image" name="p_listing_image" value="<%= @sub_resp["thumbnails"]["p_small"]["url"]%>">
	      <%end%>
	      <div class="upload-section">
	      <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
	      <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
	      (251px X 141px)-(png,jpeg,gif)
	      </div>
	    </div>
<%else%>
	  <div class="col-xs-6">
      <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" class="s3_image">
      <div class="upload-section">
      <input type="file" id="pimg" class="choose-file"  name="pimg" style="display:inline;">
	  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
      (251px X 141px)-(png,jpeg,gif)
      </div>
      </div>
	  <input type="hidden" id= "p_listing_image" name="p_listing_image">
<%end%>
</div> 
<% if params[:action] == "new" %> 
    <div class="row">
      <div class="col-xs-2">
        <label for="episodetype_tags">Episode Type Tags</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
      </div>
      <div class="col-xs-6">
        <% if @ott_show %>
          <% @ott_show["episodetype_tags"].each do |ett| %>
            <div class='checkbox'>
              <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" ><%= ett["display_title"].camelcase %></label>
            </div>
          <% end -%>
        <% else %>
          <% @ott_subcategory["episodetype_tags"].each do |ett| %>
            <div class='checkbox'>
              <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" ><%= ett["display_title"].camelcase %></label>
            </div>
          <% end -%>
        <% end -%>
          
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-xs-2">
        <label for="episodetype_tags">Episode Type Tags</label>
      </div>
      <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
      </div>
      <div class="col-xs-6">
        <% if @ott_show %>
          <% ott_subcategory_episode_type_tags = @ott_subcategory["episodetype_tags"] %>
          <% @ott_show["episodetype_tags"].each do |ett| %>
            <% if ott_subcategory_episode_type_tags .include? ett %>
              <div class='checkbox'>
                <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" checked><%= ett["display_title"].camelcase %></label>
              </div>
            <% else %>
               <div class='checkbox'>
                <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" ><%= ett["display_title"].camelcase %></label>
              </div>
            <% end %>
          <% end -%>
        <% else %>
          <% ott_nested_subcategory_episodetype_tags = @ott_nested_subcategory["episodetype_tags"] %> 
          <% @ott_subcategory["episodetype_tags"].each do |ett| %>
            <% if ott_nested_subcategory_episodetype_tags.include? ett %>
              <div class='checkbox'>
                <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" checked><%= ett["display_title"].camelcase %></label>
              </div>
            <% else %>
              <div class='checkbox'>
                <label><input type="checkbox" name="episodetype_tags[]" value="<%= ett['name'] %>-<%= ett['display_title'] %>" ><%= ett["display_title"].camelcase %></label>
              </div>
            <% end %>
          <% end -%>
        <% end -%>
          
      </div>
    </div>


  <% end -%>
   
</form>
