  <%if @show_data["subcategories_flag"] == "yes" %>
	$("#table_body").html("<%= j render 'subcategories/subcategory_items_body'%>");
	<% end %>
	<%if @show_data["episodes_flag"] == "yes" %>
	$("#table_body").html("<%= j render 'subcategories/episodes_items_body'%>");
	 <% end %>
