 <%if @subcategory_data["subcategories_flag"] == "yes" %>
	$("#table_body").html("<%= j render 'subcategories/nested_subcategory_items_body'%>");
	<% end %>
	<%if @subcategory_data["episodes_flag"] == "yes" %>
	$("#table_body").html("<%= j render 'subcategories/nested_episode_items_body' %>");
	 <% end %>


	 