<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Articles</li>
            <li class="active">Add Article</li>
        </ol>
    </div><!--/.row-->
    
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body tabs">


                    <div id="morefields" class="row morefields" style="display:none">
                    <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2">
                          <label>Role</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <input type="text" class="form-control input-sm" name="roles[]" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                          <label>Description</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""></textarea>
                          <!-- <input type="text" class="form-control input-sm" name="descriptions[]" value=""> -->
                        </div>
                    </div>
                    <!-- <div class="row">   
                        <div class="col-xs-2">
                          <label>Display Image</label>
                          </div>
                          <div class="col-xs-1">
                            <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                          </div>
                          <div class="col-xs-6">
                          <input type="text" class="form-control input-sm" name="images[]" value="">
                        </div>
                    </div> -->
                        </div>
                        </div>
                     </div>

                    <form class="form-horizontal" id="mediaForm" role="form" enctype="multipart/form-data">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#basic-info-tab" data-toggle="tab">Mandatory Metadata</a></li>
                            <%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
                            <li><a href="#metadata-tab" data-toggle="tab">Optional Metadata</a></li>
                            <li><a href="#people-tab" data-toggle="tab">Cast and Crew</a></li>
                            <%end%>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="basic-info-tab">


                             <% if !(@bg.plan=="ott_saas") %>
                             <div class="row">
                                    <div class="col-xs-2">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the media. Title shall be used to display on the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="title" name="title" value="<%if @edit_media%><%=@edit_media.title%>"<%else%>""<%end%>>
                                    </div>
                                </div>
                             
                                <%else%>
                                <div class="row">
                                <div class="error_media"  id="defaulterror"> </div>
                                    <div class="col-xs-2">
                                        <label for="title">Title</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the media. Title shall be used to display on the applications" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="title" onchange="titlecheck();" name="title" value="">
                                        <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
                                        <input type=hidden id="media_title" name="media_title">
                                        <input type=hidden id="signaturekey" name="signaturekey">
                                        <input type=hidden id="access_key" name="access_key">
                                        <input type=hidden id="acl" name="acl">
                                        <input type=hidden id="policy" name="policy">
                                        <input type=hidden id="signature" name="signature">
                                        <input type=hidden id="bucket" name="bucket">
                                        <input type=hidden id="domain_name" name="domain_name">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="error_media"  id="etid"> </div>
                                </div>
                                <%if @catalog["theme"] == "show"%>
                                <%if @show_data.nil?%>
                                <input type=hidden id="Esubcategory" name="Esubcategory" value="<%=@subcategory_data["title"]%>">
                                <input type=hidden id="subcategory_id" value="<%=@subcategory_id%>">
                                <%else%>
                                <input type=hidden id="Eshow" name="Eshow" value="<%=@show_data["title"]%>">
                                <input type=hidden id="show_id" value="<%=@show_id%>">
                                <%end%>
                                <%else%>
                                <input type=hidden id="Esubcategory" name="Esubcategory" value="">
                                <input type=hidden id="Eshow" name="Eshow" value="">
                                <input type=hidden id="show_id" value="">
                                <input type=hidden id="subcategory_id" value="">
                                <%end%>
                                


                            <div class="row">
                                    <div class="col-xs-2">
                                        <label>Catalog</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="The catalog that the item belongs to. The item shall be placed under the catalog" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@catalog["name"]%>" value="<%=@catalog["name"]%>" readonly>
                                        <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog_id%>">
                                    </div>
                                </div>

                                <div class="tenantscontainer" id="tenantscontainer" style="display:none;">
                                <% if @catalog["custom_tags"].length == 0%>
                                <%else%>
                                <div class="row">
                                <div class='col-xs-2'>
                                <label>Add Custom Fields</label>
                                </div>
                                <input type="hidden" name="tags" value="<%=@catalog["custom_tags"]%>">
                                <div class='col-xs-1'>
                                <img class='info_img' data-toggle='tooltip' title='Content' src='/assets/info_55x55.png' alt='dummy'></div>
                                </div>
                                <%@catalog["custom_tags"].each do |custom_tag|%>
                                <div class="row">
                                <div class="col-xs-12"></div>
                                <div class="col-xs-2">
                                <label><%=custom_tag["tag"]%></label>
                                </div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" name="<%=custom_tag["tag"]%>" onkeypress="return spacecheck(event);">
                                </div>
                                </div>
                                <%end%>
                                <%end%>
                                <div class="clear"></div>
                                <%@tenant_list.each do |tenant|%>
                                <div class='row'>
                                <div class='col-xs-2'>
                                <label>Tenant</label>
                                </div>
                                <div class='col-xs-1'></div>
                                <div class="col-xs-6">
                                <p class="mb0" name="tenants[]"><%=tenant["name"]%></p>
                                </div>
                                </div>

                                
                                <div class='row'>
                                <div class="error_media" id="appsid"></div>
                                <div class='col-xs-2'><label>Select Applications</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select set of applications that the item shall belong to. Item will be available only for the selected applications' src='/assets/info_55x55.png' alt='dummy'>
                                </div>
                                <div class='col-xs-6'>
                                <%tenant["applications"].each do |app|%>
                                <div class='checkbox'>
                                <label>
                                <input type="checkbox" name="apps[]" value="<%=app["a_id"]%>">
                                <%=app["a_name"]%></label>
                                </div>
                                <%end%>
                                </div>
                                </div>
                                
                                <div class='row'>
                                <div class="error_media" id="genresid"></div>
                                <div class='col-xs-2'><label>Select Genres</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select list of genres for the item' src='/assets/info_55x55.png' alt='dummy'></div>
                                <div class='col-xs-6'>
                                <%tenant["genres"].each do |genre|%>
                                <div class='checkbox'>
                                <label><input type="checkbox" name="genres[]" value="<%=genre%>"><%=genre%></label>
                                </div>
                                <%end%>
                                </div>
                                </div>

                                
                                <div class='row'>
                                <div class="error_media" id="languagesid"></div>
                                <div class='col-xs-2'><label>Select Languages</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title='You can select the language for the item' src='/assets/info_55x55.png' alt='dummy'></div>
                                <div class='col-xs-6'>
                                <select name='language[]' id='languagedd' class='form-control  input-sm'>
                                <option value=''>Select one from below</option>
                                <%tenant["languages"].each do |language|%>
                                <option id="language[]" value='<%=language%>'><%=language%></option>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                </div>

                                <div class="row">
                                  <div class="error_media"  id="eaid"> </div>
                                  <div class="col-xs-2">
                                    <label for="asset_id">Asset ID</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can add the asset ID here. This is a external ID that can be provided to the video" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="asset_id" name="asset_id" value="">
                                  </div>
                                </div>  

                                <input type="hidden" id="videoflag" name="videoflag">

                                <% if @catalog["videolist_tags"].nil? || @catalog["videolist_tags"].length == 0%>     
                                <script type="text/javascript">
                                // $(".tenantscontainer").show();
                                // $("#accesscontrol").show();
                                // var access = document.getElementById('accesscontrol');
                                // console.log(access);
                                // $("#videotagoption").hide();
                                </script>
                                <%else%>
                                <script type="text/javascript">
                                //Change in media flow
                                // $(".tenantscontainer").hide();
                                // $("#accesscontrol").hide();
                                // $("#videotagoption").show();

                                // $(".tenantscontainer").show();
                                // $("#accesscontrol").show();
                                // $("#videotagoption").hide();
                                // console.log("hide content");
                                </script>
                                
                            <script type="text/javascript">
                            // $("input:radio[name='videotagflag']").click(function(){
                            //                 if($(this).val() == "yes"){
                            //                 var videoflag = $(this).val();
                            //                 document.getElementById("videoflag").value= videoflag;
                            //                 console.log("videoflag"+videoflag);
                            //                 $(".VideoTagscontainer").show();
                            //                 $(".tenantscontainer").hide();
                            //                 $("#accesscontrol").hide();
                            //                 }

                            //                 if($(this).val() == "No"){
                            //                         var videoflag = $(this).val();
                            //                         document.getElementById("videoflag").value= videoflag;
                            //                         console.log("videoflag"+videoflag);
                            //                         $(".tenantscontainer").show();
                            //                         $("#accesscontrol").show();
                            //                         $(".VideoTagscontainer").hide();

                            //                     }
                            //                 });

                            </script>

                                <div class="row VideoTagscontainer" style="display:none;">
                                <div class="col-xs-2">
                                <label id="videotags" for="videotags">Select VideoList</label>
                                </div>
                                <div class="col-xs-1">
                                <img class="info_img" id="vimg" data-toggle="tooltip" title="You can select the videolist for the item" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div id="VideoTagscontainer" class="col-xs-6">
                                <%@catalog["videolist_tags"].each do |videotag|%>
                                <select name='videotags' id='videotagsid' class='form-control  input-sm'>
                                <option value=''>Select one from below</option>
                                <option id="videotags" value='<%=videotag%>'><%=videotag%></option>
                                </select>
                                <%end%>
                                </div>
                                </div>
                                <%end%>


                            <div id="tagscontainer" style="display :none">
                                  <label>Add Custom Fields</label>
                                </div>
                                
                                <!-- <label for="tenants[]">Tenant</label> -->
                                <div id="tenantcontainer" style="display:none;">
                                  "No tenants to display"
                                </div>

                                <div class="row" id="videotagoption" style="display :none">
                                <div class="col-xs-2">
                                <label>This catalog has videolists do you want to add the item as a video list ?</label>
                              </div>
                              <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can provide an option if you would like to add video as an item or as a videolist. The option shall be provided only if the catalog chosen has a video list. Video Lists can be used to form special lists such as trailers, video_songs under a item" src="/assets/info_55x55.png" alt="dummy">
                              </div>
                              <div class="col-xs-6">
                                <div class="radio">
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="yes">Yes</label>
                                  <label><input type="radio" id="videotagflag" name="videotagflag" value="No">No</label>
                                </div>
                              </div>
                            </div>

                            <div class="row VideoTagscontainer">
                                    <div class="col-xs-2">
                                <label id="videotags" for="videotags" style="display:none;">Select VideoList</label>
                                </div>
                                <div class="col-xs-1">
                                        <img class="info_img" id="vimg" style="display:none;" data-toggle="tooltip" title="You can select the videolist for the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div id="VideoTagscontainer" class="col-xs-6">
                                  <div></div>
                                </div>
                                </div>

                                <input type="hidden" id="videoflag" name="videoflag">


                            </div> 
                            <%end%>                           
                            <%if @bg.plan=="ott" || @bg.plan=="ott_saas" %>

                            <div class="tab-pane fade" id="metadata-tab">

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="description">Long Description</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can post the long description. You can select the html tags as needed. Applications shall use html tags to display the text appropriately" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 ckedit">
                                  <textarea class="form-control ckeditor input-sm" rows="5" id="description" name="description" value=""></textarea>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="short_description">Short Description</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can post the short description. You can select the html tags as needed. Applications shall use html tags to display the text appropriately" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 ckedit">
                                    <textarea class="form-control input-sm ckeditor" rows="5" id="short_description" name="short_description" value=""></textarea>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="sequence_no">Enter Article Order</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can select the order in which the item shall be displayed on the applicaitons. If not provided system will put the last added item first" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="1">
                                  </div>
                                </div>

                               

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="keywords">Keywords</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the set of keywords for the video. These keywords shall be indexed at the search engine" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="keywords" name="keywords" value="">
                                  </div>
                                </div>      
                

                                <div class="row">
                                  <div class="col-xs-2">                     
                                <label for="released_date">Release Date</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the release date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                <!-- <input type="date" id="released_date_string" name="released_date_string" placeholder="" value=""> -->
                                <input  type="text" class="form-control" id="release_date_string" name="release_date_string" placeholder="[YYYY/MM/DD]" >
                                </div>
                                </div>

                                <div class="row">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="published_date">Publish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the publish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="published_date" name="published_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="error_media"  id="pdid"> </div>
                                    <div class="col-xs-2">
                                        <label for="unpublished_date">Unpublish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the unpublish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="unpublished_date" name="unpublished_date" placeholder="[YYYY/MM/DD]">
                                    </div>
                                </div>


                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="rating">Rating</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the curated rating for the video. " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <!-- <input type="text" class="form-control input-sm" id="rating" name="rating" value="5"> -->
                                    <select name="rating" id="rating" class="form-control input-sm">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                  </div>
                                </div>

                                <!-- Start of image div -->
                                <!-- <div class="row" id="IMG">

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="featured_image">Featured Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to featured image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 upload-section">
                                  <form enctype="multipart/form-data">
                                  <input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:794px;height:447px;">
                                 
                                  </form>
                                  </div>
                                </div>
                                 <input type="hidden" id= "featured_image" name="featured_image"> -->

                

                                <!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="l_listing_image">Landscape Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to Landscape Image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 upload-section landscape-image">
                                    <input type="text" class="form-control input-sm" id="l_listing_image" name="l_listing_image" value=""> -->
                                  <!-- <form enctype="multipart/form-data">
                                  <input type="file" id="limg" class="choose-file"  name="limg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                                  
                                  </form>
                                  </div>
                                </div>
                                <input type="hidden" id= "l_listing_image" name="l_listing_image"> -->
 
                                <!-- <div class="row">
                                  <div class="col-xs-2">
                                    <label for="p_listing_image">Small Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to small image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6 upload-section small-image">
                                    <input type="text" class="form-control input-sm" id="p_listing_image" name="p_listing_image" value=""> -->
                                    <!-- <form enctype="multipart/form-data">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  
                                  </form>
                                  </div>
                                </div>    
                                <input type="hidden" id= "p_listing_image" name="p_listing_image">

                                </div>  -->
                                <!-- End of image div -->

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label>Change status</label>
                                    </div>    
                                    <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                       

                                    <div class="col-xs-6">
                                    <select id="status" name="status" class="form-control input-sm">
                                    <option value="edit">Edit</option>    
                                    <option value="published">Publish</option>
                                    </select>    
                                    </div>
                                </div>  
                                <!-- End of status -->

                                <div id = "accesscontrol" style="display:none;">
                                <div class="row">
                                <div class="col-xs-2">
                                <label>AccessControl</label>
                                </div>
                                </div>
                                <% if @accesscontrol.length == 0 %>
                                <%else%>
                                <%@accesscontrol.group_by { |d| d["name"] }.each do |k,v|%>
                                <div class="row">
                                <div class="col-xs-2"><label>Tenant</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6"><%=k%></div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Region</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="region[]" name="region[]" value="IN" >
                                </div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Select Access Control</label></div>
                                <div class="col-xs-1"></div>
                                <div class='col-xs-6'>
                                <select name='access_control_id[]' id='access_control_id' class='form-control  input-sm'>
                                <%v.each do |e|%>
                                <option id="access_control_id[]" value='<%=e["content_id"]%>'><%=e["title"]%></option>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                <%end%>

                                </div>

                            </div>

                            <!-- End of Metadata Tab -->
                            <div class="tab-pane fade" id="people-tab">
                              <div class="row">
                                <div class="col-xs-12">
                                    <% if !@people.blank? %>
                                    <div style="float:left;">
                                    <label>Select Person</label>
                                    </div>
                                    <br>
                                    <div class="col-xs-12"></div>
                                      <% @people.each do |person| %>
                                        <div >
                                          <input class="givemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>">
                                          <%= person["title"] %>
                                        </div>
                                      <br>
                                      <% end %>
                                    <% else %>
                                      <label>Please Add People to Catalog</label>  
                                    <% end %>  
                                </div>
                              </div>
                            </div>

                             <!-- <div class="tab-pane fade" id="accesscontrol-tab">
                             <div class="row" >
                                <div class="col-xs-12" id = "accesscontrol">
                                </div>
                                </div>
                            </div> -->

                            <%end%>


                            
                            <br><button type="button" class="btn btn-primary" id="submitMediaForm">Add Article</button>
                            
                        </div>

                            <% if @catalog["videolist_tags"].nil? || @catalog["videolist_tags"].length == 0%>     
                            <script type="text/javascript">
                            $(".tenantscontainer").show();
                            $("#accesscontrol").show();
                            var access = document.getElementById('accesscontrol');
                            console.log(access);
                            $("#videotagoption").hide();
                            </script>
                            <%else%>
                            <script type="text/javascript">
                            $(".tenantscontainer").show();
                            $("#accesscontrol").show();
                            $("#videotagoption").hide();
                            console.log("hide content");
                           
                            $("input:radio[name='videotagflag']").click(function(){
                                        if($(this).val() == "yes"){
                                        var videoflag = $(this).val();
                                        document.getElementById("videoflag").value= videoflag;
                                        console.log("videoflag"+videoflag);
                                        $(".VideoTagscontainer").show();
                                        $(".tenantscontainer").hide();
                                        $("#accesscontrol").hide();
                                        }

                                        if($(this).val() == "No"){
                                                var videoflag = $(this).val();
                                                document.getElementById("videoflag").value= videoflag;
                                                console.log("videoflag"+videoflag);
                                                $(".tenantscontainer").show();
                                                $("#accesscontrol").show();
                                                $(".VideoTagscontainer").hide();

                                            }
                                        });

                            </script>
                            <%end%>

                            

                    </form>

                </div>
            </div><!--/.panel-->
        </div>
    </div>
</div>
<div id="view_people"></div>

<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   

      $('#release_date_string').datepicker({
                    format: "yyyy-mm-dd"
                });
      $('#published_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
      $('#unpublished_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
});

function spacecheck(event) {
    if (event.keyCode == 13) {
        /*$("#submitMediaForm").click()*/
        return false;
    }
    if(event.charCode==32){
        return false;
    }
    }

  function validate(v){
    console.log(v)
if (document.getElementById('tvodcheck'+v).checked){
          $("#tvchecked"+v).show();
}else{
$("#tvchecked"+v).hide();
}

if (document.getElementById('svodcheck'+v).checked){
          $("#svchecked"+v).show();
}else{
$("#svchecked"+v).hide();
}

}

var lang = []
    
  function validateForm(){
    var field = $('#title').val();
    var videoflag = $('#videoflag').val();

    if (videoflag == "yes"){
      if ((field.trim()).length == 0) {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
        $("#title").css("border", "1px solid red");
        return false;
      }
      return true;
    }
    else{

      if ((field.trim()).length == 0) {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
        $("#title").css("border", "1px solid red");
        return false;
      }

      
      // if($('#status').val() == "published") {
      //     if($('#published_date').val().length == 0) {
      //       $("#pdid").text("Please Provide Publish Date!");
      //       $("#published_date").css("border", "1px solid red");
      //       return false;
      //     }
      // }

      if($('#asset_id').val().trim().length == 0) {
        $("#eaid").text("Please Provide Unique Asset Id!");
        $("#asset_id").css("border", "1px solid red");
        return false; 
      }



      var inputs = document.getElementsByName("language[]");
      if (inputs.length > 1) {
        for(i=0; i < inputs.length; i++)  {
          var langname = inputs[i].value;
          // alert("langname is:::"+langname);
          lang.push(langname); 
        }

        function duplicate( A ) {   
          var i, j, n;
          n=A.length;
          for (i=0; i<n; i++) {                       
            for (j=i+1; j<n; j++) {       
              if (A[i]==A[j]) 
                return true;
            } }
            return false;
        }
        //var newArray = duplicate(lang);
        if ( duplicate(lang) ) {}
        else{
          //alert("Please choose same language");
          $("#languagesid").text("Please choose same language");
          lang.length=0;
        }
        return duplicate(lang);
      }
      else {
        if (inputs.length == 0) {
           //alert("Please Select Language");
           $("#languagesid").text("Please Select Language");
           return false;
        }
        return true;
      }  
    }
  }


  // Image upload function 
    // var key = "<%#=@signature[:key]%>"
    // var AWSAccessKeyId = "<%#=@signature[:access_key]%>"
    // var acl = "<%#=@signature[:acl]%>"
    // var policy = "<%#=@signature[:policy]%>"
    // var signature = "<%#=@signature[:signature]%>"

$("#upvb").click(function(){
    var uvfileSelect = document.getElementById('upv');
    var media_title = document.getElementById("media_title").value;
    var uvfiles = uvfileSelect.files;
    console.log("files is::"+uvfiles);

    if (uvfiles.length == 0)
    {
        //alert("Please Choose Video");
        $("#upvid").text("Please Choose Video file");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
    }
    else
    {
        var videoupload = videovalidations(uvfiles);
    }
    }
});



$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    var media_title = document.getElementById("media_title").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var media_title = document.getElementById("media_title").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
       // alert("Please Provide Title!");
       $("#etid").text("Please Provide Title!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    // //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});

$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var media_title = document.getElementById("media_title").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});

function videovalidations(file){
    console.log("files size is:::::"+file[0].name);
    //       10530 208  52464391

         if (file[0].size > 50000000){
        //alert("Please Upload Image of Size less than 50MB");
        $("#upvid").text("Please Upload Video of Size less than 50MB");
        }
        else{
        console.log("video files"+file[0]);
        console.log("video files size===="+file[0].size);

        var key = document.getElementById("signaturekey").value;
        var awsAccessKeyId = document.getElementById("access_key").value;
        var acl = document.getElementById("acl").value;
        var policy = document.getElementById("policy").value;
        var signature = document.getElementById("signature").value;
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadvideo(key, awsAccessKeyId, acl, policy, signature, file)
    }
}

function uploadvideo(key, awsAccessKeyId, acl, policy, signature, file) {

      var media_title = document.getElementById("media_title").value;
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = document.getElementById("bucket").value;
      var domain_name = document.getElementById("domain_name").value;
      var fd = new FormData();

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: 'http://'+domain_name+'.s3.amazonaws.com/',
        processData: false,
        contentType: false,
        data: fd,
         xhr: function() {  // Custom XMLHttpRequest
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){ // Check if upload property exists
                myXhr.upload.addEventListener('progress',progressHandler, false); // For handling the progress of the upload
            }
            return myXhr;
        },

        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+domain_name+"/"+key+media_title+imgext
            console.log("imageurl is===="+imageurl);
            var res = imageurl.replace("https", "http");
            //var resenc = encodeURIComponent(res);
            document.getElementById("source_url").value = res;
              //alert('Video Uploaded Successfully');
              $("#upvid").text("Video Uploaded Successfully");
        },
        error: function (response) {
            console.log(response);
          //alert('Problem uploading Video');
          $("#upvid").text("Server Error/Cancelled! Can't upload video now. Try again.");
        }
  });
}

function progressHandler(event){
    document.getElementById('progressBar').value = 0;
    var percent = (event.loaded / event.total) * 100;
    document.getElementById('progressBar').value = Math.round(percent);
}

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = document.getElementById("signaturekey").value;
        var awsAccessKeyId = document.getElementById("access_key").value;
        var acl = document.getElementById("acl").value;
        var policy = document.getElementById("policy").value;
        var signature = document.getElementById("signature").value;
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var media_title = document.getElementById("media_title").value;
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = document.getElementById("bucket").value;
      var fd = new FormData();

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: 'http://'+domain_name+'.s3.amazonaws.com/',
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+domain_name+"/"+key+media_title+"-"+wid+"x"+hei+imgext
            console.log("imageurl is===="+imageurl);
            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}

      $('#submitMediaForm').click(function(){
        var status = true;

        <% if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
          status = validateForm();
        <% end %>


        if (status == true) {
        // var p_date = 
        var data = $('#mediaForm').serialize();
        var p_date = $('#published_date').val();
        var unp_date = $('#unpublished_date').val();
        if (p_date.trim().length > 0) {
            var published_date1 = new Date(p_date);
            var utc_published_date = new Date(p_date).getTime();
        }

        if (unp_date.trim().length > 0) {
            var utc_unpublished_date = new Date(unp_date).getTime();
        }

        $.ajax({
            url: '/articles/',
            data: data + "&utc_published_date=" + utc_published_date + "&utc_unpublished_date=" + utc_unpublished_date,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){

                    alert("Timed Out Wait for Response");
                }
                else{
                    //alert(JSON.parse(e.responseText)["error"]);
                    if (JSON.parse(e.responseText)["error"] == "Please Select Applications!"){
                        $("#appsid").text("Please Select Applications!");
                    }
                    if (JSON.parse(e.responseText)["error"] == "Please Select Genres!"){
                        $("#genresid").text("Please Select Genres!");
                    }
                    if (JSON.parse(e.responseText)["error"] == "Please provide valid play url"){
                        $("#playurl").text("Please provide valid play url!");
                    }
                    else{
                        $("#defaulterror").text(JSON.parse(e.responseText)["error"]);
                    }
                }
            },
            success: function(d){
                //window.location = "/media/view_all"
                window.location = "/catalogs/view_catalog/<%=@catalog_id%>"
            }
        });
        }
    });


     

    $('#custom_tag').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#custom-group').show();
        }else{
            $('#custom-group').hide();
        }
    });


    $(".con_add_field_button").click(function(e){
        e.preventDefault();
        var dd = document.createElement("div");
        $(dd).append('<div class="row mb0 mr0"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
        $(".constructor").append($(dd));     
        eventFormControl($(dd));           
    });

    $(".constructor").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    });


<% if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
    $(".ac_add_field_button").click(function(v){
                v.preventDefault();
                var vv = document.createElement("div");
                
                $(".acconstructor").append($(vv));
                vidoeeventFormControl($(vv));      
        });

        $(".acconstructor").on("click",".remove_field1", function(v){
                v.preventDefault(); $(this).parent('div').remove();
        });
<%end%>


    // $('.add-people').click(function(){
    //     $.ajax({
    //         url: '/people/get_people',
    //         type: 'GET',
    //         timeout: 120000,
    //         error: function(e,t){
    //             if (t == "timeout"){
    //                 alert("Timed Out Wait for Response")
    //             }
    //             else{
    //                 alert(JSON.parse(e.responseText)["error"]);
    //             }
    //         },
    //         success: function(d){
    //             $("#view_people").html(d);
    //             $('#viewModal2').modal('show');
    //         }
    //     });
    // });

    $(".givemorefields").click(function(){
        if ($(this).prop('checked').toString()=="true"){
          $("#morefields").clone().appendTo($(this).parent()).show();
        }
        else {
          $(this).parent().find("#morefields").remove();
        }
    });

</script>
 <!-- <script src="/assets/ckeditor.js"></script> -->

<script type="text/javascript">
$(document).ready(function(){

//     $('.ckeditor').ckeditor({
//         autoParagraph = false
// });

    // CKEDITOR.editorConfig = function( config ) {
    //     config.autoParagraph = false; 
    // };

    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
});    
</script>