<div class="modal fade" id="viewInstance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-primary">
					<div class="panel-heading">
						Instance Details
					</div>
					<div class="panel-body">
						Instance ID: <%=@instance_details["instance_id"]%><br>
						Public IP: <%=@instance_details["public_ip_addr"]%><br>
						State: <%=@instance_details["state"]%><br>
						Total No. of ECUs: <%=@instance_details["ecus"]%><br>
						Free ECUs: <%=@instance_details["ecus_available"]%><br>
						No. of Cores: <%=@instance_details["cores"]%><br>
						Total RAM: <%=@instance_details["ram"]%><br>
						Time Created: <%=@instance_details["time_created"]%>
					</div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --> 