<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">   
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Forgot Password</h1>
        </div>
    </div>        
    <div class="row">
    <div class="error_media"></div>
        <div class="col-xs-12">
                    <form class="form-horizontal" id="PasswordForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                <label for="passwords">New Password </label>
                                </div>
                                <div class="col-xs-6">
                                   <input type="password" id="bgpass" class="form-control" name="bgpass" placeholder="New Password" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="new_passwords">Confirm Password </label>
                                    </div>
                                    <div class="col-xs-6">
                                    <input type="password" id="new_password" class="form-control" name="new_password" placeholder="Confirm Password" >
                                </div>
                            </div>
                                 
                            <br>
                            <button type="button" class="btn btn-info center-block" id="submitPasswordForm">Reset Password</button>
                        </div>

                        <input type="hidden" id="uid" name="uid" value="<%=@userid%>">
                    </form>
        </div>
    </div>
</div>

<script type="text/javascript">

  function validateForm(){
  	var password = $('#bgpass').val();
  	var newpassword = $('#new_password').val();
  	if((password.trim().length) == 0){
  		//alert("Please Provide New Password!");
      $(".error_media").text("Provide New Password");
       $('#bgpass').css("border","1px solid red");
  		return false;
  	}

  	if((newpassword.trim().length) == 0){
  		//alert("Please Provide Confirm New Password!");
       $('#bgpass').css("border","1px solid #000");
      $(".error_media").text("Provide Confirm New Password");
       $('#new_password').css("border","1px solid red");
  		return false;
  	}

  	if((password.trim()) !== (newpassword.trim())){
  		//alert("Password didn't match!");
      $(".error_media").text("Password didn't match");
       $('#bgpass').css("border","1px solid #000");
       $('#new_password').css("border","1px solid red");
  		return false;
  	}

  		return true;
  }


	$('#submitPasswordForm').click(function(){
		var status = true;
		status = validateForm();
		if ( status == true) {
		var data = $('#PasswordForm').serialize();

    $("#submitPasswordForm").text("Submitting...");
    $('#submitPasswordForm').attr('disabled', 'disabled');

		$.ajax({
			url: '/verify_forgot_password',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
				if (t == "timeout"){
					alert("Timed Out Wait for Response")
				}
				else{
				  	//alert(JSON.parse(e.responseText)["error"]);
            $(".error_media").text(JSON.parse(e.responseText)["error"]);
            $('#submitPasswordForm').removeAttr('disabled');
            $("#submitPasswordForm").text("Reset Password");
				}
			},
			success: function(d){
				//alert("Your password has been reset. Please proceed to login");
        $(".error_media").html("Your password has been reset.Go to <a href='/'>Insta OTT </a> and then Sign In.");
				//window.location = "/"
			}
		});
	  }
	});
</script>