<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Business Groups</li>
            <li class="active">Add New Business Group</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New Business Group</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
    <div class="error_media"></div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="bgForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                   <input type="text" data-toggle="tooltip" class="form-control input-sm" id="name" name="name" placeholder="Any name of your choice" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="email">Admin Email ID</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="email" name="email" placeholder="user@company.com" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="plan">Plan</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select class="form-control input-sm" id="plan" name="plan">
                                        <!-- <option value="transcoding">Only Transcoding</option> -->
                                        <option value="ott_saas">OTT SAAS</option>
                                        <!-- <option value="ott">Transcoding with OTT</option> -->
                                    </select>
                                </div>
                            </div>

                            <!-- //   $('#plan').change(function() {
                            //       var plan_value = $(this).val();
                            //       if (plan_value != "transcoding") {
                            //          $("#ott_authtoken").show();
                            //       }
                            //       else {
                            //          $("#ott_authtoken").hide();
                            //       }
                            //    }); -->

                            <div class="row" id="baseurl" >
                                <div class="col-xs-2">
                                    <label for="tx_base_url">Transcoding API Base URL</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="tx_base_url" name="tx_base_url" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row" id="authtoken" >
                                <div class="col-xs-2">
                                    <label for="tx_auth_token">Transcoding API Authentication Token</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="tx_auth_token" name="tx_auth_token" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row" id="adminbaseurl" >
                                <div class="col-xs-2">
                                    <label for="admin_base_url">Admin API Base URL</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="admin_base_url" name="admin_base_url" placeholder="" value="">
                                </div>
                            </div>

                            <div class="row" id="streamingserver" >
                                <div class="col-xs-2">
                                    <label for="streamingserver">Streaming Server</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label><input type="radio" name="streaming_server" value="aws">AWS</label>
                                        <label><input type="radio" name="streaming_server" value="wowza">Wowza</label></br>
                                    </div>
                                </div>
                            </div>


                            
                             <!-- <div class="row" id="ott_authtoken" style="display:none">
                                <div class="col-xs-12">
                                    <label for="ott_auth_token">OTT Authentication Token</label>
                                    <input type="text" class="form-control input-sm" id="ott_auth_token" name="ott_auth_token" placeholder="" value="">
                                </div>
                            </div> -->

                            <br><button type="button" class="btn btn-primary" id="submitBGForm">Add Business Group</button>
                        </div>
                    </form>
                </div>
            </div><!--/.panel-->
        </div>
    </div>
</div>


<script type="text/javascript">

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {

            $.validator.addMethod("noSpace", function(value, element) { 
              return value.indexOf(" ") < 0 && value != ""; 
            }, "");

            $.validator.addMethod("alphanumeric", function(value, element) {
                return this.optional(element) || /^\w+$/i.test(value);
            }, "");

            //form validation rules
            $("#bgForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    name: {
                      required: true,
                      noSpace: true,
                      alphanumeric: true                    
                    },
                    email: {
                      required: true,
                      email: true
                    },
                    tx_base_url: "required",
                    tx_auth_token: "required",
                    admin_base_url: "required"
                },
                messages: {
                    name:{
                        
                      required: "THIS FIELD IS MANDATORY",
                      noSpace: "SPACES ARE NOT ALLOWED",
                      alphanumeric: "PLEASE USE ONLY LETTERS, NUMBERS and UNDERSCORES"                                          
                    },
                    email: {
                      required: "THIS FIELD IS MANDATORY",
                      email: "EMAIL ADDRESS MUST BE IN THE FORMAT OF name@domain.com"
                    },
                    tx_base_url: "THIS FIELD IS MANDATORY",
                    tx_auth_token: "THIS FIELD IS MANDATORY",
                    admin_base_url: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

// $(function(){
 
//     $('#name').keyup(function()
//     {
//         var yourInput = $(this).val();
//         re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
//         var isSplChar = re.test(yourInput);
//         if(isSplChar)
//         {
//             var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
//             $(this).val(no_spl_char);
//         }
//     });
 
// });
    
    // function validateForm(){
    //   var field = $('#name').val();
    //   if ((field.trim()).length == 0) {
    //     alert("Please Provide Name!");
    //     return false;
    //   }

    //   var field = $('#email').val();
    //   if ((field.trim()).length == 0) {
    //     alert("Please Provide Email Id!");
    //     return false;
    //   }

    //   var field = $('#tx_base_url').val();
    //   if ((field.trim()).length == 0) {
    //     alert("Please Provide Transcoding API Base URL!");
    //     return false;
    //   }

    //   var field = $('#tx_auth_token').val();
    //   if ((field.trim()).length == 0) {
    //     alert("Please Provide Transcoding API Authentication Token!");
    //     return false;
    //   }

    //   var field = $('#admin_base_url').val();
    //   if ((field.trim()).length == 0) {
    //     alert("Please Provide Admin API Base URL!");
    //     return false;
    //   }

    //   // var plan = $('#plan').val();
    //   // if ( plan != "transcoding" ) {
    //   //       var field = $('#ott_auth_token').val();
    //   //       if ((field.trim()).length == 0) {
    //   //           alert("Please Provide OTT Authentication Token!");
    //   //           return false;
    //   //       }
    //   // }

    //   return true;

    // }

    $('#submitBGForm').click(function(){
        
        //var status = validateForm();
        var status = $('#bgForm').valid();
        console.log(status);
        if (status == true) {
            var data = $('#bgForm').serialize();
            $.ajax({
                url: '/business_groups/',
                data: data,
                type: 'POST',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        //alert(JSON.parse(e.responseText)["error"]);
                        if (JSON.parse(e.responseText)["error"] == "BG_CMS"){
                            $(".error_media").text("BUSINESS GROUP NAME ALREADY REGISTRED");
                        }else{
                            $(".error_media").text("EMAIL ALREADY REGISTRED");
                        }
                        
                    }
                },
                success: function(d){
                    window.location = "/"
                }
            });
        }
    });
</script>