<style type="text/css">
    body {
    padding-left: 20px;
    padding-right: 20px;    
    padding-top: 60px;
    padding-bottom: 0px;
    }
    td {
    font-size: 13px;
    }
    .navbar {
    margin-bottom: 0px;
    }
    table {
        table-layout: fixed;
        word-wrap: break-word;
    }
    .popover-content {
    word-wrap: break-word;
    }
    ul {
        list-style-type: none;
        padding:0;
        margin:0;
    }
</style>
<script src="/assets/Chart.js"></script>
<h1><%=@heading%></h1>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#sectionA">Basic Info</a></li>
    <li><a data-toggle="tab" href="#sectionB">Media Info</a></li>
</ul>
<div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
        <br>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="table1" data_source="/business_groups/all" auto_refresh="10000" loader="false" entries_info="true">
                    <script type="text/javascript" >
                        $(document).ready(function(){
                            var table1 = new saranyutable("#table1");
                            table1.createBody = function createBody(_this) {            
                                $(_this.selector).find("thead").append(
                                    '<tr><th><lefft>Name<left></th><th><left>Transcoding Base URL</lefft></th><th><left>Transcoding Auth Token</left></th><th><left>OTT ID</left></th><th><left>OTT Auth Token</left></th><th><left>Admin Base URL</left></th><th><left>Plan</left></th><th><left>Actions</left></th></tr>');
                            };
                            table1.load();                      
                            table1.appendContent = function appendContent(data,_this){      
                                var tbody = $(_this.selector).find("tbody");
                                tbody.html(""); 
                                for ( var i = 0; i < data.list.length; i++) {
                                    //name
                                    // if(data.list[i].name.length > 15){
                                    //     name = data.list[i].name.substring(0,15)+"...."
                                    // }else{
                                        name = data.list[i].name
                                    // }
                                    
                                    //tx_base_url
                                    tx_base_url = data.list[i].tx_base_url
                                    //tx_auth_token
                                    tx_auth_token = data.list[i].tx_auth_token
                                    //ott_id
                                    ott_id = data.list[i].ott_id
                                    //ott_auth_token
                                    ott_auth_token = data.list[i].ott_auth_token
                                    //admin_base_url
                                    admin_base_url = data.list[i].admin_base_url
                                    //plan
                                    plan = data.list[i].plan
                                    //counts
                                    total_media_count = data.list[i].total_media_count
                                    published_media_count = data.list[i].published_media_count
                                    processing_media_count = data.list[i].processing_media_count
                                    error_media_count = data.list[i].error_media_count
                                    //chart
                                    chart = '<canvas id='+data.list[i].id+' width="100%"></canvas>'
                                    //actions
                                    actions = ""
                                    delete_disabled = ""
                                    <%if !(current_user.roles.include?"cms_manager")%>
                                    delete_disabled = "disabled"
                                    <%end%>
                                    actions = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-bg" bg-id='+data.list[i].id+'><span class="glyphicon glyphicon-remove"></button>'
                                    //append                
                                    tbody.append("<tr><td>" + name
                                        + "</td><td>" + tx_base_url
                                        + "</td><td>" + tx_auth_token
                                        + "</td><td>" + ott_id
                                        + "</td><td>" + ott_auth_token
                                        + "</td><td>" + admin_base_url
                                        + "</td><td>" + plan
                                        + "</td><td>" + actions
                                        +"</td></tr>");
                                }
                                load_actions();
                            };
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="sectionB" class="tab-pane fade">
        <br>
        <div class="container">
            <%@business_groups.each do |bg|%>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-xs-6">
                            <h3><%=bg["name"]%></h3>
                            <p>Total: <%=bg["total_media_count"]%></p>
                            <p>Published: <%=bg["published_media_count"]%></p>
                            <p>Processing: <%=bg["processing_media_count"]%></p>
                            <p>Error: <%=bg["error_media_count"]%></p>
                        </div>
                        <div class="col-xs-6">
                            <p><center><strong>MEDIA STATUS CHART</strong></center></p>
                            <div align="center">
                                <canvas id="bg<%=bg["id"]%>" width="100%"></canvas>
                            </div>
                            <script type="text/javascript">
                            var media_chart= document.getElementById("bg<%=bg["id"]%>").getContext("2d");
                            var pieData = [
                                {
                                    value : <%=bg["published_media_count"]%>,
                                    color : "#00FF00",
                                    label : 'Published'
                                },
                                {
                                    value : <%=bg["processing_media_count"]%>,
                                    color : "#FFFF00",
                                    label : 'Processing'
                                },
                                {
                                    value : <%=bg["error_media_count"]%>,
                                    color : "#FF0000",
                                    label : 'Error'
                                }
                            ];     
                            var pieOptions = {
                                segmentShowStroke : false,
                                animation : false,
                                scaleFontSize: 6
                            }
                            new Chart(media_chart).Pie(pieData, pieOptions);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
    </div>
</div>

<script type="text/javascript">
function load_actions() {
    $('.delete-bg').click(function(){
        $.ajax({
            url: '/business_groups/'+$(this).attr('bg-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>