      <% @user_list .each do |user| %>
                                    <% delete_disabled = "" %>
                                    <%if !(@current_user.roles.include? "cms_manager") %>
                                        <% delete_disabled = "disabled" %>
                                    <%end%>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_user_list.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= user["_id"] %></td>
                                        <td><%= user["email"] %></td>
                                        <td><%= user["roles"].join(",") %></td>
                                        <td>

                                            <button type="button" class="<%= delete_disabled %>' btn btn-xs btn-info edit-user" user-id='<%= user["_id"] %>'><span class="glyphicon glyphicon-pencil"></button>

                                            <button type="button" class="<%= delete_disabled %>' btn btn-xs btn-danger delete-user" user-id='<%= user["_id"] %>'><span class="glyphicon glyphicon-trash"></button>


                                        </td>  
                                        </tr>
                                <% end %> 