<!-- <br><br>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"> 
<form class="form-horizontal" id="PasswordForm" role="form">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="password" class="col-sm-5 control-label">Password</label>
				<div class="col-sm-7">
					<input type="password" id="password" class="form-control" name="password" placeholder="Password" value="">
				</div>
			</div>
			<div class="form-group">
				<label for="new_password" class="col-sm-5 control-label">New Password</label>
				<div class="col-sm-7">
					<input type="password" id="new_password" class="form-control" name="new_password" placeholder="New Password" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-5 control-label"></label>
				<div class="col-sm-7">
					<button type="button" class="btn btn-info" id="submitPasswordForm">Change Password</button>
					<a href="/" type="button" class="btn btn-danger" id="cancelPasswordForm">Cancel</a>
				</div>
			</div>
		</div>	  
	</div>
</form>
</div>
<br> -->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">   
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Change Password</h1>
        </div>
    </div>        
    <div class="row">
    <div class="error_media"></div>
        <div class="col-xs-12">
                    <form class="form-horizontal" id="PasswordForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                <label for="passwords">Current Password</label>
                                </div>
                                <div class="col-xs-6">
                                   <input type="password" id="password" class="form-control" name="password" placeholder="Password" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="new_passwords">New Password </label>
                                    </div>
                                    <div class="col-xs-6">
                                    <input type="password" id="new_password" class="form-control" name="new_password" placeholder="New Password" value="" onkeypress="return newpassword(event);">
                                </div>
                            </div>
                            <br>
                            <button type="button" class="btn btn-info" id="changePasswordForm" style="margin-left: 30%;">Change Password</button>
					        <a href="/" type="button" class="btn btn-danger" id="cancelPasswordForm">Cancel</a>
                        </div>
                    </form>
        </div>
    </div>
</div>

<script type="text/javascript">


function newpassword(event) {
    if (event.keyCode == 13) {
        $("#changePasswordForm").click()
        return false;
    }
    if(event.charCode==32){
        return false;
    }
}


  function validateForm(){
  	var password = $('#password').val();
  	var newpassword = $('#new_password').val();
  	if((password.trim().length) == 0){
  		//alert("Please Provide Password!");
  		$(".error_media").text("Please Provide Password!");
  		return false;
  	}

  	if((newpassword.trim().length) == 0){
  		//alert("Please Provide New Password!");
  		$(".error_media").text("Please Provide New Password!");
  		return false;
  	}
  		return true;
  }


	$('#changePasswordForm').click(function(){
		var status = true;
		status = validateForm();
		if ( status == true) {
		var data = $('#PasswordForm').serialize();
		$.ajax({
			url: '/users/change_password',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
				if (t == "timeout"){
					alert("Timed Out Wait for Response")
				}
				else{
				  	//alert(JSON.parse(e.responseText)["error"]);
				  	$(".error_media").text(JSON.parse(e.responseText)["error"]);
				}
			},
			success: function(d){
				//alert("Password Changed Successfully");
				$(".error_media").text("Password Changed Successfully");
				//window.location = "/"
			}
		});
	  }
	});
</script>