<div class="row" style="display: flex;justify-content: center;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="revenue_details">
       <table id="revenue_details_table">
      <tr>
        <th><left>Asset ID</left></th>
      
        <th><left>Asset Type</left></th>
      
        <th><left>Asset Name</left></th>
      
        <th><left>Seasons/Episodes</left></th>
     
        <th><left>Duration</left></th>
      
        <th><left>Views</left></th>
      
        <th><left>Total hours viewed</left></th>
      </tr>
      <%#= @all_media_data.inspect%>
      <% unless @all_media_data.blank?%>
      <%@all_media_data["merged_data"].each do |i| %>
      <tr>
        <td><%=i["asset_id"] unless i.blank? %></td>
        <td><%=i["catalog_name"] unless i["catalog_name"].blank?%></td>
        <td><%=i["title"] unless i.blank?%></td>
        <% if i["episodes"].blank? || i["seasons"].blank?%>
        <td>NA</td>
        <% else %>
        <td>NA</td>
        <% end %>
          <td><%= i["duration_string"] unless i["duration_string"].blank?%></td>
          <td><%=i["views"] %></td>
          <td><%=i["total_secs_viewed"].to_i / (60 * 60) %></td>
      </tr>
        <% end %>
       <% end %>
    </table>
 </div>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="license_details" style="display:none;">
   <table id="license_details_table">
      <tr>
        <th><left>Asset ID</left></th>
      
        <th><left>Asset Type</left></th>
      
        <th><left>Asset Name</left></th>
      
        <th><left>Seasons/Episodes</left></th>
     
        <th><left>Start Date</left></th>
      
        <th><left>License Expires on </left></th>
      </tr>
       <% unless @all_media_data.blank?%>
       <%@all_media_data["merged_data"].each do |i| %>
      <tr>
        <td><%=i["asset_id"] %></td>
        <td><%=i["catalog_name"] unless i["catalog_name"].blank?%></td>
        <td><%=i["title"]%></td>
        <% if i["episodes"].blank? || i["seasons"].blank?%>
        <td>NA</td>
        <% else %>
        <td>NA</td>
        <% end %>
          <td><%=convert_datetime_co i["published_date"] unless i["published_date"].blank?%></td>
          <td><%=convert_datetime_co i["unpublished_date"] unless i["unpublished_date"].blank?%></td>
      </tr>
        <% end %>
       <% end %>
    </table>
 </div>
  </div>