    <div class="content">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="row">
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 main_heading"><%#=current_user.first_name%><%=params[:content_owner_name].present? ? params[:content_owner_name] : current_user.first_name%></div>
     <div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="co_to_date" class="form-control date_range" value="">
</div>
     </div>
     <div class="row">
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right highlights">
       <h2>Highlights</h2>
     </div></div>
     <div class="row" style="display: flex;justify-content: center;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"  style="display: flex;align-items: center;padding: 0px;justify-content: center; border-bottom: 1px solid #517CC8;padding-bottom: 30px;">
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;"><div class="circular_dv" ><span class="circular_div_heading">Total titles available</span>
    <%#= current_user.inspect%>
      <a href="" class="quick_links_circle" style="background-color: #4472C4;"><span><%=@all_media_data["items_count"]%></span></a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;">
   <div class="circular_dv" > <span class="circular_div_heading">Total hours of content available</span>
      <a href="" class="quick_links_circle" style="background-color: #FFC000;"><span><%#=get_total_duration(@media_details)%><%=@all_media_data["duration_count"]%>&nbsp;Hrs</span></a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;"><div class="circular_dv" >
    <span class="circular_div_heading">Total hours consumed</span>
      <a href="#" class="quick_links_circle" style="background-color: #3B3838;"><span><%=@all_media_data["total_views"] %> Hrs</span></a></div>
    </div></div>
  </div>

       <div class="row">
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right highlights">
       <h2>Revenue</h2>
     </div></div>
     <div class="row" style="display: flex;justify-content: center;">
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12"  style="display: flex;align-items: center;padding: 0px;justify-content: center; border-bottom: 1px solid #517CC8;padding-bottom: 60px;">
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;">
    <%paid_amount = @advance_paid[1].blank? ? 0.0 : @advance_paid[1]%>
    <div class="circular_dv" ><span class="circular_div_heading"><%=@advance_paid[0].blank? ?  "" : (@advance_paid[0] == "INR") ? "Rs" : "$"  %><%= @advance_paid[1].blank? ? 0.0 : @advance_paid[1] %></span><br><span class="circular_div_heading">Advance paid</span>
     </div>
    </div><%#@generated_total_revenue = 1500.0%>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;">
   <div class="circular_dv" > <span class="circular_div_heading"><span class="circular_div_heading"><%=@advance_paid[0].blank? ?  "" : (@advance_paid[0] == "INR") ? "Rs" : "$"  %><%#=@generated_total_revenue%><%=@all_media_data["total_revenue"]%></span><br><span class="circular_div_heading">Generated total revenue</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding: 0px;"><div class="circular_dv" ><span class="circular_div_heading"><span class="circular_div_heading"><%=@advance_paid[0].blank? ?  "" : (@advance_paid[0] == "INR") ? "Rs" : "$"  %><%=total_revenue(@all_media_data["total_revenue"],paid_amount)%></span><br>
    <span class="circular_div_heading">Net payable</span>
     </div>
    </div></div>
  </div>
    <div class="row">
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right highlights">
       <h2>Asset Information</h2>
     </div>
     <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 pull-right rev_lic">
       <h3><span class="revenue">Revenue</span> | <span class="license">License</span></h3>
     </div>
     </div>
      <%#= @all_media_data.inspect%>
      <div id="content_owner_media_table">
     <%=render :partial => "content_owner_table"%></div>
  </div>
  <div class="ajax-progress"></div>
  </div>
  <script>
  $(document).ready(function(){
    // alert(1);
    $(".license").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
     'cursor' : 'pointer'
    });
      $(".revenue").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
    $(".license").click(function(){
      $("#license_details").show();
      $("#revenue_details").hide();
      $(".revenue").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
    'cursor' : 'pointer'
    });
      $(".license").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
  });
       $(".revenue").click(function(){
      $("#license_details").hide();
      $("#revenue_details").show();
      $(".license").css({
    'color' : '#338CCC', 
    'text-decoration' : 'underline',
    'cursor' : 'pointer'
    });
      $(".revenue").css({
    'color' : '#000', 
    'text-decoration' : 'none',
    'cursor' : 'default'
    });
  });
   })  
  </script>
  <script>
  $(document).ready(function(){
    $('#co_to_date').datepicker('setDate', new Date()); 
    var d = new Date();
    d.setDate(d.getDate() - 30);
    $('#co_from_date').datepicker('setDate', d);
     });
  function datepickerChangeDate(e){
              e.stopPropagation();
$(".ajax-progress").show();
    var from_date = $("#co_from_date").val();
    var to_date = $("#co_to_date").val();
    var co_data = <%= raw @all_catalog_items.flatten.to_json%>;
    console.log(co_data);
    if ((from_date.length != 0) & (to_date.length != 0))
    {
                    $.ajax({
                        url: 'content_owner_ga/date_range',
                        data:{from_date: from_date,
                          to_date: to_date,
                          cont_owner_data: co_data
                        },
                        type: 'POST',
                        timeout: 120000,
                        error: function(e){
                          $(".ajax-progress").hide();
                        },
                        success: function(d){
                        $("#content_owner_media_table").html("")
                        $("#content_owner_media_table").html(d)
                        $(".ajax-progress").hide();
                        }
                });
                 }
             }

  





  $('#co_from_date').datepicker({
                    // format: "yyyy-mm-dd"
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                  datepickerChangeDate(e)
  });
  $('#co_to_date').datepicker({
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                  datepickerChangeDate(e)
});
</script>
<style>
  div.ajax-progress {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('/assets/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid #688FB3;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
</style>