


<div class="row">
	<div class="col-xs-2">
		<label for="title">Title</label>
		</div>
		<div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Title')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
		<input type="text" class="form-control input-sm" id="title" name="title">
	</div>
</div> 

<div class="row">
	<div class="col-xs-2">
		<label for="description">Description</label>
		</div>
		<div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Description')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
		<textarea class="form-control input-sm" rows="5" id="description" name="description" placeholder="" value=""></textarea>
	</div>
</div>
</div>

<div class="row">
	<div class="col-xs-2">
		<label for="isfree">Is Free</label>
	</div>
	<div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" data-html="true" title="<%=t('add_ac_Is_Free')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
	<select name="isfree" id="isfree" class="form-control input-sm">
	<option value="yes">yes</option>
	<option value="no">No</option>
	</select>
	</div>
</div>


<div class="row">
<div class="col-xs-2">
<label for="is_tvod">Is Tvod</label>
</div>
<div class="col-xs-1">
<img class="info_img" data-toggle="tooltip" data-html="true" title="<%=t('add_ac_Is_Free')%>" src="/assets/info_55x55.png" alt="dummy">
</div>
<div class="col-xs-6">
<select name="is_tvod" id="is_tvod" class="form-control input-sm">
<option value="no">false</option>
<option value="yes">true</option>
</select>
</div>
</div>

<div class="row">
	<div class="col-xs-2">
		<label for="adsavailable">Ads Available</label>
	</div>
	<div class="col-xs-1">
           <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Ads_Available')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
	<select name="adsavailable" id="adsavailable" class="form-control input-sm">
	<option value="yes">yes</option>
	<option value="no">No</option>
	</select>
	</div>
</div>


<div class="row">
	<div class="col-xs-2">
	<label for="loginrequired">Login Required</label>
	</div>
	<div class="col-xs-1">
          <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Login_Required')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
	<select name="loginrequired" id="loginrequired" class="form-control input-sm">
	<option value="yes">yes</option>
	<option value="no">No</option>
	</select>
	</div>
</div>


<div class="row">
 	<div class="col-xs-2">
 		<label><b>Start Date</b></label>
 	</div>
 	<div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Start_Date')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
	<input  type="text" class="form-control" name="start_date" placeholder="YYYY-MM-DD"  id="sdate">
	</div>
</div>


<div class="row">
 	<div class="col-xs-2">
 		<label><b>End Date</b></label>
 	</div>
 	<div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_End_Date')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
	<input  type="text" class="form-control" name="end_date" placeholder="YYYY-MM-DD"  id="edate">
	</div>
</div>

<div class="">
	<div class="mlr-15">
		<div class="col-xs-2">
			 <label for="name">Pre Role Settings</label>
		</div>
	</div>
	<div class="clear"></div>
						
<div class="row"> 	
  	<div class="col-xs-2">
  		<label for="premobileadd">Mobile Ad Url</label>
  	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
	  	<input type="text" class="form-control input-sm" id="premobileadd" name="premobileadd" placeholder="" value="">
	</div>
</div>

<div class="row">
  	<div class="col-xs-2">
 	   <label for="preadd">Web Ad Url</label>
  	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
  	</div>
  	<div class="col-xs-6">
  		<input type="text" class="form-control input-sm" id="preadd" name="preadd" placeholder="" value="">
  	</div>
</div>	

<div class="row">					  
	<div class="col-xs-2">
	  	<label for="preactive">Active</label>
	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		<select name="preactive" id="preactive" class="form-control input-sm">
		<option value="yes">yes</option>
		<option value="no">No</option>
		</select>
	</div>
</div>	

<div class="row">	
    <div class="col-xs-2">
  		<label for="pretype">Type</label>
  	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		<input type="text" class="form-control input-sm" id="pretype" name="pretype" placeholder="" value="">
	</div>
</div>
</div>


<div class="">
<div class="mlr-15">
	<div class="col-xs-2">
	  <label for="name">Post Role Settings</label><br>
  </div>
</div>
<div class="clear"></div>

<div class="row">
	<div class="col-xs-2">
	  	 <label for="postmobileadd">Mobile Ad Url</label>
	</div>
	<div class="col-xs-1">
	     <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		 <input type="text" class="form-control input-sm" id="postmobileadd" name="postmobileadd" placeholder="" value="">
	</div>
</div>

<div class="row">
	<div class="col-xs-2">
	  	 <label for="postadd">Web Ad Url</label>
	</div>
	<div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
	  	 <input type="text" class="form-control input-sm" id="postadd" name="postadd" placeholder="" value="">
	</div>
</div>

<div class="row">
  	<div class="col-xs-2">
  		 <label for="postactive">Active</label>
    </div>
    <div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		<select name="postactive" id="postactive" class="form-control input-sm">
		<option value="yes">yes</option>
		<option value="no">No</option>
		</select>
	</div>
</div>		

<div class="row">
	<div class="col-xs-2">
  		 <label for="posttype">Type</label>
    </div>
    <div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
  	     <input type="text" class="form-control input-sm" id="posttype" name="posttype" placeholder="" value="">
	</div>
</div>
</div>	


<div class="">
<div class="mlr-15">
	<div class="col-xs-2">
	  	 <label for="name">Mid Role Settings</label><br>
  	</div>
</div>
<div class="clear"></div>														
<div class="row">
	<div class="col-xs-2">
	  	<label for="midmobileadd">Mobile Ad Url</label>
	</div>
	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		<input type="text" class="form-control input-sm" id="midmobileadd" name="midmobileadd" placeholder="" value="">
	</div>
</div>  

<div class="row">
   	<div class="col-xs-2">
  		 <label for="midadd">Web Ad Url</label> 
  	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
  		 <input type="text" class="form-control input-sm" id="midadd" name="midadd" placeholder="" value="">
  	</div>
</div>

<div class="row">  
  	<div class="col-xs-2">
  		 <label for="midrolefreq">Mid Role Frequency</label> 
    </div>
    <div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_freq')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
  	     <input type="number" class="form-control input-sm" id="midrolefreq" name="midrolefreq" placeholder="" value="5" min='1'>
  	</div>
</div>  

<div class="row">  
  	<div class="col-xs-2">
  		<label for="midactive">Active</label>
  	</div>
  	<div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
		<select name="midactive" id="midactive" class="form-control input-sm">
		<option value="yes">yes</option>
		<option value="no">No</option>
		</select>
	</div>
</div>


<div class="row">
	<div class="col-xs-2">
  		 <label for="midtype">Type</label>
  	</div>
  	<div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Type')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
  		 <input type="text" class="form-control input-sm" id="midtype" name="midtype" placeholder="" value="">
	</div>
</div>
</div>	



<div class="">

<div class="mlr-15">
	<div class="col-xs-2">
		 <label for="name">Overlay Settings</label><br>
	</div>
</div>	
<div class="clear"></div>
  
<div class="row">
	<div class="col-xs-2">
	  	<label for="overlaymobileadd">Mobile Ad Url</label>
	</div>
	<div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Mobile_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
	  	 <input type="text" class="form-control input-sm" id="overlaymobileadd" name="overlaymobileadd" placeholder="" value="">
	</div>
</div>

<div class="row">  
  	<div class="col-xs-2">
 		<label for="overlayadd">Web Ad Url</label> 
  	</div>
  	<div class="col-xs-1">
		 <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Web_Ad_Url')%>" src="/assets/info_55x55.png" alt="dummy">
	</div>
	<div class="col-xs-6">
  		 <input type="text" class="form-control input-sm" id="overlayadd" name="overlayadd" placeholder="" value="">
  	</div>
</div>  

<div class="row">
  	<div class="col-xs-2">
  		  <label for="overlayfreq">Overlay Frequency</label> 
  	</div>
  <div class="col-xs-1">
		<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_freq')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
  	<input type="number" class="form-control input-sm" id="overlayfreq" name="overlayfreq" placeholder="" value="5" min='1'>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
  	<label for="overlayactive">Active</label>
  </div>
  <div class="col-xs-1">
<img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_Active')%>" src="/assets/info_55x55.png" alt="dummy">
</div>
<div class="col-xs-6">
		<select name="overlayactive" id="overlayactive" class="form-control input-sm">
		<option value="yes">yes</option>
		<option value="no">No</option>
		</select>
</div>
</div>