
<% @data_list.each do |list| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate list["title"], length: 20%></td>
                                         <td><%= list["is_free"] ? "Yes" : "No"%></td>
                                         <td><%= list["ads_available"] ? "Yes" : "No"%></td>
                                         <td><%= list["login_required"]? "Yes" : "No" %></td>
                                         <% if @cusers_check && @cusers_length == 1 %>
                                         <%else %>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='<%= list["content_id"]%>'><span class="glyphicon glyphicon-pencil"></button></span>
                                        </td> 
                                        <% end %> 
                                        </tr>
                                <% end %>