       <%pageno = @page ? @page : 1
                                    @page = pageno
                               %>
                               <%page_size = @page_size.nil? ? 10 : @page_size%>
                               <%@page_size = page_size%>
                               <%if params[:title].blank?
    url = "/accesscontrol/get_all?tenant_id=#{@tid}&page=#{@page}&page_size=#{@page_size}"
else
     url = "/accesscontrol/get_all?tenant_id=#{@tid}&page=#{@page}&page_size=#{@page_size}&title=#{params[:title]}"
    end%>
       <div id="table5" data_source="<%=url%>" auto_refresh="100000000" loader="false" entries_info="true">
                                            <script type="text/javascript" >
                                                $(document).ready(function(){  
                                                var roles = <%= raw current_user.roles.to_json%>
                                                // var found = roles.includes('media_viewer');
                                                 var found = (roles.indexOf("media_viewer") > -1);
                                                var with_action = '<tr><th><left>Title</left></th><th><left>Is Free</left></th><th><left>Ads </left></th><th><left>Login</left></th><th><left>Actions</left></th></tr>'
                                                var with_out_actions = '<tr><th><left>Title</left></th><th><left>Is Free</left></th><th><left>Ads </left></th><th><left>Login</left></th></tr>'     
                                                    var table5 = new saranyutable("#table5");
                                                    table5.createBody = function createBody(_this) {            
                                                       if ((found == true) & roles.length == 1) 
                                                                {
                                                                    $(_this.selector).find("thead").append(with_out_actions
                                                                    );
                                                                }
                                                                else
                                                                {
                                                                    $(_this.selector).find("thead").append(with_action
                                                                    );
                                                                }
                                                    };
                                                    table5.load();                      
                                                    table5.appendContent = function appendContent(data,_this){      
                                                        var tbody = $(_this.selector).find("tbody");
                                                        tbody.html("");
                                                        if(data.items.length == 0)
                                                        {
                                                             tbody.append("<div>No matches Found</div>")
                                                        }
                                                        else
                                                        { 
                                                        for ( var i = 0; i < data.items.length; i++) {
                                                            catalog_id = data.items.catalog_id
                                                            is_free = data.items[i].is_free
                                                            if (is_free == true){
                                                                is_free = "Yes"
                                                            }
                                                            else{
                                                                is_free = "No"
                                                            }
                                                            ads_available = data.items[i].ads_available
                                                            if (ads_available == true){
                                                                ads_available = "Yes"
                                                            }
                                                            else{
                                                                ads_available = "No"
                                                            }
                                                            login_required = data.items[i].login_required
                                                            if (login_required == true){
                                                                login_required = "Yes"
                                                            }
                                                            else{
                                                                login_required = "No"
                                                            }
                                                            
                                                            // if (data.items.items[i].title.length > 15){
                                                            // title = data.items.items[i].title.substring(0,15)+"...."
                                                            // }else{
                                                            title = data.items[i].title
                                                            // }
                                                            content_id = data.items[i].content_id
                                                            actions = ""
                                                            // Need to Add delete in future
                                                            delete_disabled = ""

                                                            view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-eye-open"></button>'

                                                            edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='+content_id+'> <span class="glyphicon glyphicon-pencil"></button></span>'

                                                            delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-trash"></button></span>'

                                                            actions = edit_button+"&nbsp;"+delete_disabled
                                                            //append 
                                                            if ((found == true) & roles.length == 1) 
                                                                    {
                                                                        actions = ""
                                                                    }                
                                                            tbody.append("<tr><td>" +  title
                                                                + "</td><td>" + is_free
                                                                + "</td><td>" + ads_available
                                                                + "</td><td>" + login_required
                                                                + "</td><td>" + actions
                                                                +"</td><td class='cl_next_val' style='display:none;'>"+ data.nxt+"</td><td class='cl_page' style='display:none;'>"+data.pge+"</td><td class='psize' style='display:none;'>"+data.psize+"</td></tr>");
                                                        }
                                                        }
                                                        load_actions();
                                                        if(data.nxt == 0){
                                              $('#next_button').attr('disabled','disabled');
                                        }
                                        else
                                        {
                                          $('#next_button').removeAttr('disabled'); 
                                        }
                                        if(data.icount == 0)
                                            {
                                                $("#page_size").css('display','none');
                                                $("#titlesearch").css('display','none');
                                            }
                                        else
                                            {
                                                // alert(1)
                                                 $("#page_size").css('display','inline');
                                                 $("#titlesearch").css('display','inline');
                                            }
                                                    };
                                                });
                                            </script>
                    </div>

                    <script>
 $(document).ready(function(){
    var pg_size = "<%=params[:page_size]%>";
    if(pg_size.length != 0){
      $("#page_size").val(parseInt(pg_size));
    }
    });
  
    $('#next_button').click(function(){
    if ($('#table_body tbody').find('tr').length > 0)
                        {
                            $('.next_button').removeAttr('disabled');
                            $('.previous_button').removeAttr('disabled');
                             var next_val = $('.cl_next_val')[0].innerHTML
                             var page_size = $('.psize')[0].innerHTML
                            if(next_val == page_size)
                            {
                                $('.next_button').removeAttr('disabled');
                            }
                            else if(next_val < page_size)
                            {
                                $('.next_button').attr('disabled','disabled');
                            }
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
   
});
    $('#prev_button').click(function(){
     if ($('#table_body tbody').find('tr').length > 0)
                        {
                            $('.next_button').removeAttr('disabled');
                            $('.previous_button').removeAttr('disabled');
                            var next_val = $('.cl_next_val')[0].innerHTML
                             var page_size = $('.psize')[0].innerHTML
                           if(next_val == page_size)
                            {
                                $('.next_button').removeAttr('disabled');
                            }
                            else if(next_val < page_size)
                            {
                                $('.next_button').attr('disabled','disabled');
                            }
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
});


 $(document).on('change','#page_size',function() {
    
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        window.location.href = new_urlz;
        var next_val = $('.cl_next_val')[0].innerHTML
    var page_size = $(this).val()
    if(next_val > page_size)
                            {
                               $('#next_button').attr('disabled','disabled');
                            }
                            else
                            {
                                 $('#next_button').removeAttr('disabled');
                            }
       
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
</script>
<script>
$('#titlesearch').on("keyup", function(e)
        {
            pbar = false;
            var pageno = 1
            var psize = $('#page_size').val();
            var title = $('#titlesearch').val();
            if(/^[a-zA-Z0-9- ]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('#next_button').css('display','none');
                $('#prev_button').css('display','none');
            }
            else
            {
                $('#next_button').css('display','inline');
                $('#prev_button').css('display','inline');
                 var org_title = $.trim(title);
            var tenant_id = "<%=@tid%>";
            $.ajax({
                url: '/accesscontrol/view_all?title='+org_title+"&tenant_id="+tenant_id+"&page_size="+psize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                     success: function(e)
                    {
                       
                    },
                error: function(e,t)
                {
                  if (t == "timeout")
                  {
                    alert("Timed Out Wait for Response")
                  }
                  else
                  {
                    alert(JSON.parse(e.responseText)["error"]);
                  }
                }
            }).always(
                        function()
                        {
                            try
                            {
                                pbar=true;
                            }
                            catch(e)
                            {

                            }
                        });
        }
        });
</script>