<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Content Control</li>
        </ol>
    </div>
    

        <%if @all_tenants.count == 1%>
        <input type="hidden" id="tenantid" name="tenant_id[]" value="<%=@tid%>">
        <%#=render partial: "/access/view_all"%>
         <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                            <% else %>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/accesscontrol/new'">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Content Control
                </button><% end %><br><br>
                 <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4" style="width:15%;float: right;">
                             <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                <% [10, 25, 50, 100]. each do |ps| %>
                                    <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                        <div>
                        <table class = "table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Is Free</th>
                                    <th>Ads</th>
                                    <th>Login</th>
                                    <th><%=@cusers_check && @cusers_length == 1 ? "" : "Actions"%></th>
                                </tr>
                                 <tr>
                                    <td>
                                        <input type="text" placeholder="Enter Name" id="titlesearch" class="form-control input-sm search_input_textbox">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                            <%= render :partial => "access/access_view_all" %>
                            </tbody>
                        </table>
                    </div>
                        <div>
                    <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id =>'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id =>'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>
        <%else%>
                 <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    <label for="tenant_id">Select Tenant</label>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_ac_tenant')%>" src="/assets/info_55x55.png" alt="dummy">
                                                    </div>
                                                      <div class="col-xs-6">
                                                    <select name="tenant_id[]" id="tenant_id" class="form-control input-sm">
                                                        <option value="">Select one from below</option>
                                                        <%@all_tenants.each do |tenant|%>
                                                        <option value="<%=tenant.id%>"><%=tenant.name%></option>
                                                        <%end%>
                                                    </select>
                                                </div>
                                            </div>
                                      </div>
                                </div>
          <input type="hidden" id="tenantid" name="tenant_id[]">
   <%end%>

   <div id="accessdata"></div>

     </div>    
    </div>
  </div>  
 </div>

 <%= render :partial => "access/access_validations" %>
 <script type="text/javascript">
// function load_actions() {

    $('.edit-acescontrol').click(function(){
            window.location.href = '/accesscontrol/details?method=edit&tenant_id=<%=@tid%>&content_id='+$(this).attr('content_id');
        });
// };
    $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
</script>
<script>
$('#titlesearch').on("keyup", function(e)
        {
            pbar = false;
            var pageno = "<%=params[:page]%>"
            var psize = $('#page_size').val();
            var title = $('#titlesearch').val();
            if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('#next_button').css('display','none');
                $('#prev_button').css('display','none');
            }
            else
            {
                $('#next_button').css('display','inline');
                $('#prev_button').css('display','inline');
                 var org_title = $.trim(title);
            $.ajax({
                url: '/accesscontrol/view_all?title='+org_title+'&page='+pageno+'&page_size='+psize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                     success: function(e)
                    {
                       if ($('#table_body').find('tr').length > 0)
                       {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                    },
                error: function(e,t)
                {
                  if (t == "timeout")
                  {
                    alert("Timed Out Wait for Response")
                  }
                  else
                  {
                    alert(JSON.parse(e.responseText)["error"]);
                  }
                }
            }).always(
                        function()
                        {
                            try
                            {
                                pbar=true;
                            }
                            catch(e)
                            {

                            }
                        });
        }
        });

 $(document).ready(function(){
        var items = "<%= @data_list.blank? ? 0 : @data_list.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>
