<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
	<div class="row">
			<ol class="breadcrumb">
					<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
					<% if @show %>
						<li>Shows</li>
					<%else%>
						<li>Subcategories</li>
					<%end%>
					<li class="active">Add Episode</li>
			</ol>
	</div><!--/.row-->
	<!-- <div class="row">
			<div class="col-lg-12">
					<h1 class="page-header">Add Episode</h1>
			</div>
	</div> --><!--/.row-->
		<div class="row">
				<div class="col-xs-12">
						<div class="panel panel-default">
								<div class="panel-body tabs">
										<form class="form-horizontal" id="episodeForm" role="form">
												<div class="tab-content">
														<div class="row">
															
																<% if @show %>
																<div class="col-xs-2">
																	<label for="title">Show Title</label>
																	</div>
																		<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<input type="text" class="form-control input-sm" id="parenttitle" value="<%= @show["title"] %>" placeholder="<%= @show["title"]%>" readonly>
																	</div>
																	<input type="hidden" name="parentobj" value="<%= @show.as_json%>">
																	<input type="hidden" name="parent_flag" value="show">
																<% else %>
																<div class="col-xs-2">
																	<label for="title">Subcategory Title</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">										
																	<input type="text" class="form-control input-sm" id="parenttitle" value="<%= @subcategory["title"] %>" placeholder="<%= @subcategory["title"]%>" readonly>
																	</div>
																	<input type="hidden" name="parentobj" value="<%= @subcategory%>">
																	<input type="hidden" name="parent_flag" value="subcategory">
																<% end %>
															</div>
														
														<div class="row">
															<div class="col-xs-2">
																<label for="episode_id">Choose Episode</label>
																</div>
																<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																<select name="episode" class="form-control input-sm" id="episodedd">
																	<option value="">Select one from below</option>
																	<!-- <option value="new_episode">Add New Episode</option> -->
																	<% @episodes.each do |episode| %>
																		<option value="<%= episode%>"><%=episode['title']%></option>
																	<% end %>
																</select>
															</div>
														</div>
														<script type="text/javascript">
															$("#episodedd").change(function() {
																var type = $(this).val();
																if ( type == "new_episode") {
																	$("#metadata").show();
																}
																else {
																	$("#metadata").hide();
																}
															});
														</script>
														<div id="metadata" style="display: none">
															<div class="row">
																<div class="col-xs-2">
																	<label for="description">Title</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<input type="text" class="form-control input-sm" id="title" name="title" placeholder="" value="">
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																	<label for="description">Description</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<textarea class="form-control input-sm" rows="5" id="description" name="description" placeholder="" value=""></textarea>
																	<!-- <input type="text" class="form-control input-sm" id="description" name="description" placeholder="" value=""> -->
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																	<label for="rating">Rating</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<!-- <input type="text" class="form-control input-sm" id="rating" name="rating" placeholder="" value="5"> -->
								                                    <select name="rating" id="rating" class="form-control input-sm">
								                                        <option value="1">1</option>
								                                        <option value="2">2</option>
								                                        <option value="3">3</option>
								                                        <option value="4">4</option>
								                                        <option value="5">5</option>
								                                    </select>
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																	<label for="featured_image">Featured Image</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<input type="text" class="form-control input-sm" id="featured_image" name="featured_image" placeholder="" value="">
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																	<label for="l_listing_image">Landscape Image</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<input type="text" class="form-control input-sm" id="l_listing_image" name="l_listing_image" placeholder="" value="">
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																	<label for="p_listing_image">Portrait Image</label>
																	</div>
																	<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																	<input type="text" class="form-control input-sm" id="p_listing_image" name="p_listing_image" placeholder="" value="">
																</div>
															</div>

														  <div class="row mb0">
						                                  <div class="col-xs-12">
						                                    <div class="row mb0">
						                                    <div class="col-xs-2">
						                                      <label>Play URL</label>
						                                    </div>
						                                    <div class="col-xs-1">
						                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
						                                    </div>
						                                      <div class="form-group" id="custom-group">
						                                      <div class="col-xs-6">
						                                        <div class="constructor">
						                                        <button class="btn btn-xs btn-info con_add_field_button">Add More URLs</button>
						                                        <div class="row mb0 mr0">
						                                          <div class="col-xs-3">
						                                              <p>Source URL</p>
						                                          </div>
						                                          <div class="col-xs-3">
						                                              <p>URL</p>
						                                          </div>
						                                         <!--  <div class="col-xs-3">
						                                              <p>Width</p>
						                                          </div>
						                                          <div class="col-xs-3">
						                                              <p>Height</p>
						                                          </div> -->
						                                        </div>
						                                        <div class="row mb0 mr0"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option></select></div><div class="col-xs-3"><input type="text" class="form-control" name="url_names[]"></div><!-- <div class="col-xs-3"><input type="number" class="form-control" name="widths[]"></div><div class="col-xs-3"><input type="number" class="form-control" name="heights[]"></div> --><a href="#" class="remove_field">Remove</a></div>
						                                        </div>
						                                      </div>
						                                    </div>
						                                  </div>              
						                                  </div>
						                                </div>

															<div class="row">
																<div class="col-xs-2">
																<label>Default Play URL</label>
																</div>
																<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																<select name="default_url_type" class="form-control input-sm">
																	<option value="saranyu">Cinestaan</option>

																</select>
																</div>
															</div>

															<div class="row">
																<div class="col-xs-2">
																<label >Select Status</label>
																</div>
																<div class="col-xs-1">
								                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								                                    </div>
								                                      <div class="col-xs-6">
																<select name="status" id="status" class="form-control input-sm">
																		<option value="published">Publish</option>
																		<option value="edit">Edit</option>
																</select>
																</div>
															</div>

														</div>	
														<br><button type="button" class="btn btn-primary" id="submitEpisodeForm">Add Episode</button>
												</div>
										</form>
								</div>
						</div><!--/.panel-->
				</div>
		</div>
</div>
<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#episodeForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    episode: "required",
                    title: "required",
                    featured_image: "required",
                    l_listing_image: "required",
                    p_listing_image: "required",
                    'url_names[]': "required"
                },
                messages: {
                  episode: "THIS FIELD IS MANDATORY",
                  title: "THIS FIELD IS MANDATORY",
                  featured_image: "THIS FIELD IS MANDATORY",
                  l_listing_image: "THIS FIELD IS MANDATORY",
                  p_listing_image: "THIS FIELD IS MANDATORY",
                  'url_names[]': "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);
		
		// function validateForm(){
		// 		var field = $('#title').val();
		// 		if ((field.trim()).length == 0) {
		// 				alert("Please Provide Title!");
		// 				return false;
		// 		}
		// 		return true;
		// }

		$('#submitEpisodeForm').click(function(){

				// var status = validateForm();
				var status = $('#episodeForm').valid();
				console.log(status);
			
				if (status == true) {
				var data = $('#episodeForm').serialize();
				$.ajax({
						url: '/episodes/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								var res = d.response;
								window.location = "/catalogs/view_catalog/" + res.catalog_id
								// window.location = "/media/view_all"
						}
				});
				}
		});

		$('#custom_tag').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#custom-group').show();
        }else{
            $('#custom-group').hide();
        }
    });


    $(".con_add_field_button").click(function(e){
        e.preventDefault();
        var dd = document.createElement("div");
        $(dd).append('<div class="row"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-3"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
        $(".constructor").append($(dd));     
        eventFormControl($(dd));           
    });

    $(".constructor").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    });
		
</script>