    <% @bs_groups.each do |bg_setting| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate bg_setting["name"], length: 20%></td>
                                         <td><%= bg_setting["tx_base_url"] %></td>
                                         <td><%= bg_setting["ott_id"] %></td>
                                         <td><%= bg_setting["plan"] %></td>
                                        <!--  <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-ps" ps-id='<%#= bg_setting["_id"] %>'><span class="glyphicon glyphicon-remove"></button></span>
                                        </td> -->  
                                        </tr>
        <% end %>
