<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cinestaan - Login</title>
     <script src="/assets/jquery-1.11.1.min.js"></script>   
    <!-- <link rel="stylesheet" href="assets/css/reset.css"> -->
    <style type="text/css">
      /*
        HTML5 Reset :: style.css
        ----------------------------------------------------------
        We have learned much from/been inspired by/taken code where offered from:
        Eric Meyer          :: http://meyerweb.com
        HTML5 Doctor        :: http://html5doctor.com
        and the HTML5 Boilerplate :: http://html5boilerplate.com
      -------------------------------------------------------------------------------*/

      /* Let's default this puppy out
      -------------------------------------------------------------------------------*/

      html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font-weight: normal;
        vertical-align: baseline;
        background: transparent;
      }

      main, article, aside, figure, footer, header, nav, section, details, summary {display: block;}

      /* Handle box-sizing while better addressing child elements:
         http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
      html {
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      /* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

      /* Responsive images and other embedded objects */
      /* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
      img,
      object,
      embed {max-width: 100%;}

      /*
         Note: keeping IMG here will cause problems if you're using foreground images as sprites.
        In fact, it *will* cause problems with Google Maps' controls at small size.
        If this is the case for you, try uncommenting the following:
      #map img {
          max-width: none;
      }
      */

      /* force a vertical scrollbar to prevent a jumpy page */
      html {overflow-y: scroll;}

      /* we use a lot of ULs that aren't bulleted.
        you'll have to restore the bullets within content,
        which is fine because they're probably customized anyway */
      ul {list-style: none;}

      blockquote, q {quotes: none;}

      blockquote:before,
      blockquote:after,
      q:before,
      q:after {content: ''; content: none;}

      a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

      del {text-decoration: line-through;}

      abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

      /* tables still need cellspacing="0" in the markup */
      table {border-collapse: separate; border-spacing: 0;}
      th {font-weight: bold; vertical-align: bottom;}
      td {font-weight: normal; vertical-align: top;}

      hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

      input, select {vertical-align: middle;}

      pre {
          white-space: pre; /* CSS2 */
          white-space: pre-wrap; /* CSS 2.1 */
          white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
          word-wrap: break-word; /* IE */
      }

      input[type="radio"] {vertical-align: text-bottom;}
      input[type="checkbox"] {vertical-align: bottom;}
      .ie7 input[type="checkbox"] {vertical-align: baseline;}
      .ie6 input {vertical-align: text-bottom;}

      select, input, textarea {font: 99% sans-serif;}

      table {font-size: inherit; font: 100%;}

      small {font-size: 85%;}

      strong {font-weight: bold;}

      td, td img {vertical-align: top;}

      /* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
      sub, sup {font-size: 75%; line-height: 0; position: relative;}
      sup {top: -0.5em;}
      sub {bottom: -0.25em;}

      /* standardize any monospaced elements */
      pre, code, kbd, samp {font-family: monospace, sans-serif;}

      /* hand cursor on clickable elements */
      .clickable,
      label,
      input[type=button],
      input[type=submit],
      input[type=file],
      button {cursor: pointer;}

      /* Webkit browsers add a 2px margin outside the chrome of form elements */
      button, input, select, textarea {margin: 0;}

      /* make buttons play nice in IE */
      button,
      input[type=button] {width: auto; overflow: visible;}

      /* scale images in IE7 more attractively */
      .ie7 img {-ms-interpolation-mode: bicubic;}

      /* prevent BG image flicker upon hover
         (commented out as usage is rare, and the filter syntax messes with some pre-processors)
      .ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
      */

      /* let's clear some floats */
      .clearfix:after { content: " "; display: block; clear: both; }
    </style>

    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <style type="text/css">
      body {
        font-family: Verdana, Arial, Times New Roaman;
        background: #f8f7f4;
      }

      a {
        color: #1e8af8;
        text-decoration: none;
      }

      html {
          position: relative;
          min-height: 100%;
      }

      .hide {
        display: none;
      }

      /* Header  Starts */

      header {
        border-bottom: 1px solid #5a5a5a;
        padding: 1em 1em;
        float: left;
        width: 100%;
        background-color: #ffffff;
      }

      #tw img {
        height: 50px;
        vertical-align: middle;
      }

      #tw {
        float: left;
      }

      /* User Login Form */

      #ul-con {
          background: #f8f7f4;
          border-top: 2px solid #5a5a5a;
          padding: 2em 0;
          float: left;
          width: 100%;
      }

      #ul-con .content {
        width: 35%;
        margin: 0 auto;
      }

      #ul-con .content .form-group {
        display: block;
        padding-bottom: 1.5em;
      }

      #ul-con .content label {
        display: block;
        padding: 0.5em 0;
        color: #666666;
        font-size: 1em;
      }

      #ul-con .content input {
        border: 1px solid #cccccc;
        color: #666666;
        font-size: 1em;
        padding: 0.5em;
        width: 100%;
      }

      #ul-con .content button {
        background: transparent;
        color: #5a5a5a;
        border: 0;
        padding: 1em 3em;
        border: 2px solid #000000;
        font-weight: bold;
      }

      #forgotPass {
        float: right;
        font-size: 0.9em;
        margin: 0.3em 0;
      }

      @media screen and (max-width: 640px) {
        #ul-con .content {
          width: 80%;
        }
      }

      /* Footer */

      footer {
        background: #000;
        padding: 1.5em 1em;
        float: left;
        color: #ffffff;
        font-size: 0.8em;
        position: absolute;
          left: 0;
          bottom: 0;
          height: 100px;
          width: 100%;
      }

      h6.error{
        color: red;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="tw">
        <img src="/assets/web_logo-cinestaan-med-header.png" alt="Cinestaan Logo" />
      </div>
    </header>

    <section id="ul-con" class="content-wrapper">
      <div class="content">
        <h6 class="error">
            <% if flash[:danger] %>
            <div class="danger"><%= flash[:danger] %></div>
            <% end %>
        </h6>
        <%= form_tag('/users/login', :method => "POST" ,:class => "form-horizontal") do  -%>
          <%= content_tag(:div) do  %>
            <%= label_tag :email %>
            <%= email_field_tag :email, "",:required => true, :placeholder => "Email*" %>
            <%#= email_field_tag :email, :required => true , :placeholder => "Email *" %>
          <% end -%>
          <%= content_tag(:div) do  %>
            <%= label_tag :password %>
            <%= password_field_tag :password,"", :required => true, :placeholder => "Password*" %>
          <% end -%>
          <%= content_tag(:div) do  %>
            <br>
            <%= submit_tag('Sign In', :class => "btn btn-lg btn-default full-width", :data => { :disable_with => "Signing In..." }) %>
          <% end -%>
        <% end -%>
      </div>
    </section>

    <footer>
      &copy;copyright 2017 Cinestaan Digital Pvt. Ltd. All rights reserved.
    </footer>
  </body>
</html>

