<style type="text/css">
    body {
  	padding-top: 0px;
  	padding-bottom: 0px;
  	}
	td {
	font-size: 13px;
	}
	.navbar {
	margin-bottom: 0px;
	}
</style>

<div class="container-fluid" style="background-color: #4F2F4F;">
  <div class="row">
    <div class="col-xs-4" align="center">
      <br>
      <img src="/assets/devices.png">
    </div>
    <div class="col-xs-8">
      <%if !current_user%>
      <form class="form-horizontal" id="TrialForm" role="form">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active" style="height: 380px;">
              <div class="container">
                <div class="carousel-caption">
                  <div id="source_url" class="form-group">
                    <h2>Let's get started!</h2>
                    <h2>Where is your source video?</h2>
                    <br>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-3">
                          <select value="HTTP" class="form-control">
                            <option value="FTP">FTP</option>
                            <option value="HTTP" disabled="disabled">HTTP</option>
                            <option value="S3" disabled="disabled">S3</option>
                          </select>
                        </div>
                        <div class="col-xs-9">
                          <input type="text" class="form-control" name="source_url" placeholder="http:// or ftp://" value="ftp://cms:welcome123@198.50.108.234/mnt/cms/bigbunnyshort.mp4">
                        </div>
                      </div>
                    </div>
                    <br><p><a class="btn btn-lg btn-success" href="#myCarousel" role="button" data-slide="next">Submit Video</a></p>
                </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="container">
                <div class="carousel-caption">
                  <div id="email" class="form-group">
                    <br>
                    <h2>What email address do you want the media to be delivered to?</h2>
                    <input type="text" class="form-control" name="email" placeholder="yourname@company.com">
                    <br><p><a class="btn btn-lg btn-primary" href="#myCarousel" role="button" data-slide="prev">Go back and edit source URL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-lg btn-success" id="submitTrialForm">Finish!</button></p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <%else%>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="container">
                <div class="carousel-caption">
                  <br>
                  <h1>Welcome to Saranyu CMS!</h1>
                  <%if current_user.roles.include?"cms_manager"%>
                  <h3>You're the boss! Access all Business Groups from above navigation bar!</h3>
                  <%else%>
                  <h3>Access and Manage all your media from this dashboard</h3>
                  <br><p><a class="btn btn-lg btn-primary" href="/dashboard" role="button">View Dashboard</a></p>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active" style="background: yellow;">
      	<div class="container-fluid">
          <div class="row">
            <div align="center" style="color:gray;" class="col-xs-6">
              <br>
              <center><h1><strong>Multiscreen</strong> Media Workflow</h1></center>
              <br>
              <div class="col-xs-6">
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Multi-Source Ingestion</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Real Time Transcoding</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Mutiple Video Profiles</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Mobile Publishing and Delivery</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Security &amp; Encryption</strong></p>
              </div>
              <div class="col-xs-6">
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Smart Video URLs</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; REST based API</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Meta Data, Search &amp; Discovery</strong></p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Powerful Video Analytics</p>
                <p><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; <strong>Device Apps &amp; Player</strong></p>
              </div>
            </div>
            <div align="center" class="col-xs-6">
              <br>
              <embed width="480" height="270" src="https://www.youtube.com/v/XSGBVzeBUbk">
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
	$('#submitTrialForm').click(function(){
		var data = $('#TrialForm').serialize();
		$.ajax({
			url: '/users/trial/create',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
				if (t == "timeout"){
					alert("Timed Out Wait for Response")
				}
				else{
				  	alert(JSON.parse(e.responseText)["error"]);
				}
			},
			success: function(d){
				window.location = "/users/trial/check_email"
			}
		});
	});
	
</script>			