<% if @couponitems.present? %>
											<% @couponitems.each do |coupon| %>
												<tr>
												<td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    			<td class="cl_page" style="display:none;"><%= params[:page]%></td>
													<td><%= coupon["title"].present? ? coupon["title"].truncate(27) : 'COUPON' %></td>
													<td><%= coupon["coupon_type"] %></td>
													<td><%= coupon["coupon_amt"].present? ? coupon["coupon_amt"] : 'NA' %></td>
													<td><%= coupon["coupon_count"].present? ? coupon["coupon_count"] : 'NA' %></td>
													<!-- <td><span class="inline-block" data-toggle="tooltip" title="Download CSV"><button type="button" class="btn btn-xs btn-info btn-download-csv" data-coupon-id="<%#= coupon["_id"]["$oid"] %>"><span class="glyphicon glyphicon-save"></button></span></td> -->
													<td><%= link_to "Download CSV",  generate_coupon_csv_path(format: "csv", coupon_id: coupon["_id"]["$oid"]), :class=>"btn btn-primary" %>
														
														<%#= link_to "Status",  generate_status_csv_path(coupon_id: coupon["_id"]["$oid"]), :class=>"btn btn-primary", remote: true, method: :get %>
														<button class="btn btn-primary status-csv" data-coupon-id="<%= coupon["_id"]["$oid"] %>">
															Status
														</button>
														<button class="btn btn-primary delete_coupon" data-coupon-id="<%= coupon["_id"]["$oid"] %>">
															Delete
														</button>
													</td>
												</tr>	
											<% end %>
										<% end %>