<% if @response['status'] && @couponitems.present? %>
	$('#table_body').html("<%= j render 'coupon_code/generate_coupons_body' %>")
<% else %>
	alert("<%= @response['body']['message'] %>");	
<% end %>