<%#= render :partial => 'shared/breadcrum_style' %>
<%#= render :partial => 'shared/table_style' %>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li class="active" title="Coupons">Coupons</li>
		</ol>
	</div>
	<div class="row generated-coupons" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
				 <div class="row">
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4" style="width:15%;float: right;margin-right: 15px;margin-top: 15px;">
                             <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                <% [10, 25, 50, 100]. each do |ps| %>
                                    <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
					<ul class="nav nav-pills">
						<!-- <li class="active"><a href="#pilltab5" data-toggle="tab">Coupons</a></li> -->
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="pilltab5">
						    <div class="panel">
								<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/generate_coupon_codes?tenant_id=<%=@tid%>'">
											<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Generate Coupon
								</button>
							<div>
								<br>
								<table class="table table-bordered table-striped">
									<thead>
										<th>Coupon Title</th>
										<th>Coupon Type</th>
										<th>Amount</th>
										<th>No. Coupons</th>
										<th>Action</th>
										<tr>
                                    	<td>
                                        <input type="text" placeholder="Enter Name" id="titlesearch" class="form-control input-sm search_input_textbox">
                                    	</td>
                                    	<td></td>
                                    	<td></td>
                                    	<td></td>
                                    	<td></td>
                                </tr>
									</thead>
									<tbody id="table_body">
									  <%= render :partial => "coupon_code/generate_coupons_body" %>
									</tbody>	
								</table>
							</div>
							       <div>
                   <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id => 'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id => 'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                         
                    </div>       
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="userdata"></div>	
<div id="view_sub_info"></div>

<script>
	
	$(function(){
		$('.generated-coupons').on('click', '.btn-download-csv', function(){
			couponID = $(this).data('coupon-id');
			$.ajax({
				url: '/generate_coupon_csv',
				data: {coupon_id: couponID},
				type: 'GET',
				dataType: "text/csv"
			});	
		});

		$('.generated-coupons').on('click', '.status-csv', function(){
			couponID = $(this).data('coupon-id');
			$.ajax({
				url: '/generate_status_csv',
				data: {coupon_id: couponID},
				type: 'GET',
				dataType: "Script"
			});	
		});

        $('.generated-coupons').on('click', '.delete_coupon', function(){
            couponID = $(this).data('coupon-id');
            if (confirm("Are you sure!")){
                 $.ajax({
                    url: '/delete_generated_coupons',
                    data: {coupon_id: couponID},
                    type: 'GET',
                    dataType: "Script"
                });
            }
        });
	});

	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>

<script>
        $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    $('#titlesearch').on("keyup", function(e)
        {
            pbar = false;
            var pageno = "<%=params[:page]%>"
            var psize = $('#page_size').val();
            var title = $('#titlesearch').val();
            if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                 $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
                }
                else
                {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                 var org_title = $.trim(title);
            $.ajax({
                url: '/coupons/generated_coupons?title='+org_title+'&page='+pageno+'&page_size='+psize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                     success: function(e)
                    {
                       if ($('#table_body').find('tr').length > 0)
                           {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                    },
                error: function(e,t)
                {
                  if (t == "timeout")
                  {
                    alert("Timed Out Wait for Response")
                  }
                  else
                  {
                    alert(JSON.parse(e.responseText)["error"]);
                  }
                }
            }).always(
                        function()
                        {
                            try
                            {
                                pbar=true;
                            }
                            catch(e)
                            {

                            }
                        });
        }
        });

 $(document).ready(function(){
        var items = "<%= @couponitems.blank? ? 0 : @couponitems.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>
