<%- headers = ["CODE", "STATUS", "START DATE", "EXPIRE DATE"] -%>
<%= CSV.generate_line headers %>
<%- @coupons["body"]["u_codes"].each do |data| -%>
<%- if data['end_date'].present? -%>
<%= CSV.generate_line(["#{data['u_code']}", "#{data['status']}", "#{data['start_date']}", "#{data['end_date']}"]) -%>
<%- else -%>	
<%= CSV.generate_line(["#{data['u_code']}", "#{data['status']}", "#{data['start_date']}", "#{data['start_date']}"]) -%>
<%- end -%>
<%- end -%>