<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %>!</h1>
    <p>Welcome to Saranyu Encoder and CMS.</p>
    <p>Login Credentials:</p>
    <p>Email: <%= @user.email %><p>
    <p>Password: <%= @password %><p>
    <p>Follow this link to login and access your transcoded media:</p>
    <a href="http://<%=get_cms_public_url%>">Insta OTT</a>
  </body>
</html>