<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<table width='100%' cellpadding='2' cellspacing='2' frame='box' rules='none' style='border-color:white;'>
               <tr>
                    <td  style='border-bottom: 3px solid grey'>
                        <img style='height: 50px; padding-left: 30px;' src='http://<%=get_cms_public_url%>/assets/logo.png'>
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>Dear 
                            <b> <%= @user.email %> </b>
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                        Reset your Insta OTT password by following the below steps:
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>1. Click the Reset Password button or click the link or copy the link and paste it into a web browser.</td>
                    </tr>
                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            <a  style = "background: #2888C6;  border-radius: 4px;
                      color: #fff;
                      padding: 7px 10px;
                      font-size: 20px;
                      text-decoration: none;" href="http://<%=get_cms_public_url%>/reset_password/<%= @user.forgot_verification_key %>">Reset Password</a>
                        </td>
                    </tr>

                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            <a href="http://<%=get_cms_public_url%>/reset_password/<%= @user.forgot_verification_key %>">http://<%=get_cms_public_url%>/reset_password/<%= @user.forgot_verification_key %></a>
                        </td>
                    </tr>

                    <tr>
                        <td  style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;'>
                            2. Follow the on-screen instructions to reset your password
                        </td>
                    </tr>

                    <tr>
                        <td style='padding-left: 20px;font-size: small;font-family:arial;padding-top: 20px;padding-bottom: 50px;padding-top: 20px;'>Best Regards, 
                            <br/>Team 
                            <a href="http://<%=get_cms_public_url%>">Insta OTT</a>
                        </td>
                    </tr>
                    <tr>
                        <td  style='padding-top: 15px;color: black;font-size: 16px;text-align: center;padding-bottom: 12px;'>This is an auto-generated email. Please do not reply to the same.</td>
                    </tr>
                </table>
            </html>