<div class="flex-structure">
							<%@country_ga_data.each do |country|%>
							<div class="col-md-6">
								<h2 class="info-title text-center mb10"><%=country["country"] %></h2>
								<%if params[:users].present?%>
								<a href="/content_by_geography_city?country=<%=country["country"]%>&users=true"><div class="flex-parent">
									<p class="success-color"><%=country["LoginAttempt"]%></p>
								</div></a>
								<% else %>
								<a href="/content_by_geography_city?country=<%=country["country"]%>"><div class="flex-parent">
									<p class="success-color"><%=country["playStart"]%></p>
								</div></a>
								<% end %>
							</div><%end%>
						</div>