<div class="ml45">
										<table class="responvie mt45">
											<thead>
												<tr>
													<th></th>
													<th>Content Owner</th>
													<th>Plays</th>
													
												</tr>
											</thead>
											<tbody>
											<%@co_hash.each_with_index do |(k, v), i|%>
												<tr>
													<td><%=i.to_i+1%></td>
													<td>
														<a href="content_owner_dashboard?content_owner_name=<%=k%>" class="content_owner_name"><%=k%></a>
													</td>
													<td><%=v %></td>
													
												</tr>
												<% end %>
											
												
											</tbody>
										</table>
									</div>

<style>
.content_owner_name
{
	color:#00B0F1;
}
.content_owner_name:hover { color:#00B0F1; }
</style>