<div class="ml45">
										<table class="responvie mt45">
											<thead>
												<tr>
													<th></th>
													<th>Asset ID</th>
													<th>Content Title</th>
													<th>Plays</th>
													<th>Content Owner</th>
												</tr>
											</thead>
											<tbody>
												<%@top_content.each_with_index do |v,i| %>
												<tr>
													<td><%=i.to_i+1%></td>
													<td><%=v["asset_id"]%></td>
													<td><%=v["title"]%></td>
													<td><%=v["views"]%></td>
													<td><%=v["content_owner_name"]%></td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>