<div class="col-md-12 geography-content-section">
                        <div class="content">
                            <h1 class="title mb70"><%=params[:users].present? ? "Users" : "Content Performance" %></h1> 
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-md-12">
                                    <h2 class="section-content-title pull-left mb20"><%=params[:users].present? ? "Logins by geography" : "Content by geography" %></h2></div>
                                    <div class="input-group input-daterange col-lg-4 col-md-4 col-sm-4 col-xs-12">
     <input type="text" id="co_from_date" class="form-control date_range" value="">
    <div class="input-group-addon">to</div>
    <input type="text" id="co_to_date" class="form-control date_range" value="">
</div>
<div id="city_geography_on_daterange">
                                   <%= render :partial=>"content_by_geography_city_graph"%> 
                                </div>
                            </div>
                        </div>
                    </div>
            <style>
    .highcharts-yaxis-labels
    {
        display: none;
    }
    .highcharts-button
    {
        display: none;
    }
    .highcharts-container {
        /*border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;*/
    }
    
</style>

    
<script>
      $(document).ready(function(){
    $('#co_to_date').datepicker('setDate', new Date()); 
    var d = new Date();
    d.setDate(d.getDate() - 30);
    $('#co_from_date').datepicker('setDate', d);
     });
     function datepickerChangeDate(e){
                e.stopPropagation();
    var from_date = $("#co_from_date").val();
    var to_date = $("#co_to_date").val();
    var country = "<%=params[:country]%>"
    var flag = "<%=params[:users].present? ? "true" : "false"%>"
    if (flag == "true")
    {
      var link = 'content_by_geography_city_on_daterange?users=true'
    }
    else
    {
      var link = 'content_by_geography_city_on_daterange'
    }
    if ((from_date.length != 0) & (to_date.length != 0))
    {
                    $.ajax({
                        url: link,
                        data:{from_date: from_date,
                          to_date: to_date,
                          country: country
                        },
                        type: 'Get',
                        timeout: 120000,
                        error: function(e){
                        },
                        success: function(d){
                        	console.log(d)
                        $("#city_geography_on_daterange").html("")
                        $("#city_geography_on_daterange").html(d)
                        }
                });
                 }
             };
      $('#co_from_date').datepicker({
                    // format: "yyyy-mm-dd"
                    format: "M dd , yyyy"
                }).on("changeDate", function (e) {
                     datepickerChangeDate(e);
        });
      $('#co_to_date').datepicker({
                        format: "M dd , yyyy"
                    }).on("changeDate", function (e) {
                         datepickerChangeDate(e);
        });
</script>
<script>
var city_array =  <%= raw @city_ga_data.to_json%>;
var flag = "<%=params[:users].present? ? "true" : "false"%>"
var pathname = window.location.origin; 
var arrayOfJson_city_array = [];
            $.each(city_array, function( key, value ) {
                var tempJson = {};
                if (flag == "true")
                {
                     tempJson.name = value.city;
                tempJson.y = Number(value.LoginAttempt);
                tempJson.drilldown = value.city;
                tempJson.url = pathname+"/content_by_geography_zipcode?country="+value.country+"&city="+value.city+"&users=true";
                }
                else
                {
                     tempJson.name = value.city;
                tempJson.y = Number(value.playStart);
                tempJson.drilldown = value.city;
                tempJson.url = pathname+"/content_by_geography_zipcode?country="+value.country+"&city="+value.city;
                }
               
                arrayOfJson_city_array.push(tempJson);
            
});


Highcharts.setOptions({
    colors: ['#4371C2']
});
    Highcharts.chart('hchart3', {
        credits: {
      enabled: false
  },
        chart: {
            backgroundColor: '#000',
            type: 'column'
           
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            gridLineWidth: 0,
          tickLength: 0,
            type: 'category',
            /*lineWidth: 0,
           minorGridLineWidth: 0,
           lineColor: 'transparent'*/
           labels: {
            style: {
                color: '#fff'
            }
        }
        },
        yAxis: {
            gridLineWidth: 0,
            tickLength: 0,
            
            title: {
                gridLineWidth: 0,
                text: ''
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                color: '#ff0000',
                cursor: 'pointer',
                point: {
                events: {
                click: function () {
                    var point = this;
                    document.location.href = point.url;
                }
                }
                },
                dataLabels: {
                    color: '#fff',
                    enabled: true,
                    format: ''
                }
            }
        },

        tooltip: {
            enabled: false,
            crosshairs: [false,false],
            headerFormat: '',
            pointFormat: ''
        },

        series: [{
            color: '#fff',
            name: 'Brands',
            colorByPoint: true,
            dataLabels: {
                color: '#fff',
                enabled: true,
                backgroundColor: 'transparent'
              
            },
            data: arrayOfJson_city_array
        }]
    });
        
</script>



