<div class = "additional_region">   

     <div class="row">
     <div class="col-xs-2">
     <label for="pregion[]">Select Pack Region</label>
     </div>
	 <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="You can provide the region in which the plan shall be available" src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
        <select name="pregion[]" id="pregion[]" class="form-control pregion input-sm">
            <option value="">Select one from below</option>
            <option value="IN">IN</option>
            <option value="US">US</option>
            <option value="UK">UK</option>
        </select>
        </div>
        </div>
     <div class="row">
     <div class="col-xs-2">
     <label>Pack Price</label>
     </div>
     <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="You can provide the price associated with the plan" src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
     <input type="number" min="1" max="100000" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price">
     </div>
     </div>

     <div class="row currency_type_region">
     <div class="col-xs-2">
     <label for="pcurrency[]">Select Pack Currency</label>
     </div>
	 <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="You can provide the currency for the plan" src="/assets/info_55x55.png" alt="dummy">
        </div>
          <div class="col-xs-6">
<!--         <select name="pcurrency[]" id="pcurrency[]" class="form-control input-sm">
            <option value="">Select one from below</option>
            <option value="INR">INR</option>
            <option value="USD">USD</option>
            <option value="UKD">UKD</option>
        </select> -->
            <input type=text id="pcurrency" name="pcurrency[]" class="form-control input-sm pcurrency currency" value="" readonly>
        </div>
        </div>
    <div class="row">
        <div class = "col-xs-2"></div>
        <div class = "col-xs-1"></div>
        <div class = "col-xs-6"> 
            <button type="button" class="btn btn-primary btn-xs remove_region">Remove region</button>
        </div>
    </div>
</div>