
<div><br>
    <div class = "row">
        <div class="col-xs-2">
            <label>Additional Info</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="You can enter additional info" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
            <input type="text" name="additional_info[]" class="form-control input-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <label>Value</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="You can select HD available or not" src="/assets/info_55x55.png" alt="dummy">
        </div>
        <div class="col-xs-6">
             <input type="text" name="additional_value[]" class="form-control input-sm">
        </div>
    </div>
        <a href="#" id = "remove_info"class="btn btn-primary margin30 btn-xs pull-right">Remove info</a><br>

</div>