<% @couponitems.each do |items| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%=  items["c_code"].nil? ? "nil" : items["c_code"]%></td>
                                        <td><%=  items["coupon_type"].nil? ? "nil" : items["coupon_type"]%></td>
                                        <td><%=  items["coupon_amount"].nil? ? "nil" : items["coupon_amount"]%></td>
                                        </tr>
                                <% end %>
