<% @subscription.each do |items| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                    <%if items["title"] == "app_plans"
													   	dtitle = "Free Plans"
													   else
													   	dtitle = items["title"]
													  end %>
                                    <%if (items['category'] == nil) || (items['category'] == "")
                                        plan_type = "All access Packs"
                                      else 
                                        plan_type = items['category']
                                    end%>
									<%if items["app_ids"].length == 0
													      app_id = 0
													   else
												      app_id = items["app_ids"][0]
													   end%>
                                        <td><a href="/subscription/view_all?tenant_id=<%=@tid%>&content_id=<%=items['id']%>&app_id=<%=app_id%>"><%= dtitle%></a></td>
                                        <td><%=  items["plans"].length %></td>
                                        <td><%=  plan_type %></td>
                                          <% if @cusers_check && @cusers_length == 1 %>
                                         <%else %>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Add Pack"><button type="button" class="btn btn-xs btn-info add-plans" content-id='<%= items["id"]%>' app_id='<%= app_id%>'><span class="glyphicon glyphicon-s glyphicon-plus"></span></button></span> 
                                        </td> 
                                        <td>
                                            <select class="form-control input-sm plan_status" name="status"  tenant_id="<%=@tid%>" plan_id = "<%= items["id"]%>">
                                                <option>Select one</option>
                                                <option value="edit" <%= "selected" if items["status"] == "edit" %> >Edit</option>
                                                <option value="published" <%= "selected" if items["status"] == "published" %>>Published</option>
                                            </select>
                                        </td>
                                        <% end %> 
                                        </tr>
                                <% end %>
                                       
                               
