


<div class="row" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<li class="active"><a href="#pilltab4" data-toggle="tab">Subscription Plans</a></li>
						<li><a href="#pilltab5" data-toggle="tab">Coupons</a></li>
						<li><a href="#pilltab6" data-toggle="tab">Users</a></li>
					</ul>
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab4">
					    <div class="panel panel-primary">
					       <div class="panel-body">
									<div id="table4" data_source="/subscription/get_all?tenant_id=<%=@tid%>" auto_refresh="100000000" loader="false" entries_info="true">
									 <script type="text/javascript" >
				                            $(document).ready(function(){       
				                                var table4 = new saranyutable("#table4");
				                                table4.createBody = function createBody(_this) {            
				                                    $(_this.selector).find("thead").append(
				                                        '<tr><th><left>Title</left></th><th><left>Number of Plans</left></th><th><left>Actions</left></th></tr>');
				                                };
				                                //<th><left>Name</left></th><th><left>Theme</left></th><th><left>Content ID</left></th>
				                                table4.load();                      
				                                table4.appendContent = function appendContent(data,_this){      
				                                    var tbody = $(_this.selector).find("tbody");
				                                    tbody.html(""); 
				                                    for ( var i = 0; i < data.items.items.length; i++) {
				                                       // name = data.items.name
                                       				   //theme = data.items.theme
                                        			   //title = data.items.items[i].title 
                                        			   totalplans = data.items.items[i].plans.length
                                        			   if(data.items.items[i].app_ids.length == 0){
													      app_id = 0
													   }else{
													      app_id = data.items.items[i].app_ids[0]
													   }
													   dtitle = data.items.items[i].title
													   if(data.items.items[i].title == "app_plans"){
													   	dtitle = "App Plans"
													   }else{
													   	dtitle = data.items.items[i].title
													   }
                                        			   title = '<a href="/subscription/view_all?tenant_id=<%=@tid%>&content_id='+data.items.items[i].id+'&app_id='+app_id+'">'+dtitle+'</a>'
                                        			   content_id = data.items.items[i].id
                                        			   actions = ""
				                                       delete_disabled = "disabled"
				                                       
				                                        view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-subscription" content_id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-eye-open"></button>'

				                                        // edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default " ><span class="glyphicon glyphicon-pencil"></button></span>'

				                                        add_plans = '<span class="inline-block" data-toggle="tooltip" title="Add Plan"><button type="button" class="btn btn-xs btn-info add-plans" content-id='+content_id+' app_id='+app_id+'><span class="glyphicon glyphicon-s glyphicon-plus"></button>'

				                                        // delete_button = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger "><span class="glyphicon glyphicon-remove"></button>'
				                                       
				                                        actions = add_plans+"&nbsp;"
				                                        
				                                        //append                
				                                        tbody.append("<tr><td>" + title
                                           						  // + "</td><td>" + name
                                            					  // + "</td><td>" + theme
                                            					  // + "</td><td>" + content_id
                                            					  + "</td><td>" + totalplans
                                            					  + "</td><td>" + actions
                                            					  +"</td></tr>");
				                                            }
				                                    load_actions();
				                                };
				                            });
				                        </script>
									
									</div>
						         </div>			
					         </div>
				           </div>
					   <!-- End of tab1 -->

					   <!-- Start of pilltab5 -->
							<div class="tab-pane fade" id="pilltab5">
								<div class="panel panel-primary">
									<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/create_coupon?tenant_id=<%=@tid%>'">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Coupon
									</button>
									<div class="panel-body">
										<div id="table5" data_source="/coupon/get_all?tenant_id=<%=@tid%>" auto_refresh="100000000" loader="false" entries_info="true">
											<script type="text/javascript" >
												$(document).ready(function(){       
													var table5 = new saranyutable("#table5");
													table5.createBody = function createBody(_this) {            
														$(_this.selector).find("thead").append(
															'<tr><th><left>coupon code</left></th><th><left>coupon type</left></th><th><left>Amount</left></th></tr>');
													};
													table5.load();                      
													table5.appendContent = function appendContent(data,_this){      
														var tbody = $(_this.selector).find("tbody");
														tbody.html("");
														for ( var i = 0; i < data.items.items.length; i++) {
															catalog_id = data.items.catalog_id
															c_code = data.items.items[i].c_code
															c_type = data.items.items[i].c_type
															coupon_amount = data.items.items[i].coupon_amount
															actions = ""
															// Need to Add delete in future
															delete_disabled = ""


															// edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-acescontrol" content_id='+content_id+'> <span class="glyphicon glyphicon-pencil"></button></span>'

															// delete_button = '<span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-acescontrol" content_id='+content_id+'><span class="glyphicon glyphicon-trash"></button></span>'

															//actions = edit_button+"&nbsp;"+delete_disabled
															//append                
															tbody.append("<tr><td>" + c_code
																+ "</td><td>" + c_type
																+ "</td><td>" + coupon_amount
																+"</td></tr>");
														}
														load_actions();
													};
												});
											</script>
										</div> 
									</div>
								</div>
							</div>
							<!-- End of pilltab5 -->

					   <div class="tab-pane fade in" id="pilltab6">
					    <div class="panel panel-primary">
					       <div class="panel-body">
					       <div class="row">
								<div class="col-xs-2">
								</div>
								<div class="clear"></div>
								<div class="row ml0 mr0">
								<div class="col-xs-2">
								<label>User ID</label>
								</div>
								<div class="col-xs-1">
									<img class="info_img" id="userimg"  data-toggle="tooltip" title="You can provide the user id for whom you would like to display the available plans" src="/assets/info_55x55.png" alt="dummy">
								</div>
								<div class="col-xs-3">
								<input type="text" class="form-control input-sm" id="user_id" placeholder="(User Email Id)" name="user_id">
								</div>

								<button type="button" class="btn btn-primary" id="userpackinfo"> Get User Packs</button>
								</div>
							</div>
					       </div>
					    </div>
					   </div> <tab 6 end%>

					   </div>
				</div>
			</div>
		</div>
	</div>
	<div id="userdata"></div>
	</div>

<div id="view_sub_info"></div>

<script>
	
	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
function load_actions() {
$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
        window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });

    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
}
</script>


