

<div class="row" id="userdata1">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<!-- <li class="active"><a href="#pilltab7" data-toggle="tab">User Info</a></li> -->
						<li class="active"><a href="#pilltab8" data-toggle="tab">Subscribed Packs</a></li>
						<!-- <li><a href="#pilltab9" data-toggle="tab">Transcations</a></li> -->
						<li><a href="#pilltab10" data-toggle="tab">Add Pack</a></li>
					</ul>
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab7">
					    <div class="panel panel-primary">
					       <div class="panel-body">
									<div id="table7" data_source="" auto_refresh="100000000" loader="false" entries_info="true">
									<script type="text/javascript" >
				                            // $(document).ready(function(){       
				                            //     var table7 = new saranyutable("#table7");
				                            //     table7.createBody = function createBody(_this) {            
				                            //         $(_this.selector).find("thead").append(
				                            //             '<tr><th><left>User Id</left></th><th><left>Email Id</left></th><th><left>Contact</left></th></tr>');
				                            //     };
				                            //     table7.load();                      
				                            //     table7.appendContent = function appendContent(data,_this){      
				                            //         var tbody = $(_this.selector).find("tbody");
				                            //         tbody.html(""); 
				                            //        for ( var i = 0; i < data.list.length; i++) {
				                            //             userid = data.list[i].theme
				                            //             emailid = data.list[i].ott_id
				                            //             contact = data.list[i].theme 
				                            //             //append                
				                            //             tbody.append("<tr><td>" + userid
				                            //                 + "</td><td>" + emailid
				                            //                 + "</td><td>" + contact
				                            //                 +"</td></tr>");
				                            //         }
				                            //     };
				                            // });
				                        </script>
									</div>
						   </div>			
					    </div>
				    </div>
				    <div class="tab-pane fade in active" id="pilltab8">
					    <div class="panel panel-primary">
					       <div class="panel-body">
									<div id="table8" data_source="/UserPacks?user_id=<%=@user_id%>&method=view&tenant_id=<%=@tenant_id%>" auto_refresh="100000000" loader="false" entries_info="true">
									<script type="text/javascript" >
				                            $(document).ready(function(){       
				                                var table8 = new saranyutable("#table8");
				                                table8.createBody = function createBody(_this) {            
				                                    $(_this.selector).find("thead").append(
				                                        '<tr><th><left>Plan Id</left></th><th><left>Plan Type</left></th><th><left>Start Date</left></th><th><left>Valid Till</left></th><th><left>Region</left></th></tr>');
				                                };
				                                table8.load();                      
				                                table8.appendContent = function appendContent(data,_this){      
				                                    var tbody = $(_this.selector).find("tbody");
				                                    tbody.html(""); 
				                                    for(var i=0; i<data.packs.length; i++) {
			                                          	userid = data.packs[i].user_id
			                                    		planid = data.packs[i].plan_id
			                                    		if (data.packs[i].category == "all_access_pack"){
			                                    			plantype = "all access pack"
			                                    		}else{
			                                    		plantype = data.packs[i].category
			                                    		}			   
			                                    		startdate = data.packs[i].start_date;
			                                    		validtill = data.packs[i].valid_till;
			                                    		region = data.packs[i].region

					                                      tbody.append("<tr><td>" + planid
					                                        + '</td><td>' + plantype
					                                        + '</td><td>' + startdate
					                                        + '</td><td>' + validtill
					                                        + '</td><td>' + region
					                                        + '</td></tr>');

                                        				}
				                                };
				                            });
				                        </script>
									</div>
						   </div>			
					    </div>
				    </div>

				    <div class="tab-pane fade in active" id="pilltab9">
					    <div class="panel panel-primary">
					       <div class="panel-body">
									<div id="table9" data_source="" auto_refresh="100000000" loader="false" entries_info="true">
									<script type="text/javascript" >
				                            // $(document).ready(function(){       
				                            //     var table9 = new saranyutable("#table9");
				                            //     table9.createBody = function createBody(_this) {            
				                            //         $(_this.selector).find("thead").append(
				                            //             '<tr><th><left>User Id</left></th><th><left>Plan Id</left></th><th><left>Date</left></th><th><left>Type</left></th><th><left>status</left></th></tr>');
				                            //     };
				                            //     table9.load();                      
				                            //     table9.appendContent = function appendContent(data,_this){      
				                            //         var tbody = $(_this.selector).find("tbody");
				                            //         tbody.html(""); 
				                            //        for ( var i = 0; i < data.list.length; i++) {
				                            //             userid = data.list[i]._id
				                            //             planid = data.list[i].ott_id
				                            //             date = data.list[i].theme 
				                            //             type = data.list[i].theme 
				                            //             status = data.list[i].theme 
				                            //             //append                
				                            //             tbody.append("<tr><td>" + userid
				                            //                 + "</td><td>" + planid
				                            //                 + "</td><td>" + date
				                            //                 + "</td><td>" + type
				                            //                 + "</td><td>" + status
				                            //                 +"</td></tr>");
				                            //         }
				                            //     };
				                            // });
				                        </script>
									</div>
						   </div>			
					    </div>
				    </div>


				    <div class="tab-pane fade in" id="pilltab10">
					    <div class="panel panel-primary">
					       <div class="panel-body">

					       <form class="form-horizontal" id="UserSubscriptions" role="form">
						     <div class="container-fluid">
						     <input type="hidden" id="content_id" name="content_id">
						     <script type="text/javascript">
						     var tenant_id = document.getElementById("tenantid").value;
								//console.log("tenant_id in app info::"+tenant_id);
									$.ajax({
								type: "get",
								url: "/subscription/apps",
								data:'tenant_id='+tenant_id,
								success: function(data){
									//console.log(data)
								//$("#apps").html(data);
								var apps = data.apps;
                                $("#apps").empty();

                                 if(apps){

                                 	 // document.getElementById("app_ids").style.display = "block";
                                 	 // document.getElementById("appimg").style.display = "block";
                                 	 $("#app_ids").show();
                                 	 $("#appimg").show();

                                 	if(apps.length == 0){
                                 		$("#apps").append("<div>'No apps to display'</div>");
                                 	}else{
                                             var selectapps = $("<select name='app_ids[]' onchange='getplans()' style='display=block'></select>");
                                             selectapps.attr("id","appid");
                                             selectapps.attr("class","form-control input-sm");
                                             selectapps.append('<option value="">Select one from below</option>');
                                             var selectappsoptions ;
                                             for(var temploop=0;temploop<apps.length;temploop++) {
                                             selectappsoptions +=   '<option id="app_ids" name="app_ids[]" value='+apps[temploop].ott_id+'>'+apps[temploop].name+'</option>'
                                              }
                                              selectapps.append(selectappsoptions);
                                              $("#apps").append(selectapps);
                                              }
                                          }else{
                                              $("#apps").append("<div>'No apps to display'</div>");
                                              }
								}
								});

								function getplans() {
								var tenant_id = document.getElementById("tenantid").value;
								var appids = document.getElementsByName("app_ids[]")[0].value;
								$("#palamt").hide();
	                     		$("#pricechrg").hide();
								$("#priceimg").hide();
								$("#userinfo").hide();
								$("#userimg").hide();
								$("#mimg").hide();
								$("#srdate").hide();
								$("#srdateimg").hide();
								$("#ptimg").hide();
								$("#ptyimg").hide();
								$("#ppimg").hide();
									$.ajax({
								type: "get",
								url: "/subscription/get_all",
								data:'tenant_id='+tenant_id,
								success: function(data){
								//$("#apps").html(data);
								var plans = data.items.items;
                                $("#plans").empty();

                                 if(plans){
                                 	 // document.getElementById("sub_plans").style.display = "block";
                                 	 // document.getElementById("plansimg").style.display = "block";
                                 	 $("#sub_plans").show();
                                 	 $("#plansimg").show();

                                 	if(plans.length == 0){
                                 		$("#plans").append("<div>'No plans to display'</div>");
                                 	}else{
                                             
                                             for(var temploop=0;temploop<plans.length;temploop++) {
                                             	if(appids == plans[temploop].app_ids){
                                             	document.getElementById("content_id").value = plans[temploop].id;

                                             	if(plans[temploop].plans.length == 0){
                                             		$("#plans").append("<div>'No plans to display'</div>");
                                             		$("#palamt").hide();
                                             		$("#pricechrg").hide();
													$("#priceimg").hide();
													$("#userinfo").hide();
													$("#userimg").hide();
													$("#mimg").hide();
													$("#srdate").hide();
													$("#srdateimg").hide();
													$("#ptimg").hide();
													$("#ptyimg").hide();
													$("#ppimg").hide();
                                             	}else{
                                             		var selectplans = $("<select name='sub_plans[]' onchange='getplansdata()' style=''></select>");
                                             selectplans.attr("id","planid");
                                             selectplans.attr("class","form-control input-sm");
                                             selectplans.append('<option value="">Select one from below</option>');
                                             var selectplansoptions;
                                             for(var planloop=0;planloop<plans[temploop].plans.length;planloop++){
                                             selectplansoptions +=   '<option id="sub_plans" name="sub_plans[]" value='+plans[temploop].plans[planloop].plan_id+'>'+plans[temploop].plans[planloop].title+'&nbsp;</option>'
                                         		}
                                         		selectplans.append(selectplansoptions);
                                              $("#plans").append(selectplans);
                                             	}
                                                }
                                         		}
                                              }
                                          }else{
                                              $("#plans").append("<div>'No Plans to display'</div>");
                                              }
								}
								});
								}

								function getplansdata() {
									var app_id = document.getElementsByName("app_ids[]")[0].value;
									//console.log("appid in plansdata"+app_id)
									var plan_id = document.getElementsByName("sub_plans[]")[0].value;
									$.ajax({
								type: "get",
								url: "/user/plans?app_id="+app_id,
								data:'plan_id='+plan_id,
								success: function(data){
									//console.log("plans data items output"+data.items.title)
								var plans = data.items.plans;

								// document.getElementById("palimg").style.display = "block";
								// document.getElementById("uimg").style.display = "block";
								document.getElementById("ptitle").value = plans[0].title;
								document.getElementById("ptype").value = plans[0].plan_type;
								document.getElementById("pprice").value = plans[0].price;

								$("#palamt").show();
	                     		$("#pricechrg").show();
								$("#priceimg").show();
								$("#userinfo").show();
								$("#userimg").show();
								$("#mimg").show();
								$("#srdate").show();
								$("#srdateimg").show();
								$("#ptimg").show();
								$("#ptyimg").show();
								$("#ppimg").show();
                                 
								}
								});
								}


							</script>
							<div class='row'>
							<div class='col-xs-2'>
 							<label id="app_ids" style="display:none" for="App">Select Application</label>
 							</div>
 							<div class="col-xs-1">
                                        <img class="info_img" id="appimg" style="display:none" data-toggle="tooltip" title="You can chose the application for which the plan has to be added for the user" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
							<div id="apps">
							<div></div>
								
							</div></div>
                           
                            </div>

                            <div class='row'>
							<div class='col-xs-2'>
 							<label id="sub_plans" style="display:none" for="plans">Select Plan</label>
 							</div>
 							<div class="col-xs-1">
                                        <img class="info_img" id="plansimg" style="display:none" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
							<div id="plans"></div><div></div></div>
                            </div>


							<div class="row mb0" id="palamt" style="display:none">
							<!-- <div class="col-xs-2">
								<label for="amount">Pack Description</label>
								</div> -->
								<div class="clear"></div>
								
                                    <div class="row ml0 mr0">
									<div class="col-xs-2">
									<label>Pack Title</label>
									</div>
									<div class="col-xs-1">
									<img class="info_img" id="ptimg" style="display:none" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
									</div>
									<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="ptitle" name="ptitle" value="" readonly="">
									</div>
									</div>

									<!-- <div class="row ml0 mr0">
									<div class="col-xs-2">
									<label>Pack Type</label>
									</div>
									<div class="col-xs-1">
									<img class="info_img" id="ptyimg" style="display:none" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
									</div>
									<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="ptype" name="ptype" value="" readonly="">
									</div>
									</div> -->

									<input type="hidden" id="ptype" name="ptype">

									<div class="row ml0 mr0">
									<div class="col-xs-2">
									<label>Pack Price</label>
									</div>
									<div class="col-xs-1">
									<img class="info_img" id="ppimg" style="display:none" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
									</div>
									
									<div class="col-xs-6">
									<input type="text" class="form-control input-sm" id="pprice" name="pprice" value="" readonly="">
									</div>
									</div>
							</div>

							<div class="row" id="pricechrg" style="display:none">
							<div class="col-xs-2">
								<label for="price_charged">Price Charged</label>
								</div>
								<div class="col-xs-1">
									<img class="info_img" id="priceimg" style="display:none" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								</div>
								<div class="col-xs-6">
								<input type="text" class="form-control input-sm" id="price_charged" name="price_charged" value="">
							</div>
							</div>

							<%if @lastpackvalid.nil? %>
							<div class="row" id="srdate" style="display:none">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" id="srdateimg" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                            <input  type="text" class="form-control input-sm" name="start_date" id="sdate">
                             </div>
                             </div>
                             <%else%>
                             <div class="row" id="srdate" style="display:none">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" id="srdateimg" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                            <input  type="text" class="form-control input-sm" name="start_date" value="<%=@lastpackvalid%>" readonly>
                             </div>
                             </div>
                             <%end%>

							<div class="row" id="userinfo" style="display:none">
							<!-- <div class="col-xs-2">
								<label>User Info</label>
								</div> -->
								<div class="clear"></div>
								<div class="row ml0 mr0">
								<div class="col-xs-2">
								<label>User ID</label>
								</div>
								<div class="col-xs-1">
									<img class="info_img" id="userimg" style="display:none"  data-toggle="tooltip" title="You can provide the user id for whom you would like to add available plans" src="/assets/info_55x55.png" alt="dummy">
								</div>
								<div class="col-xs-6">
								<input type="text" class="form-control input-sm" id="email" placeholder="(User Email Id)" name="email" value="<%=@user_id%>" readonly="">
								</div>
								</div>
								<div class="row ml0 mr0">
								<div class="col-xs-2">
								<label>Mobile Number</label>
								</div>
								<div class="col-xs-1">
									<img class="info_img" id="mimg" style="display:none"  data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
								</div>
								<div class="col-xs-6">
								<input type="text" class="form-control input-sm" id="mobilenumber" placeholder="(optional)" name="mobilenumber" value="">
								</div>
								</div>
							</div>

							<br><button type="button" class="btn btn-primary" id="submitusersubscription" > Add Pack</button>
							</div>
                            </div>
                            </form>
                            </div>
							</div>
						   </div>			
					    </div>
				    </div>

					</div>
		        </div>
		    </div>
		</div>
</div>

<script type="text/javascript">

// $('#sdate').datepicker({
//         format: "yyyymmddHH"
//       }); 
$('#sdate').datetimepicker({
    format: "MMMM DD YYYY, HH:mm:ss"
});


$('[data-toggle="tooltip"]').tooltip(); 


(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#UserSubscriptions").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    'tenant_id[]': "required",
                    'app_ids[]': "required",
                    'sub_plans[]': "required",
                    price_charged: "required",
                    start_date: "required",
                    email: "required"
                },
                messages: {
                    'tenant_id[]': "THIS FIELD IS MANDATORY",
                    'app_ids[]': "THIS FIELD IS MANDATORY",
                    'sub_plans[]': "THIS FIELD IS MANDATORY",
                    price_charged: "THIS FIELD IS MANDATORY",
                    start_date: "THIS FIELD IS MANDATORY",
                    email: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);



	$('#submitusersubscription').click(function(){
				var tenant_id = document.getElementById("tenantid").value;
				var status = $('#UserSubscriptions').valid();
				console.log(status);

				if ( status == true) {
					pbar = false;
				var data = $('#UserSubscriptions').serialize();
				$.ajax({
						url: '/usersubscription/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								alert("Pack Added Successfully");
								//window.location = "/"
								//window.location = "/subscribeuser/new"
								window.location = "/subscribeuser/pack?pack=pack"
						}
				});
				}
		});
</script>


