


<div class="row" id= "showuser">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">
					<ul class="nav nav-pills">
						<li class="active"><a href="#pilltab4" data-toggle="tab">Subscription Plans</a></li>
					</ul>
					 <input type=hidden id="tenantid" name="tenantid" value="<%=@tid%>">
					<div class="tab-content">
					<div class="tab-pane fade in active" id="pilltab4">
					    <div class="panel panel-primary">
					       <div class="panel-body">
					          <div class="row">
			                        <div class="col-xs-10">
			                        </div>
			                        <div class="col-xs-2">
			                             <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
			                                <% [10, 25, 50, 100]. each do |ps| %>
			                                    <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
			                                <% end %>
			                            </select>
			                        </div>
			                   		</div>
			                   		<div><span class="inline-block pull-right" data-toggle="tooltip" title="Add Plan"><button type="button" class="btn btn-sm btn-info add-plan pull-right" app_id=0 tenant_id='<%=@tid%>' style="margin-top: 10px;">Add Plan <span class="glyphicon glyphicon-plus"></button></div>
			                   		  <div>
			                        <table class="table table-condensed table-striped">
			                            <thead>
			                                <tr>
			                                    <th>Title</th>
                                                <th>Number of Plans</th>
			                                    <th>Plan Type</th>
			                                    <th><%=@cusers_check && @cusers_length == 1 ? "" : "Actions"%></th>
                                                <th>Status</th>
			                                </tr>
			                                 <tr>
			                                    <td>
			                                        <input type="text" placeholder="Enter Name" id="titlesearch" class="form-control input-sm search_input_textbox" style="width:50%;">
			                                    </td>
			                                    <td></td>
			                                </tr>
			                            </thead>
			                            <tbody id="table_body">
			                            <%= render :partial => "subscription/plans_data_body" %>
			                            </tbody>
			                        </table>
			                    </div>
			                        <div>
			                    <% if params[:page].to_i != 1 %>
			                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id =>'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

			                    <%else %>
			                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
			                    <% end %>
			                    <% if @next_items.empty? %>
			                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
			                    <% else %>
			                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id =>'next' ,:class => "btn btn-primary btn-sm next_btn"%>
			                    <% end %>
			                         
			                    </div>
						         </div>			
					         </div>
				           </div>
					   <!-- End of tab1 -->
					   </div>
				</div>
			</div>
		</div>
	</div>
	<div id="userdata"></div>
	</div>

<div id="view_sub_info"></div>

<script>


	$('#userpackinfo').click(function(){
				var status = true;
				//console.log(status);
				var user_id = document.getElementById("user_id").value;
				var tenant_id = $("#tenantid").val();

				if ( status == true) {
				$.ajax({
						url: '/UserPacks/',
						data:{user_id: user_id, tenant_id: tenant_id},
						type: 'Get',
						//dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							//console.log("tenant_id in userdata:::::"+tenant_id);
							$("#userdata").html(d);
                                    }
				                  });
				                 }
		                       });
// function load_actions() {
$(document).on("click",'.add-plan', function(){
	var tenant_id = $(this).attr('tenant_id');
	var app_id = $(this).attr('app_id');
        window.location.href = '/subscription/plan?tenant_id='+tenant_id+'&app_id='+app_id	
})

$('.add-plans').click(function(){
	var tenant_id = $("#tenantid").val();
    window.location.href = '/subscription/plans?tenant_id='+tenant_id+'&content_id='+$(this).attr('content-id')+'&app_id='+$(this).attr('app_id');
    });


    $('.info-subscription').click(function() {
    	var tenant_id = $("#tenantid").val();
    	$.ajax({
    		url: '/subscription/plans?tenant_id='+tenant_id+'&method=view&content_id='+$(this).attr('content_id')+'&app_id='+$(this).attr('app_id'),
    		type: "GET",
    		timeout: 120000,
    		error: function(e,t){
    			if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
    		},
    		success: function(d){
    			$("#view_sub_info").html(d);
                $('#viewModal2').modal('show');
    		}
    	});
    });
// }
</script>

<script>
        $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    $('#titlesearch').on("keyup", function(e)
        {
            pbar = false;
            var pageno = "<%=params[:page]%>"
            var psize = $('#page_size').val();
            var title = $('#titlesearch').val();
            if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                 $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
                }
                else
                {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                 var org_title = $.trim(title);
                 updateURL(psize,pageno)
            $.ajax({
                url: '/subscribeuser/new?title='+org_title+'&page='+pageno+'&page_size='+psize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script',
                     success: function(e)
                    {
                       if ($('#table_body').find('tr').length > 0)
                          {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                    },
                error: function(e,t)
                {
                  if (t == "timeout")
                  {
                    alert("Timed Out Wait for Response")
                  }
                  else
                  {
                    alert(JSON.parse(e.responseText)["error"]);
                  }
                }
            }).always(
                        function()
                        {
                            try
                            {
                                pbar=true;
                            }
                            catch(e)
                            {

                            }
                        });
        }
        });
function updateURL(psize,pageno) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
 $(document).ready(function(){
        var items = "<%= @subscription.blank? ? 0 : @subscription.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>
<script>
    
            $('.plan_status').on('change', function()
            {
                
                var tenant_id = $(this).attr("tenant_id");
                var plan_id = $(this).attr("plan_id");
                var status = $(this).val();
                var pbar = true;
                $.ajax({
                    url: '/subscription/edit_plan?tenant_id='+tenant_id+'&plan_id='+plan_id+'&status='+status,
                    type: "POST",
                    timeout: 120000,
                    error: function(e,t)
                    {
                        if (t == "timeout")
                        {
                            alert("Timed Out Wait for Response")
                        }
                        else
                        {
                            alert(JSON.parse(e.responseText)["error"]);
                        }
                    },
                    success: function(d)
                    {
                        pbar = false;
                        console.log ("success");
                        alert("updated successfully");
                        // location.reload();
                    }
                });
            });
               
</script>
