<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="overflow: scroll; height: 550px;">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
				                    <div class="row">
				                        <div class="col-xs-6" id="primary-info"><p><strong>Title</strong><br><%=@subscription["title"]%></p></div>
				                        <div class="col-xs-6" id="thumbnail-holder"><img style="float: right;" src="/assets/saranyulogo.png" alt="dummy" height="120" width="275"></div>
				                        <br>
				                    </div>
				                    <div class="row">
				                    	<div class="col-xs-12" id="metadata-info"><p><strong>Plans</strong> </p><br>
				                    	<%@subscription["plans"].each do |plans|%>
				                    	<p><strong>Title :</strong><%=plans["title"]%> </p><br>
				                    	<p><strong>Plan Id :</strong><%=plans["plan_id"]%> </p>
				                    	<%end%>
				                    	</div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

