<% @data_list.each do |list| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                     <td><%= list["title"]%></td>
                                        <td style="word-break:break-all;"><%= list["description"]%></td>
                                        <td><%= list["period"]%></td>
                                        <td><%= list["duration"]%></td>
                                        </tr>
                                <% end %>
