<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
        <div class="row">
                <ol class="breadcrumb">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="/subscribeuser/new" title="Subscription Plans">Subscription Plans</a></li>
                        <li class="active" title="Add a Plan">Add a Plan</li>
                </ol>
        </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="subscriptionForm" role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="title"></label>
                                </div>
                                <div class="col-xs-1">
                                </div>
                                <div class="col-xs-6">
                                    <label style="float: left;color: #30a5ff;"></label>
                                </div>
                            </div> 
                            
                            <div class="row">
                                <div class="col-xs-2">
                                    <label>Plan Title</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the title for the plan. Title provided shall be available on the applications" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="ptitle" name="ptitle" value="" placeholder="Plan Title">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="plan_id">Plan Asset Id</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide external plan id for identification" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="plan_asset_id" name="plan_asset_id" placeholder="Plan Id" value="">
                                </div>
                            </div>
                            <div class='row'>
                                <div class="error_media" id="appsid"></div>
                                <div class='col-xs-2'><label>Platforms</label></div>
                                <div class='col-xs-1'><img class='info_img' data-toggle='tooltip' title="<%=t('add_m_Select_Applications')%>" src='/assets/info_55x55.png' alt='dummy'>
                                </div>
                                <div class='col-xs-6'>
                                <%@apps.each do |app|%>
                                    <div class='checkbox'>
                                    <label>
                                        <input type="checkbox" name="apps[]" value="<%=app["_id"]%>">
                                    <%=app["name"]%></label>
                                    </div>
                                <%end%>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="plan_type">Select Plan Type</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can select one of available plan types" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <select name="plan_type" id="plan_type" class="form-control input-sm">
                                    <!-- <option value="">Select one from below</option> -->
                                    <option value="all_access_pack" selected>All Access Pack</option>
                                    <option value="tvod" >TVOD</option>
                                    <option value="featured" >Featured</option>

                                </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="status">Select Status</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can select one of available status" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <select name = "status" id="status" class="form-control input-sm">
                                        <option value="">Select one from below</option>
                                        <option value="edit">Edit</option>
                                        <option value="published">Publish</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary btn-xs" id="addinfo">Add Info</button>
                                </div>
                            </div>

                        <div class= "additional_info" id = "additional_info">
                            <div class = "row">
                                <div class="col-xs-2">
                                    <label>Additional Info</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can enter additional info" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" name="additional_info[]" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label>Value</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can select HD available or not" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                     <input type="text" name="additional_value[]" class="form-control input-sm">
                                </div>
                            </div>
                        </div>


                            <input type=hidden id="tenant_id" name="tenant_id" value="<%=@tenant_id%>">
                            <input type=hidden id="app_id" name="app_id" value="<%=@app_id%>">
                            <br><button type="button" class="btn btn-primary" id="submitsubscriptionForm" >Add Plan</button>
                                 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 <% #end %>
</div>




<script type="text/javascript">

/*$("#addplan").click(function () {
   $("#planContainer").append("<%#= j render(:partial => 'subscription/add_subscription_plan') %>");
   return false;
});

$("#planContainer").on("click","#remove_sub_plan", function(){
            $(this).parent('div').remove();
});*/

$("#addinfo").click(function () {
    //alert("inside");
   $("#additional_info").append("<%= j render(:partial => 'subscription/additional_info') %>");
   return false;
});

$("#additional_info").on("click","#remove_info", function(){
            $(this).parent('div').remove();
});

$(document).ready(function(){

    $('#sdate').datepicker({
        format: "yyyymmdd"
    }); 

    $('#edate').datepicker({
        format: "yyyymmdd"
    }); 

    $('[data-toggle="tooltip"]').tooltip();   
});

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            $.validator.addMethod("custitle", function(value, element) {
                    $(".form-control.input-sm#ptitle").val($(".form-control.input-sm#ptitle").val().trim());
                    value = $(".form-control.input-sm#ptitle").val();
                    return value.match(/[^\s]/);
                    }, "Please enter a valid plan title");

             $.validator.addMethod("custplanid", function(value, element) {
                $(".form-control.input-sm#plan_asset_id").val($(".form-control.input-sm#plan_asset_id").val().trim());
                 value = $(".form-control.input-sm#plan_asset_id").val();
                 return value.match(/^[\w\d]*$/);
             }, "Special Characters Or Space are not Allowed");

            $.validator.addMethod("custasset", function(value, element) {
                    element.value = value.trim();
                    return value.match(/^[\s\w\d]*$/);
                    }, "Special Characters are not Allowed");

            //form validation rules
            $("#subscriptionForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','padding-left':'0px', 'font-weight':'700','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    ptitle: {
                      required: true,
                      custitle: true,
                      minlength: 3,
                      maxlength: 30
                    },
                    
                    plan_asset_id: {
                      required: true,
                      custplanid: true,
                      minlength: 3,
                      maxlength: 30
                    },

                    plan_type: "required",

                    status: "required",

                    'additional_info[]': {
                      required: true,
                      custasset: true,
                      minlength: 3
                    },

                    'additional_value[]': {
                      required: true,
                      custasset: true,
                      minlength: 3
                    }
                },
                messages: {
                    plan_type: "Please select the plan type",
                    
                    status: "Please select the status"
                },
                submitHandler: function(form) {
                    //form.submit();
                     return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);



$(".plan_add_field_button").click(function(v){
                v.preventDefault();
                var vv = document.createElement("div");
                $(vv).append('<div class="row"><div class="col-xs-12"><label>Title</label><input type="text" class="form-control input-sm" name="ptitle[]" value="" placeholder="Plan Title"><label for="plan_id">Plan Id:</label><input type="text" class="form-control input-sm" name="plan_id[]" placeholder="Plan Id" value=""><label>Description</label><input type="text" class="form-control input-sm" name="pdescription[]" value="" placeholder="Plan Description"><label>Duration</label><input type="text" class="form-control input-sm" name="pduration[]" value="" placeholder="Plan Duration"><label>Period</label><input type="text" class="form-control input-sm" name="pperiod[]" value="" placeholder="Plan Period"><label>Region</label><input type="text" class="form-control input-sm" name="pregion[]" value="" placeholder="Plan Region"><label>Price</label><input type="text" class="form-control input-sm" name="pprice[]" value="" placeholder="Plan Price"><label>Currency</label><input type="text" class="form-control input-sm" name="pcurrency[]" value="" placeholder="Plan Currency"></div> <a href="#" class="remove_field1">Remove</a></div>');
                $(".planconstructor").append($(vv));
                vidoeeventFormControl($(vv));      
        });

        $(".planconstructor").on("click",".remove_field1", function(v){
                v.preventDefault(); $(this).parent('div').remove();
        });

/*function validateForm(){
                var title = $('#title').val();
                if ((title.trim()).length == 0) {
                        alert("Title can not be empty!");
                        return false;
                }
                return true;
        }*/ 

$("#subscriptionForm").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#submitsubscriptionForm").click();
    }
});

$('#submitsubscriptionForm').click(function(){
                //var status = validateForm();
                var status = $('#subscriptionForm').valid();
                var content_id = $('#content_id').val();
                var app_id = $('#app_id').val();
                console.log(status);

                if ( status == true) {
                var data = $('#subscriptionForm').serialize();
                pbar = true;
                $.ajax({
                        url: '/addplan/',
                        data: data,
                        type: 'POST',
                        dataType: 'json',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                                pbar = false;
                                //alert("Plan Added Successfully");
                                //window.location = "/subscription/view_all?tenant_id=<%=@tenant_id%>"
                                //window.location.href = "/tenants/view_tenant/<%=@tenant_id%>"
                                window.location.href = "/subscribeuser/new"
                        }
                });
                }
        });
</script>
