<% @pb_settings.each do |ps_setting| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_pb_settings.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate ps_setting["name"], length: 20%></td>
                                         <td><%= ps_setting["profiles"].length %></td>
                                         <td><%= ps_setting["protocols"].length %></td>
                                         <td><%= ps_setting["cdn"].join("") %></td>
                                         <td><%= ps_setting["naming_tag"].nil? ? "No" : "Yes"%></td>
                                         <td>
                                             <span class="inline-block" data-toggle="tooltip" title="Delete"><button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-ps" ps-id='<%= ps_setting["_id"] %>'><span class="glyphicon glyphicon-remove"></button></span>
                                        </td>  
                                        </tr>
                                <% end %>
