

<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});



(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {

        	$.validator.addMethod("specialchar", function(value, element) {
                  return this.optional(element) || /([0-9a-zA-Z\s])$/.test(value);
                }, "* Special Char");

            //form validation rules
            $("#publishsettingsForm").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    name : {
                    required: true,
                    specialchar: true
                    },
                    'profiles[]': "required",
                    'protocols[]': "required",
                    cdn: "required",
                    'con_values[]': "required"
                },
                messages: {
                    name : {
                    required: "THIS FIELD IS MANDATORY",
                    specialchar: "Please use only Letters, Numbers and Underscores"
                    },
                    'profiles[]': "THIS FIELD IS MANDATORY",
                    'protocols[]': "THIS FIELD IS MANDATORY",
                    cdn: "THIS FIELD IS MANDATORY",
                    'con_values[]': "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

function publishcheck(event) {
    $("#pser").text("");

    if(event.charCode==32){
        return false;
    }
}

// function validateForm(){
//     var name = $('#name').val();
//     var profiles = $('#profiles').val();
//     var protocols = $('#protocols').val();
//     var cdn = $('#cdn').val();

//       if ((name.trim()).length == 0) {
//         return false;
//       }
//       if (profiles == null) {
//         return false;
//       }
//       if (protocols == null) {
//         return false;
//       }
//       if ((cdn.trim()).length == 0) {
//         return false;
//       }
//       return true;
//     }

    $('#submitPublishSettingsForm').click(function(){
        //var status = validateForm();
        var status = $('#publishsettingsForm').valid();
        console.log(status);
        if(status == true){
        var data = $('#publishsettingsForm').serialize();
        $.ajax({
            url: '/publish_settings/',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    //alert(JSON.parse(e.responseText)["error"]);
                    $("#pser").text(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
            console.log(d);
                window.location = "/publish_settings/view_all"
            }
        });
      }
    });
    $('#splice').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#splice-group').show();
        }else{
            $('#splice-group').hide();
        }
    });
    $('#logo').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#logo-group').show();
        }else{
            $('#logo-group').hide();
        }
    });
    $('#naming_tag').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#naming-group').show();
        }else{
            $('#naming-group').hide();
        }
    });
    $(".con_add_field_button").click(function(e){
        e.preventDefault();
        var dd = document.createElement("div");
        $(dd).append('<div class="row"><div class="col-xs-4 pr5"><select class="form-control input-sm con-type" name="con_types[]"><option value="fixed">Fixed</option><option value="variable">Variable</option><option value="custom">Custom</option></select></div><div class="col-xs-4 pr5 variable-keys"><select class="form-control input-sm" name="con_keys[]" readOnly="true"><option value="filename_full">Full Filename</option><option value="filename_start">Start of Filename</option><option value="filename_end">End of Filename</option><option value="video_bitrate">Video Bitrate</option><option value="audio_bitrate">Audio Bitrate</option><option value="total_bitrate">Total Bitrate</option><option value="width">Width</option><option value="height">Height</option></select></div><div class="col-xs-4 pr5"><input type="text" class="form-control input-sm" name="con_values[]"></div><div class="col-xs-12"><a href="#" class="remove_field">Remove</a></div></div>');
        $(".constructor").append($(dd));                
        eventFormControl($(dd));
    });
    $(".rep_add_field_button").click(function(e){
        e.preventDefault();
        $(".replacer").append('<div class="row"><div class="col-xs-5"><input type="text" class="form-control input-sm" name="rep_inputs[]"></div><div class="col-xs-5"><input type="text" class="form-control input-sm" name="rep_outputs[]"></div><a href="#" class="remove_field">Remove</a></div>');      
    });
    $(".constructor").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    })
    $(".replacer").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    })
    $(document).ready(function () {
        $('#splice-group').hide();
        $('#logo-group').hide();
        $('#naming-group').hide();
    });
    
    function eventFormControl(gt){          
        $(gt.find('select[name="'+'con_types[]'+'"]')).change(function(){               
            disableFormControls(this);                  
        });
    }
    
    $("select[name='con_types[]']").change(function(){
        disableFormControls(this);
    }); 
    
    function disableFormControls(ythis){            
        switch(ythis.value.toLowerCase()) {
    case "fixed":
        if($(ythis).parent().parent().find("input[name='con_keys[]']")){ 
            var mm = $(ythis).parent().parent().find("input[name='con_keys[]']").parent();
            $(ythis).parent().parent().find("input[name='con_keys[]']").remove();       
            mm.append('<select class="form-control" name="con_keys[]"><option value="filename_full">Full Filename</option><option value="filename_start">Start of Filename</option><option value="filename_end">End of Filename</option><option value="video_bitrate">Video Bitrate</option><option value="audio_bitrate">Audio Bitrate</option><option value="total_bitrate">Total Bitrate</option><option value="width">Width</option><option value="height">Height</option></select></div>');
            $(ythis).parent().parent().find("select[name='con_keys[]']").attr('readOnly', "true");
        }
        if($(ythis).parent().parent().find("select[name='con_keys[]']")){
            $(ythis).parent().parent().find("select[name='con_keys[]']").attr('readOnly', "true");
        }
        $(ythis).parent().parent().find("input[name='con_values[]']").removeAttr('readOnly');
        break;
    case "variable":                    
        if($(ythis).parent().parent().find("input[name='con_keys[]']")){            
            var mm = $(ythis).parent().parent().find("input[name='con_keys[]']").parent();
            $(ythis).parent().parent().find("input[name='con_keys[]']").remove();       
            mm.append('<select class="form-control" name="con_keys[]"><option value="filename_full">Full Filename</option><option value="filename_start">Start of Filename</option><option value="filename_end">End of Filename</option><option value="video_bitrate">Video Bitrate</option><option value="audio_bitrate">Audio Bitrate</option><option value="total_bitrate">Total Bitrate</option><option value="width">Width</option><option value="height">Height</option></select></div>');            
        }
        if($(ythis).parent().parent().find("select[name='con_keys[]']")){
            $(ythis).parent().parent().find("select[name='con_keys[]']").removeAttr('readOnly');        
        }                       
        $(ythis).parent().parent().find("input[name='con_values[]']").attr('readOnly', "true");
        break;
    case "custom":
        if($(ythis).parent().parent().find("input[name='con_keys[]']")){ 
            $(ythis).parent().parent().find("input[name='con_keys[]']").removeAttr('readOnly');
        }
        if($(ythis).parent().parent().find("select[name='con_keys[]']")){
            $(ythis).parent().parent().find("select[name='con_keys[]']").removeAttr('readOnly');
        }
        $(ythis).parent().parent().find("select[name='con_keys[]']").removeAttr('readOnly');
        var mm = $(ythis).parent().parent().find("select[name='con_keys[]']").parent();
        $(ythis).parent().parent().find("select[name='con_keys[]']").remove();
        mm.append("<input class='form-control' name='con_keys[]'>");        
        $(ythis).parent().parent().find("input[name='con_values[]']").attr('readOnly', "true");
        break;
    default:        
        }               
    }  
</script>

<script type="text/javascript">
function load_actions() {
    $('.delete-ps').click(function(){
        $.ajax({
            url: '/publish_settings/'+$(this).attr('ps-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
};
</script>
