<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Publish Settings</li>
            <li class="active">Add Publish Settings</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add New Publish Settings</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="publishsettingsForm" role="form" onkeypress="return publishcheck(event)">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="error_media"  id="pser"> </div>
                                <div class="col-xs-2">
                                    <label for="name">Name</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="name" name="name" placeholder="" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="profiles">Profiles</label>
                                    </div>
                                    <%if @profile_list.empty?%>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Profiles')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                      Please Create Profiles
                                    </div>
                                    <%else%>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Profiles')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                    <select class="form-control input-smcon-type" name="profiles[]" id="profiles" multiple>
                                    <%@profile_list.each do |profile|%>
                                    <option value="<%=profile.name%>"><%=profile.name%></option>
                                    <%end%>
                                    </select>
                                    <%end%>  
                                    <!-- <input type="text" class="form-control input-sm" name="profiles" id="profiles" placeholder="comma-separated values" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="protocols">Protocols</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Protocols')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <select class="form-control input-smcon-type" id="protocols" name="protocols[]" multiple>
                                        <option value="hls">hls</option>
                                        <option value="http_pd">http_pd</option>
                                        <option value="rtmp">rtmp</option>
                                        </select>
                                    <!-- <input type="text" class="form-control input-sm" id="protocols" name="protocols" placeholder="comma-separated values" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="cdn">CDNs</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_CDNs')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <select class="form-control input-smcon-type" id="cdn" name="cdn">
                                        <option value="saranyu_test_cdn">saranyu_test_cdn</option>
                                        </select>
                                    <!-- <input type="text" class="form-control input-sm" name="cdn" id="cdn" placeholder="comma-separated values" value=""> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="splice">Splice?</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Splice')%>" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                <input type="checkbox" class="form-control input-sm" id="splice" name="splice" data-toggle="toggle" data-size="mini">
                                    <div class="form-group" id="splice-group">
                                        <div class="col-xs-6">
                                            <label for="start_at_second">Start at Second</label>
                                            <input type="text" class="form-control input-sm" name="start_at_second" id="start_at_second" placeholder="0" value="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="end_at_second">End at Second</label>
                                            <input type="text" class="form-control input-sm" name="end_at_second" id="end_at_second" placeholder="30" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="video_tile">Generate Video Tile?</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Generate_Video_Tile')%>" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                  <div class="col-xs-6">
                                <input type="checkbox" class="form-control input-sm" id="video_tile" name="video_tile" checked data-toggle="toggle" data-size="mini">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="logo">Logo</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Logo')%>" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                <div class="col-xs-6">
                                <input type="checkbox" class="form-control input-sm" id="logo" name="logo" data-toggle="toggle" data-size="mini">
                                   <div class="form-group" id="logo-group">
                                        <div class="col-xs-6">
                                            <label>File URL</label>
                                            <input type="text" class="form-control input-sm" name="logo_file_url" placeholder="http://" value="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Logo Width</label>
                                            <input type="text" class="form-control input-sm" name="logo_width" placeholder="215" value="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>Logo Height</label>
                                            <input type="text" class="form-control input-sm" name="logo_height" placeholder="168" value="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>x-offset</label>
                                            <input type="text" class="form-control input-sm" name="x_offset" placeholder="80" value="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label>y-offset</label>
                                            <input type="text" class="form-control input-sm" name="y_offset" placeholder="30" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label>Naming Tag</label>
                                </div>
                                <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="<%=t('add_anps_Naming_Tag')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                <div class="col-xs-6">
                                    <input type="checkbox" class="form-control input-sm" id="naming_tag" name="naming_tag" data-toggle="toggle" data-size="mini">
                                    <div  style="display: block;" class="form-group" id="naming-group">
                                    <div class="row">                                      
                                        <div class="col-xs-12">
                                        <div class="col-xs-12 constructor">
                                        <label>Constructor</label></br>
                                        </div>
                                            <div class="col-xs-12 constructor">
                                                <button class="btn btn-xs btn-info con_add_field_button">Add More Fields</button>
                                               <div class="row mb5">
                                                    <div class="col-xs-4">
                                                        <p class="mb0">Type</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="mb0">Key</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="mb0">Value</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 pr5">
                                                        <select class="form-control input-sm con-type" name="con_types[]">
                                                            <option value="fixed">Fixed</option>
                                                            <option value="variable">Variable</option>
                                                            <option value="custom">Custom</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4 variable-keys pr5">
                                                        <select class="form-control input-sm" name="con_keys[]" readOnly="true">
                                                            <option value="filename_full">Full Filename</option>
                                                            <option value="filename_start">Start of Filename</option>
                                                            <option value="filename_end">End of Filename</option>
                                                            <option value="video_bitrate">Video Bitrate</option>
                                                            <option value="audio_bitrate">Audio Bitrate</option>
                                                            <option value="total_bitrate">Total Bitrate</option>
                                                            <option value="width">Width</option>
                                                            <option value="height">Height</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4 pr5">
                                                        <input type="text" class="form-control input-sm" name="con_values[]">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                        <div class="col-xs-12 replacer">
                                        <label>Replacer</label></br>
                                        </div>
                                            <div class="col-xs-12 replacer">                                                
                                                <button class="btn btn-xs btn-info rep_add_field_button">Add More Fields</button>
                                                <div class="row mb5">
                                                    <div class="col-xs-6">
                                                        <p class="mb0">Find</p>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <p class="mb0">Replace With</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control input-sm" name="rep_inputs[]">
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <input type="text" class="form-control input-sm" name="rep_outputs[]">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitPublishSettingsForm">Add Publish Settings</button>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial => "publish_settings/publish_validations" %>

