
<%if params[:pack] == "pack"%>
<script type="text/javascript">

$(document).ready(function () {

     $("#tenant_id").change(function(){
        var tenant_id = $(this).val();
        //console.log("tenant_id ::::"+tenant_id);
        $("#tenantid").val(tenant_id);
        //$("#showuser").show();
                $.ajax({
                        url: '/tenantplans/?pack=pack',
                        data:{tenant_id: tenant_id},
                        type: 'Get',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            var tenant_id = $("#tenantid").val();
                            $("#getuser").html(d);
                        }
                });
             });
});
</script>

<%elsif params[:coupon] == "coupon"%>
<script type="text/javascript">
$(document).ready(function () {

     $("#tenant_id").change(function(){
        var tenant_id = $(this).val();
        //console.log("tenant_id ::::"+tenant_id);
        $("#tenantid").val(tenant_id);
        //$("#showuser").show();
                $.ajax({
                        url: '/tenantplans/?coupon=coupon',
                        data:{tenant_id: tenant_id},
                        type: 'Get',
                        timeout: 120000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            var tenant_id = $("#tenantid").val();
                            $("#getcoupon").html(d);
                        }
                });
             });
});
</script>

<%else%>
<script type="text/javascript">

$(document).ready(function () {

	 $("#tenant_id").change(function(){
    	var tenant_id = $(this).val();
    	//console.log("tenant_id ::::"+tenant_id);
    	$("#tenantid").val(tenant_id);
    	//$("#showuser").show();
				$.ajax({
						url: '/tenantplans/',
						data:{tenant_id: tenant_id},
						type: 'Get',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
							var tenant_id = $("#tenantid").val();
							$("#plansdata").html(d);
						}
				});
             });

	$('[data-toggle="tooltip"]').tooltip();   
    $('#sdate').datepicker({
        format: "yyyymmdd"
      }); 
});
</script>
<%end%>

<script type="text/javascript">

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#UserSubscriptions").validate({

                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    'tenant_id[]': "required",
                    'app_ids[]': "required",
                    'sub_plans[]': "required",
                    price_charged: "required",
                    start_date: "required",
                    email: "required"
                },
                messages: {
                    'tenant_id[]': "THIS FIELD IS MANDATORY",
                    'app_ids[]': "THIS FIELD IS MANDATORY",
                    'sub_plans[]': "THIS FIELD IS MANDATORY",
                    price_charged: "THIS FIELD IS MANDATORY",
                    start_date: "THIS FIELD IS MANDATORY",
                    email: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);

// $('#submitusersubscription').click(function(){
// 				var tenant_id = document.getElementById("tenant_id").value;
// 				var status = $('#UserSubscriptions').valid();
// 				console.log(status);

// 				if ( status == true) {
// 				var data = $('#UserSubscriptions').serialize();
// 				$.ajax({
// 						url: '/usersubscription/',
// 						data: data,
// 						type: 'POST',
// 						dataType: 'json',
// 						timeout: 120000,
// 						error: function(e,t){
// 								if (t == "timeout"){
// 										alert("Timed Out Wait for Response")
// 								}
// 								else{
// 										alert(JSON.parse(e.responseText)["error"]);
// 								}
// 						},
// 						success: function(d){
// 								//window.location = "/"
// 								window.location = "/subscribeuser/new"
// 						}
// 				});
// 				}
// 		});


// $('#userpackinfo').click(function(){
// 				var status = true;
// 				console.log(status);
// 				var user_id = document.getElementById("user_id").value;
// 				var tenant_id = $("#tenantid").val();

// 				if ( status == true) {
// 				$.ajax({
// 						url: '/UserPacks/',
// 						data:{user_id: user_id, tenant_id: tenant_id},
// 						type: 'Get',
// 						//dataType: 'json',
// 						timeout: 120000,
// 						error: function(e,t){
// 								if (t == "timeout"){
// 										alert("Timed Out Wait for Response")
// 								}
// 								else{
// 										alert(JSON.parse(e.responseText)["error"]);
// 								}
// 						},
// 						success: function(d){
// 							var tenant_id = $("#tenantid").val();
// 							console.log("tenant_id in userdata:::::"+tenant_id);
// 							$("#userdata").html(d);
//                                     }
// 				                  });
// 				                 }
// 		                       });

</script>