<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>Subscription</li>
						<li class="active">Plans</li>
				</ol>
		</div>

		<%if @all_tenants.count == 1%>
		<input type="hidden" id="tenantid" name="tenant_id[]" value="<%=@tid%>">
		<% if params[:pack] == "pack"%>
		<%=render partial: "/subscription/get_user"%>
		<%elsif params[:coupon] == "coupon"%>
		<%=render partial: "/subscription/view_coupons_data"%>
		<%else%>
		<%=render partial: "/subscription/view_plans_data"%>
		<%end%>
		<%else%>
				 <div class="row">
						<div class="col-xs-12">
							<div class="panel panel-default">
								<div class="panel-body">
								<div class="container-fluid">
											<div class="row">
				                                <div class="col-xs-2">
				                                    <label for="tenant_id">Select Tenant</label>
				                                    </div>
				                                    <div class="col-xs-1">
				                                        <img class="info_img" data-toggle="tooltip" title="You can chose the tenant from the drop down" src="/assets/info_55x55.png" alt="dummy">
				                                    </div>
				                                      <div class="col-xs-6">
				                                    <select name="tenant_id[]" id="tenant_id" class="form-control input-sm">
				                                        <option value="">Select one from below</option>
				                                        <%@all_tenants.each do |tenant|%>
				                                        <option value="<%=tenant.id%>"><%=tenant.name%></option>
				                                        <%end%>
				                                    </select>
				                                </div>
				                            </div>
				                      </div>
				                </div>
          <input type="hidden" id="tenantid" name="tenant_id[]">
   <%end%>

	<div id="plansdata"></div>
	<div id="getuser"></div>
	<div id="getcoupon"></div>
</div>    
    </div>
  </div>  
 </div>

</div>

<%= render :partial => "add_user_subscription/add_user_validations" %>

