<%if params[:coupon] == "coupon"%>
	$("#table_body").html("<%= j render 'subscription/coupons_data_body' %>");
<%else%>
	$("#table_body").html("<%= j render 'subscription/plans_data_body' %>");
<%end%>