<% @app_list.each do |list| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate list["name"], length: 20%></td>
                                        <td><%=  list["platform"]%></td>
                                        <td><%=  list["_id"]%></td>
                                        <td><%= @cu_role ?  list["ott_auth_token"] : "" %></td>
                                        </tr>
                                <% end %>
<script type="text/javascript">
// function load_actions() {
    $('.delete-app').click(function(){
        $.ajax({
            url: '/apps/'+$(this).attr('app-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });
// };
</script>
 