

<script type="text/javascript">

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   

      $('#release_date_string').datepicker({
                    format: "yyyy-mm-dd"
                });
      $('#published_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
      $('#unpublished_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
});

function spacecheck(event) {
    if (event.keyCode == 13) {
        /*$("#submitMediaForm").click()*/
        return false;
    }
    if(event.charCode==32){
        return false;
    }
    }

  function validate(v){
    console.log(v)
if (document.getElementById('tvodcheck'+v).checked){
          $("#tvchecked"+v).show();
}else{
$("#tvchecked"+v).hide();
}

if (document.getElementById('svodcheck'+v).checked){
          $("#svchecked"+v).show();
}else{
$("#svchecked"+v).hide();
}

}

var lang = []
    
  function validateForm(){
    var field = $('#title').val();
    var videoflag = $('#videoflag').val();

    if (videoflag == "yes"){
      if ((field.trim()).length == 0) {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
        $("#title").css("border", "1px solid red");
        return false;
      }
      return true;
    }
    else{

      if ((field.trim()).length == 0) {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
        $("#title").css("border", "1px solid red");
        return false;
      }

      if($("#sequence_no").val() <= 0){
      	$("#esequence_no").text("Enter ORDER VALUE GREATER THAN OR EQUAL TO 1");
        $("#title").css("border", "1px solid red");
      	return  false;
      }

      if($('input:radio:checked').length == 0){
        $("#rtrsid").text("Select One Option!");
        return false;
      }

      // if($('#status').val() == "published") {
      //     if($('#published_date').val().length == 0) {
      //       $("#pdid").text("Please Provide Publish Date!");
      //       $("#published_date").css("border", "1px solid red");
      //       return false;
      //     }
      // }

      if($('#asset_id').val().trim().length == 0) {
        $("#eaid").text("Please Provide Unique Asset Id!");
        $("#asset_id").css("border", "1px solid red");
        return false; 
      }



      var inputs = document.getElementsByName("language[]");
      if (inputs.length > 1) {
        for(i=0; i < inputs.length; i++)  {
          var langname = inputs[i].value;
          // alert("langname is:::"+langname);
          lang.push(langname); 
        }

        function duplicate( A ) {   
          var i, j, n;
          n=A.length;
          for (i=0; i<n; i++) {                       
            for (j=i+1; j<n; j++) {       
              if (A[i]==A[j]) 
                return true;
            } }
            return false;
        }
        //var newArray = duplicate(lang);
        if ( duplicate(lang) ) {}
        else{
          //alert("Please choose same language");
          $("#languagesid").text("Please choose same language");
          lang.length=0;
        }
        return duplicate(lang);
      }
      else {
        if (inputs.length == 0) {
           //alert("Please Select Language");
           $("#languagesid").text("Please Select Language");
           return false;
        }
        return true;
      }  
    }
  }


  // Image upload function 
    // var key = "<%#=@signature[:key]%>"
    // var AWSAccessKeyId = "<%#=@signature[:access_key]%>"
    // var acl = "<%#=@signature[:acl]%>"
    // var policy = "<%#=@signature[:policy]%>"
    // var signature = "<%#=@signature[:signature]%>"

$("#upvb").click(function(){
    var uvfileSelect = document.getElementById('upv');
    var media_title = document.getElementById("media_title").value;
    var uvfiles = uvfileSelect.files;
    console.log("files is::"+uvfiles);
    $("#upvid").text('');

    if (uvfiles.length == 0)
    {
        //alert("Please Choose Video");
        $("#upvid").text("Please Choose Video file");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
    }
    else
    {
        if (uvfiles[0].type == "video/m4v" || uvfiles[0].type == "video/avi" || uvfiles[0].type == "video/mpg" || uvfiles[0].type == "video/mp4")
        {
        var videoupload = videovalidations(uvfiles);
        }
        else
        {
        alert("Upload Video Files Only");
        }

        //var videoupload = videovalidations(uvfiles);
    }
    }
});



$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    var media_title = document.getElementById("media_title").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        alert("Please Provide Title!");
        //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var media_title = document.getElementById("media_title").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        alert("Please Provide Title!");
       //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    // //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});



$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var media_title = document.getElementById("media_title").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        alert("Please Provide Title!");
        //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});

function videovalidations(file){
    console.log("files size is:::::"+file[0].name);
    //       10530 208  52464391

         if (file[0].size > 50000000){
        //alert("Please Upload Image of Size less than 50MB");
        $("#upvid").text("Please Upload Video of Size less than 50MB");
        }
        else{
        console.log("video files"+file[0]);
        console.log("video files size===="+file[0].size);

        var key = document.getElementById("signaturekey").value;
        var awsAccessKeyId = document.getElementById("access_key").value;
        var acl = document.getElementById("acl").value;
        var policy = document.getElementById("policy").value;
        var signature = document.getElementById("signature").value;
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadvideo(key, awsAccessKeyId, acl, policy, signature, file)
    }
}

function uploadvideo(key, awsAccessKeyId, acl, policy, signature, file) {

      var media_title = document.getElementById("media_title").value;
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = document.getElementById("bucket").value;
      var domain_name = document.getElementById("domain_name").value;

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      
      url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+media_title+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);
      pbar = false;

     var video_s3_ajax = $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
         xhr: function() {  // Custom XMLHttpRequest
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){ // Check if upload property exists
                myXhr.upload.addEventListener('progress',progressHandler, false); // For handling the progress of the upload
            }
            return myXhr;
        },

        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            var res = imageurl.replace("https", "http");
            //var resenc = encodeURIComponent(res);
            document.getElementById("source_url").value = res;
              //alert('Video Uploaded Successfully');
              $("#upvid").text("Video Uploaded Successfully");
              pbar = true;
        },
        error: function (response) {
            console.log(response);
            document.getElementById('progressBar').value = 0;
          //alert('Problem uploading Video');
          $("#upvid").text("Server Error/Cancelled! Can't upload video now. Try again.");
          pbar = true;
        }
  });

    function progressHandler(event){
        document.getElementById('progressBar').value = 0;
        var percent = (event.loaded / event.total) * 100;
        document.getElementById('progressBar').value = Math.round(percent);
    }

    $("#removefile").click(function(){
            document.getElementById('progressBar').value = 0;
            video_s3_ajax.abort();                    
            //alert("cancel video upload");
        });

}





function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {            
    // if (this.width < wid && this.height < hei){
      //  alert("Resolution must be" +wid+"X"+hei+"px format");
   // }
    //else if (this.width > wid && this.height > hei){
      //  alert("Resolution must be" +wid+"X"+hei+"px format");
   // }else{
     //   console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = document.getElementById("signaturekey").value;
        var awsAccessKeyId = document.getElementById("access_key").value;
        var acl = document.getElementById("acl").value;
        var policy = document.getElementById("policy").value;
        var signature = document.getElementById("signature").value;
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
    //}
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {

      var media_title = document.getElementById("media_title").value;
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = document.getElementById("bucket").value;
      var domain_name = document.getElementById("domain_name").value;

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);

      url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+"-"+wid+"x"+hei+imgext
      }else{

      imageurl = 'http://'+domain_name+"/"+key+media_title+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}

    $('#custom_tag').change(function() {
        if ($(this).prop('checked').toString()=="true"){
            $('#custom-group').show();
        }else{
            $('#custom-group').hide();
        }
    });


    $(".con_add_field_button").click(function(e){
        e.preventDefault();
        var dd = document.createElement("div");
        $(dd).append('<div class="row mb0 mr0"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
        $(".constructor").append($(dd));     
        eventFormControl($(dd));           
    });

    $(".constructor").on("click",".remove_field", function(e){
        e.preventDefault(); $(this).parent('div').remove();
    });


<% if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
    $(".ac_add_field_button").click(function(v){
                v.preventDefault();
                var vv = document.createElement("div");
                
                $(".acconstructor").append($(vv));
                vidoeeventFormControl($(vv));      
        });

        $(".acconstructor").on("click",".remove_field1", function(v){
                v.preventDefault(); $(this).parent('div').remove();
        });
<%end%>


    // $('.add-people').click(function(){
    //     $.ajax({
    //         url: '/people/get_people',
    //         type: 'GET',
    //         timeout: 120000,
    //         error: function(e,t){
    //             if (t == "timeout"){
    //                 alert("Timed Out Wait for Response")
    //             }
    //             else{
    //                 alert(JSON.parse(e.responseText)["error"]);
    //             }
    //         },
    //         success: function(d){
    //             $("#view_people").html(d);
    //             $('#viewModal2').modal('show');
    //         }
    //     });
    // });

      $(document).on('click', '.givemorefields', function(e) {
        if ($(this).prop('checked').toString()=="true"){
          $("#morefields").clone().appendTo($(this).parent()).show();
        }
        else {
          $(this).parent().find("#morefields").remove();
        }
      });
      // $(".givemorefields").click(function(){
      //   if ($(this).prop('checked').toString()=="true"){
      //     $("#morefields").clone().appendTo($(this).parent()).show();
      //   }
      //   else {
      //     $(this).parent().find("#morefields").remove();
      //   }
      // });
    // }
    


    <%if @edit_media%>
    $('#submitUpdateMediaForm').click(function(){
        var data = $('#mediaForm').serialize();
        $.ajax({
            url: '/media/<%=@edit_media.id%>?method=update',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                window.location = "/media/view_all"
            }
        });
    });
    <%end%>
$(document).ready(function(){

//     $('.ckeditor').ckeditor({
//         autoParagraph = false
// });

    // CKEDITOR.editorConfig = function( config ) {
    //     config.autoParagraph = false; 
    // };

    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }
});    
</script>


<% if params[:action] == "new_video_list" %>
<script type="text/javascript">

      $('#submitMediaForm').click(function(){
        var status = true;

        <% if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
          status = validateForm();
        <% end %>


        if (status == true) {
        // var p_date = 
        var data = $('#mediaForm').serialize();
        var p_date = $('#published_date').val();
        var unp_date = $('#unpublished_date').val();
        if (p_date.trim().length > 0) {
            var published_date1 = new Date(p_date);
            var utc_published_date = new Date(p_date).getTime();
        }

        if (unp_date.trim().length > 0) {
            var utc_unpublished_date = new Date(unp_date).getTime();
        }

        $.ajax({
            url: '/video_list/',
            data: data + "&utc_published_date=" + utc_published_date + "&utc_unpublished_date=" + utc_unpublished_date,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){

                    alert("Timed Out Wait for Response");
                }
                else{
                    //alert(JSON.parse(e.responseText)["error"]);
                    $("#defaulterror").text(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                //window.location = "/media/view_all"
                //var theme = '<%=@catalogtheme%>';
                // if (theme == "show"){
                //  var show_id = '<%#=@show_id%>';
                //  console.log("show_id" + show_id);
                //  if(show_id == null || show_id == "" )
                //  {
                //     var subcategory_id = '<%#=@subcategory_id%>';
                //     window.location = "/subcategories/view_nested_subcategories?subcategory_id=<%#=@subcategory_id%>"
                //  }else
                //  {
                //     window.location = "/shows/view_subcategories?show_id=<%#=@show_id%>" 
                //  }
                //  }
                 // else
                 // {
                    window.location = "/media/edit?media_id=<%=params[:media_id]%>&vl=yes"
                 // }
            }
        });
        }
    });

</script>

<%else%>

<script type="text/javascript">

      $('#submitMediaForm').click(function(){
        var status = true;

        <% if @bg.plan=="ott" || @bg.plan=="ott_saas" %>
          status = validateForm();
        <% end %>


        if (status == true) {
        // var p_date = 
        var data = $('#mediaForm').serialize();
        var p_date = $('#published_date').val();
        var unp_date = $('#unpublished_date').val();
        if (p_date.trim().length > 0) {
            var published_date1 = new Date(p_date);
            var utc_published_date = new Date(p_date).getTime();
        }

        if (unp_date.trim().length > 0) {
            var utc_unpublished_date = new Date(unp_date).getTime();
        }

        $.ajax({
            url: '/media/',
            data: data + "&utc_published_date=" + utc_published_date + "&utc_unpublished_date=" + utc_unpublished_date,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){

                    alert("Timed Out Wait for Response");
                }
                else{
                    //alert(JSON.parse(e.responseText)["error"]);
                    if (JSON.parse(e.responseText)["error"] == "Please Select Applications!"){
                        $("#appsid").text("Please Select Applications!");
                    }
                    if (JSON.parse(e.responseText)["error"] == "Please Select Genres!"){
                        $("#genresid").text("Please Select Genres!");
                    }
                    if (JSON.parse(e.responseText)["error"] == "Please provide valid play url"){
                        $("#playurl").text("Please provide valid play url!");
                    }
                    else{
                        $("#defaulterror").text(JSON.parse(e.responseText)["error"]);
                    }
                }
            },
            success: function(d){
                //window.location = "/media/view_all"
                var theme = '<%=@catalogtheme%>';
                if (theme == "show"){
                 var show_id = '<%=@show_id%>';
                 console.log("show_id" + show_id);
                 if(show_id == null || show_id == "" )
                 {
                    var subcategory_id = '<%=@subcategory_id%>';
                    window.location = "/subcategories/view_nested_subcategories?subcategory_id=<%=@subcategory_id%>"
                 }else
                 {
                    window.location = "/shows/view_subcategories?show_id=<%=@show_id%>" 
                 }
                 }
                 else
                 {
                    window.location = "/catalogs/view_catalog/<%=@catalog_id%>"
                 }
            }
        });
        }
    });

</script>
<%end%>

