
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>Media</li>
			<%if !@edit_media%>
			<li class="active">Add New Media</li>
			<%else%>
			<li class="active">Edit Media</li>
			<%end%>
		</ol>
	</div><!--/.row-->
	<!-- <div class="row">
		<div class="col-lg-12">
			<%if !@edit_media%>
			<h1 class="page-header">Add New Media</h1>
			<%else%>
			<h1 class="page-header">Edit Media</h1>
			<%end%>
		</div>
	</div> --><!--/.row-->
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-body tabs">

					<div id="morefields" class="row morefields" style="display:none">
						<div class="col-xs-12">
                    	<div class="row">
                        <div class="col-xs-2">
							<label>Role</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                            <div class="col-xs-6">
							<input type="text" class="form-control input-sm" name="roles[]" value="">
						</div>
						</div>

                    	<div class="row">
                        <div class="col-xs-2">
							<label>Description</label>
							</div>
							 <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
							<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""></textarea>
							<!-- <input type="text" class="form-control input-sm" name="descriptions[]" value=""> -->
						</div>
						</div>
						
						<!-- <div class="row">
                        	<div class="col-xs-2">
							<label>Display Image</label>
							</div>
						    <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            <div class="col-xs-6">
						 		<input type="text" class="form-control input-sm" name="images[]" value="">
					        </div>
						</div> -->
						
						</div>
						
						</div>

					<form class="form-horizontal" id="mediaForm" role="form">
						<ul class="nav nav-pills">
							<% if params[:vl] == "yes" %>
							<li><a href="#metadata-tab" data-toggle="tab">Metadata</a></li>
							<% else %>
							<li class="active"><a href="#metadata-tab" data-toggle="tab">Metadata</a></li>
							<% end %>
							<li><a href="#people-tab" data-toggle="tab">People</a></li>
							<li><a href="#accesscontrol-tab" data-toggle="tab">Content Control</a></li>
							<% if !@catalog["videolist_tags"].blank? %>
							  <% if params[:vl] == "yes" %>
							  	<li class="active"><a href="#videolist-tab" data-toggle="tab">Video List</a></li>
							  <% else %>
							  	<li><a href="#videolist-tab" data-toggle="tab">Video List</a></li>
							  <% end %>
							<% end %>
						</ul>
						<div class="tab-content">
						<% if params[:vl] == "yes" %>
						  <div class="tab-pane fade" id="metadata-tab">
						<% else %>
						  <div class="tab-pane fade in active" id="metadata-tab">
						<% end %>

						    <div class="row">
									<div class="col-xs-2">
										<label for="title">Title</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Any title of your choice" value="<%if @edit_media%><%=@edit_media.title%><%else%>''<%end%>">

										<% if @edit_media["subcategory_id"].nil?%>
											<input type=hidden id="show_id" name="show_id" value="<%=@edit_media.show_id%>">
										<%else%>
											<input type=hidden id="subcategory_id" name="subcategory_id" value="<%=@edit_media.subcategory_id%>">
										<%end%>
									</div>
								</div>
								<!--End of Title  -->

								<div class="row">
									<div class="col-xs-2">
										<label>Catalog Name</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="catalog_name" name="catalog_name" placeholder="<%=@item["catalog_name"]%>" value="<%= @item["catalog_name"]%>" readonly>
										<input type=hidden id="catalog_id" name="catalog_id" value=<%= @item["catalog_cms_id"]%>>
									</div>
								</div>
								<!-- End of Catalog Name -->

								<div class="">
									<div class="mlr-15">
									<div class="col-xs-2">
										<label>Custom Fields</label><br/>
									</div>

										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>

                                      <div class="col-xs-6">
										<br>
										<% if !@catalog["custom_tags"].blank? %>
										<% @catalog["custom_tags"].each do |tag_hash| %>
										<label style="float: left;"><%= tag_hash["tag"] %></label>
										<% if @item["custom_fields"].has_key? tag_hash["tag"] %>
										<% tag_name = tag_hash["tag"] %>
										<input type="text" class="form-control input-sm" name="<%= tag_hash["tag"] %>" placeholder="<%if @item["custom_fields"][tag_name].kind_of? Array%><%= @item["custom_fields"][tag_name].join(',') %><% else %><%= @item["custom_fields"][tag_name] %><% end %>" value="<% if @item["custom_fields"][tag_name].kind_of?Array %><%= @item["custom_fields"][tag_name].join(',') %><% else %><%= @item["custom_fields"][tag_name] %><% end %>">
										<% else %> 
										<input type="text" class="form-control input-sm" name="<%= tag_hash["tag"]%>" value=""> 
										<% end %>
										<% end %>
										<input type="hidden" name="tags" value="<%= @item["catalog_custom_tags"]%>">
										<% end %>
									</div>
									</div>
									<div class="clear"></div>
								
								<!-- End of Custom Fields -->

								
								<% @item["tenants_data"].each do |tenant| %>
									
										<div class="row">
											<div class="col-xs-2">
												<label>Tenants</label>
											</div>
										
											<div class="col-xs-1">
	                                        	<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
	                                    	</div>
	                                    	<div class="col-xs-6">
	                                    		<%= tenant["name"] %>										
	                                    	</div>

                                    	</div>	

										<div class="row">
										<div class="col-xs-2">
										<label>Platforms</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
                                    		<div class="checkbox">
										<% tenant["apps"].each do |app| %>
										<% if @item["item_apps"].include? app["app_id"] %>
											<label><input type="checkbox" id="app_checkbox" name="apps[]" value="<%=app["app_id"]%>" checked>
											<%=app["app_name"]%></label>
										<% else %>
											<label><input type="checkbox" id="app_checkbox" name="apps[]" value="<%=app["app_id"]%>">
											<%=app["app_name"]%></label>		
										<% end %>
										<% end %>
										</div>
										</div>
										</div>
										<div class="row">
										<div class="col-xs-2">
										<label>Select Genres</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
                                    		<div class="checkbox">
										<% tenant["genres"].each do |genre| %>
											<label>
											<% if @item["item_genres"].include? genre %>
											<input type="checkbox" id="genres" name="genres[]" value="<%= genre%>" checked>
											<% else %>
											<input type="checkbox" id="genres" name="genres[]" value="<%= genre%>">
											<% end %>
										<%= genre%></label>
										<% end %>
										</div>
										</div>
										</div>
								<div class="row">
									<div class="col-xs-2">
										<label>Select Language</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    	</div>
                                    	<div class="col-xs-6">
										<select name="language[]" id="language" class="form-control input-sm">
											<% tenant["languages"].each do |language| %>
											<option id="<%= language%>" value="<%= language %>"><%= language%></option>
											<% end %>
										</select>
										</div>
										</div>	
										<% end %>
									</div>
								<!-- </div> -->
								<!-- End of Tenant -->

								<div class="row">
									<div class="col-xs-2">
										<label>Long Description</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
										<% if @item["description"].blank? %>
										<textarea class="form-control ckeditor input-sm" rows="5" id="description" name="description" ></textarea>
										<% else%> 
										<textarea class="form-control input-sm ckeditor" rows="5" id="description" name="description" ><%= @item['description']%></textarea>
										<%end%>
											<!-- <input type="text" class="form-control input-sm" id="description" name="description" placeholder="@item['description']" value="<%#= @item['description']%>"> -->
									</div> 
								</div>

								<div class="row">
									<div class="col-xs-2">
										<label for="short_description">Short Description</label>
										</div><div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6 ckedit">
                                      <% if @item["short_description"].blank? %>
										<textarea class="form-control ckeditor input-sm" rows="5" id="short_description" name="short_description" value=""></textarea>
										<% else%> 
										<textarea class="form-control input-sm ckeditor" rows="5" id="short_description" name="short_description" value=""><%= @item['short_description']%></textarea>
										<%end%>

                                		<!-- <input type="text" class="form-control input-sm" id="short_description" name="short_description" placeholder="" value="<%#= @item['short_description']%>"> -->
									</div>
								</div>

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="sequence_no">Media Order</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" id="sequence_no" name="sequence_no" placeholder="" value="<%= @item['sequence_no']%>" min ="1">
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="error_media" id="esequence_no"></div>
                                </div>

                                <div class="row">
                                  <div class="col-xs-2">
                                    <label for="asset_id">Asset ID</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" id="asset_id" name="asset_id" value="<%= @item['asset_id']%>">
                                  </div>
                                </div> 

								<div class="row">
									<div class="col-xs-2">
										<label for="keywords">Keywords</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="keywords" name="keywords" placeholder="" value="<%= @item['keywords']%>">
									</div>
								</div>

								<div class="row">
									<div class="col-xs-2">
										<label for="duration">Duration</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="duration_string" name="duration_string" placeholder="HH:MM:SS" value="<%= @item['duration_string']%>">
                                	</div>
                                </div>

                                <div class="row">
									<div class="col-xs-2">
										<label for="start_time">Start Time</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="start_time" name="start_time" placeholder="HH:MM:SS" value="<%= @item['start_time']%>">
                                	</div>
                                </div> 

                                <div class="row">
									<div class="col-xs-2">
										<label for="end_time">End Time</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                		<input type="text" class="form-control input-sm" id="end_time" name="end_time" placeholder="HH:MM:SS" value="<%= @item['end_time']%>">
                                	</div>
                                </div>                                  
                                <div class="row">
									<div class="col-xs-2">
                                		<label for="released_date">Release Date</label>
                                		</div>
                                		<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="release_date_string" name="release_date_string" placeholder="" value="<%=@item['release_date_string'].split("T")[0]%>">
                                		<!-- <input type="date" id="release_date_string" name="release_date_string" placeholder="" value="<%#= @item['release_date_string'].split("T")[0]%>"> -->
                                	</div>
                                </div>
								<!-- End of Description -->

								<div class="row">
									<!-- <div class="error_media"  id="pdid"> </div> -->
									<div class="col-xs-2">
                                		<label for="published_date">Publish Date</label>
                                		</div>
                                		<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="published_date" name="published_date" placeholder="" value="">
                                		
                                	</div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="unpublished_date">Unpublish Date</label>
                                        </div>
                                        <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the unpublish date associated for the video." src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                        <input  type="text" class="form-control input-sm" id="unpublished_date" name="unpublished_date" placeholder="" value="">
                                    </div>
                                </div>




								<div class="row">
									<div class="col-xs-2">
										<label>Rating</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="rating" name="rating" placeholder="<%=@item["rating"]%>" value="<%=@item["rating"]%>">
									</div>
								</div>
								<!-- End of Rating -->

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="featured_image">Banner Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to featured image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <!-- <div class="col-xs-6 upload-section">
                                  <form enctype="multipart/form-data">
                                  <input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                                  <% if !@item["thumbnails"].blank? %>
	                                  <% if @item["thumbnails"]["l_large"]["url"].blank? %>
		                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:794px;height:447px;">
		                                  <input type="hidden" id= "featured_image" name="featured_image">
	                                  <%else%>
		                                  <img src="<%= @item["thumbnails"]["l_large"]["url"]%>" id= "fimgsrc" class="" alt="image" style="width:794px;height:447px;">
		                                  <input type="hidden" id= "featured_image" name="featured_image" value="<%= @item["thumbnails"]["l_large"]["url"]%>">
	                                  <%end%>
                                  <%end%>
                                  </form>
                                  </div> -->

                                  <form enctype="multipart/form-data">
                                  <div class="col-xs-6">
                                  <% if !@item["thumbnails"].blank? %>
                                  <% if @item["thumbnails"]["l_large"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "featured_image" name="featured_image">
                                  <%else%>
                                 <img src="<%= @item["thumbnails"]["l_large"]["url"]%>" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "featured_image" name="featured_image" value="<%= @item["thumbnails"]["l_large"]["url"]%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="fimg"  class="choose-file" name="fimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
                                  (1920px X 1080px)-(png,jpeg,gif)
                                  </div>
                                  <%end%>
                                  </div>
                                  <!-- </form> -->

                                </div>
								<!-- End of Featured Image -->

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="l_listing_image">Large Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to Landscape Image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <!-- <div class="col-xs-6 upload-section landscape-image">
                                  <form enctype="multipart/form-data">
                                  <input type="file" id="limg" class="choose-file"  name="limg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
                                  <%# if @item["thumbnails"]["l_medium"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                                  <input type="hidden" id= "l_listing_image" name="l_listing_image">
                                  <%#else%>
                                  <img src="<%#=@item["thumbnails"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" style="width:410px;height:231px;">
                                  <%#end%>
                                  </form>
                                  </div> -->

                                  <!-- <form enctype="multipart/form-data"> -->
                                  <div class="col-xs-6">
                                  <% if !@item["thumbnails"].blank? %>
                                  <% if @item["thumbnails"]["l_medium"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "l_listing_image" name="l_listing_image">
                                  <%else%>
                                 <img src="<%=@item["thumbnails"]["l_medium"]["url"]%>" id= "limgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "l_listing_image" name="l_listing_image" value="<%= @item["thumbnails"]["l_medium"]["url"]%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="limg" class="choose-file"  name="limg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
                                  (360px X 203px)-(png,jpeg,gif)
                                  </div>
                                  <%end%>
                                  </div>
                                  <!-- </form> -->



                                </div>
                                
								<!-- End of Landscape Image -->

								<div class="row">
                                  <div class="col-xs-2">
                                    <label for="p_listing_image">Small Image</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the link to small image" src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <!-- <div class="col-xs-6 upload-section small-image">
                                  <form enctype="multipart/form-data">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  <% if !@item["thumbnails"].blank? %>
                                  <% if @item["thumbnails"]["p_small"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "p_listing_image" name="p_listing_image">
                                  <%else%>
                                  <img src="<%= @item["thumbnails"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <%end%>
                                  <% end%>
                                  </form>
                                  </div> -->

                                  <!-- <form enctype="multipart/form-data"> -->
                                  <div class="col-xs-6">
                                  <% if !@item["thumbnails"].blank? %>
                                  <% if @item["thumbnails"]["p_small"]["url"].blank? %>
                                  <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "p_listing_image" name="p_listing_image">
                                  <%else%>
                                  <img src="<%= @item["thumbnails"]["p_small"]["url"]%>" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
                                  <input type="hidden" id= "p_listing_image" name="p_listing_image" value="<%= @item["thumbnails"]["p_small"]["url"]%>">
                                  <%end%>
                                  <div class="upload-section">
                                  <input type="file" id="pimg" class="choose-file"  name="pimg" accept="image/*" style="display:inline;">
                                  <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
                                  (251px X 141px)-(png,jpeg,gif)
                                  </div>
                                  <%end%>
                                  </div>
                                  <!-- </form> -->
                                </div>    
                                </form>
								<!-- End of Portrait Image -->

								<div class="row">
									
									<div class="col-xs-2">
										<label>Play URL</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                      	<div class="form-group mb0" id="custom-group">
											
												<div class="col-xs-12 constructor">
													<button class="btn btn-xs btn-info con_add_field_button">Add More URLs</button>
													<div class="row">
														<div class="col-xs-3">
															<p class="mb0">Source URL</p>
														</div>
														<div class="col-xs-3">
															<p class="mb0">URL</p>
														</div>
													</div>

													<%if !@item["play_url"].empty? %>
													<% @item["play_url"].each do |data| %>
													<div class="row">
														<div class="col-xs-3">
															<input type="text" name="url_types[]" class="form-control" value="<%= data[0]%>" placeholder="<%= data[0]%>" readonly>
														</div>
														<div class="col-xs-8">
															<input type="text" name="url_names[]" class="form-control" value="<%= data[1]['url']%>" placeholder="<%= data[1]['url']%>" readonly>
														</div>
														<!-- <div class="col-xs-3">
															<% if data[1]['width'] == -1.0  %>
															<% width = "" %>
															<% else %>
															<% width = data[1]['width'] %>
															<% end %>
															<input type="text" name="widths[]" class="form-control" value="<%= width%>" placeholder="<%= width %>" readonly>
														</div>
														<div class="col-xs-3">
															<% if data[1]['height'] == -1.0  %>
															<% height = "" %>
															<% else %>
															<% height = data[1]['height'] %>
															<% end %>
															<input type="text" name="heights[]" class="form-control" value="<%= height%>" placeholder="<%= height%>" readonly>
														</div> -->
														<a href="#" class="remove_field">Remove</a>
														
													</div>
													<%end%>
													<% elsif @edit_media.status == "Published" && !@edit_media.smart_url.empty? && @item["play_url"].empty? %>
													<div class="row">
														<div class="col-xs-3">
															<input type="text" name="url_types[]" class="form-control" value="saranyu" placeholder="Cinestaan" readonly>
														</div>
														<div class="col-xs-8">
															<input type="text" name="url_names[]" class="form-control" value="<%= @edit_media.smart_url %>" placeholder="<%= @edit_media.smart_url %>" readonly>
														</div>
														<!-- <div class="col-xs-3">
															<input type="number" name="widths[]" class="form-control">
														</div>
														<div class="col-xs-3">
															<input type="number" name="heights[]" class="form-control">
														</div> -->
														<a href="#" class="remove_field">Remove</a>
														
													</div>	
													<% end %>
												</div>
												<!-- End of col-xs-12 constructor -->
											</div>
										</div> 
									
								</div> 
								<!-- End of Play URL -->

								<div class="row">
									<div class="col-xs-2">
										<label>Default Play URL</label>
										</div>
										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<select name="default_url_type" class="form-control input-sm">
											<option value="saranyu" <%= "selected" if @item["play_url_type"] == "saranyu" %>>Saranyu</option>
											<option value="youtube" <%= "selected" if @item["play_url_type"] == "youtube" %>>YouTube</option>
											<option value="daily_motion" <%= "selected" if @item["play_url_type"] == "daily_motion" %>>Daily Motion</option>
										</select>
									</div>
								</div>
								<!-- End of Play url type -->
								 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "publisher")%>
								 <% else %>
								<div class="row">
									<div class="col-xs-2">
										<label>Change status</label>
										</div>
										<% if @item["status"]=="edit"%>
										<% statuses = ["edit","published"]%>
										<% end %>
										<% if @item["status"]=="published"%>
										<% statuses = ["published","unpublished"]%>
										<% end %>
										<% if @item["status"]=="unpublished"%>
										<% statuses = ["unpublished","published"]%>
										<% end %>

										<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<select id="status" name="status" class="form-control input-sm">
											<% statuses.each do |status| %>
											<option value="<%= status%>">
												<%= status%>
											</option>    
											<% end %>
										</select>    
									</div>
								</div>	
								<% end %>
								<!-- End of status -->	

								  <div class="row">
                                    <div class="col-xs-2">
                                        <label for="content_owner">Content Owner</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%= t('c_name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                         <select name="content_owner" id="content_owner" class="form-control input-sm">
                                         <%#= content_owner_details.inspect%>
                                         <option value="">Select content owner</option>
                                        <% content_owner_details.each do |i| %>
                                        <%if @item['content_owner_id'] == i.split('-')[1]%>
                                        <option selected="selected" value="<%=i.split('-')[1]%>"><%= i.split('-')[0]%></option>
                                        <% else %>
                                        <option value="<%=i.split('-')[1]%>"><%= i.split('-')[0]%></option>
                                        <% end %>
                                        <% end %>
                                    </select>    
                                    </div>
                                </div>
                                <!-- End of content owner id -->
                                <% if !@tvod_featured_items.empty? %>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <label for="tvod_plan">Select TVOD/Featured Plan</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%= t('c_name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                         <select name="tvod_plan" id="tvod_plan" class="form-control input-sm">
                                         <option value="">Select plan from below</option>
                                        <% @tvod_featured_items.reverse.each do |tvod_featured_items| %>
                                        <%#tvod_featured_plans.each do |tvod_featured_plan| %>
                                        <%#if !tvod_featured_plan.nil? %>
                                        <option  value="<%=tvod_featured_items["id"]%>" <%= "selected" if @item['access_control']['tvod_settings'].present? && @item['access_control']['tvod_settings']['tvod_subscription_id'] == tvod_featured_items["id"] %>><%= tvod_featured_items['title']%></option>
                                        <%# end %>
                                        <%# end %>
                                        <% end %>
                                    </select>    
                                    </div>
                                </div>
				<%if @item['access_control']['tvod_settings'].present?  && !@item['access_control']['tvod_settings']['tvod_plan_id'].nil?%>
				<div class="row tvod_pack_form">
				<%else%> 
                               <div class="row tvod_pack_form" style="display:none">
				<%end%>
                                    <div class="col-xs-2">
                                        <label for="tvod_pack">Select TVOD/Featured Pack</label>

                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%= t('c_name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                         <select name="tvod_pack" id="tvod_pack" class="form-control input-sm">
                                         <option value="">Select plan from below</option>
					<%if @item['access_control']['tvod_settings'].present?  && !@item['access_control']['tvod_settings']['tvod_subscription_id'].nil?  %>
					<%@tvod_packs = @tvod_featured_items.select{|r| r['id'] == @item['access_control']['tvod_settings']['tvod_subscription_id']}%>
					<% if !@tvod_packs.blank?%>
                                        <% @tvod_packs.first['plans'].each do |tvod_plans| %>
                                        <option value="<%=tvod_plans["id"]%>" <%= "selected='selected'" if @item["access_control"]["tvod_settings"].present? && @item["access_control"]["tvod_settings"]["tvod_plan_id"] == tvod_plans["id"] %>><%= tvod_plans["title"]%></option>
                                        <% end %>
					<% end %>
					<% end %>
                                    </select>    
                                    </div>
                                </div>
                                <% if @item["access_control"]["tvod_settings"].present? && (@item["access_control"]["tvod_settings"]["tvod_plan_id"] != "null" && !@item["access_control"]["tvod_settings"]["tvod_plan_id"].nil?) %>
					<%if !@tvod_packs.blank?%>
					<% @tvod_region = @tvod_packs.first['plans'].select{|r| r["id"] == @item["access_control"]["tvod_settings"]["tvod_plan_id"]}%>
                                	<% regions = []%>
                                	<%  @tvod_region.first['region'].each do |r|%>
					<%if r["region"].is_a? String
						 regions << a = r["region"] + " - "+r["price"]+ " " +r["currency"] + ", "+@tvod_region.first['duration'] + @tvod_region.first['period']
					else
						regions << r["region"].collect{|j|  a = j + " - "+r["price"]+ " " +r["currency"] + ", "+ @tvod_region.first['duration'] + @tvod_region.first['period']}
					end%>
                                	<% end %>
				
                                	<%regions = regions.flatten.compact %>
				<% end %>
				<% end %>
				<% if  @item["access_control"]["tvod_settings"].present? && !@item["access_control"]["tvod_settings"]["tvod_plan_id"].nil?%>
				<div class="row" id ="edit_tvod_region">	
				<%else%>
                                <div class="row" id ="edit_tvod_region" style="display:none">
				<% end %>
                                    <div class="col-xs-2">
                                        <label for="tvod_region">Select TVOD Region</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="<%#= t('c_name')%>" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-3" id="edit_tvod_region_form">
                                         <!-- <select multiple name="tvod_region[]" id="tvod_region" class="form-control input-sm"> -->
					<% if regions.present?%>
                                         <%regions.each do |region|%>
                                         <label for="tvod_regions[]"><%=region%></label>
                                         	<!-- <option value="<%#= region%>"><%#=region%></option> -->
                                         	<input type="checkbox" name="tvod_regions[]" value="<%=region%>" id="tvod_regions" <%= "checked" if (@item["access_control"]["tvod_settings"].present?) && (@item["access_control"]["tvod_settings"]["tvod_region"].include? region.split(" -").first) %>></br> 
                                         <%end %>
					<% end %>
                                         <!-- <option value="">Select plan from below</option> -->
                                    <!-- </select>     -->
                                    </div>
                                </div>
                                <div class="row" id="edit_tvod_pack" style="display:none">
                                    <div class="col-xs-3">Price
                                      <input type="text" class="form-control input-sm" id="tvod_price_cost" name="tvod_price" value="" readonly>
                                    </div>  
                                    <div class="col-xs-3">Duration
                                      <input type="text" class="form-control input-sm" id="tvod_price_duration" name="tvod_duration" value="" readonly>
                                    </div> 
                                     <div class="col-xs-2">Currency
                                      <input type="text" class="form-control input-sm" id="tvod_currency_type" name="tvod_currency_type" value="" readonly>
                                    </div>   
                                                     <!-- style="display:none" -->
                                </div>
                                <% end %>


                                	 <div class="row">
                                  <div class="col-xs-2">
                                    <label for="cost_per_hour">Cost per hour</label>
                                  </div>
                                  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                  <div class="col-xs-6">
                                     <div class="col-xs-3">
                                      <select name="currency" id="currency" class="form-control input-sm">
                                            <%currency_arr = ["Select Currency","IN","US","AU","GB"] %>
                                            <% currency_arr.each do |i| %>
                                             <%if @item['currency'] == i%>
                                                <option selected="selected" value="<%=i %>"><%=i %></option>
                                                <% else %>
                                                <option value="<%=i %>"><%=i%></option>
                                                <% end %>
                                                <% end %>
                                            </select>
                                </div><div class="col-xs-9">
                                    <input type="text" class="form-control input-sm" id="cost_per_hour" name="cost_per_hour" value="<%= @item['cost_per_hour']%>"></div>
                                  </div>
                                </div> 	
                                <!-- End of Cost per hour -->
								
								<div class="row">
                                    <div class="col-xs-2">
                                        <label for="theme">Censor Rating</label>
                                    </div>
                                    <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" data-html="true" title="Content" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                    <div class="col-xs-6">
                                            <select name="censor_rating" id="censor_rating" class="form-control input-sm">
                                            <%censor_rating_arr = ["All age groups","8+","13+","16+","18+"] %>
                                            <% censor_rating_arr.each do |i| %>
                                             <%if @item['censor_rating'] == i%>
                                                <option selected="selected" value="<%=i %>"><%=i %></option>
                                                <% else %>
                                                <option value="<%=i %>"><%=i%></option>
                                                <% end %>
                                                <% end %>
                                            </select>
                                     </div>
                                </div>
								<!-- End of Censor Rating -->

						  </div>
						  <!-- End of Metadata Tab  -->

							<div class="tab-pane fade" id="people-tab">
								<div class="row">
                                    <div class="col-xs-6  col-xs-offset-6" >
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="query">Search</label>    
                                            </div>
                                            <div class="col-xs-6">
                                                <input type="text" id="query" class="input-sm form-control search-input">
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
								<div class="col-xs-12">
									<% if !@people.blank? %>
										<div style="float:left;">
											<label>Select People</label>
										</div>
										<br>
										<div class="col-xs-12"></div>
										<% @people.each do |person| %>
											<div > 
												<% data = @item["people"].select { |h| h["person_id"] == person["person_id"] } %>
												<% if data.blank? %>												
												<% else %>
													<input class="removemorefields" type="checkbox" name="people[]" value="<%= person['person_id']%>-<%= person["catalog_id"]%>" checked > <%= person["title"] %>
													<div class="row">
														<div class="col-xs-2">
															<label>Role</label>
														</div>
														<div class="col-xs-1">
															<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
														</div>
														<div class="col-xs-6">
															<input type="text" class="form-control input-sm" name="roles[]" value="<%= data[0]["roles"].join(',') %>">
														</div>
													</div>
													<div class="row">
														<div class="col-xs-2">
															<label>Description</label>
														</div>
														<div class="col-xs-1">
															<img class="info_img" data-toggle="tooltip" title=" Content " src="/assets/info_55x55.png" alt="dummy">
														</div>
														<div class="col-xs-6">
															<textarea class="form-control input-sm" rows="5" name="descriptions[]" value=""><%= data[0]["description"] %></textarea>
														</div>
													</div>
												<% end %>
												
											</div>
											<br>
										<% end %>

									<% else %>
										<label>Please Add People to Catalog</label>  
									<% end %>
									
									<div class="col-xs-12">
										<div class="col-xs-12 people-constructor row">
										</div>
									</div>
								</div>
								<!-- End of People -->
							</div>
							<!-- End of People Tab -->

							 <div class="tab-pane fade" id="accesscontrol-tab">
							 <div id = "accesscontrol">
                                <div class="row">
                                <div class="col-xs-2">
                                <label>Update Content Control</label>
                                </div>
                                </div>
                                <% if @accesscontrol.length == 0 %>
                                <%else%>
                                <%@accesscontrol.group_by { |d| d["name"] }.each do |k,v|%>
                                <div class="row">
                                <div class="col-xs-2"><label>Tenant</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6"><%=k%></div>
                                </div>

                                <div class="row">
                                <div class="col-xs-2"><label>Region</label></div>
                                <div class="col-xs-1"></div>
                                <div class="col-xs-6">
                                <input type="text" class="form-control input-sm" id="region[]" name="region[]" value="IN" >
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-xs-2"><label>Select Content Control</label></div>
                                <div class="col-xs-1"></div>
                                <div class='col-xs-6'>
                                <select name='access_control_id[]' id='access_control_id' class='form-control  input-sm'>
                                <%if @item["access_control"]["title"].nil?%>
                                <%v.each do |t|%>
                                <option id="access_control_id[]" value='<%=t["content_id"]%>'><%=t["title"]%></option>
                                <%end%>
                                <%else%>
                                <option id="access_control_id[]" value='<%=@item["access_control"]["access_control_id"]%>'><%=@item["access_control"]["title"]%></option>
                                <%v.each do |t|%>
                                <option id="access_control_id[]" value='<%=t["content_id"]%>'><%=t["title"]%></option>
                                <%end%>
                                <%end%>
                                </select>
                                </div>
                                </div>
                                <%end%>
                                <%end%>

                                </div>
								<div class="row">
                                    <div class="col-xs-12">

                                  <div class="row">
									<div class="col-xs-2">
									<label for="title">Selected Content Control</label>
									</div>
								  </div> 

                                    <div class="row">
								<div class="col-xs-2">
									<label for="title">Title</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the title for the access control. You can identify the access control using this title" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
									<p><%=@item["access_control"]["title"]%></p>
								</div>
							</div> 
							<div class="row">
									<div class="col-xs-2">
									<label for="isfree">is free</label>
									</div>
									<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the is_free flag. If the is_free flag is set to yes any content associated with the access control shall be available for playback free. If the is_free flag is set to no then subscription shall be needed to play the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
	                                        <%if @item["access_control"]["is_free"] == true%>
											<p>Yes</p>
											<%else%>
											<p>No</p>
											<%end%>
									  </div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="adsavailable">Ads Available</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the ads_available flag. If the ads_avaialble flag is set to yes then pre-role, mid-role or post-role ads shall be available on the platform. If the flag is set to no then no ads will be rendered in the application while playing the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<%if @item["access_control"]["ads_available"] == true%>
										<p>Yes</p>
										<%else%>
										<p>No</p>
										<%end%>
									  </div>
							</div>
							<div class="row">
								<div class="col-xs-2">
								<label for="loginrequired">Login Required</label>
								</div>
								<div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can provide the login requried flag. If the flag is set to yes then user login shall be needed to play the item. If the flag is set to no then user login is not needed to play the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
										<%if @item["access_control"]["login_required"] == true%>
										<p>Yes</p>
										<%else%>
										<p>No</p>
										<%end%>
									  </div>
							</div>
							<div class="row">
                             <div class="col-xs-2">
                             <label><b>Start Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the start date for the access control. Access Control shall be applicable to the associated items only after this date. Till this date default access control shall be applicable for the item" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                     <div class="col-xs-6">
                                     <%if @item["access_control"]["start_date"].nil?%>
                                     <%else%>
									<p><%=DateTime.parse(@item["access_control"]["start_date"]).strftime("%B %d %y %H:%M:%S")%></p>
										<%end%>
									  </div>
                             </div>

                             <div class="row">
                             <div class="col-xs-2">
                             <label><b>End Date</b></label>
                             </div>
                             <div class="col-xs-1">
                                        <img class="info_img" data-toggle="tooltip" title="You can chose the end date for the access control. Access Control shall not be applicable to the associated items after this date. After this date default access control shall be applicable" src="/assets/info_55x55.png" alt="dummy">
                                    </div>
                                      <div class="col-xs-6">
                                      <%if @item["access_control"]["end_date"].nil?%>
                                      <%else%>
										<p><%=DateTime.parse(@item["access_control"]["end_date"]).strftime("%B %d %y %H:%M:%S")%></p>
										<%end%>
									  </div>
                            </div>

                            <%if @item["access_control"].empty?%>
                            <%else%>

                            <div class="">
	                            <div class="mlr-15">
		                            <div class="col-xs-2">
																  <label for="name">Pre Role Settings</label>
																</div>
															</div>
															<div class="clear"></div>
															<div class="row"> 	
															  	<div class="col-xs-2">
															  		<label for="premobileadd">Mobile Ads Url</label>
															  	</div>
															  	<div class="col-xs-1">
	                                    <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
	                                </div>
								                  <div class="col-xs-6">
								                  <%if @item["access_control"]["pre_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>	
												  </div>
															</div>
															<div class="row">
															  <div class="col-xs-2">
															 		<label for="preadd">Ads Url</label>
															  </div>
															  <div class="col-xs-1">
		                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
		                            </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["pre_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["ads_url"]%></p>
												  <%end%>
													
												  </div>
								  						</div>	
								  						<div class="row">					  
															  <div class="col-xs-2">
															  	<label for="preactive">Active</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes pre role ads shall be active on the applications. If the flag is set to no then the pre role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
	                            	</div>
								                <div class="col-xs-6">
								                 <%if @item["access_control"]["pre_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>	
															<div class="row">	
															  <div class="col-xs-2">
															  <label for="pretype">Type</label>
															  </div>
															  <div class="col-xs-1">
	                                  <img class="info_img" data-toggle="tooltip" title="You can select the pre role settings type." src="/assets/info_55x55.png" alt="dummy">
	                              </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["pre_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["pre_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
															</div>
														</div>
														<div class="">
																<div class="mlr-15">
																	<div class="col-xs-2">
																	  <label for="name">Post Role Settings</label><br>
																  </div>
															</div>
															<div class="clear"></div>
															<div class="row">
															  <div class="col-xs-2">
																  <label for="postmobileadd">Mobile Ads Url</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
	                            	</div>
	                              				  <div class="col-xs-6">
	                              				  <%if @item["access_control"]["post_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
								  						</div>
								  						<div class="row">
															  <div class="col-xs-2">
															  	<label for="postadd">Ads Url</label>
															  </div>
															  <div class="col-xs-1">
	                                <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
	                              </div>
								                <div class="col-xs-6">
								                <%if @item["access_control"]["post_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
								  						</div>
								  						<div class="row">
															  <div class="col-xs-2">
															  	<label for="postactive">Active</label>
															  </div>
															  <div class="col-xs-1">
	                                  <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes POST role ads shall be active on the applications. If the flag is set to no then the POST role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
	                              </div>
	                              				  <div class="col-xs-6">
	                              				  <%if @item["access_control"]["post_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>		
															<div class="row">
																<div class="col-xs-2">
															  	<label for="posttype">Type</label>
															  </div>
															  <div class="col-xs-1">
		                              <img class="info_img" data-toggle="tooltip" title="You can select the settings type." src="/assets/info_55x55.png" alt="dummy">
		                            </div>
		                               			  <div class="col-xs-6">
		                               			  <%if @item["access_control"]["post_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["post_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
														</div>
													</div>	
													<div class="">
																<div class="mlr-15">
																	<div class="col-xs-2">
																	  <label for="name">Mid Role Settings</label><br>
																  </div>
															</div>
															<div class="clear"></div>														
															  <div class="row">
																  <div class="col-xs-2">
																  	<label for="midmobileadd">Mobile Ads Url</label>
																  </div>
																  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
                                  </div>
                                                  <div class="col-xs-6">
                                                  <%if @item["access_control"]["mid_role_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
															</div>  
													  	<div class="row">
															  <div class="col-xs-2">
															  	<label for="midadd">Ads Url</label> 
															  </div>
															  <div class="col-xs-1">
                                  <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                               <div class="col-xs-6">
                                                <%if @item["access_control"]["mid_role_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
															</div>
															<div class="row">  
															  <div class="col-xs-2">
															  	<label for="midrolefreq">Mid Role Frequency</label> 
															  </div>
															  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can provide the mid role frequency. This duration is in seconds. Mid Role shall be fired on the applications at these intervals." src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                				  <div class="col-xs-6">
                                				  <%if @item["access_control"]["mid_role_settings"]["mid_role_frequency"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["mid_role_frequency"]%></p>
												  <%end%>
												  </div>
															</div>  
															<div class="row">  
															  <div class="col-xs-2">
															  	<label for="midactive">Active</label>
															  </div>
															  <div class="col-xs-1">
                                    <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes mid role ads shall be active on the applications. If the flag is set to no then the mid role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
                                </div>
                                					<div class="col-xs-6">
                                				  <%if @item["access_control"]["mid_role_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["active"]%></p>
												  <%end%>
												  </div>
															</div>	
														<div class="row">
															<div class="col-xs-2">
														  	<label for="midtype">Type</label>
														  </div>
														  <div class="col-xs-1">
                                <img class="info_img" data-toggle="tooltip" title="You can select the pre role settings type." src="/assets/info_55x55.png" alt="dummy">
                              </div>
                              						<div class="col-xs-6">
                              						<%if @item["access_control"]["mid_role_settings"]["type"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["mid_role_settings"]["type"]%></p>
												  <%end%>
												  </div>
													</div>
												</div>	
												<div class="">
													<div class="mlr-15">
														<div class="col-xs-2">
														  <label for="name">Overlay Settings</label><br>
													  </div>
												</div>	
												  <div class="clear"></div>
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlaymobileadd">Mobile Ads Url</label>
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the mobile. This url shall be used to extract ads on the mobile apps." src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            						  <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["mobile_ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["mobile_ads_url"]%></p>
												  <%end%>
												  </div>
													</div>
													<div class="row">  
													  <div class="col-xs-2">
													 		<label for="overlayadd">Ads Url</label> 
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the ads url for the website. This url shall be used to extract ads on the web portal" src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            						 <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["ads_url"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["ads_url"]%></p>
												  <%end%>
												  </div>
													</div>  
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlayfreq">Overlay Frequency</label> 
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can provide the overlay role frequency. This duration is in seconds. Overlay Role shall be fired on the applications at these intervals." src="/assets/info_55x55.png" alt="dummy">
                          	</div>
                            						 <div class="col-xs-6">
                            					  <%if @item["access_control"]["overlay_settings"]["overlay_frequency"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["overlay_frequency"]%></p>
												  <%end%>
												  </div>
												  </div>
												  <div class="row">
													  <div class="col-xs-2">
													  	<label for="overlayactive">Active</label>
													  </div>
													  <div class="col-xs-1">
                              <img class="info_img" data-toggle="tooltip" title="You can set the active flag. Once set to yes mid role ads shall be active on the applications. If the flag is set to no then the mid role ads shall not be active on the applications." src="/assets/info_55x55.png" alt="dummy">
                            </div>
                            					<div class="col-xs-6">
                            					 <%if @item["access_control"]["overlay_settings"]["active"].nil?%>
                                      			  <%else%>
													<p><%=@item["access_control"]["overlay_settings"]["active"]%></p>
												  <%end%>
												  </div>
												</div>
											</div>
											<%end%>
                                    
                                </div>
                              </div>
							</div>

							<% if params[:vl] == "yes" %>
								<div class="tab-pane fade in active" id="videolist-tab">
							<% else %>
								<div class="tab-pane fade" id="videolist-tab">
							<% end %>
							<%= render :partial => "video_lists/video_list_new" %>
							<!-- </div> -->


							<%if @edit_media%>
							<% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                 <% else %>
								<br><button type="button" class="btn btn-primary" id="submitUpdateMediaForm">Update Media</button><% end %>
							<%else%>
								<br><button type="button" class="btn btn-primary" id="submitMediaForm">Add Media</button>
							<%end%>
							
						</div>
						</div>
						</div>
						<!--End of content Tab  -->
					</form>
					<!-- End of Form -->

				</div>
				<!-- End of panel tab -->
			</div>
			<!--/.panel-->
		</div>
	</div>
</div>

<script type="text/javascript">

		var activeTab = $('.nav-pills .active').index();
		if (activeTab == 3){
        	$("#submitUpdateMediaForm").hide();
        }else{
        	$("#submitUpdateMediaForm").show();
        }

$('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
        //var currentTab = $(e.target).text(); 
        var currentTab1 = $(e.target).closest('li').index(); 
        if (currentTab1 === 3){
        	$("#submitUpdateMediaForm").hide();
        }else{
        	$("#submitUpdateMediaForm").show();
        }
        
    });

		function validateForm(){
			var inputs = document.getElementsByName("language[]");
			var lang = [];
			
			// if($('#status').val() == "published") {
	  //         if($('#published_date').val().trim().length == 0) {
	  //           $("#pdid").text("Please Provide Publish Date!");
	  //           $("#published_date").css("border", "1px solid red");
	  //           return false;
	  //         }
		 //    }

		 if($("#sequence_no").val() <= 0){
	      	$("#esequence_no").text("Enter ORDER VALUE GREATER THAN OR EQUAL TO 1");
	        $("#title").css("border", "1px solid red");
	      	return  false;
	      }

			if (inputs.length > 1) {
		        for(i=0; i < inputs.length; i++)  {
			        var langname = inputs[i].value;
			        // alert("langname is:::"+langname);
			        lang.push(langname); 
		        }

		        function duplicate( A ) {   
			        var i, j, n;
			        n=A.length;
			        for (i=0; i<n; i++) {                       
			          for (j=i+1; j<n; j++) {       
			            if (A[i]==A[j]) 
			              return true;
			          } }
			          return false;
			    }
			    if ( duplicate(lang) ) {}
			    else{
			        alert("Please choose same language");
			        lang.length=0;
			    }
			    return duplicate(lang);
			}    
			else{
				if (inputs.length == 0) {
		           alert("Please Select Language");
		           return false;
		        }
				return true;
			}
			return true;
		}

		$('#submitMediaForm').click(function(){
				var data = $('#mediaForm');
				$.ajax({
						url: '/media/',
						data: data,
						type: 'POST',
						dataType: 'json',
						timeout: 120000,
						error: function(e,t){
								if (t == "timeout"){
										alert("Timed Out Wait for Response")
								}
								else{
										alert(JSON.parse(e.responseText)["error"]);
								}
						},
						success: function(d){
								window.location = "/media/view_all"
						}
				});
		});

		$('#custom_tag').change(function() {
				if ($(this).prop('checked').toString()=="true"){
						$('#custom-group').show();
				}else{
						$('#custom-group').hide();
				}
		});


		$(".con_add_field_button").click(function(e){
				e.preventDefault();
				var dd = document.createElement("div");
				$(dd).append('<div class="row"><div class="col-xs-3 variable-keys"><select class="form-control" name="url_types[]" readOnly="true"><option value="saranyu">Cinestaan</option><option value="youtube">YouTube</option><option value="daily_motion">Daily Motion</option></select></div><div class="col-xs-8"><input type="text" class="form-control" name="url_names[]"></div><a href="#" class="remove_field">Remove</a></div>');
				$(".constructor").append($(dd));     
				eventFormControl($(dd));           
		});

		$(".constructor").on("click",".remove_field", function(e){
				e.preventDefault(); $(this).parent('div').remove();
		});
		$(document).on('click', '.givemorefields', function(e) {
		// $(".givemorefields").click(function(){
	        if ($(this).prop('checked').toString()=="true"){
	          $("#morefields").clone().appendTo($(this).parent()).show();
	        }
	        else {
	          $(this).parent().find("#morefields").remove();
	        }
   		});

		$(document).on('click', '.removemorefields', function(e) {
		// $(".removemorefields").click(function(){
		   	if($(this).is(':checked')){
		   		// $(this).parent().find(".row").show();
		   		$("#morefields").clone().appendTo($(this).parent()).show();
		   	}else{
		   		$(this).parent().find(".row").remove();
		   	}		   	
		});

		<%if @edit_media%>
		$('#submitUpdateMediaForm').click(function(){
			    var status = validateForm();

			    if (status == true) {
			    	pbar=false;
					var data = $('#mediaForm').serialize();
					var p_date = $('#published_date').val();
			        var unp_date = $('#unpublished_date').val();
			        if (p_date.trim().length > 0) {
			            var published_date1 = new Date(p_date);
			            var utc_published_date = new Date(p_date).getTime();
			        }

			        if (unp_date.trim().length > 0) {
			            var utc_unpublished_date = new Date(unp_date).getTime();
			        }
					$.ajax({
							url: '/media/<%=@edit_media.id%>?method=update',
							data: data + "&utc_published_date=" + utc_published_date + "&utc_unpublished_date=" + utc_unpublished_date,
							type: 'POST',
							dataType: 'json',
							timeout: 120000,
							error: function(e,t){
									if (t == "timeout"){
											alert("Timed Out Wait for Response")
									}
									else{
											alert(JSON.parse(e.responseText)["error"]);
									}
							},
							success: function(d){
									//window.location = "/media/view_all"
									var theme = '<%=@item["catalog_theme"]%>';
					                if (theme == "show"){
					                var show = '<%=@show%>'
					                var subcatgeory = '<%=@subcatgeory%>'
					                 if(show == null || show == "" )
					                 {
					                    var subcategory_id = '<%=@edit_media.subcategory_id%>';
					                    window.location = "/subcategories/view_nested_subcategories?subcategory_id=<%=@edit_media.subcategory_id%>"
					                 }else
					                 {
					                    window.location = "/shows/view_subcategories?show_id=<%=@edit_media.show_id%>" 
					                 }
					                 }
					                 else
					                 {
					                    window.location = "/catalogs/view_catalog/<%= @item['catalog_cms_id']%>"
					                 }
							}
					});
				}	
		});
		<%end%>

// Image Upload to S3 server Starts here

$("#fimgb").click(function(){
    var ffileSelect = document.getElementById('fimg');
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});

$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});


$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
});

function imagevalidation(file,wid,hei){
    var upimg = new Image();
    upimg.onload = function () 
    {/*            
     if (this.width < wid && this.height < hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }
    else if (this.width > wid && this.height > hei){
        alert("Resolution must be" +wid+"X"+hei+"px format");
    }else{
        console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{*/
        console.log("files size is:::::"+file[0].size);

    
    var key = "<%=@signature[:key]%>"
    var awsAccessKeyId = "<%=@signature[:access_key]%>"
    var acl = "<%=@signature[:acl]%>"
    var policy = "<%=@signature[:policy]%>"
    var signature = "<%=@signature[:signature]%>"
   
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
//    }
//    }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}

function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {
	  var media_title = "<%=@edit_media.title.gsub(' ','-')%>";
	  
     // var media_title = "<%=@edit_media.title%>";
      var bucket = "<%=@signature[:bucket]%>";

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      var domain_name = "<%=@signature[:domain_name]%>"

      url = 'http://'+bucket+'.s3.amazonaws.com/'
      
      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+media_title+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}


</script>

<script type="text/javascript">
$(document).ready(function(){

    var input_p_date = "<%= @item['published_date'] %>"
    if (input_p_date.length > 0) {
	    var publish_date = new Date(Number(input_p_date));
		var p_month = publish_date.getMonth()+1;
		var p_day = publish_date.getDate();
		var p_minutes = publish_date.getMinutes();
		var p_hour = publish_date.getHours();

		var p_output = publish_date.getFullYear() + '-' + (p_month<10 ? '0' : '') + p_month + '-' + (p_day<10 ? '0' : '') + p_day + ' ' + p_hour + ":" + p_minutes;
		 console.log("calculting publish data "+ p_output);
		$("#published_date").val(p_output);
	}

	var input_unp_date = "<%= @item['unpublished_date'] %>"
    if (input_unp_date.length > 0) {
	    var unpublish_date = new Date(Number(input_unp_date));
		var unp_month = unpublish_date.getMonth()+1;
		var unp_day = unpublish_date.getDate();
		var unp_minutes = unpublish_date.getMinutes();
		var unp_hour = unpublish_date.getHours();

		var unp_output = unpublish_date.getFullYear() + '-' + (unp_month<10 ? '0' : '') + unp_month + '-' + (unp_day<10 ? '0' : '') + unp_day + ' ' + unp_hour + ":" + unp_minutes;
		 console.log("calculting publish data "+ unp_output);
		$("#unpublished_date").val(unp_output);
	}

	$('#release_date_string').datepicker({
                    format: "yyyy-mm-dd"
                });

	$('#published_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });
      $('#unpublished_date').datetimepicker({
                    locale: 'en',
                    format: 'YYYY-MM-DD HH:mm'
                });

    $.validator.setDefaults({ ignore: ":hidden:not(.chosen-select, .ckeditor)" });
    //deal with copying the ckeditor text into the actual textarea
    CKEDITOR.on('instanceReady', function () {
        $.each(CKEDITOR.instances, function (instance) {
            CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
            CKEDITOR.instances[instance].document.on("paste", CK_jQ);
            CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
            CKEDITOR.instances[instance].document.on("blur", CK_jQ);
            CKEDITOR.instances[instance].document.on("change", CK_jQ);
        });
    });

    function CK_jQ() {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    }


});    
</script>
<script>
    $(document).ready(function(){
        $("#tvod_pack").on("change", function(){
            var j = $('option:selected',this)
            console.log(j)
            var tvod_id = $(this).val();
            var tvod_plan_id = $('#tvod_plan').val();
            if (tvod_id == ""){
                $("#edit_tvod_region").css("display", "none");
                $('#edit_tvod_pack').css("display", "none");
            }else{
            console.log($(this));
                var catalog_id = $('#catalog_id').val();
                $.ajax({
                        url: '/media/tvod?media_id=<%=@edit_media.id%>',
                        data:{tvod_id: tvod_id, tvod_plan_id: tvod_plan_id},
                        type: 'Get',
                        timeout: 200000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            console.log(d);
                            $("#edit_tvod_region").css("display", "block");
                            var tvod_regions = d['tvod_region']
                            // Get select
                            var select = document.getElementById('tvod_region');
                            // Add options
                            // select.val("");
                            // $('#tvod_region').text("");
                            $("#edit_tvod_region_form").empty()
                            for (var i in tvod_regions) {
                                var checkbox = document.createElement('input');
                                checkbox.type = "checkbox";
                                checkbox.name = "tvod_regions[]";
                                checkbox.value = tvod_regions[i];
                                checkbox.id = "tvod_regions";

                                var label = document.createElement('label')
                                label.htmlFor = "tvod_regions";
                                label.appendChild(document.createTextNode(tvod_regions[i]));
                                document.getElementById('edit_tvod_region_form').appendChild(checkbox)
                                document.getElementById('edit_tvod_region_form').appendChild(label)
                                var br = document.createElement("br");
                                document.getElementById('edit_tvod_region_form').appendChild(br)

                                // $(select).append('<option value=' + tvod_regions[i] + '>' + tvod_regions[i] + '</option>');
                            }
                            // var tenant/_id = $("#tenantid").val();
                            // $("#getcoupon").html(d);
                        }
                });
            }

        });
    });
    // $(document).ready(function(){
    //     $('#tvod_region').on('change', function(){
    //         var j = $('option:selected',this)
    //         var region = $(this).val();
    //         if (region == ""){
    //             $('#tvod_pack_details').css("display", "none");
    //         }else{
    //         var tvod_id = $('#tvod_pack :selected').val();
    //         var catalog_id = $('#catalog_id').val();
    //             $.ajax({
    //                     url: '/media/edit?media_id=<%=@edit_media.id%>',
    //                     data: {tvod_region: region, tvod_id: tvod_id},
    //                     type: 'Get',
    //                     timeout: 120000,
    //                     error: function(e,t){
    //                             if (t == "timeout"){
    //                                     alert("Timed Out Wait for Response")
    //                             }
    //                             else{
    //                                     alert(JSON.parse(e.responseText)["error"]);
    //                             }
    //                     },
    //                     success: function(d){
    //                         // $('#tvod_pack_details').css("display", "block");
    //                         $("#tvod_price_cost").val(d['tvod_currency']);
    //                         $("#tvod_price_duration").val(d['tvod_duration']);
    //                         $("#tvod_currency_type").val(d['tvod_currency_type']);
    //                     }
    //             });
    //         }

    //     });
    // });
</script>




<script type="text/javascript">
    search_ajax = "";
    $('.search-input').on("change paste keyup", function() {  
        var q = $('.search-input').val();
        pbar = false;

        // if(q.length >= 1){
            if(search_ajax && search_ajax.readyState != 4){
                search_ajax.abort();
            }
            search_ajax =  $.ajax({
                url: '/search_people?search='+q,
                type: 'GET',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                   console.log("Unbale to Fetch Details.");
                   if($(".person-checkbox").length > 0){
                       
                        $(".person-checkbox").each(function(index,val){
                            if(!$(val).is(":checked")){
                                $(val).parent().remove();
                            }    
                        });
                    }
                },
                success: function(d){
                    if($(".person-checkbox").length > 0){
                        $(".person-checkbox").each(function(index,val){
                            if(!$(val).is(":checked")){
                                $(val).parent().remove();
                            }    
                        });
                    }
                    console.log(d);
                    var len = d.data.length;
                    var person_array = "";
                    for(i=0;i<len;i++){

                    var continueLoop = true;
                    $(".person-checkbox").each(function(index,val){
                        if($(val).attr("value").split("-")[0] == d.data[i].person_id){
                            continueLoop = false;
                        }    
                    });

                        if(!continueLoop){
                            continue;
                        }

                        person_array += '<div class="checkbox"><input class="givemorefields person-checkbox" type="checkbox" name="people[]" value="'+d.data[i].person_id+'-'+d.data[i].catalog_id+'">'+d.data[i].title+"</div>";

                    }
                    // giveMoreFileds();
                    var dd = document.createElement("div");
                    $(dd).append(person_array);
                    $(".people-constructor").append($(dd));
                }
            });
        // }
    });

    $(document).ready(function(){
        $("#tvod_plan").on("change", function(){
            var j = $('option:selected',this)
            var tvod_plan_id = $(this).val();
            $("#tvod_region_data").css("display", "none");
	    $("#edit_tvod_region").css("display", "none")
            if (tvod_plan_id == ""){
                $('.tvod_pack_form').css("display","none");
                $('#tvod_pack_details').css("display", "none");
            }else{
            console.log($(this));
                var catalog_id = $('#catalog_id').val();
                $.ajax({
                        url: '/media/tvod?catalog_id='+catalog_id,
                        data:{tvod_plan_id: tvod_plan_id},
                        type: 'Get',
                        timeout: 200000,
                        error: function(e,t){
                                if (t == "timeout"){
                                        alert("Timed Out Wait for Response")
                                }
                                else{
                                        alert(JSON.parse(e.responseText)["error"]);
                                }
                        },
                        success: function(d){
                            console.log(d);
                            var packs = d['all_tvod_featured_plans']
                            console.log(packs)
                            // Get select
                            // Add options
                            $('#tvod_pack').empty();
                            $('.tvod_pack_form').css("display","block");
                            var x = document.getElementById("tvod_pack");
                            var option = document.createElement("option");
                            option.text = "Select Pack from below"
                            x.add(option)
                            for (var i in packs) {
                            var option = document.createElement("option");
                            option.text = packs[i]['title'];
                            option.value = packs[i]['id'];
                            x.add(option);
                            }

                        }
                });
            }

        });
        });



    
</script>
