<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>Media</li>
			<li class="active">Republish Media</li>
		</ol>
	</div>

	<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form class="form-horizontal" id="republishForm" role="form">
							<div class="container-fluid">

                <div class="row">
                  <div class="error_media"  id="defaulterror"> </div>
                  <div class="col-xs-2"></div>
                  <div class="col-xs-1"></div>
                  <div class="col-xs-6">
                    <input type="hidden" class="form-control input-sm" id="title" name="title" value="<%= @media.title%>">
                    <input type="hidden" name="media_id" value="<%= @media.id %>" >
                    <input type=hidden id="catalog_id" name="catalog_id" value="<%=@catalog.id %>">
                    <input type=hidden id="media_title" name="media_title" value="<%= @media.title %>">
                    <input type=hidden id="signaturekey" name="signaturekey" value="<%= @signature[:key] %>">
                    <input type=hidden id="access_key" name="access_key" value="<%= @signature[:access_key] %>">
                    <input type=hidden id="acl" name="acl" value="<%= @signature[:acl] %>">
                    <input type=hidden id="policy" name="policy" value="<%= @signature[:policy] %>">
                    <input type=hidden id="signature" name="signature" value="<%= @signature[:signature] %>">
                    <input type=hidden id="bucket" name="bucket" value="<%= @signature[:bucket] %>">
                    <input type=hidden id="domain_name" name="domain_name" value="<%= @signature[:domain_name] %>">
                  </div>                    
                </div>
                
                

								<div class="row" id="ST"">
									<div class="col-xs-2">
										<label for="source_type">Source Type</label>
									</div>
									<div class="col-xs-1">
										<img class="info_img" data-toggle="tooltip" title="You can chose the source type here. You can chose either ftp or http for ingestion" src="/assets/info_55x55.png" alt="dummy">
									</div>
									<div class="col-xs-6">
										<select id="source_type" name="source_type" class="form-control input-sm">
											<option value="FTP" <%= "selected='selected'" if @media.source_type == 'FTP' %>>FTP</option>
                      <option value="HTTP" <%= "selected= 'selected'" if @media.source_type == 'HTTP' %>>HTTP</option>
                      <option value="uploadvideo" <%= "selected='selected'" if @media.source_type == 'uploadvideo' %>>Upload Video</option>
										</select>
									</div>
								</div>
								
								<script type="text/javascript">

								$( document ).ready(function() {
								  var data = $('#source_type').val();
								  if (data == "uploadvideo"){
										$("#UVS").show();
									}
									else{
										$("#UVS").hide();
									} 
								});

								$('#source_type').change(function() {
									var data = $(this).val();
									console.log("source_type data is::::"+data);
									if (data == "uploadvideo"){
										$("#UVS").show();
									}
									else{
										$("#UVS").hide();
									}
								});

								</script>

								<div class="row" id="UVS" style="display:none;">
									<div class="error_media" id="upvid"></div>
									<div class="col-xs-2">
										<label for="uploadvideo">Upload Video</label>
									</div>
									<div class="col-xs-1">
										<img class="info_img" data-toggle="tooltip" title="You can provide the video to upload" src="/assets/info_55x55.png" alt="dummy">
									</div>
									<div class="col-xs-6 upload-section small-image">
										<form enctype="multipart/form-data">
											<input type="file" id="upv" class="choose-file"  name="upv" style="display:inline;">
											<input type="button" class="btn btn-primary upload-image" id="upvb" name="upvb" value="Upload Video">
											<img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" alt="image" style="width:251px;height:141px;">
										</form>
										<progress class="progress-bar-success progress-bar-striped" id="progressBar" value="0" max="100" style="width:252px;"></progress>
										<button type="button" id="removefile" class="btn btn-default btn-sm">
										<span class="glyphicon glyphicon-remove"></span> Cancel
										</button>
										<p id="loaded_n_total"></p>
									</div>
								</div> 

								<div class="row">
									<div class="col-xs-2">
										<label for="source_url">Source URL</label>
									</div>
									<div class="col-xs-1">
										<img class="info_img" data-toggle="tooltip" title=" Media Source Url " src="/assets/info_55x55.png" alt="dummy">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control input-sm" id="source_url" name="source_url" value="<%= @media.source_url%>">
									</div>
								</div>



	
							<br><button type="button" class="btn btn-primary" id="submitRepublishForm" >Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$("#upvb").click(function(){
    var uvfileSelect = document.getElementById('upv');
    var media_title = document.getElementById("media_title").value;
    var uvfiles = uvfileSelect.files;
    console.log("files is::"+uvfiles);
    $("#upvid").text('');

    if (uvfiles.length == 0)
    {
        //alert("Please Choose Video");
        $("#upvid").text("Please Choose Video file");
    }
    else
    {
    if (media_title == "" || media_title == null)
    {
        //alert("Please Provide Title!");
        $("#etid").text("Please Provide Title!");
    }
    else
    {
        if (uvfiles[0].type == "video/m4v" || uvfiles[0].type == "video/avi" || uvfiles[0].type == "video/mpg" || uvfiles[0].type == "video/mp4")
        {
        var videoupload = videovalidations(uvfiles);
        }
        else
        {
        alert("Upload Video Files Only");
        }

        //var videoupload = videovalidations(uvfiles);
    }
    }
});


function videovalidations(file){
    console.log("files size is:::::"+file[0].name);
    //       10530 208  52464391

         if (file[0].size > 50000000){
        //alert("Please Upload Image of Size less than 50MB");
        $("#upvid").text("Please Upload Video of Size less than 50MB");
        }
        else{
        console.log("video files"+file[0]);
        console.log("video files size===="+file[0].size);

        var key = document.getElementById("signaturekey").value;
        var awsAccessKeyId = document.getElementById("access_key").value;
        var acl = document.getElementById("acl").value;
        var policy = document.getElementById("policy").value;
        var signature = document.getElementById("signature").value;
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadvideo(key, awsAccessKeyId, acl, policy, signature, file)
    }
}

function uploadvideo(key, awsAccessKeyId, acl, policy, signature, file) {

      var media_title = document.getElementById("media_title").value;
      media_title = media_title.replace(/[^a-zA-Z0-9\s]/g,"");
      media_title = media_title.toLowerCase();
      media_title = media_title.replace(/\s/g,'-');
      var bucket = document.getElementById("bucket").value;
      var domain_name = document.getElementById("domain_name").value;

      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);
      
      url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+media_title+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+media_title+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+media_title+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);
      pbar = false;

     var video_s3_ajax = $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,
         xhr: function() {  // Custom XMLHttpRequest
            var myXhr = $.ajaxSettings.xhr();
            if(myXhr.upload){ // Check if upload property exists
                myXhr.upload.addEventListener('progress',progressHandler, false); // For handling the progress of the upload
            }
            return myXhr;
        },

        success: function(response) {
            console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            var res = imageurl.replace("https", "http");
            //var resenc = encodeURIComponent(res);
            document.getElementById("source_url").value = res;
              //alert('Video Uploaded Successfully');
              $("#upvid").text("Video Uploaded Successfully");
              pbar = true;
        },
        error: function (response) {
            console.log(response);
            document.getElementById('progressBar').value = 0;
          //alert('Problem uploading Video');
          $("#upvid").text("Server Error/Cancelled! Can't upload video now. Try again.");
          pbar = true;
        }
  });

    function progressHandler(event){
        document.getElementById('progressBar').value = 0;
        var percent = (event.loaded / event.total) * 100;
        document.getElementById('progressBar').value = Math.round(percent);
    }

    $("#removefile").click(function(){
            document.getElementById('progressBar').value = 0;
            video_s3_ajax.abort();                    
            //alert("cancel video upload");
        });

}


	$('#submitRepublishForm').click(function(){
		var data = $('#republishForm').serialize();

		$.ajax({
			url: '/media/post_republish_media',
			data: data,
			type: 'POST',
			dataType: 'json',
			timeout: 120000,
			error: function(e,t){
					if (t == "timeout"){
							alert("Timed Out Wait for Response")
					}
					else{
							alert(JSON.parse(e.responseText)["error"]);
					}
			},
			success: function(d){
					window.location = "/catalogs/view_all"
			}
		});
	});
</script>
