<%if params[:action] != "view_all"%>
<script type="text/javascript">

$("#fimgb,#femgb").click(function(){
    var ffileSelect = document.getElementById('fimg');

    var title = document.getElementById("title").value;
    var ffiles = ffileSelect.files;
    console.log("files is::"+ffiles);
    //console.log("ffiles is::"+ffiles[0].type);

    if (ffiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (title == "" || title == null)
    {
        alert("Please Provide Title!");
        //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (ffiles[0].type == "image/png" || ffiles[0].type == "image/jpeg" || ffiles[0].type == "image/gif")
        {
        console.log("image");
        var fwidth = 794;
        var fheight = 447;
        var imgstatus = imagevalidation(ffiles,fwidth,fheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }
});
$("#limgb").click(function(){
    var lfileSelect = document.getElementById('limg');
    var title = document.getElementById("title").value;
    var lfiles = lfileSelect.files;
    console.log("files is::"+lfiles);
    //console.log("pfiles is::"+lfiles[0].type);

    if (lfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (title == "" || title == null)
    {
        alert("Please Provide Title!");
       //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (lfiles[0].type == "image/png" || lfiles[0].type == "image/jpeg" || lfiles[0].type == "image/gif")
        {
        console.log("image");
        var lwidth = 410;
        var lheight = 231;
        var imgstatus = imagevalidation(lfiles,lwidth,lheight);
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    // //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});



$("#pimgb").click(function(){
    var pfileSelect = document.getElementById('pimg');
    var media_title = document.getElementById("title").value;
    var pfiles = pfileSelect.files;
    console.log("pfiles is::"+pfiles);
    //console.log("pfiles is::"+pfiles[0].type);

    if (pfiles.length == 0)
    {
        alert("Please Choose Image");
    }
    else
    {
    if (title == "" || title == null)
    {
        alert("Please Provide Title!");
        //$("#etid").text("Please Provide Title!");
    }
    else
    {
        if (pfiles[0].type == "image/png" || pfiles[0].type == "image/jpeg" || pfiles[0].type == "image/gif")
        {
        console.log("image before image validation");
        var pwidth = 251;
        var pheight = 141;
        var imgstatus = imagevalidation(pfiles,pwidth,pheight);
        console.log("image after image validation");
        }
        else
        {
        alert("Upload Image Files Only");
        }
    }
    }

    //var success_action_redirect = "http://localhost:3000/featuredimage"
    // uploadImage(key,AWSAccessKeyId,acl,policy,signature,files);
    // console.log("uploadImage==="+"key "+key+" awsAccessKeyId "+AWSAccessKeyId+" acl "+acl+" files "+files+" policy "+policy+" signature "+signature);
});


function imagevalidation(file,wid,hei){
    var upimg = new Image();
    console.log("image before in validation"+file + "mmm" +wid + "vvv" +hei);
    upimg.onload = function ()

    {            
    // if (this.width < wid && this.height < hei){
    //    alert("Resolution must be" +wid+"X"+hei+"px format");
   // }
  //  else if (this.width > wid && this.height > hei){
    //    alert("Resolution must be" +wid+"X"+hei+"px format");
   // }else{
     //   console.log(this.width+" : "+this.height);

    if (file[0].size > 500000){
        alert("Please Upload Image of Size less than 500KB");
    }
    else{
        console.log("files size is:::::"+file[0].size);

        var key = "<%=@signature[:key]%>"
        var awsAccessKeyId = "<%=@signature[:access_key]%>"
        var acl = "<%=@signature[:acl]%>"
        var policy = "<%=@signature[:policy]%>"
        var signature = "<%=@signature[:signature]%>"
        console.log("signature key==="+key);
        console.log("signature access_key==="+awsAccessKeyId);
        console.log("signature acl==="+acl);
        console.log("signature policy==="+policy);
        console.log("signature==="+signature);

        uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei)
    }
   

    // } 
   // }
    }
    upimg.src = URL.createObjectURL(file[0]);  
}


function uploadImage(key, awsAccessKeyId, acl, policy, signature, file, wid, hei) {
         console.log("inside upload image");
      var title = document.getElementById("title").value;
      title = title.replace(/[^a-zA-Z0-9\s]/g,"");
      title = title.toLowerCase();
      title = title.replace(/\s/g,'-');
      var bucket = "<%=@signature[:bucket]%>";
      var domain_name = "<%=@signature[:domain_name]%>"

      //var domain_name = document.getElementById("domain_name").value;
      var imgname = file[0].name;
      var imgindex = imgname.lastIndexOf('.');
      var imgext = imgname.substring(imgindex);

      url = 'http://'+bucket+'.s3.amazonaws.com/'

      if (domain_name == "" || domain_name == null){
        imageurl = "https://s3-ap-southeast-1.amazonaws.com/"+bucket+"/"+key+title+"/images/"+title+"-"+wid+"x"+hei+imgext
      }else{
      imageurl = 'http://'+domain_name+"/"+key+title+"/images/"+title+"-"+wid+"x"+hei+imgext
    }

      var fd = new FormData();
      //fd.append('key', key+file[0].name);
      fd.append('key', key+title+"/images/"+title+"-"+wid+"x"+hei+imgext);
      fd.append('AWSAccessKeyId', awsAccessKeyId);
      fd.append('acl', acl);
      //fd.append('success_action_redirect', success_action_redirect);
      fd.append('policy', policy);
      fd.append('signature', signature);  
      fd.append('Content-Type', 'image/');
      fd.append("file", file[0]);
      console.log("imageurl==="+imageurl)
       console.log("body for post image==="+fd);

      $.ajax({
        type: 'POST',
        url: url,
        processData: false,
        contentType: false,
        data: fd,

        success: function(response) {
            console.log("response"+response);
        //     console.log("response"+response);
            //https://s3-ap-southeast-1.amazonaws.com/tcr-cf-test/appbg/Movie/20160324125635/images/test.jpg
            //imageurl = "https://s3-ap-southeast-1.amazonaws.com/<%#=@signature[:bucket]%>/"+key+files[0].name
            imageurl = imageurl
            console.log("imageurl is===="+imageurl);
            if (wid == 794){
            document.getElementById("fimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("featured_image").value = imageurl;
            }
            if (wid == 410){
            document.getElementById("limgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("l_listing_image").value = imageurl;
            }
            if (wid == 251){
            document.getElementById("pimgsrc").src = imageurl+"?"+Math.random();
            document.getElementById("p_listing_image").value = imageurl;
            }
          
          alert('Success uploading Image');
        },
        error: function (response) {
            console.log(response);
          alert('Problem uploading Image');
        }
  });
}
</script>
<%end%>


<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

<% if params[:action] == "view_all" %>
    <script type="text/javascript">
    	function load_actions() {
            $('.delete-cataloglist').click(function(){
    			$.ajax({
    				url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
    				type: 'POST',
    				timeout: 120000,
    				error: function(e,t){
    					if (t == "timeout"){
    						alert("Timed Out Wait for Response")
    					}
    					else{
    						alert(JSON.parse(e.responseText)["error"]);
    					}
    				},
    				success: function(d){
    					location.reload();
    				}
    			});
    		});

            $('.edit-list').click(function(){
    			window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
    		});
            $('.add-media').click(function(){
                window.location.href = '/catalog_lists/new';
            });

            $('.add-list-to-list').click(function(){
                //alert("redirect_to catalog_lists/get_lists?cataloglist_id="+$(this).attr('cataloglist-id'));
                window.location.href = '/catalog_lists/get_lists?cataloglist_id='+$(this).attr('cataloglist-id');
            });
    };
    </script>
<%else%>

<script type="text/javascript">

(function($,W,D)
{
    var JQUERY4U = {};

    JQUERY4U.UTIL =
    {
        setupFormValidation: function()
        {
            //form validation rules
            $("#cataloglistForm").validate({
                
                errorPlacement: function (error, element) {
                    error.css({'float':'left','color':'red','text-align':'left'});
                    error.addClass("error")
                    error.insertAfter(element);
                },
                rules: {
                    title: "required",
                    display_title: "required",
                    type: "required",
                    list_order : {
                        required : true,
                        min : 1
                        },
                    catalog_id: "required"
                },
                messages: {
                    title: "THIS FIELD IS MANDATORY",
                    display_title: "THIS FIELD IS MANDATORY",
                    type: "THIS FIELD IS MANDATORY",
                    list_order: {
                     required : "THIS FIELD IS MANDATORY",
                        min : "Enter ORDER VALUE GREATER THAN OR EQUAL TO 1"
                        },
                    catalog_id: "THIS FIELD IS MANDATORY"
                },
                submitHandler: function(form) {
                    //form.submit();
                    return false;
                }
            });
        }
    }

    //when the dom has loaded setup form validation rules
    $(D).ready(function($) {
        JQUERY4U.UTIL.setupFormValidation();
    });

})(jQuery, window, document);
    
    // function validateForm(){
    //     var title = $('#title').val();
    //     if ((title.trim()).length == 0) {
    //         return false;
    //     }

    //     var display_title = $('#display_title').val();
    //     if ((display_title.trim()).length == 0) {
    //         return false;
    //     }

    //     var type = $('#type').val();
    //     if ((type.trim()).length == 0) {
    //         return false;
    //     }

    //     var list_order = $('#list_order').val();
    //     if (list_order <= 0) {
    //         return false;
    //     }
        
    //      var flag = $("#cataloglist").val();
    //      if (flag == "yes") {
    //         var name = $('#catalog_id').val();
    //         if ((name.trim()).length == 0) {
    //             alert("Please Provide Catalog!");
    //             return false;
    //         }
    //      }
    //      else {
    //         tags = $('#tags').val();
    //         if ((tags.trim()).length == 0) {
    //             alert("Please Provide Tag Names!");
    //             return false;
    //         }
    //      }
        // var name = $('#catalog_id').val();
        // if ((name.trim()).length == 0) {
        //     tags = $('#tags').val();
        //     if ((tags.trim()).length == 0) {
        //         alert("Please Provide Tag Names!");
        //         return false;
        //     }
        // }

    //     return true;
    // }

     $('#submitCatalogListForm').click(function(){

        //var status = validateForm();
        var status = $('#cataloglistForm').valid();
        var tenant_id = "<% @tenant_id %>"
        console.log(tenant_id);

        if ( status == true) {
            var data = $('#cataloglistForm').serialize();

            var catalog = $('#catalog_id').val();
            if (catalog) {
                var tenant_id = $('#catalog_id').val().split("-")[1];
            }
            else {
                var tenant_id = $('div[tenantid]').attr("tenantid");
            }
            pbar = false;
            console.log(tenant_id);
            $.ajax({
                url: '/catalog_lists/',
                data: data,
                type: 'POST',
                dataType: 'json',
                timeout: 120000,
                error: function(e,t){
                    if (t == "timeout"){
                        alert("Timed Out Wait for Response")
                    }
                    else{
                        alert(JSON.parse(e.responseText)["error"]);
                    }
                },
                success: function(d){
                     //alert("Catalog List Added Successfully");
                     //window.location = "/catalog_lists/view_all?tenant_id="+tenant_id;
                     //window.location = "/tenants/view_tenant/"+tenant_id
                     window.location = "/catalog_lists/view_all"
                }
            });
        }
    });
</script>
<%end%>
