<div class="row">
    <div class="col-xs-2">
        <label for="name">Title</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_title')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
      <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="title" name="title" placeholder="<%= @list.title %>" value="<%= @list.title %>" readonly>
      <%else%>
        <input type="text" class="form-control input-sm" id="title" name="title"  value="">
      <%end%>
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        <label for="name">Display Title</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_title_to_be_displayed')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
      <% if params[:action] == "edit" %>
        <input type="text" class="form-control input-sm" id="display_title" name="display_title" placeholder="<%= @list.display_title%>" value="<%= @list.display_title%>">
      <%else%>
        <input type="text" class="form-control input-sm" id="display_title" name="display_title" value="">
      <%end%>
    </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <label for="type">List Type</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_list_type')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
    <% if params[:action] == "edit" %>
      <input type="text" class="form-control input-sm" id="type" name="type" placeholder="<%= @list.list_type%>" value="<%= @list.list_type%>" readonly>
    <%else%>
       <input type="text" class="form-control input-sm" id="type" name="type" placeholder="Standard" value="standard" readonly>
       <!-- <select name="type" id="type" class="form-control input-sm">
            <option value="">Select one from below</option>
            <option value="standard">Standard</option>
            <option value="featured">Featured</option>
        </select> -->
    <%end%>
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <label for="list_order">Enter List Order</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_enter_list_order')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
    <% if params[:action] == "edit" %>
      <input type="number" class="form-control input-sm" id="list_order" name="list_order" placeholder="<%= @list.list_order %>" value="<%= @list.list_order %>" min="1">
    <%else%>
      <input type="number" class="form-control input-sm" id="list_order" name="list_order" value="1" min="1">
    <%end%>
  </div>
</div>

<div class="row" id="IMG">
  <div class="row">
    <div class="col-xs-2">
      <label for="featured_image">Banner Image</label>
    </div>
    <div class="col-xs-1">
      <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Featured_Image')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
      <% if params[:action] == "edit" %>
        <% if @list_info["l_large"]["url"].blank? %> 
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
        <%else%>
          <img src="<%=@list_info["l_large"]["url"]%>" id= "fimgsrc" class="s3" alt="image" style="width:251px;height:141px;">
          <input type="hidden" id= "add_m_Featured_Image" name="add_m_Featured_Image" value="<%=@list_info["l_large"]["url"]%>">
        <%end%>
      <%else%>
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
      <%end%>
        <div class="upload-section">
          <input type="file" id="fimg"  class="choose-file" name="fimg"  style="display:inline;">
          <% if params[:action] == "new" %>
            <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
          <%else%>
            <input type="button" class="btn btn-primary upload-image" id="femgb" name="femgb" value="Upload Image">
          <%end%>
          (794px X 447px)-(png,jpeg,gif)
        </div>
    </div>
  </div>
</div>
  
<input type="hidden" id= "featured_image" name="featured_image">

<div class="row">
  <div class="col-xs-2">
    <label for="l_listing_image">Large Image</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Landscape_Image')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
    <% if params[:action] == "edit" %>
      <% if @list_info["l_medium"]["url"].blank? %>                   
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
      <%else%>
        <img src="<%=@list_info["l_medium"]["url"]%>" id= "limgsrc" class="s3" alt="image" style="width:251px;height:141px;">
        <input type="hidden" id= "add_m_Landscape_Image" name="add_m_Landscape_Image" value="<%=@list_info["l_medium"]["url"]%>">
      <%end%>
    <%else%>
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
    <%end%>
      <div class="upload-section">
        <input type="file" id="limg" class="choose-file"  name="limg"  style="display:inline;">
        <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
        (410px X 231px)-(png,jpeg,gif)
      </div>
  </div>
</div>

<input type="hidden" id= "l_listing_image" name="l_listing_image">

<div class="row">
  <div class="col-xs-2">
    <label for="p_listing_image">Small Image</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Small_Image')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
    <% if params[:action] == "edit" %>
      <% if @list_info["p_small"]["url"].blank? %>    
          <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/  item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">  
      <%else%>
          <img src="<%=@list_info["p_small"]["url"]%>" id= "pimgsrc" class="s3" alt="image" style="width:251px;height:141px;">
          <input type="hidden" id= "add_m_Small_Image" name="add_m_Small_Image" value="<%=@list_info["p_small"]["url"]%>">
      <%end%>
    <%else%>
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">  
    <%end%>
    <div class="upload-section">
      <input type="file" id="pimg" class="choose-file"  name="pimg"  style="display:inline;">
      <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
      (251px X 141px)-(png,jpeg,gif)
    </div>
  </div>
</div>
  
<input type="hidden" id= "p_listing_image" name="p_listing_image">


<% if params[:action] == "edit" %>
   
<%else%>
<div class="row">
  <div class="col-xs-2">
    <label>Add to catalog?</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_add_list_to_catalog_page?')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
    <div class="col-xs-6">
      <select id="cataloglist" name="catalog_list" class="form-control input-sm">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>
</div>

<script type="text/javascript">
    $("#cataloglist").click(function(){
        var flag = $("#cataloglist").val();
        if (flag == "no") {
            $("#catalogs").hide();
            $("#appids").show();

            var catalog = $('#catalog_id'); 
            if (catalog.val()) {
                catalog = catalog.val(0);
                // code to unselect catalog
            }

        }
        else {
            $("#catalogs").show();
            $("#appids").hide();
            var temp1=this.closest(".panel-body");
            var deselectapps =  $($(temp1).find(".checkboxapp").each(function(){
                   $(this).attr('checked', false);
                }));
        }
    });
</script>

<div id="catalogs" class="row">
  <div class="col-xs-2">
    <label for="catalog_id">Select Catalog</label>
  </div>
  <div class="col-xs-1">
    <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_catalog')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6">
    <select id="catalog_id" name="catalog_id" class="selectpicker" data-width='100%' data-dropup-auto="false" data-size="3">
      <option value="">Select one from below</option>
      <%@catalog_list.each do |catalog|%>
      <option value="<%=catalog["id"]%>-<%=catalog["tenant_id"]%>" ><%=catalog["name"]%></option>
      <%end%>
    </select>
  </div>
</div>

<div id="appids" class="row" style="display:none">
  <div class="col-xs-2">
    <label for="apps[]">Select App(s):</label>
  </div>
  <div class="col-xs-1">
   	<img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_app')%>" src="/assets/info_55x55.png" alt="dummy">
  </div>
  <div class="col-xs-6" style="padding-left:2px;">
    <%Tenant.where(:bg_id=>current_bg.id).each do |tenant|%>
    <div tenantid ="<%= tenant["_id"]%>" class="panel panel-default">
      <div class="panel-body">
        <p><%=tenant.name%></p>            
          <% apps = App.where(:tenant_id=>tenant.id) %>
          <% app_count = apps.count %>
          <% @tenant_id = tenant.id %>
          <% apps.each do |app|%>
            <div class="checkbox">
              <label class="checkboxapp<%=app_count%>"><input type="checkbox" class="checkboxapp" id="checkboxapp<%=app.id%>" name="apps[]" value="<%=app.id%>"><%=app.name%></label>
            </div>
          <%end%>
        </div>
      </div>        
    <%end%>
  </div>
</div>

<!-- 
<div class="row" id="IMG">

     <div class="row">
        <div class="col-xs-2">
            <label for="featured_image">Banner Image</label>
        </div>
        <div class="col-xs-1">
            <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Featured_Image')%>" src="/assets/info_55x55.png" alt="dummy">
        </div>
                                  

        <div class="col-xs-6">
        
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_large.jpg" id= "fimgsrc" class="" alt="image" style="width:251px;height:141px;">
        <div class="upload-section">
            <input type="file" id="fimg"  class="choose-file" name="fimg"  style="display:inline;">
            <input type="button" class="btn btn-primary upload-image" id="fimgb" name="fimgb" value="Upload Image">
            (794px X 447px)-(png,jpeg,gif)
        </div>
        
    </div>
</div>
<input type="hidden" id= "featured_image" name="featured_image">

<div class="row">
    <div class="col-xs-2">
        <label for="l_listing_image">Large Image</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Landscape_Image')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
                                

    <div class="col-xs-6">
       
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_medium.jpg" id= "limgsrc" alt="image" style="width:251px;height:141px;">
        <div class="upload-section">
            <input type="file" id="limg" class="choose-file"  name="limg"  style="display:inline;">
            <input type="button" class="btn btn-primary upload-image" id="limgb" name="limgb" value="Upload Image">
            (410px X 231px)-(png,jpeg,gif)
        </div>
       
    </div>

</div>
<input type="hidden" id= "l_listing_image" name="l_listing_image">
<div class="row">
    <div class="col-xs-2">
        <label for="p_listing_image">Small Image</label>
    </div>
    <div class="col-xs-1">
        <img class="info_img" data-toggle="tooltip" title="<%=t('add_m_Small_Image')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
                                 

    <div class="col-xs-6">
       
        <img src="https://s3-ap-southeast-1.amazonaws.com/ott-as-service/ott_default_images/item_images/default_movies_small.jpg" id= "pimgsrc" alt="image" style="width:251px;height:141px;">
        <div class="upload-section">
            <input type="file" id="pimg" class="choose-file"  name="pimg"  style="display:inline;">
            <input type="button" class="btn btn-primary upload-image" id="pimgb" name="pimgb" value="Upload Image">
            (251px X 141px)-(png,jpeg,gif)
        </div>
       
    </div>

</div>    
<input type="hidden" id= "p_listing_image" name="p_listing_image">


</div>
 -->



<div class="row">
    <div class="col-xs-2">
      <label for="tags">Select Tag(s)</label>
    </div>
    <div class="col-xs-1">
      <img class="info_img" data-toggle="tooltip" title="<%=t('add_cl_select_tag_names')%>" src="/assets/info_55x55.png" alt="dummy">
    </div>
    <div class="col-xs-6">
      <div class="checkbox">
        <% default_types = (@default_data["default_catalog_types"].map{|v| v["name"]}).sort%>                 
          <% default_types.each do |d_types| %>                                        
            <label>
              <input type="checkbox" id="tags" name="tags[]" value="<%= d_types.gsub(' ', '_')%>">
              <%= d_types.camelcase %>
            </label>        
          <% end %>
          <% if !@default_tags.nil?%>
            <%default_tags = (@default_tags["params_hash2"]["catalog_list_tags"]).sort %>
            <% default_tags.each do |d_tags| %>                                          
              <label>
                <input type="checkbox" id="tags" name="tags[]" value="<%= d_tags.gsub(' ', '_')%>">
                  <%= d_tags.camelcase %>
              </label>        
            <% end %>
          <%end%>                                                 
        </div>
    </div>
       <!-- <div class="col-xs-6">
        <input type="text" class="form-control input-sm" id="tags" name="tags" value="">
       </div> -->
</div>
<%end%>
