<% #count = params[:page].to_i * 25 %> 
								<% @cataloglist_items.each do |list| %>
									<tr>
									 <td class="cl_next_val" style="display:none;" ><%= @next_items.empty?%></td>
                        <td class="cl_page" style="display:none;"><%= params[:page]%></td>
											<td><%#= count + 1 %></td>
											<% theme = list["theme"] %>
											<% media_type = list["media_type"] %>
											<% if (theme == "livetv") %>											
											<% catalog_name = list["catalog_title"] %>				 
											<% else %> 
											<% catalog_name = list["catalog_name"] %>
											<% end %>	
											<% if (media_type.nil?) %> 
											<% media_type = "NA" %>
											<% end %>
											<% if (catalog_name == nil) %>
											<% 	catalog_name = "NA" %>	
											<% end %>
											<% if (theme == "catalog" ||  theme == "custom_item") %>
												<% title = list[:catalog_title] %>
											<% else %> 
													<% title = list["title"] %>
											<% end %>
											<% list_order = list["order_no"] %>
											<% display_title = list["display_title"] %>
											<% ott_list_id = @catalog_list_ott_id %>
											<% if list["display_title"].nil? %>
													<% display_title = "NA" %>
											<% else %>
													<% display_title = list ["display_title"] %>
											<% end %>
											<% if (list["cms_id"] && theme == "catalog_list")  %>
											  <td>
											  	<%= link_to title, "/catalog_lists/view_catalog_list/"+list["cms_id"] %>
											  </td>
											<% elsif (list["cms_id"] && theme == "catalog") %>
											  <td>
											  	<%= link_to title, "/catalogs/view_catalog/"+list["cms_id"] %>
											  </td>  
											<% else %>
												<td><%= title %></td>
											<% end %> 
											<td><%= theme %></td> 
											<% if (theme == "catalog") %>
											  <% content_id = list["catalog_id"] %>
											<% elsif (theme == "catalog_list") %>
												<% content_id = list["list_id"] %>
											<% elsif (theme == "videolist") %>
												<% content_id = list["videolist_id"] %>
											<% else %>
												<% content_id = list["content_id"] %>
 											<% end %>

											<td>
												<input type='number' style='background-color:#fff;border:none;' min='1' class='input-sm re-order-list-item'  value = '<%= list_order %>' theme='<%= theme %>' conent = '<%= content_id %>' ott_id = '<%= ott_list_id %>' disabled readonly>  
											</td>
											<td><%= catalog_name %></td>
											<td><%= media_type %></td>
											<td><%= display_title %></td>


											<% if (theme == "catalog") %>
											 	<td>
											 		<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id ='<%= ott_list_id %>' content-id = '<%= list["catalog_id"] %>' catalog-id ='<%=list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											 	</td>

											<% elsif (theme == "catalog_list" )  %>
													<td>
													<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id = '<%= ott_list_id %>' content-id='<%= list["list_id"] %>' list-id='<%=list["list_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
												</td>
													
											<% elsif (theme == "videolist") %>
													<td>
														<span class="inline-block" data-toggle="tooltip" title="Delete Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id='<%= ott_list_id %>' content-id='<%= list["videolist_id"] %>' catalog-id = '<%=
														list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											    </td> 
											<% else %>
													<td>
											      <span class="inline-block" data-toggle="tooltip" title="Deletesfaergeas Item"></span><button type="button" class="btn btn-xs btn-danger delete-item" ott-list-id='<%= ott_list_id %>' content-id = '<%= list["content_id"] %>' catalog-id = '<%= list["catalog_id"] %>'><span class="glyphicon glyphicon-s glyphicon-trash"></span></button>
											    </td>
											<% end %>                               	
									</tr>
									<%# count = count+1 %>
								<% end %>