

<% if @cl.count > 0 %>
<div class="modal fade" id="viewModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="view_media">
            	<div class="panel panel-default">
				    <div class="panel-body tabs">
				        <div class="panel-info">
				            <div id="media-primary">
				                <div class="container-fluid">
				                <form class="form-horizontal" id="listForm" role="form" >
					                <div id="radiolist" class="col-xs-12" style="height: 150px;    overflow: auto;" >
					                   <div class="error_media"  id="selectlist"> </div>
						                <label for="list" > Select List</label>
						                <% @cl.each do |list| %>
						                <br>
						                <input type="radio" name="list" catalogid="<%= list["list_items"].first["catalog_id"]%>" value="<%= list %>"> <%= list["display_title"]+"          "+list["title"]+"        "+list["catalog_title"]%>
		                                <br>  
		                                <% end %>
	                                </div>
 
	                                <div id="flag-check" class="col-xs-12">
		                                <br>
		                                <label for="item-flag">Do you want to delete existing items from the list</label>
		                                <select name="flag" id="flag" class="form-control input-sm">  
		                                 	<option value="false">No</option>
			                                <option value="true">Yes</option>
			                            </select>    
	                                </div>

                                    <div class="col-xs-12">
	                                   <label for="item-order">Enter Item Order</label>
	                                   <input type="number" class="form-control input-sm" id="order" name="item_order" placeholder="" value="1">
	                                </div>
                                    
	                                <br><div class="col-xs-12 mt20">
	                                <button type="button" class="btn btn-primary" id="submitListForm">Add Media</button>
	                                </div>
	                            </form>    

								<!-- <div id="list_table"  loader="false" entries_info="true">
			                        <script type="text/javascript" >
			                            $(document).ready(function(){       
			                                var table2 = new saranyutable("#table2");
			                                table2.createBody = function createBody(_this) {            
			                                    $(_this.selector).find("thead").append(
			                                        '<tr><th><center>Display Title</center></th><th><center>Title</center></th><th><center>Catalog Title</center></th></tr>');
			                                };
			                                table2.load(); 
			                            });
			                        </script>
			                    </div> -->
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="view_item"></div>
<% else %>
	<script type="text/javascript">
//alert("No List Found. Please create the list!!");
$("#selectlist").text("No List Found. Please create the list!!");
	</script>

    <div class="notice">No List Found</div>

<% end %>

<script type="text/javascript">

	function validateForm(){
        var order = $('#order').val();
        if ( order <= 0) {
            //alert("Please Provide Valid Item Order!");
            $("#selectlist").text("Please Provide Valid Item Order!");
            return false;
        }
        
        var list = $('input[name=list]:checked').val()
        if (!list) {
        	//alert("Please Select List!");
        	$("#selectlist").text("Please Select List!");
        	return false;
        }

        return true;
    }

  $('#submitListForm').click(function(){

  	var status = validateForm();
    console.log(status);
    
    if (status == true) {

	    var data = $('#listForm').serialize();
	 	var data_o;
        
        var list = $('input[name=list]:checked');
        data_o = list.attr("catalogid");
        console.log(data_o);
	 //    $("#radiolist").find('input[type=radio]').each(function(index ) {
	 //       	if($(this).prop("checked",true)){
		// 		data_o = $(this).attr('catalogid');
  //      			}
		// });
        


        $.ajax({
            url: '/catalog_lists/add_items',
            data: data,
            type: 'POST',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                   // alert(JSON.parse(e.responseText)["error"]);
                   $("#selectlist").text(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
            	console.log(d);
            	// window.location = "/"
                window.location = "/catalogs/view_catalog/"+ data_o;
            }
        });
    }    
    });	
</script>

