  <div>
                    <table class = "table table-condensed table-striped">
                        
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Display Title</th>
                                <th>Home Link</th>
                                <th>Menu Link</th>
                                <th>Catalog Name</th>
                                <th>Actions</th>   
                            </tr>
                        </thead>

                        <tbody id="table_data">
                            <% if  @items.present? %>
                                 <% @items.each do |item| %>
                                <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                    <td><%= link_to item["title"], "/catalog_lists/view_catalog_list/"+item["_id"] %></td>
                                    <td><%= item["display_title"] %></td>
                                    <% home_link = item["home_link"] %>
                                    <% if(home_link == nil || home_link == "") %>
                                        <% home_link = "NA" %>
                                    <% end  %>
                                    <td><%= home_link %></td>
                                    <% menu_link = item["menu_link"] %>
                                    <% if(menu_link == nil || menu_link == "") %>
                                        <% menu_link = "NA" %>
                                    <% end %>
                                    <td><%= menu_link %></td>
                                    <% if (item["catalog_name"] == nil || item["catalog_name"]== "" ) %>
                                        <% catalog_name = "NA" %>
                                    <% else %>
                                        <% catalog_name = item["catalog_name"] %> 
                                    <% end %>
                                    <td><%= catalog_name %></td>
                                    <td>    

                                        <span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-list" list-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-pencil"></button></span>

                                        <span class="inline-block" data-toggle="tooltip" title="Add List to Lists"><button type="button" class="btn btn-xs btn-info add-list-to-list" cataloglist-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-s glyphicon-plus"></button></span>

                                        <button type="button" data-toggle="tooltip" title="Delete" class=" btn btn-xs btn-danger delete-cataloglist" cataloglist-id='<%= item["_id"] %>'><span class="glyphicon glyphicon-trash"></button>
               
                                    </td>
                                </tr>
                                <% end %> 
                            <% end %>                         
                        </tbody>
                    </table>
                    <div>
                    <% if params[:page].to_i != 1 %> 
                        <% if params[:tag].present? && params[:list_type].present? && params[:catalog].present? %>
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&tag=#{params[:tag]}&list_type=#{params[:list_type]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].present? && params[:catalog].present? && params[:list_type].blank? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&tag=#{params[:tag]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].blank? && params[:list_type].present? && params[:catalog].present? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&list_type=#{params[:list_type]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].present? && params[:list_type].present? && params[:catalog].blank? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&list_type=#{params[:list_type]}&tag=#{params[:tag]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].blank? && params[:list_type].blank? && params[:catalog].present? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                         <% elsif params[:tag].present? && params[:list_type].blank? && params[:catalog].blank? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&tag=#{params[:tag]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                         <% elsif params[:tag].blank? && params[:list_type].present? && params[:catalog].blank? %> 
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&list_type=#{params[:list_type]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% else %>
                            <%=link_to "Previous","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% end %>    
                    <%else %>
                       <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled" %>
                    <% else %>
                        <% if params[:tag].present? && params[:list_type].present? && params[:catalog].present? %>
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&tag=#{params[:tag]}&list_type=#{params[:list_type]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].present? && params[:catalog].present? && params[:list_type].blank? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&tag=#{params[:tag]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].blank? && params[:list_type].present? && params[:catalog].present? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&list_type=#{params[:list_type]}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].present? && params[:list_type].present? && params[:catalog].blank? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&list_type=#{params[:list_type]}&tag=#{params[:tag]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% elsif params[:tag].blank? && params[:list_type].blank? && params[:catalog].present? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&catalog=#{params[:catalog]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                         <% elsif params[:tag].present? && params[:list_type].blank? && params[:catalog].blank? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&tag=#{params[:tag]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                         <% elsif params[:tag].blank? && params[:list_type].present? && params[:catalog].blank? %> 
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&list_type=#{params[:list_type]}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% else %>
                            <%=link_to "Next","#{request.original_url.split("?")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:class => "btn btn-primary btn-sm"%>
                        <% end %>    
                    <% end %>
                </div>
                </div>
     
