<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
		<div class="row">
				<ol class="breadcrumb">
						<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
						<li>VideoList</li>
								<li class="active">VideoList</li>
				</ol>
		</div>
		<!-- <div class="row">
				<div class="col-lg-12">
								<h1 class="page-header">Add VideoList</h1>
				</div>
		</div> -->


		<div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
             <form class="form-horizontal" id="videoForm" role="form">
            <label class="catalog" for="catalog_id">Choose Video Tag</label>
                                <select name="videotag_id" class="form-control input-sm" id="videotagid">
                                    <option value="">Select one from below</option>
                                    <%@video_list.each do |vl|%>
                                <option id="<%=@catalog_id%>-<%=vl%>" value="<%=@catalog_id%>-<%=vl%>"><%=vl%></option>
                                    <%end%>
                                </select>
            </div>
            <script type="text/javascript">
			$('#videotagid').change(function() {
				var itemsdata = $(this).val();
				var catalog_id = itemsdata.split("-")[0]
                var category = itemsdata.split("-")[1]
				console.log(itemsdata); 
				$.ajax({
				  url: '/videoitems/' + catalog_id,
				  type: 'GET',
				  data: 'category='+category,
				  timeout: 120000,
				  error: function(e,t){
                          if (t == "timeout"){
                            alert("Timed Out Wait for Response")
                          }
                          else{
                            alert(JSON.parse(e.responseText)["error"]);
                          }
                       },
                  success: function(d){
                  	window.console.log(d);
                  	var videolist = d.videolist;
                  	 $("#videotag").empty();


				if(videolist){
					$("#videotag").append("<label> Select VideoList</label>");
                var	selectvideolist = $("<select name='videolist'></select>");
                    selectvideolist.attr("id","videolistid");
                    selectvideolist.attr("class","form-control input-sm");
                    selectvideolist.append('<option value="">Select one from below</option>');
                var videolistoptions ;
                 for(var temploop=0;temploop<videolist.length;temploop++) {
                    videolistoptions +=   '<option id="videolist" value='+videolist[temploop]["videolist_id"]+'-'+videolist[temploop]["catalog_id"]+'>'+videolist[temploop]["title"]+'</option>'
                    }
                    selectvideolist.append(videolistoptions);
                    $("#videotag").append(selectvideolist);
				}else{
                    $("#videotag").append("<div>'No Videolist to display'</div>");
                }
                  }
				});
			});
           </script>
        </div>
        </div>

		<div id="videotag">
        </div>

        <br><button type="button" class="btn btn-primary" id="submitvideolistForm">Add Video list</button>
</form>

        <script type="text/javascript">
        function validateForm(){
         var videolistlen = document.getElementsByName("videolist");
         if (videolistlen.length == 0){
         	alert("Please Select Videolist");
         return false;
     }
         else {
         	return true;
         }
        }

$('#submitvideolistForm').click(function(){
        var status = validateForm();
        console.log(status);
      var videolist = document.getElementsByName("videolist");
      var videotag = document.getElementsByName("videotag_id");
      for (var vt = 0; vt < videotag.length; vt++) {
      	var vvt = videotag[vt].value;
			}
      for (var vl = 0; vl < videolist.length; vl++) {
      	var vvl = videolist[vl].value;
			}
        if (status == true) {
        	alert("status");
         //var data = $('#videoForm').serialize();
        $.ajax({
            url: '/videolistitems/',
           // data: data,
            data: 'videotag='+vvt + '&videolist=' + vvl, 
            type: 'PUT',
            dataType: 'json',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                window.location = "/media/view_all"
            }
        });
        }
    });



        </script>