<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li>Media List</li>
            <li class="active">Add Media List</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Catalog List</h1>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" id="cataloglistForm" role="form">
                        <div class="container-fluid">
                             
                            <%= render :partial => "catalog_lists/catalog_list_form" %>
                            
                            <br><button type="submit" class="btn btn-primary" id="submitCatalogListForm">Add Media List</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render :partial => "catalog_lists/cataloglist_validations" %>
