<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Media Lists</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-2">
                          <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
                            <% else %>
                <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/catalog_lists/new'">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Media List
                </button><% end %>
                        </div>
                        <div class="col-xs-8">
                        </div>
                        <div class="col-xs-4" style="width:15%;">
                             <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                <% [25, 50, 75, 100]. each do |ps| %>
                                    <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
					<p>&nbsp;</p>
					<div class="col-xs-12 row" style="background-color: white;">
    					<div class="col-xs-3">
    					<select class="input-sm form-control filter-catalog-dropdown main_filter" id="filter_catalog" url="<%= request.original_url %>">
    						<option selected value="">Select Catalog</option>
    						<% Catalog.not_in(:theme => ["access_control", "subscription", "message", "coupon"]).where(:bg_id => @bg._id).each do |catalog|%>	
    							<option value="<%= catalog.id %>" <%= "selected" if params[:catalog] == "#{catalog.id}" %>><%= catalog.name %></option>
    						<% end %>
    					</select>
    					</div>
    					<div class="col-xs-3">
    						<select  class="input-sm form-control filter-tag-dropdown main_filter" id="filter_tag" url="<%= request.original_url %>">
    							<option selected value="">Select Tag</option>
    							<% @default_data["default_catalog_types"].each do |tag| %>
    								<option value="<%= tag['name'] %>" <%= "selected" if params[:tag] == "#{tag['name']}" %>><%= tag['name'] %></option>
    							<% end %>
    						</select>
    					</div>
                        <div class="col-xs-3">
                            <select  class="input-sm form-control filter-list-type-dropdown main_filter" id="filter_list_type" url="<%= request.original_url %>">
                                <%list_values = ["Standard","Dynamic","User","HR List","Menu List"]%>
                                <option selected value="">Select List Type</option>
                                <% list_values.each do |tag| %>
                                    <option value="<%= tag.parameterize.underscore %>" <%= "selected" if params[:list_type] == "#{tag.parameterize.underscore}" %>><%= tag %></option>
                                <% end %>
                               <!--  <option value="standard">Standard</option>
                                <option value="dynamic">Dynamic</option>
                                <option value="user">User</option>
                                <option value="hr_list">HR List</option>
                                <option value="menu_list">Menu List</option> -->
                            </select>
                        </div>
                         <div class="col-xs-3">
                                        <input type="text" placeholder="Search By Display Title" id ="titlesearch" class="form-control input-sm search_input_textbox">
                                    </div>
    					<!-- <div class="col-xs-3">
    						<select  class="input-sm form-control filter-channel-dropdown" id="filter_channel">
    							<option selected value="">Select Channel</option>
    							<option value="channel 1">Channel 1</option>
    							<option value="channel 2">Channel 2</option>
    							<option value="channel 3">Channel 3</option>
    							<option value="channel 4">Channel 4</option>
    						</select>
    					</div> -->
					</div>
				</div>
                <div  id="table_body">
               <%= render 'catalog_lists/view_media_lists' %>
               </div>
            </div>
        </div>
    </div>
</div>    

<%= render :partial => "catalog_lists/cataloglist_validations" %>

<script type="text/javascript">
// function load_actions() {
//     $('.delete-cataloglist').click(function(){
//         $.ajax({
//             url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
//             type: 'POST',
//             timeout: 120000,
//             error: function(e,t){
//                 if (t == "timeout"){
//                     alert("Timed Out Wait for Response")
//                 }
//                 else{
//                     alert(JSON.parse(e.responseText)["error"]);
//                 }
//             },
//             success: function(d){
//                 alert("List has been deleted sucessfully!")
//                 location.reload();
//             }
//         });
//     });

//     $('.edit-list').click(function(){
//         window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
//     });
// };
    
            $('.delete-cataloglist').click(function(){
                $.ajax({
                    url: '/catalog_lists/'+$(this).attr('cataloglist-id')+'?method=delete',
                    type: 'POST',
                    timeout: 120000,
                    error: function(e,t){
                        if (t == "timeout"){
                            alert("Timed Out Wait for Response")
                        }
                        else{
                            alert(JSON.parse(e.responseText)["error"]);
                        }
                    },
                    success: function(d){
                        location.reload();
                    }
                });
            });

            $('.edit-list').click(function(){
                window.location.href = '/catalog_lists/edit?list_id='+$(this).attr('list-id');
            });
            $('.add-media').click(function(){
                window.location.href = '/catalog_lists/new';
            });

            $('.add-list-to-list').click(function(){
                //alert("redirect_to catalog_lists/get_lists?cataloglist_id="+$(this).attr('cataloglist-id'));
                window.location.href = '/catalog_lists/get_lists?cataloglist_id='+$(this).attr('cataloglist-id');
            });




// $(function()
 // {
 //    console.log("loaded...");
        // $(".main_filter").change(function ()
        // {
        //     alert(1)
        //     var value_of_tag = $( "select#filter_tag option:checked" ).val();
        //     var value_of_catalog = $( "select#filter_catalog option:checked" ).val();
        //     var value_of_list_type = $( "select#filter_list_type option:checked" ).val();
        //     // var value_of_channel = $( "select#filter_channel option:checked" ).val();
        //     console.log("Tag="+value_of_tag+" List Type="+value_of_list_type+" Catalog="+value_of_catalog );
        //     var url = $(this).attr('url'); 
        //     if (value_of_catalog != "")
        //     {
        //         var ct_append = value_of_catalog; 
        //         url += "?catalog="+ct_append;
        //     } 
    
        //     if (value_of_tag != "")
        //     {
        //         var tag_append = value_of_tag;
        //         if (typeof tag_append !== "undefined")
        //         {
        //             url += "&tag="+tag_append;
        //         }
        //         else
        //         {
        //             url += "tag="+tag_append;
        //         }
        //     } 
        //     if (value_of_list_type != "")
        //     {
        //         var list_type_append = value_of_list_type;
        //         if (typeof list_type_append !== "undefined")
        //         {
        //             url += "&list_type="+list_type_append;
        //         }
        //         else
        //         {
        //             url += "list_type="+list_type_append;
        //         }
        //     } 

        //     // if (value_of_channel != ""){
        //     //   var ch_append = value_of_channel
        //     //   if (typeof ct_append !== "undefined" || tag_append !== "undefined") {
        //     //     url += "&channel="+ch_append;
        //     //   } else {
        //     //     url += "channel="+tag_append;
        //     //   }
        //     // } 
        //     console.log("URL::  "+url);
        //     $("#table1").attr('data_source','/catalog_lists?'+url);
        //     var final_url = $('#table1').attr('data_source');
        //     console.log(final_url);
        //      window.location.href = new_urlz;
        // });
    // });
    // $(document).on('change','#page_size',function() {
    //     var urlz = $(this).attr('url');
    //     var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
    //     new_urlz = updateQueryStringParameter(new_urlz,"page","1");
    //     window.location.href = new_urlz;
    // });
    //  function updateQueryStringParameter(uri, key, value) {
    //   var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
    //   var separator = uri.indexOf('?') !== -1 ? "&" : "?";
    //   if (uri.match(re))
    //   {
    //     return uri.replace(re, '$1' + key + "=" + value + '$2');
    //   }
    //   else {
    //     return uri + separator + key + "=" + value;
    //   }
    // }
    $('#page_size').on('change', function() {
        // pbar=false;
        renderViewList();
        // var urlz = $(this).attr('url');
        // var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        // new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        // window.location.href = new_urlz;
    });
 $('#titlesearch').on("keyup", function(e)
    {      
                pbar = false;
                var pageno = "<%=params[:page]%>"
                var psize = $('#page_size').val();
                var display_title = $('#titlesearch').val();
                var value_of_tag = $( "select#filter_tag option:checked" ).val();
                var value_of_catalog = $( "select#filter_catalog option:checked" ).val();
                var value_of_list_type = $( "select#filter_list_type option:checked" ).val();
                // var value_of_channel = $( "select#filter_channel option:checked" ).val();
                console.log("Tag="+value_of_tag+" List Type="+value_of_list_type+" Catalog="+value_of_catalog );
                if(/^[ A-Za-z0-9_:-]*$/.test(display_title) == false) {
                $("#table_data").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
                }
                else
                {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                // var url = "/catalog_lists/view_all?"; 
                
                if (typeof value_of_catalog !== "undefined")
                {
                    catalog = value_of_catalog;
                }
                else
                {
                    catalog = "";
                } 
    
                if (typeof value_of_tag !== "undefined")
                {
                    tag = value_of_tag;
                }
                else
                {
                    tag = "";
                } 
                
                if (typeof value_of_list_type !== "undefined")
                {
                    listtype = value_of_list_type;
                } 
                else
                {
                    listtype = "";
                }

                if (typeof display_title !== "undefined")
                {
                    display_title = display_title;
                }                
                else
                {
                    display_title = "";
                }
                // alert(psize);
                 var org_title = $.trim(display_title);
                 updateURL(psize,pageno,listtype,tag,catalog)
                $.ajax({
                    url: '/catalog_lists/view_all?display_title='+org_title+'&page='+pageno+'&page_size='+psize+'&catalog='+catalog+'&list_type='+listtype+'&tag='+tag,
                    type: 'GET',
                    timeout: 120000,
                    dataType: 'script',
                    success: function(e)
                    {
                        if ($('#table_data').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_data').find('tr').length == 0){
                            $("#table_data").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                    },
                    error: function(e,t)
                    {
                      if (t == "timeout")
                      {
                        alert("Timed Out Wait for Response")
                      }
                      else
                      {
                        alert(JSON.parse(e.responseText)["error"]);
                      }
                    }
                }).always(
                            function()
                            {                                
                                try
                                {
                                    pbar=true;
                                }
                                catch(e)
                                {

                                }
                            });
            }
            });

    $(document).ready(function(){
        var items = "<%= @items.blank? ? 0 : @items.count%>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    }) 
     $('#filter_catalog,#filter_list_type, #filter_tag').on('change', function(){
        // pbar=false;
        renderViewList();       
    });

    function renderViewList() {
        var catalog =  $('#filter_catalog').val();
        var listType = $('#filter_list_type').val();
        var tag = $('#filter_tag').val();
        var pageSize = $("#page_size").val();
        var pageno = 1
        if(listType !== null && tag !== null && catalog !== null){
             updateURL(pageSize,pageno,listType,tag,catalog)
            $.ajax({
                url: '/catalog_lists/view_all?list_type='+listType+'&tag='+tag+'&catalog='+catalog+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }else if(listType !== null && tag !== null && catalog === null){
             updateURL(pageSize,pageno,listType,tag,"")
            $.ajax({
                url: '/catalog_lists/view_all?list_type='+listType+'&tag='+tag+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        } else if(listType === null && tag !== null && catalog !== null){
             updateURL(pageSize,pageno,"",tag,catalog)
            $.ajax({
                url: '/catalog_lists/view_all?tag='+tag+'&catalog='+catalog+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }else if(listType !== null && tag === null && catalog !== null){
             updateURL(pageSize,pageno,listType,"",catalog)
            $.ajax({
                url: '/catalog_lists/view_all?listType='+listType+'&catalog='+catalog+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }else if(listType !== null && tag === null && catalog === null){
             updateURL(pageSize,pageno,listType,"","")
            $.ajax({
                url: '/catalog_lists/view_all?listType='+listType+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }else if(listType === null && tag !== null && catalog === null){
             updateURL(pageSize,pageno,"",tag,"")
            $.ajax({
                url: '/catalog_lists/view_all?tag='+tag+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }else if(listType === null && tag === null && catalog !== null){
             updateURL(pageSize,pageno,"","",catalog)
            $.ajax({
                url: '/catalog_lists/view_all?catalog='+catalog+'&page_size='+pageSize,
                type: 'GET',
                timeout: 120000,
                dataType: 'script'
            });
        }
    }  
    function updateURL(psize,pageno,listType,tag,catalog) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize+'&list_type='+listType+'&tag='+tag+'&catalog='+catalog;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
</script>


