<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
			<li>OTT</li>
			<li>Lists</li>
			<li class="active"><%= @catalog_list.display_title %></li>
		</ol>
	</div>
	<div class="row">
	 <input type="hidden" id="mpage" value="<%= params[:page] %>">
    <input type="hidden" id="mpage_size" value="<%= params[:page_size] %>">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<button type="button" class="btn btn-primary btn-sm re-order-save-button" style="display:none;">
						<span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Save
					</button>
					<button type="button" class="btn btn-primary btn-sm re-order-button">
						<span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Reorder
					</button>
					 <div class="row">
                         <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="pull-right perpage_filter" style="margin-right: 15px;">
                                    <!-- <label>Per Page</label> -->
                                     <select class="form-control input-sm" id="page_size" url="<%= request.original_url %>" name="page_size">
                                        <% [25, 50, 75, 100]. each do |ps| %>
                                            <option value=<%= ps %> <%= "selected" if params[:page_size] == "#{ps}" %>><%= ps %></option>
                                        <% end -%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
					<div>
						<table class = "table table-condensed table-striped">
							<thead>
								<tr>
									<th>Serial No </th>
									<th>Title</th>
									<th>Type</th>
									<th>List Order</th>
									<th>Catalog name</th>
									<th>Media Type</th>
									<th>Display Title</th>
									<th>Actions</th>
								</tr>
								    <tr class="table_filter">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                               <input type="text" placeholder="Enter Title" catalog_list_id="<%= @catalog_list.id%>" id="titlesearch" class="form-control input-sm search_input_textbox">

                            </td>
                        </tr>
							</thead>
							<tbody id="table_body">
								<% if @cataloglist_items.present? %>
                            	<%= render :partial => 'catalog_lists/catalog_list_body' %>
                        		<% end %>
							</tbody>
						</table>
					</div>	
              		<div>
                  <% if params[:page].to_i != 1 %>
                        <%= link_to "Previous","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i-1}&page_size=#{params[:page_size].to_i}",:id => 'prev' ,:class => "btn btn-primary btn-sm prev_btn"%>

                    <%else %>
                        <%= link_to "Previous","",:class => "btn btn-primary btn-sm disabled prev_btn" %>
                    <% end %>
                    <% if @next_items.empty? %>
                        <%= link_to "Next","",:class => "btn btn-primary btn-sm disabled next_btn" %>
                    <% else %>
                      <%=link_to "Next","#{request.original_url.split("?page")[0]}?page=#{params[:page].to_i+1}&page_size=#{params[:page_size].to_i}",:id => 'next' ,:class => "btn btn-primary btn-sm next_btn"%>
                    <% end %>
                  </div>
            	</div>
        	</div>
    	</div>
	</div>
</div>

<script type="text/javascript">

				$('.delete-item').click(function(){
					var item = {}
					if ($(this).attr('catalog-id')) {
						item['catalog_id'] = $(this).attr('catalog-id');	
					} else if ($(this).attr('list-id')) {
						item['list_id'] = $(this).attr('list-id');
					} else{
						item['catalog_id'] = $(this).attr('catalog-id');	
					}

					//item['catalog_id'] = $(this).attr('catalog-id');
					item['content_id'] = $(this).attr('content-id');
					item['ott_list_id'] = $(this).attr('ott-list-id');
			        $.ajax({
			            url: '/catalog_lists/delete_item',
			            type: 'PUT',
			            data: item,
			            dataType: 'json',
			            timeout: 120000,
			            error: function(e,t){
			                if (t == "timeout"){
			                    alert("Timed Out Wait for Response")
			                }
			                else{
			                    alert(JSON.parse(e.responseText)["error"]);
			                }
			            },
			            success: function(d){
			                alert("Item Removed Sucessfully!!")
			                location.reload();
			            }
			        });
			    });

			    $(function(){



		var nested_json_data = new Array();
		$('.re-order-button').click(function() {
			if ($(this).text().trim() == "Reorder") {
				$(this).removeClass("re-order-button").addClass("re-order-cancel-button");
				$(this).html("<span class='glyphicon glyphicon-sort' aria-hidden='true'></span> Cancel Reorder");
				$(this).attr("onclick","reloadPage();");
				$('.re-order-save-button').removeAttr('style');
				$('div#table1').removeAttr("auto_refresh");
				$('.re-order-list-item').removeAttr("readonly").removeAttr("style").removeAttr("disabled");	
				
			} else {
				$(this).html("<span class='glyphicon glyphicon-sort' aria-hidden='true'></span> Reorder");
				$('div#table1').attr("auto_refresh", "10000");
				$('.re-order-list-item').attr("readonly");
				$('.re-order-list-item').attr("style", "border:none;").attr('disabled','disabled');
				$('.re-order-save-button').attr('style','display:none;');	
			}

		});
		

		//save the new ordering.
		$('.re-order-save-button').click(function(){
			var order_inputs = $('.re-order-list-item');		
			for (var i = 0; i < order_inputs.length; i++) {
				var order_input = $(order_inputs[i]).val();
				var content_id = $(order_inputs[i]).attr("conent");
				var theme = $(order_inputs[i]).attr("theme");
				var ott_list_id = $(order_inputs[i]).attr("ott_id");
				//var theme = $(order_inputs[i]).parent().parent().find("td:nth-child(2)").html();
				//var content_id = $(order_inputs[i]).parent().parent().find('td:last').find('button').attr('content-id');
				//var ott_list_id = $(order_inputs[i]).parent().parent().find('td:last').find('button').attr('ott-list-id');

				//alert(theme);

				nested_json_data.push({
					content_id: content_id,
					theme: theme,
					order_no: parseInt(order_input)
				})
				console.log(nested_json_data);
			}
			var ajax_data = {"list_items":nested_json_data};


			$.ajax({
				url: '/catalog_lists/reorder_items?list_id='+ ott_list_id,
				type: 'PUT',
				data: ajax_data,
				dataType: 'json',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
				//alert("Item Removed Sucessfully!!")
					location.reload();
				}
			});
		})
	});

        $(document).on('change','#page_size',function() {
        var urlz = $(this).attr('url');
        var new_urlz = updateQueryStringParameter(urlz,"page_size",$(this).val());
        new_urlz = updateQueryStringParameter(new_urlz,"page","1");
        window.location.href = new_urlz;
    });
     function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re))
      {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }

      $('#titlesearch').on("keyup", function(e){
      pbar = false;
      var pageno = "<%=params[:page]%>"
      var title = $('#titlesearch').val();
      var page_size = $('#page_size').val();
      var catalog_list_id = $(this).attr('catalog_list_id');
      if(/^[ A-Za-z0-9_:-]*$/.test(title) == false) {
                $("#table_body").html("No matches Found");
                $('.prev_btn').css('display','none');
                $('.next_btn').css('display','none');
            }
            else
            {
                $('.next_btn').css('display','inline');
                $('.prev_btn').css('display','inline');
                 var org_title = $.trim(title);
                  updateURL(page_size,pageno)
      $.ajax({ 
        url: '/catalog_lists/view_catalog_list/'+catalog_list_id+'?&title='+title+'&page_size='+page_size+'&page='+pageno,
        type: 'GET',
        timeout: 120000,
        dataType: 'script',
        success: function(d)
        {
          window.history.pushState("object or string", "Title", "/catalog_lists/view_catalog_list/"+catalog_list_id+"?page_size="+page_size+'&page='+pageno);
          if ($('#table_body').find('tr').length > 0)
                        {
                            var current_page = $('.cl_page')[0].innerHTML;
                            var current_page_num = parseInt(current_page);
                            var next_val = $('.cl_next_val')[0].innerHTML;
                            if (current_page_num == 1){
                                $('#prev').addClass('disabled');
                            }else{
                                $('#prev').removeClass('disabled');
                            }
                            if(next_val == "false")
                            {
                                $('#next').removeAttr('disabled');
                            }
                            else if(next_val == "true")
                            {
                                $('#next').attr('disabled','disabled');
                            }
                        }
                        else if($('#table_body').find('tr').length == 0){
                            $("#table_body").html("No matches Found");
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }
                        else
                        {
                            $('.next_button').attr('disabled','disabled');
                            $('.previous_button').attr('disabled','disabled');
                        }

        },
        error: function(e,t){
          if (t == "timeout")
          {
            alert("Timed Out Wait for Response");
          } else {
            alert(JSON.parse(e.responseText)["error"]);
          }
        }
      }).always(function(){
        try {
          pbar=true;
        } catch(e) { }
      });
}
    });
 function updateURL(psize,pageno) {
      if (history.pushState) {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + '?page='+pageno+'&page_size='+psize;
          window.history.pushState({path:newurl},'',newurl);
      }
    }
     $(document).ready(function(){
        var items = "<%= @cataloglist_items.blank? ? 0 : @cataloglist_items.count %>"
        if (items == 0)
        {
            $("#page_size").css('display','none');
            $("#titlesearch").css('display','none');
        }
        else
        {
             $("#page_size").css('display','inline');
             $("#titlesearch").css('display','inline');
        }
    })
</script>











