@font-face {
  font-family: 'GalaxieCassiopeia Bold';
  src: url('/assets/Galaxie-Cassiopeia-Bold.ttf');
    
}
@font-face {
	font-family: 'PolarisCondensed Bold';
  src: url('/assets/Polaris-Condensed-Bold.otf');
}
@font-face {
	font-family: 'PolarisCondensed Medium';
  src: url('/assets/Polaris Condensed-Medium.otf');
}
@font-face {    
  font-family: 'GalaxiePolaris Medium';
  src: url('/assets/Polaris-Medium.otf');
}
@font-face {    
  font-family: 'GalaxiePolaris Light';
  src: url('/assets/Polaris-Light.otf');
}
@font-face {    
  font-family: 'GalaxiePolaris Bold';
  src: url('/assets/Polaris-Bold.otf');
}    
@font-face {    
  font-family: 'GalaxiePolaris BoldItalic';
  src: url('/assets/Polaris-BoldItalic.otf');
} 
body{
	font-family: 'GalaxiePolaris Medium';
	font-size: 14px;
}
a, a:hover{
	color: #fff;
	text-decoration: none;
}
ul{
	list-style: none;
}
.m0{
	margin: 0px!important;
}
.mt5{
	margin-top: 5px;
}
.mt10{
	margin-top: 10px;
}
.mt15{
	margin-top: 15px;
}
.mt20{
	margin-top: 20px;
}
.mt25{
	margin-top: 25px;
}
.mt30{
	margin-top: 30px;
}
.mt45{
	margin-top: 45px;
}
.mb0{
	margin-bottom: 0px;
}
.mb5{
	margin-bottom: 5px;
}
.mb10{
	margin-bottom: 10px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px!important;
}
.mb45{
	margin-bottom: 45px!important;
}
.mb70{
	margin-bottom: 70px!important;
}
.mb75{
	margin-bottom: 75px!important;
}
.mb85{
	margin-bottom: 85px!important;
}
.mb90{
	margin-bottom: 90px!important;
}
.ml0{
	margin-left: 0px !important;
}
.ml45{
	margin-left: 45px;
}
.mlr-20{
	margin: 0px -20px;
}
.pl0{
	padding-left: 0px;
}
.plr0{
	padding-left: 0px;
	padding-right: 0px; 
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
a:focus, a:hover {
    color: #fff;
    text-decoration: none;
}
input[type="search"]:focus {
    outline: none;
}
.success-color{
  align-items: center;
  background: #92D050;
  border-radius: 50%;
  display: flex;
  font-size: 2em;
  height: 280px;
  justify-content: center;
  margin-left: 20px;
  text-align: center;
  width: 280px;
}
.trail-color{
	align-items: center;
  background: #7E7E7E;
  border-radius: 50%;
  display: flex;
  font-size: 2em;
  height: 290px;
  justify-content: center;
  margin-left: 20px;
  text-align: center;
  width: 290px;
}
.page {
	float: left;
	width: 100%;
}
.wrapper {
	background: #000;
	float: left;
	width: 100%;
}
.menu-section {
	background: #fff;
	padding-bottom: 60px;
}
h2.left-section-title {
	font-size: 2em;
	margin-left: 30px;
	margin-top: 180px;
}
.menu-section .navigation{
	float: left;
	padding-left: 30px;
	width: 100%;
}
.menu-section .navigation li {
	float: left;
	margin: 10px 0px;
	width: 100%;
}
.menu-section .navigation li a {
	color: #00B0F0;
	font-size: 1.875em;
}
.menu-section .navigation li a.active {
	color: #000;
}
.menu-section .navigation li a:hover {
	color: #109dbc;
}
.menu-section .navigation li ul {
	margin-left: 45px;
}
.menu-section .navigation li ul li a {
	font-size: 1.5em;
	font-weight: normal;
}
.title {
	color: #fff;
	font-size: 4em;
	margin-left: 45px;
  margin-top: 45px;
}
.right-content {
	color: #fff;
}
h2.section-content-title {
	font-size: 32px;
	margin-left: 45px;
}
.flex-parent {
	align-items: center;
	display: flex;
	justify-content: center;
}
.flex-structure {
	align-items: center;
	display: flex;
	justify-content: center;
}
.bootstrap-select {
	width: 250px!important;
}
.bootstrap-select>.dropdown-toggle {
	border-radius: 0px !important;
}
