#result {
    display: inline;
    text-align: left;
    font-size: 16px;
    padding-left: 0;
    font-style: italic;
    font-weight: bold;
    float: left;
}

.weak {
    color: #FF0000;
}

.good {
    color: #FF8C00;
}

.strong {
    color: lime;
}