<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">Shows</li>
        </ol>
    </div><!--/.row-->
    <!-- <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Shows</h1>
        </div>
    </div> --><!--/.row-->
    <!-- <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-asterisk glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Random</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-file glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Phantom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-edit glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Custom</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-red panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <em class="glyphicon glyphicon-th glyphicon-l"></em>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">0</div>
                        <div class="text-muted">Total</div>
                    </div>
                </div>
            </div>
        </div>
    </div> --><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="table1" data_source="/shows/get_all" auto_refresh="100000000" loader="false" entries_info="true">
                        <script type="text/javascript" >
                            $(document).ready(function(){       
                                var table1 = new saranyutable("#table1");
                                table1.createBody = function createBody(_this) {            
                                    $(_this.selector).find("thead").append(
                                        '<tr><th><left>Name</left></th><th><left>Catalog Name</left></th><th><left>Tenants</left></th><th><left>OTT ID</left></th><th><left>Actions</left></th></tr>');
                                };
                                table1.load();                      
                                table1.appendContent = function appendContent(data,_this){      
                                    var tbody = $(_this.selector).find("tbody");
                                    tbody.html(""); 
                                    for ( var i = 0; i < data.list.length; i++) {
                                        //name
                                        // name = data.list[i].title
                                        name = '<a href="/shows/view_subcategories?show_id='+data.list[i]["_id"]+'">'+data.list[i].title+'</a>'
                                        //theme
                                        // theme = "show"
                                        catalog_name = data.list[i].catalog_name
                                        //apps
                                        // apps = data.list[i].app_id_list
                                        //tenants
                                        tenants = data.list[i].tenant_names
                                        //ott_id
                                        ott_id = data.list[i].ott_id
                                        //actions
                                        actions = ""
                                        delete_disabled = ""
                                        add_subcategory_disabled = ""
                                        add_episode_disabled = ""

                                        if (data.list[i].subcategories_flag == "no") {
                                            add_subcategory_disabled = "disabled"
                                        }

                                        if (data.list[i].episodes_flag == "no") {
                                            add_episode_disabled = "disabled"
                                        }

                                        view_button = '<span class="inline-block" data-toggle="tooltip" title="View Info"><button type="button" class="btn btn-xs btn-info info-show" show-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-eye-open"></button>'

                                        edit_button =  '<span class="inline-block" data-toggle="tooltip" title="Edit"><button type="button" class="btn btn-xs btn-default edit-show" show-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-pencil"></button></span>'

                                        delete_button = '<button type="button" class="'+delete_disabled+' btn btn-xs btn-danger delete-show" show-id='+data.list[i]._id+'><span class="glyphicon glyphicon-remove"></button>'

                                        add_subcategory = '<span class="inline-block" data-toggle="tooltip" title="Add Subcategory"><button type="button" class=" '+ add_subcategory_disabled +' btn btn-xs btn-inverse add-subcategory" show-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-plus"></button></span>'

                                        add_episode = '<span class="inline-block" data-toggle="tooltip" title="Add Episode"><button type="button" class="'+ add_episode_disabled +' btn btn-xs btn-primary add-episode" show-id='+data.list[i]["_id"]+'><span class="glyphicon glyphicon-plus"></button></span>'

                                        actions = add_subcategory+"&nbsp;"+add_episode
                                        //append                
                                        tbody.append("<tr><td>" + name
                                            + "</td><td>" + catalog_name
                                            + "</td><td>" + tenants
                                            + "</td><td>" + ott_id
                                            + "</td><td>" + actions
                                            +"</td></tr>");
                                    }
                                    load_actions();
                                };
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
function load_actions() {
    $('.delete-catalog').click(function(){
        $.ajax({
            url: '/catalogs/'+$(this).attr('show-id')+'?method=delete',
            type: 'POST',
            timeout: 120000,
            error: function(e,t){
                if (t == "timeout"){
                    alert("Timed Out Wait for Response")
                }
                else{
                    alert(JSON.parse(e.responseText)["error"]);
                }
            },
            success: function(d){
                location.reload();
            }
        });
    });

    $('.edit-catalog').click(function(){
        window.location.href = '/shows/edit?show_id='+$(this).attr('show-id');
    });

    $('.add-subcategory').click(function(){
        window.location.href = '/subcategories/new?show_id='+$(this).attr('show-id');
    });

    $('.add-episode').click(function(){
        window.location.href = '/episodes/new?show_id='+$(this).attr('show-id');
    });
};
</script>