     <% @profile_list.each do |list| %>
                                    <tr>
                                    <td class="cl_next_val" style="display:none;"><%= @next_items.empty?%></td>
                                    <td class="cl_page" style="display:none;"><%= params[:page]%></td>
                                        <td><%= truncate list["name"], length: 20%></td>
                                        <td><%=  list["name"]%></td>
                                        <td><%=  list["video_bitrate"]%></td>
                                        <td><%=  list["audio_bitrate"]%></td>
                                        <td><%=  list["container"]%></td>
                                        <td><%=  list["video_codec"]%></td>
                                        <td><%=  list["audio_codec"]%></td>
                                        <td><%=  list["width"]%>x<%=list["height"]%></td>
                                        <td><%=  list["is_system_profile"] ? "Yes" : "No"%></td>
                                        <td>
                                        <%if !(current_user.roles.include?"cms_manager")%>
                                            <button type="button" class="<%=list['is_system_profile'] ? 'disabled' : '' %> btn btn-xs btn-danger delete-profile" data-toggle="tooltip" title="Delete" profile-id='<%= list["_id"]%>'><span class="glyphicon glyphicon-remove"></span></button>
                                        <% else %>
                                            <button type="button" class="<%=list['is_system_profile'] ? 'disabled' : '' %> btn btn-xs btn-danger delete-profile" data-toggle="tooltip" title="Delete" profile-id='<%= list["_id"]%>'><span class="glyphicon glyphicon-remove"></span></button>
                                        <% end %>
                                        </td>
                                        </tr>
                                <% end %>
