<!DOCTYPE html>
<html>
<head>
	<style>
		.modal-body p {
			word-wrap: break-word;
		}
		.navbar {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	</style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/datepicker3.css" rel="stylesheet">
	<link href="/assets/styles.css" rel="stylesheet">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
	
	<script src="/assets/jquery-1.11.1.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
	<script src="/assets/chart.min.js"></script>
	<script src="/assets/easypiechart.js"></script>
	<script src="/assets/bootstrap-datepicker.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
	<script src="/assets/saranyutable.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<script src="http://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
	<script src="/assets/jquery.validate.min.js"></script>
	<title>Cinestaan OTT</title>
</head>
<body>
	<nav class="navbar navbar-fixed-top" role="navigation" style="background-color: #FFFFFF;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="col-sm-3 col-lg-2" style="margin-top:10px; padding:0">
					<a href="/"><img src="/assets/logo-s.png" style="width: 60%;"></a>
				</div>
				<% if current_user %>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #808080;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a> <%= current_user.email %></a></li>
							<li><a href="/users/new_password"><span class="glyphicon glyphicon-cog"></span> Change Password</a></li>
							<li><a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
				<% if current_user.roles.include? "cms_manager" %>
				<ul class="user-menu pull-right">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #808080;"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" style="height:500px; overflow:auto;">
							<li><a class="unset_bg"><span class="glyphicon glyphicon-info-sign"></span> Manager Home</a></li>
							<li><a href="/business_groups/new"><span class="glyphicon glyphicon-briefcase"></span> Add Business Group</a></li>
							<li role="presentation" class="divider"></li>
							<li><a><span class="glyphicon glyphicon-random"> Switch-to</span></a></li>
							<%BusinessGroup.all.each do |bg|%>
							<%if bg.ott_id.blank?%>
							<%else%>
							<li><a class="set_bg" bg_id="<%=bg.id%>"><span class="glyphicon glyphicon-share-alt"></span> <%=bg.name%></a></li>
							<%end%>
							<%end%>
						</ul>
					</li>
				</ul>
				<a class="navbar-brand pull-right" style="color: #808080;" href="#"><span>CMS</span> Manager<%if current_bg%><span> as </span><%=current_bg.name.delete(' ')%><%end%></a>
				<% elsif current_user.roles.include? "admin" %>

				<a class="navbar-brand pull-right" style="color: #808080;" href="#"><span> <%=BusinessGroup.find(current_user.bg_id).name%></span></a>
				<% elsif current_user.roles.include? "publisher" %>
				<a class="navbar-brand pull-right" style="color: #808080;" href="#"><span><%=BusinessGroup.find(current_user.bg_id).name%></span></a>
				<% elsif current_user.roles.include? "content_editor" %>
				<a class="navbar-brand pull-right" style="color: #808080;" href="#"><span><%=BusinessGroup.find(current_user.bg_id).name%></span></a>
				<% end %>
				<% else %>
				<% unless params[:action] == "verify_forgot_password_link" || params[:action] == "contact" || params[:action] =="aboutus"%>
				<ul class="user-menu pull-right">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: #808080;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/users/login_form"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
							<li><a href="/users/forgot_password"><span class="glyphicon glyphicon-lock"></span> Forgot Password?</a></li>
						</ul>
					</li>
				</ul>
				<% end %>
				<% end %>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<% if current_bg %>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<%if current_bg%>
			<!-- <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
			<li class="parent ">
				<a href="/media/view_all">
					<span class="glyphicon glyphicon-film"></span> Media <span data-toggle="collapse" href="#media-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a>
				<ul class="children collapse" id="media-dropdown">
					<%#if user_is_boss? || (current_user.roles.include?"publisher")%>
					<li>
						<a class="" href="/media/new">
							<span class="glyphicon glyphicon-plus"></span> Add New
						</a>
					</li>
					<li>
						<a class="" href="/media/new_bulk_upload">
							<span class="glyphicon glyphicon-arrow-up"></span> Bulk Upload
						</a>
					</li>
					<li>
						<a class="" href="/media/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All
						</a>
					</li>
					<%#end%>
				</ul>
			</li> -->

			

			<li class="parent ">
				<!-- Needs to link to Landing Page -->
				<a href="/">
					<span class="glyphicon glyphicon-dashboard"></span> Dashboard <span data-toggle="collapse" href="#users-dropdown" class="icon pull-right"></span> 
				</a>

				<%if (current_user.roles.include? "cms_manager") || (user_is_boss? && !(current_bg.plan == "ott_saas"))%>
					<%if user_is_boss? || (current_user.roles.include?"publisher")%>
				<% unless ((current_user.roles.length == 1) && (current_user.roles.include? "admin"))%>
				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#users-dropdown">
					<span class="glyphicon glyphicon-king"></span> Administration <span data-toggle="collapse" href="#users-dropdown" class="icon pull-right" id="susers-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				
				<ul class="children collapse" id="users-dropdown">
				<li class="parent ">
				
				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#tenant-dropdown">
					<span class="glyphicon glyphicon-tent"></span> Tenant Management <span data-toggle="collapse" href="#tenant-dropdown" class="icon pull-right" id="stenant-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="tenant-dropdown">
					<li>
						<a class="" href="/tenants/new">
							<span class="glyphicon glyphicon-plus"></span> Add Tenant
						</a>
					</li>
					<li>
						<a class="" href="/tenants/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Tenant
						</a>
					</li>
				</ul>

				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#inouser-dropdown">
					<span class="glyphicon glyphicon-user"></span> User Management<span data-toggle="collapse" href="#inouser-dropdown" class="icon pull-right" id="sinouser-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="inouser-dropdown">
					<li>
						<a class="" href="/users/new">
							<span class="glyphicon glyphicon-plus"></span> Add user
						</a>
					</li>
					<li>
						<a class="" href="/users/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Users
						</a>
					</li>
				</ul>

				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#ms-dropdown">				
					<span class="glyphicon glyphicon-wrench"></span> Media Settings <span data-toggle="collapse" href="#ms-dropdown" class="icon pull-right" id="sms-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="ms-dropdown">
					<li>
						<a class="" href="/profiles/new">
							<span class="glyphicon glyphicon-plus"></span> Add Profile
						</a>
					</li>
					<li>
						<a class="" href="/profiles/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Profiles
						</a>
					</li>

					<li>
						<a class="" href="/publish_settings/new">
							<span class="glyphicon glyphicon-plus"></span> Add Publish Settings
						</a>
					</li>
					<li>
						<a class="" href="/publish_settings/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Publish Settings
						</a>
					</li>
				</ul>
				</li>

				</ul>
			</li>
            <%end%>
            <%end%><%end%>
            <!-- content owner section starts -->
            <% if (current_user.roles.exclude? "cms_manager") && (current_user.roles.include? "admin")%>
            		<a data-toggle="collapse" href="#users-dropdown">
					<span class="glyphicon glyphicon-king"></span> Administration <span data-toggle="collapse" href="#users-dropdown" class="icon pull-right" id="susers-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				
				<ul class="children collapse" id="users-dropdown">
				<li class="parent ">
				
				<a data-toggle="collapse" href="#inouser-dropdown">
					<span class="glyphicon glyphicon-user"></span> User Management<span data-toggle="collapse" href="#inouser-dropdown" class="icon pull-right" id="sinouser-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="inouser-dropdown">
					<li>
						<a class="" href="/users/new?co=yes">
							<span class="glyphicon glyphicon-plus"></span> Add user
						</a>
					</li>
					<li>
						<a class="" href="/users/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Users
						</a>
					</li>
				</ul>
				</li>

				</ul>
				<% end %>
            <!-- content owner section ends -->
            <%if current_bg.plan=="ott" || current_bg.plan=="ott_saas" %>
			<li class="parent ">
				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#as-dropdown">
					<span class="glyphicon glyphicon-film"></span> Asset Management <span data-toggle="collapse" href="#as-dropdown" class="icon pull-right" id="sas-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="as-dropdown">
			    <li class="parent ">

			    <!-- <a href="/media/view_all">
					<span class="glyphicon glyphicon-facetime-video"></span> All Media <span data-toggle="collapse" class="icon pull-right"></span> 
				</a> -->

				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#catalog-dropdown">
					<span class="glyphicon glyphicon-book"></span> Catalog <span data-toggle="collapse" href="#catalog-dropdown" class="icon pull-right" id="scatalog-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="catalog-dropdown">
				 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 <% else %>
					<li>
						<a class="" href="/catalogs/new">
							<span class="glyphicon glyphicon-plus"></span> Add Catalog
						</a>
					</li>
					<% end %>
					<li>
						<a class="" href="/catalogs/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Catalogs
						</a>
					</li>
				</ul>

				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#catalogl-dropdown">
					<span class="glyphicon glyphicon-tasks"></span> Media List<span data-toggle="collapse" href="#catalogl-dropdown" class="icon pull-right" id="scatalogl-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="catalogl-dropdown">
				 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 <% else %>
					<li>
						<a class="" href="/catalog_lists/new">
							<span class="glyphicon glyphicon-plus"></span> Add Media List
						</a>
					</li>
					<% end %>
					<li>
						<a class="" href="/catalog_lists/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Media List
						</a>
					</li>
				</ul>
				</li>
				</ul>
			</li>


			<li class="parent ">
				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#mon-dropdown"> 
					<span class="glyphicon glyphicon-stats"></span> Monetization <span data-toggle="collapse" href="#mon-dropdown" class="icon pull-right" id="smon-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="mon-dropdown">
			    <li class="parent ">
				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#sp-dropdown">
					<span class="glyphicon glyphicon-list-alt"></span> Subscription Plans <span data-toggle="collapse" href="#sp-dropdown" class="icon pull-right" id="ssp-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="sp-dropdown">
					<li>
						<a class="" href="/subscribeuser/new">
							<span class="glyphicon glyphicon-eye-open"></span> All Plans
						</a>
					</li>
					 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 <% else %>
					<li>
						<a class="" href="/subscribeuser/pack?pack=pack">
							<span class="glyphicon glyphicon-plus"></span> Add pack to user
						</a>
					</li>
					<% end %>
					<li>
						<a class="" href="/subscribeuser/new?coupon=coupon">
							<span class="glyphicon glyphicon-eye-open"></span> Coupons
						</a>
					</li>
					<li>
						<a class="" href="/coupons/generated_coupons">
							<span class="glyphicon glyphicon-qrcode"></span> Generate Coupons
						</a>
					</li>
				</ul>

				<!-- <a href="#"> -->
				<a data-toggle="collapse" href="#accc-dropdown">
					<span class="glyphicon glyphicon-link"></span> Content Control<span data-toggle="collapse" href="#accc-dropdown" class="icon pull-right" id="saccc-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="accc-dropdown">
				 <% if (current_user.roles.length == 1) && (current_user.roles[0] == "media_viewer")%>
				 <% else %>
					<li>
						<a class="" href="/accesscontrol/new">
							<span class="glyphicon glyphicon-plus"></span> Add Content Control
						</a>
					</li><% end %>
					<li>
						<a class="" href="/accesscontrol/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Content Control
						</a>
					</li>
				</ul>
				</li>
				</ul>
			</li>


			<li class="parent ">
				<a data-toggle="collapse" href="#app-dropdown">
					<span class="glyphicon glyphicon-th-large"></span> Application <span data-toggle="collapse" href="#app-dropdown" class="icon pull-right" id="sapp-dropdown"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="app-dropdown">
					<li>
						<a class="" href="/apps/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> All Apps
						</a>
					</li>
					<li>
						<a class="" href="/messages/view_all">
							<span class="glyphicon glyphicon-plus"></span> App Messages
						</a>
					</li>
					<li>
						<a class="" href="/messages/config_edit">
							<span class="glyphicon glyphicon-edit"></span> Customization
						</a>
					</li>

				</ul>
			</li>
			<!--MIS Dashboard Starts -->
			<li class="parent ">
				<a href="/mis_dashboard">
					<span class="glyphicon glyphicon-dashboard"></span> MIS Dashboard <span class="icon pull-right"></em></span> 
				</a>
			</li>
			<!--MIS Dashboard ends -->
			<%end%>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<%if (current_user.roles.include? "cms_manager") || (user_is_boss? && !(current_bg.plan == "ott_saas"))%>
			<!-- <li class="parent ">
				<a href="/users/view_all">
					<span class="glyphicon glyphicon-user"></span> Users <span data-toggle="collapse" href="#users-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="users-dropdown">
					<li>
						<a class="" href="/users/new">
							<span class="glyphicon glyphicon-plus"></span> Add New User
						</a>
					</li>
					<li>
						<a class="" href="/users/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All Users
						</a>
					</li>
				</ul>
			</li> -->

			<%if user_is_boss? || (current_user.roles.include?"publisher")%>
			<!-- <li role="presentation" class="divider"></li>
			<li class="parent ">
				<a href="/profiles/view_all">
					<span class="glyphicon glyphicon-list-alt"></span> Profiles <span data-toggle="collapse" href="#profiles-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="profiles-dropdown">
					<li>
						<a class="" href="/profiles/new">
							<span class="glyphicon glyphicon-plus"></span> Add New
						</a>
					</li>
					<li>
						<a class="" href="/profiles/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All
						</a>
					</li>
				</ul>
			</li>
			<li class="parent ">
				<a href="/publish_settings/view_all">
					<span class="glyphicon glyphicon-book"></span> Publish Settings <span data-toggle="collapse" href="#ps-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-chevron-down"></em></span> 
				</a>
				<ul class="children collapse" id="ps-dropdown">
					<li>
						<a class="" href="/publish_settings/new">
							<span class="glyphicon glyphicon-plus"></span> Add New
						</a>
					</li>
					<li>
						<a class="" href="/publish_settings/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All
						</a>
					</li>
				</ul>
			</li> -->
			<%end%>

			<%end%>

			<%if current_bg.plan=="ott" || current_bg.plan=="ott_saas" %>
			<!-- <li role="presentation" class="divider"></li>
			<li class="parent "> -->
				<!-- <a href="/tenants/view_all">
					<span class="glyphicon glyphicon-cloud"></span> OTT <span data-toggle="collapse" href="#tenant-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a> -->
				<%tenant = Tenant.where(:bg_id=>current_bg.id)%>
				<!-- <a class="" href="/">
					<span class="glyphicon glyphicon-home"></span> Insta OTT <span data-toggle="collapse" href="#tenant-dropdown" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span> 
				</a> -->

				<!-- <ul class="children collapse" id="tenant-dropdown"> -->
				<!-- <ul class="children" id=""> -->
					
					<!-- <li>
						<a class="" href="/catalogs/new">
							<span class="glyphicon glyphicon-plus"></span> Add Catalog
						</a>
					</li> -->
					<!-- <li>
						<a class="" href="/people/new">
							<span class="glyphicon glyphicon-th-list"></span> Add Person
						</a>
					</li> -->
					
					<!-- <li>
						<a class="" href="/catalog_lists/new">
							<span class="glyphicon glyphicon-plus"></span> Add Catalog List
						</a>
					</li> -->
					<!-- <li>
						<a class="" href="/accesscontrol/new">
							<span class="glyphicon glyphicon-phone"></span> Add Access Controller
						</a>
					</li> -->

					<!-- <li>
						<a class="" href="/tenants/view_tenant/<%=tenant[0].id%>">
							<span class="glyphicon glyphicon-dashboard"></span> Dashboard
						</a>
					</li>

					<li>
						<a class="" href="/media/view_all?tenant=<%=tenant[0].id%>">
							<span class="glyphicon glyphicon-eye-open"></span>All Media
						</a>
					</li>

					<li>
						<a class="" href="/subscribeuser/new">
							<span class="glyphicon glyphicon-credit-card"></span> Billing
						</a>
					</li>	

					<li>
						<a class="" href="/messages/config_edit">
							<span class="glyphicon glyphicon-pencil"></span> Customization
						</a>
					</li>	 -->	
					
					<%if current_user.roles.include? "cms_manager" %>

					<%if current_bg.plan == "ott_saas"%>
					<%tenant = Tenant.where(:bg_id=>current_bg.id)%>
					<!-- <li>
						<a class="" href="/tenants/view_tenant/<%#=tenant[0].id%>">
							<span class="glyphicon glyphicon-eye-open"></span> View Tenant
						</a>
					</li> -->
					<%else%>
					<%end%>
					<!-- <li>
						<a class="" href="/tenants/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All Tenants
						</a>
					</li>
					

					<li>
						<a class="" href="/tenants/new">
							<span class="glyphicon glyphicon-plus"></span> Add Tenant
						</a>
					</li>
					<li>
						<a class="" href="/tenants/view_all">
							<span class="glyphicon glyphicon-eye-open"></span> View All Tenants
						</a>
					</li> -->
					<!-- <li>
						<a class="" href="/messages/config_edit">
							<span class="glyphicon glyphicon-pencil"></span> Configuration
						</a>
					</li> -->
					<!-- <li>
						<a class="" href="/apps/new">
							<span class="glyphicon glyphicon-phone"></span> Add New App
						</a>
					</li> -->
					<% end %>
				</ul>
			</li>
			<%end%>


			<%end%>
		</ul>
	</div><!--/.sidebar-->
	<% end %>

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<div class="col-lg-12">
				<%= flash_messages %>
			</div>
		</div>
	</div>
	<%= yield %>
	<div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1>Processing data...</h1>
					<p> This may take a couple of minutes... </p>
				</div>
				<div class="modal-body">
					<div class="progress progress-striped active">
						<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">100% Complete</span>
						</div>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
	</html>

	<script type="text/javascript">
		var pbar=true;
		var pathname = $(location).attr('pathname');
		if (pathname == "/tenants/new" || pathname == "/tenants/view_all"){
					$("#users-dropdown").show();
					$("#tenant-dropdown").show();
					$("#susers-dropdown").collapse('hide');
					$("#stenant-dropdown").collapse('hide');
				}
		if (pathname == "/users/new" || pathname == "/users/view_all"){
			$("#users-dropdown").show();
			$("#inouser-dropdown").show();
			$("#susers-dropdown").collapse('hide');
			$("#sinouser-dropdown").collapse('hide');
		}
		if (pathname == "/profiles/new" || pathname == "/profiles/view_all" || pathname == "/publish_settings/new" || pathname == "/publish_settings/view_all" ){
			$("#users-dropdown").show();
			$("#ms-dropdown").show();
			$("#susers-dropdown").collapse('hide');
			$("#sms-dropdown").collapse('hide');
		}
		if (pathname == "/media/view_all"){
			$("#as-dropdown").show();
		}
		if (pathname == "/catalogs/new" || pathname == "/catalogs/view_all"){
			$("#as-dropdown").show();
			$("#catalog-dropdown").show();
			$("#sas-dropdown").collapse('hide');
			$("#scatalog-dropdown").collapse('hide');
		}
		if (pathname == "/catalog_lists/new" || pathname == "/catalog_lists/view_all"){
			$("#as-dropdown").show();
			$("#catalogl-dropdown").show();
			$("#sas-dropdown").collapse('hide');
			$("#scatalogl-dropdown").collapse('hide');
		}
		if (pathname == "/subscribeuser/new" || pathname == "/subscribeuser/pack"){
			$("#mon-dropdown").show();
			$("#sp-dropdown").show();
			$("#smon-dropdown").collapse('hide');
			$("#ssp-dropdown").collapse('hide');
		}
		if (pathname == "/accesscontrol/new" || pathname == "/accesscontrol/view_all"){
			$("#mon-dropdown").show();
			$("#accc-dropdown").show();
			$("#smon-dropdown").collapse('hide');
			$("#saccc-dropdown").collapse('hide');
		}
		if (pathname == "/apps/view_all" || pathname == "/messages/view_all" || pathname == "/messages/config_edit"){
			$("#app-dropdown").show();
			$("#sapp-dropdown").collapse('hide');
		}

		$(document).ready(function () {
		//$.fn.modal.Constructor.prototype.enforceFocus = function () {};
		$(document).ajaxStart(function () {
			if (pbar==true){
				$('#waitingModal').modal('show')
			};
		}).ajaxStop(function () {
			$('#waitingModal').modal('hide')
		});
		$("div[id^='flash_']").fadeOut(5000);
	});
		$('#calendar').datepicker({
		});
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){      
				$(this).find('em:first').toggleClass("glyphicon-chevron-up");   
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-chevron-down");
		}(window.jQuery);

		$(window).on('resize', function () {
			if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
			if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
		$('.set_bg').click(function(){
			bg_id = this.bg_id
			$.ajax({
				url: '/users/set_bg?bg_id='+$(this).attr('bg_id'),
				type: 'POST',
				dataType: 'json',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					window.location = "/"
				}
			});
		});
		$('.unset_bg').click(function(){
			bg_id = this.bg_id
			$.ajax({
				url: '/users/unset_bg',
				type: 'POST',
				dataType: 'json',
				timeout: 120000,
				error: function(e,t){
					if (t == "timeout"){
						alert("Timed Out Wait for Response")
					}
					else{
						alert(JSON.parse(e.responseText)["error"]);
					}
				},
				success: function(d){
					window.location = "/"
				}
			});
		});
	</script>
