
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/datepicker3.css" rel="stylesheet">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link href="/assets/content_owner.css" rel="stylesheet">
  <script src="/assets/jquery-1.11.1.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/chart.min.js"></script>
  <script src="/assets/easypiechart.js"></script>
  <script src="/assets/bootstrap-datepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
  <script src="/assets/saranyutable.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
  <script src="http://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>
  <script src="/assets/jquery.validate.min.js"></script>

</head>
  <body>
   <!--header starts -->
   <header id="header">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left">     
       <a href="/" id="header_logo"><img src="/assets/logo-s.png"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 person_details pull-right">
        <span>Logged in as</span><br>
        <%#= current_user.inspect %>
        <span><%= truncate(current_user.email.html_safe, length:20)%> | </span> <span><a href="/users/logout">Logout</a></span>
      </div>
      </div>
          <div class="clearfix"></div>
     </header>
     <div class="clearfix"></div>
 <%= yield%>
  </body>
  </html>
<style type="text/css">
#header{
  padding: 30px;
  height: auto;
  min-height: 60px;
}
  .person_details span{
    font-size: 16px;
  }
</style>

<li></li>